app-recordar-quiz-play-body-option{

    .mat-radio-label-content{
        white-space:pre-line
    }
}

input[disabled] {
    color: black;
}

.bg-correct {
    background-color: #ccffcc;
}

.bg-incorrect {
    background-color: #f2dcdb;
}

p {
    color: black;

    &.option {
        font-weight: 400;
        width: fit-content;
        font-size: 18px;
    }
}

.quiz-options {
    .mat-radio-label {
        width: 100%;
    }
    .mat-radio-label-content {
        width: 100%;
    }

    .mat-checkbox-layout {
        width: 100%;
    }

    .mat-checkbox-label {
        width: 100%;
    }
    .mat-checkbox-label-content {
        width: 100%;
    }
}

.icon-mat-type{
    transform: scale(2);
}
.center-aling{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.container-file{
    margin-left: 4px;
    margin-right: 4px;
    width: 175px !important;
    height: 175px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(128, 255, 0, 0);
    // margin-top: 10px;

    border-style: none;
    border-radius: 5px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.container-file:hover{
    transition-duration: 0.2s;
    background: #3f51b581;
    cursor: pointer;
    border-style: solid;

}

.border-div{
    border-style: solid;
    border-radius: 5px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
}

.file-container-view{
    max-width: 100%;
    max-height: 100%;
     padding-left: 0px;
    padding-right: 0px;
}

.icono-edit{
    width: 100%;
    height: 100%;
    display:inline-block;
    position:relative;
}

.container-edit  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.icono-edit{
    z-index: 10;
}
