app-modal-instagram-video{
	background: linear-gradient(133deg, #E4C65F, #F8F2AC);

	.mat-form-field-appearance-outline .mat-form-field-infix {
		font-size: 1.1rem !important;
	}

	.mat-flat-button.mat-primary,
	.mat-raised-button.mat-primary,
	.mat-fab.mat-primary,
	.mat-mini-fab.mat-primary {
			background-color: #0ca6e4;
	}

	.mat-button,
	.mat-raised-button,
	.mat-icon-button,
	.mat-stroked-button,
	.mat-flat-button,
	.mat-fab,
	.mat-mini-fab {
			font-size: 18px;
	}

	.mat-icon {
			font-size: 32px;
			color: rgba(0, 0, 0, 0.54);
	}

	.form-group {
			margin: 0.25rem 0 0 0;
	}

}
