<div class="sticky-top sticky-top-header">
	<div class="modal-header" align="center">
			<span class="textoFontSize1 colorTextoActivado font-weight-bold">{{'INSTAGRAMVIDEO.TITLE' | translate}}</span>
			<button type="button" class="close" data-dismiss="modal" (click)="closeModal('')">
			<span aria-hidden="true">&times;</span>
	</button>
	</div>
</div>

<form [formGroup]="form" (ngSubmit)="postVideo()" #thisForm="ngForm">
	<div class="row form-group py-3" align="left">
		<div class="col-12">
				<div align="center">
						<h3 class="mb-4">{{'INSTAGRAMVIDEO.TITLE' | translate}}</h3>
				</div>

				<div class="form-row">
					<div class="full-width mb-3">
						<div class="row">
							<div class="col-md-12">
								<div class="col space-form">
									<input type="text" class="form-control inputGeneric" placeholder="{{'INSTAGRAMVIDEO.LINK' | translate}}" name="url" formControlName="url">
									<div *ngFor="let validation of validationMessages.url">
										<div class="error-message"
												*ngIf="urlControl?.hasError(validation.type) && (urlControl?.dirty || urlControl?.touched || thisForm.submitted)">
												{{validation.message}}</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="row form-group mt-2 mb-3">
					<div class="col-md-6" *ngIf="format.url">
						<button class="btnDelete" (click)="delete()">
								<span>{{'INSTAGRAMVIDEO.DELETE' | translate}}</span>
						</button>
					</div>

					<div class="col-md-6">
						<button class="btnGeneric" type="submit">
							<span>{{'INSTAGRAMVIDEO.OK' | translate}}</span>
						</button>
					</div>

				</div>

		</div>

	</div>
</form>
