.alert {
    position: relative;
    font-size: 1.5rem;
    font-weight: 400;

    :before {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        display: block;
        content: "";
        width: 10px;
        height: 10px;
        border: 1px solid #bdbdbd;
        position: absolute;
        border-left: 0;
        border-bottom: 0;
        top: 0px;
        left: calc(50% - 5px);
        margin-top: -6px;
        background: #fff;
        border-color: #b8daff;
        background: #cce5ff;
    }
}

.selected-button{
		background-color: #a5b2c0  !important;
		color: #141212 !important;
		&:hover{
			background-color: #598BFF  !important;
			color: #ffffff !important;
		}
}
