.progress-bar-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
    display: flex;
    background-color: rgba($color: #000000, $alpha: .6);
    padding: 10px;
    align-items: center;
}