app-modal-listado-cursos {

	.list-group {
		max-height: 70vh;
		overflow-y: auto;
		overflow-x: none;
		margin-bottom: 5px;
	}


	.list-group-item {
		height: auto;
		font-weight: 600;
	}

	.list-group-item:hover {
		background-color: #fff;
	}

	.list-group-item .color-header {
		background-color: #f8f9fa;
	}

	.badge {
		cursor: pointer;
	}

	.badge-disabled {
		cursor: not-allowed;
	}

	.img-container {
		position: relative;
		overflow: hidden;
		display: flex;
		justify-content: center;

		.img-fluid {
			height: 50px;
			width: 50px;
			object-fit: contain;
			max-width: fit-content;
		}
	}

	.card {
		box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
		border: none;
		overflow: hidden;
		height: 200px;
	}

	.card-body {
		padding: 0.5rem;
		width: 120px;
	}

	.card-img-top {
		position: absolute;
		top: 0;
		bottom: 0;
		height: 100%;
		margin: auto;
		align-self: center;

	}

	nb-icon {
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;

		:hover {
			color: #36f !important;
		}
	}

	nb-icon.arrow {
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
		color: #3366ff
	}

	nb-icon.checked {
		font-size: 1.25rem !important;
	}

	.mt-2_5r {
		margin-top: 2.5rem !important;
	}

	.column1 {
		width: 50%;
	}

	.column2 {
		width: 50%;
	}

}
