app-node-pad-buttons{

    .circle-button{
        border-radius: 50%;
        background-color: white;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: linear-gradient(170deg, #D9D9D9, #F1F1F1);;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
        position: relative;
    }

    .pad-left-container{
        position: absolute;
        bottom: 10%;
        right: 20%;
        width: 125px;
        height: 150px;
        z-index: 60;
        display: flex;
        align-items: center;
    }

    .pad-buttons-right{
        height: 120px;
        width: 120px;
    }

    .pad-buttons-left{
        @extend .pad-buttons-right;
    }

    .pad-button{
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    .row-white{
        background-color: white;
    }

    mat-icon {
        line-height: 0;
        &.icon-color-blue {
            svg {
                fill: #224d98 !important;
            }
        }
    }

    .label{
        background-color: black;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        font-weight: 600;
        margin: 0;
        max-width: 90px;
        position: absolute;
        z-index: 200;

        &.left{
            left: -70px;
        }
        &.right{
            right: -75px
        }
        &.top{
            top: -10px;
        }
        &.bottom{
            bottom: -12px;
        }
    }
    label[data-click=yes]{
        cursor: pointer;
    }



}


