
<div class="bg-white">
    <form [formGroup]="form">
        <!-- <quill-editor #editor [styles]="{height: '66.8vh'}" formControlName="content" (onEditorCreated)="setFocus($event)">
        </quill-editor> -->

        <editor
						id="editor"
            formControlName="content"
            (onEditorCreated)="setFocus($event)"
            apiKey="{{tinyEditorApiKey}}"
            [init]="options"

        ></editor>
    </form>
</div>


