app-quiz-play-multiple-body{


    .hidden{display: none;}
    
    .circle-button{
    border-radius: 50%;
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.2);
    align-self: flex-end;

    .mat-icon {
        &.icon-color-blue {
            svg {
                fill: #224d98 !important;
            }
        }
        &.icon-color-gold{
            svg{
                fill: #d39502!important;
            }
        }
    }

}



}

.solution-button {
    .mat-icon-button {
        width: 32px;
        height: 32px;
        line-height: 32px !important;

        .mat-icon {
            width: 32px !important;
            font-size: 32px !important;
        }
    }


}

.span-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
    font-weight: 400;
    font-size: 27px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


