<div class="pad-right-container" [ngClass]="isShow ? 'show-pad' : 'hide-pad'">
	<!-- PAD RIGHT -->

	<div class="set">
		<nav class="d-pad">

			<a *ngIf="!upAndDownOff" class="up" (click)="addPower()"></a>
			<!-- (click)="addPower()"   this method is disabled for now, when aviable just pit it on the up a element-->

			<a *ngIf="nextEnabled" class="right" (click)="pointNodeAction(true, false)"></a>
			<!-- (click)="removePower()"   this method is disabled for now, when aviable just pit it on the down a element-->

			<a  *ngIf="!upAndDownOff" class="down" (click)="removePower()"></a>

			<a *ngIf="backEnabled" class="left" (click)="pointNodeAction(false, true)"></a>
		</nav>
	</div>

</div>

<ng-container *ngIf="showPowerSelector">
	<app-power-selector [arrayValues]="arrayValues"
		(arrayValuesChanged)="onArrayValuesChanged($event)"></app-power-selector>
</ng-container>
