app-pad-controller {

	.circle-button {
		border-radius: 50%;
		background-color: white;
		height: 35px;
		width: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background: linear-gradient(170deg, #D9D9D9, #F1F1F1);
		;
		box-shadow: -1px -1px 1px #08222e, -1px -1px 1px white;
		position: relative;

		&:hover {
			&>.hover {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		.hover {
			position: absolute;
			background-color: white;
			padding: 10px;
			border-radius: 5px;
			display: none;
			bottom: 35px;
		}
	}

	.pad-right-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	@media screen and (max-width: 600px) {
		display: none;
	}

	.hide-pad {
		bottom: -200%;
		transition: all 1s;
	}

	.show-pad {
		transition: all 1s;
	}

	.pad-buttons-right {
		height: 120px;
		width: 200px;
	}

	.pad-buttons-left {
		@extend .pad-buttons-right;
	}

	.pad-button {
		//background-color: #D9D9D9;
		display: flex;
		align-items: center;
		justify-content: center;
		//height: 40px;
		//width: 40px;
		cursor: pointer;
		z-index: 99 !important;
		border-radius: 5px;

		nb-icon {
			font-size: 4.25rem !important;
			line-height: 1;
			width: 1em;
			height: 1em;
			color: white;
			filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
			//cursor: pointer;
		}

		.mat-icon {
			width: 48px;
			height: 48px;
		}

		&.disabled {
			color: currentColor;
			cursor: not-allowed;
			opacity: 0.5;
			text-decoration: none;

			.mat-icon {
				display: none;
			}
		}
	}

	.pad-button-circle {
		background-color: #D9D9D9;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		cursor: pointer;
		border-radius: 50px;

		&.disabled {
			pointer-events: none;

			.mat-icon {
				display: none;
			}
		}
	}

	.row-white {
		border-radius: 5px;
		gap: 1rem;
	}

	// .pad-button-top {
	//     -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	//     box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	// }
	// .pad-button-left {
	//     -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	//     box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	// }
	// .pad-button-right {
	//     -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	//     box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	// }
	// .pad-button-bottom {
	//     -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	//     box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
	// }

	mat-icon {
		line-height: 0;

		&.icon-color-blue {
			svg {
				fill: #224d98 !important;
			}
		}

		&.icon-color-gold {
			svg {
				fill: #d39502 !important;
			}
		}
	}

	.label {
		background-color: black;
		padding: 5px 10px;
		color: white;
		font-size: 14px;
		border-radius: 5px;
		font-weight: 600;
		margin: 0;
		position: absolute;

		&.left {
			right: 40px;
		}

		&.right {
			left: 40px
		}

		&.top {
			bottom: 40px;
		}

		&.bottom {
			top: 40px;
		}
	}

	.position-relative {
		position: relative;
	}

	.mb-n-3r {
		margin-bottom: -3rem !important;
	}

	.mt-n-3r {
		margin-top: -3rem !important;
	}

	@media (max-width: 435px) {
		.not-show-mobile {
			display: none !important;
		}

		.pad-button {
			//background-color: #D9D9D9;
			display: flex;
			align-items: center;
			justify-content: center;
			//height: 40px;
			//width: 40px;
			cursor: pointer;
			border-radius: 5px;

			nb-icon {
				font-size: 4.25rem !important;
				line-height: 1;
				width: 48px;
				height: 70px;
				color: white;
				filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
			}

			.mat-icon {
				width: 48px;
				height: 48px;
			}

			&.disabled {
				pointer-events: none;

				.mat-icon {
					display: none;
				}
			}
		}

		.show-pad {
			bottom: -3.5rem;
			transition: all 1s;
		}
	}


	.set {
		overflow: hidden;
		text-align: center;
	}

	.set .d-pad {
		display: flex;
	}

	.set .o-pad {
		display: inline-block;
	}

	.set.setbg {
		background: #222;
	}

	.set.setbg2 {
		background: #5f9837;
	}

	.d-pad {
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 48%;
		overflow: hidden;

		>.disabled {
			color: gray;
			cursor: not-allowed;
			opacity: 0.5;
			text-decoration: none;

			.mat-icon {
				display: none;
			}
		}
	}

	.d-pad:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 5%;
		transform: translate(-50%, -50%);
		width: 66.6%;
		height: 66.6%;
	}

	.d-pad:after {
		content: '';
		position: absolute;
		display: none;
		z-index: 2;
		width: 20%;
		height: 20%;
		top: 50%;
		left: 50%;
		//background: #ddd;
		border-radius: 50%;
		transform: translate(-50%, -50%);
		transition: all 0.25s;
		cursor: pointer;
	}

	.d-pad:hover:after {
		width: 30%;
		height: 30%;
	}

	.d-pad a {
		display: block;
		position: absolute;
		-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		width: 33.3%;
		height: 43%;
		line-height: 40%;
		color: #fff;
		//background: #ddd;
		text-align: center;
	}

	.d-pad a:hover {
		background: #eee;
		color: #08222e;
	}

	.d-pad a:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border-radius: 5px;
		border-style: solid;
		transition: all 0.25s;
	}

	.d-pad a:after {
		content: '';
		position: absolute;
		width: 102%;
		height: 78%;
		//background: #fff;
		border-radius: 20%;
	}

	.d-pad a.left,
	.d-pad a.right {
		width: 43%;
		height: 33%;
	}

	.d-pad a.left:after,
	.d-pad a.right:after {
		width: 78%;
		height: 102%;
	}

	.d-pad a.up {
		top: 0;
		left: 50%;
		transform: translate(-50%, 0);
		border-radius: 17% 17% 50% 50%;
	}

	.d-pad a.up:hover {
		background: linear-gradient(0deg, #091c7a 0%, #102694 50%);
	}

	.d-pad a.up:after {
		left: 0;
		top: 0;
		transform: translate(-100%, 0);
		border-top-left-radius: 50%;
		pointer-events: none;
	}

	.d-pad a.up:before {
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-width: 0 13px 19px 13px;
		border-color: transparent transparent #ffffff transparent;
	}

	.d-pad a.up:active:before {
		border-bottom-color: #333;
	}

	.d-pad a.up:hover:before {
		top: 35%;
	}

	.d-pad a.down {
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		border-radius: 50% 50% 17% 17%;
	}

	.d-pad a.down:hover {
		background: linear-gradient(0deg, #091c7a 0%, #102694 50%);
	}

	.d-pad a.down:after {
		right: 0;
		bottom: 0;
		transform: translate(100%, 0);
		border-bottom-right-radius: 50%;
		pointer-events: none;
	}

	.d-pad a.down:before {
		bottom: 40%;
		left: 50%;
		transform: translate(-50%, 50%);
		border-width: 19px 13px 0px 13px;
		border-color: #ffffff transparent transparent transparent;
	}

	.d-pad a.down:active:before {
		border-top-color: #333;
	}

	.d-pad a.down:hover:before {
		bottom: 35%;
	}

	.d-pad a.left {
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
		border-radius: 17% 50% 50% 17%;
	}

	.d-pad a.left:hover {
		background: linear-gradient(0deg, #091c7a 0%, #102694 50%);
	}

	.d-pad a.left:after {
		left: 0;
		bottom: 0;
		transform: translate(0, 100%);
		border-bottom-left-radius: 50%;
		pointer-events: none;
	}

	.d-pad a.left:before {
		left: 40%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-width: 13px 19px 13px 0;
		border-color: transparent #ffffff transparent transparent;
	}

	.d-pad a.left:active:before {
		border-right-color: #333;
	}

	.d-pad a.left:hover:before {
		left: 35%;
	}

	.d-pad a.right {
		top: 50%;
		right: 0;
		transform: translate(0, -50%);
		border-radius: 50% 17% 17% 50%;
	}

	.d-pad a.right:hover {
		background: linear-gradient(0deg, #091c7a 0%, #102694 50%);
	}

	.d-pad a.right:after {
		right: 0;
		top: 0;
		transform: translate(0, -100%);
		border-top-right-radius: 50%;
		pointer-events: none;
	}

	.d-pad a.right:before {
		right: 40%;
		top: 50%;
		transform: translate(50%, -50%);
		border-width: 13px 0 13px 19px;
		border-color: transparent transparent transparent #ffffff;
	}

	.d-pad a.right:active:before {
		border-left-color: #333;
	}

	.d-pad a.right:hover:before {
		right: 35%;
	}

	.d-pad.up a.up:before {
		border-bottom-color: #333;
	}

	.d-pad.down a.down:before {
		border-top-color: #333;
	}

	.d-pad.left a.left:before {
		border-right-color: #333;
	}

	.d-pad.right a.right:before {
		border-left-color: #333;
	}
}
