<nb-card class="mb-0">
	<nb-card-header class="flex">
		<div class="col-10 modal-title">
			<h2 *ngIf="node.id !== 'temp'; else newNodeTitle">
				{{ "NODOS.NODE" | translate }}: {{ node.label }}
			</h2>
			<ng-template #newNodeTitle>
				<h2>
					{{ "NODOS.REGISTRARNODO" | translate }}
				</h2>
			</ng-template>
		</div>
		<div class="col-2">
			<nb-icon
				class="icon-color-blue closebtn pointer text-right m-1 float-right"
				icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }"
				(click)="closeModal()"
			></nb-icon
			><!-- <mat-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" ngbTooltip="{{ 'GLOBALS.CLOSE' | translate }}" (click)="closeModal('')">close</mat-icon> -->
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="">
			<!-- <div class="sticky-top-header w-100">
				<div class="tittle py-3">
					<div class="row d-flex justify-content-between align-items-center">
						<div class="col-12 text-center">
							<span *ngIf="node.id !== 'temp'; else newNodeTitle"
									class="font-weight-bold span-text-center">
								{{ 'NODOS.NODE' | translate }}: {{node.label}}
							</span>
							<ng-template #newNodeTitle>
								<span class="font-weight-bold span-text-center">
									{{'NODOS.REGISTRARNODO' | translate}}
								</span>
							</ng-template>
						</div>
					</div>
					<div data-dismiss="modal" ngbAutofocus (click)="closeModal()" class="close-button">
						<mat-icon>close</mat-icon>
					</div>
				</div>
			</div> -->

			<form [formGroup]="form" class="pt-2">
				<div class="row">
					<!-- LEFT COLUMN -->
					<div class="col-9">
						<!-- TITLE,DESCRIPTION AND IMAGE NODE -->
						<div class="row mb-3">
							<!-- NODE IMAGE -->
							<div class="col-3 image-node">
								<nb-badge
									class="l-12p"
									text="{{ 'NODEFORMCOMPONENT.IMAGENODE' | translate }}"
									status="primary"
									position="top left"
								></nb-badge>

								<app-imgupload
									[isShowDelete]="true"
									formControlName="image"
								></app-imgupload>
							</div>
							<!-- END NODE IMAGE -->
							<div class="col-9">
								<div class="row">
									<!-- TITLE -->
									<div class="col-12 mb-4">
										<div class="form-field">
											<input
												#title
												nbInput
												fullWidth
												[placeholder]="
													'NODEFORMCOMPONENT.NODENAME' | translate
												"
												formControlName="name"
												(click)="$event.target.select()"
												[readonly]="!canEdit"
											/>
											<div
												*ngFor="let validation of validationMessages.title"
											>
												<div
													class="text-danger mt-1"
													*ngIf="
														titleControl?.hasError(validation.type) &&
														(titleControl?.dirty || titleControl?.touched)
													"
												>
													{{ validation.message }}
												</div>
											</div>
										</div>
									</div>
									<!-- END TITLE -->

									<!-- DESCRIPTION -->
									<div class="col-12">
										<div class="form-field">
											<textarea
												nbInput
												fullWidth
												rows="5"
												[placeholder]="
													'NODEFORMCOMPONENT.DESCRIPTION' | translate
												"
												formControlName="description"
												[readonly]="!canEdit"
											></textarea>
										</div>
									</div>
									<!-- END DESCRIPTION  -->
								</div>
							</div>
						</div>
						<!-- END TITLE,DESCRIPTION AND IMAGE NODE -->

						<div class="row">
							<!-- LATERAL COMPONENT -->
							<div class="col-12 col-sm-3">
								<div
									class="d-flex flex-row justify-content-center align-items-center"
								>
									<!-- <button disabled nbButton status="primary"><nb-icon icon="list"></nb-icon>{{'NODEDETAIL.LIST' | translate}}</button> -->
									<!-- <mat-icon class="icon-blue" svgIcon="clear_all"></mat-icon>
									<span></span> -->
								</div>
								<div class="row mt-3 align-items-center">
									<div class="col-6 d-flex flex-column">
										<nb-toggle
											*ngIf="canEdit"
											formControlName="published"
											(change)="publish($event)"
											><span>{{
												form.get("published").value
													? ("EDITARCURSO.VISIBLE" | translate)
													: ("EDITARCURSO.NOVISIBLE" | translate)
											}}</span></nb-toggle
										>
										<!-- <mat-slide-toggle *ngIf="canEdit" formControlName="published" (click)="publish($event)"></mat-slide-toggle> -->
										<nb-toggle *ngIf="!canEdit" formControlName="published"
											><span>{{
												form.get("published").value
													? ("EDITARCURSO.VISIBLE" | translate)
													: ("EDITARCURSO.NOVISIBLE" | translate)
											}}</span></nb-toggle
										>

										<nb-toggle
											><span>{{ "profesor" }}</span></nb-toggle
										>
										<!-- <mat-slide-toggle *ngIf="!canEdit" formControlName="published" ></mat-slide-toggle> -->
									</div>
									<div class="col-6">
										<div
											class="d-flex flex-row justify-content-center align-items-center"
										>
											<button
												type="button"
												(click)="deleteNode()"
												*ngIf="loginService.esAutor()"
												nbButton
												status="danger"
											>
												<nb-icon icon="trash-2"></nb-icon>
											</button>
										</div>
									</div>
								</div>

								<!-- POWERS -->
								<ng-container *ngIf="canEdit || canEditPower">
									<div class="row mt-4 align-items-center">
										<div class="col-5">
											<!-- <mat-checkbox class="chkP2" formControlName="power3">

																				</mat-checkbox> -->
											<nb-checkbox
												status="primary"
												formControlName="power3"
											>
												<p class="chkP2">P<small>+3</small></p>
											</nb-checkbox>
										</div>
										<div class="col-7">
											<input
												nbInput
												fullWidth
												[placeholder]="'NODEDETAIL.ORDINAL' | translate"
												type="number"
												formControlName="ordinalPower3"
											/>
										</div>
									</div>

									<div class="row mt-3 align-items-center">
										<div class="col-5">
											<!-- <mat-checkbox class="chkP2" formControlName="power2">
																						P<small>+2</small>
																				</mat-checkbox> -->

											<nb-checkbox
												status="primary"
												formControlName="power2"
											>
												<p class="chkP2">P<small>+2</small></p>
											</nb-checkbox>
										</div>
										<div class="col-7">
											<input
												nbInput
												fullWidth
												[placeholder]="'NODEDETAIL.ORDINAL' | translate"
												type="number"
												formControlName="ordinalPower2"
											/>
										</div>
									</div>

									<div class="row mt-3 align-items-center">
										<div class="col-5">
											<!-- <mat-checkbox class="chkP1" formControlName="power1">
																						P<small>+1</small>
																				</mat-checkbox> -->

											<nb-checkbox
												status="primary"
												formControlName="power1"
											>
												<p class="chkP1">P<small>+1</small></p>
											</nb-checkbox>
										</div>
										<div class="col-7">
											<input
												nbInput
												fullWidth
												[placeholder]="'NODEDETAIL.ORDINAL' | translate"
												type="number"
												formControlName="ordinalPower1"
											/>
										</div>
									</div>

									<div class="row mt-3 align-items-center">
										<div class="col-5">
											<!-- <mat-checkbox class="chkP0" formControlName="power0">
																						P<small>0</small>
																				</mat-checkbox> -->

											<nb-checkbox
												status="primary"
												formControlName="power0"
											>
												<p class="chkP0">P<small>0</small></p>
											</nb-checkbox>
										</div>
										<div class="col-7">
											<input
												nbInput
												fullWidth
												[placeholder]="'NODEDETAIL.ORDINAL' | translate"
												type="number"
												formControlName="ordinalPower0"
											/>
										</div>
									</div>

									<div class="row mt-3 align-items-center">
										<div class="col-5">
											<!-- <mat-checkbox class="chkPNegative1" formControlName="powerNegative1">
																						P<small>-1</small>
																				</mat-checkbox> -->

											<nb-checkbox
												status="primary"
												formControlName="powerNegative1"
											>
												<p class="chkPNegative1">P<small>-1</small></p>
											</nb-checkbox>
										</div>
										<div class="col-7">
											<input
												nbInput
												fullWidth
												[placeholder]="'NODEDETAIL.ORDINAL' | translate"
												type="number"
												formControlName="ordinalPowerNegative1"
											/>
										</div>
									</div>

									<div class="row mt-3 align-items-center">
										<div class="col-5">
											<!-- <mat-checkbox class="chkPNegative2" formControlName="powerNegative2">
																						P<small>-2</small>
																				</mat-checkbox> -->

											<nb-checkbox
												status="primary"
												formControlName="powerNegative2"
											>
												<p class="chkPNegative2">P<small>-2</small></p>
											</nb-checkbox>
										</div>
										<div class="col-7">
											<input
												nbInput
												fullWidth
												[placeholder]="'NODEDETAIL.ORDINAL' | translate"
												type="number"
												formControlName="ordinalPowerNegative2"
											/>
										</div>
									</div>

									<div class="row mt-3 align-items-center">
										<div class="col-5">
											<!-- <mat-checkbox class="chkPNegative2" formControlName="powerNegative3">
																						P<small>-3</small>
																				</mat-checkbox> -->

											<nb-checkbox
												status="primary"
												formControlName="powerNegative3"
											>
												<p class="chkPNegative2">P<small>-3</small></p>
											</nb-checkbox>
										</div>
										<div class="col-7">
											<input
												nbInput
												fullWidth
												[placeholder]="'NODEDETAIL.ORDINAL' | translate"
												type="number"
												formControlName="ordinalPowerNegative3"
											/>
										</div>
									</div>
									<input type="hidden" formControlName="power" />

									<div *ngFor="let validation of validationMessages.power">
										<div
											class="text-danger mt-1"
											*ngIf="powerControl?.hasError(validation.type)"
										>
											{{ validation.message }}
										</div>
									</div>
								</ng-container>
								<!-- END POWERS -->
							</div>
							<!-- END LATERAL COMPONENT -->
							<!-- CENTRAL CONTAINER COMPONENT -->
							<div
								class="col-12 col-sm-9 files-container"
								[style.overflowY]="'hidden'" style="margin-top: -6rem;"
							>
								<!-- YOUTUBE VIDEO-->
								<app-youtube-player
									[videoId]="videoId"
									[startSeconds]="startSeconds"
									[endSeconds]="endSeconds"
									*ngIf="youtubeSource"
								></app-youtube-player>
								<!-- END YOUTUBE VIDEO-->

								<!-- INSTAGRAM VIDEO -->
								<ng-container *ngIf="instagramSource">
									<iframe
										[src]="instagramSource"
										class="iframeVideo"
									></iframe>
								</ng-container>
								<!--END  INSTAGRAM VIDEO -->

								<!-- TIKTOK VIDEO -->
								<ng-container *ngIf="tiktokSource">
									<iframe [src]="tiktokSource" class="iframeVideo"></iframe>
								</ng-container>
								<!-- END TIKTOK VIDEO -->

								<!-- GENERIC MESSAGE -->
								<div
									*ngIf="format === '' && canEdit"
									class="d-flex no-data"
								>
									<p>{{ "NODEDETAIL.SELECTFILE" | translate }}</p>
									<mat-icon svgIcon="arrow_forward"></mat-icon>
								</div>
								<!-- END GENERIC MESSAGE -->

								<!-- VIDEO -->
								<div class="full-video" *ngIf="videoSource">
									<video
										#videoElement
										controls
										[src]="videoSource | safe"
									></video>
								</div>
								<!-- END VIDEO -->

								<!-- IMAGE -->
								<div class="full-image" *ngIf="imageSource" [style.background-image]="'url(' + imageSource + ')'"></div>
								<!-- END IMAGE -->

								<!-- AUDIO -->
								<div
									class="h-100 flex align-items-start"
									*ngIf="audioSource"
								>
									<audio
										class="w-100 d-block"
										[src]="audioSource | safe"
										controls
									></audio>
								</div>
								<!-- END AUDIO -->

								<!-- PDF -->
								<div
									*ngIf="pdfSource"
									class="h-100 p-0 d-flex align-items-center justify-content-center position-relative"
								>
									<!-- <div class="position-absolute" *ngIf="isLoadFile">
										<mat-spinner [diameter]="50"></mat-spinner>
									</div> -->

									<ng-container *ngIf="ext === 'docx'; else embedPdf">
										<ngx-doc-viewer
										[url]="pdfSource"
										viewer="office"
										class="w-100 h-100 position-relative"
									></ngx-doc-viewer>
									</ng-container>
									<ng-template #embedPdf>
										<embed *ngIf="sanitizedUrl" [src]="sanitizedUrl" class="w-100 h-100" />
									</ng-template>

								</div>
								<!-- END PDF -->

								<div *ngIf="format === 'text'" style="height: 100%">
									<app-node-detail-files-text-edit
										*ngIf="!node.rented"
										[(value)]="textSource"
										(valueChange)="saveText($event)"
									></app-node-detail-files-text-edit>
									<p *ngIf="node.rented" [innerHTML]="textSource"></p>
								</div>
							</div>
							<!-- END CENTRAL CONTAINER COMPONENT -->
						</div>
					</div>
					<!-- END  LEFT COLUMN -->
					<!-- RIGHT COLUMN -->
					<div class="col-3">
						<app-node-column-files
							[node]="node"
							[onSaveClicked$]="saveClicked$"
							[canEdit]="canEdit"
							(nodeFilesTypeChanged)="onNodeFilesTypeChanged($event)"
							(nodeFileAdded)="onNodeFileAdded($event)"
							(nodeFilePlayed)="onFilePlayed($event)"
						></app-node-column-files>
					</div>
					<!-- END RIGHT COLUMN -->
				</div>
			</form>
		</div>
	</nb-card-body>
</nb-card>

