app-node-detail-info {
    height: 100%;

    .image-node {
        span {
            color: #555;
        }
    }

    form {
        height: 90vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .textarea {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }

        .mat-form-field-underline {
            display: none;
        }
    }

    .bg {
        background: linear-gradient(137deg, #D2BC9A, #EFDFBF);
        padding: 5px 15px 15px 15px;
        height: 100%;
    }

    .mat-form-field-flex {
        background: #DACFB6;
        box-shadow: 1px 1px 1px white, -1px -1px 1px black;
        outline: none;
        border-radius: 5px;
        border: none !important;
    }

    .input {
        border-radius: 5px;
        border: none !important;
        box-shadow: 1px 1px 1px white, -1px -1px 1px black;
        outline: none;
    }

    .button {
        border-radius: 5px;
        box-shadow: 1px 1px 1px #a5a5a5, -1px -1px 1px white;
        border: none;
        background: #FCFCFC;
        padding: 5px;
        cursor: pointer;
    }

    .no-data {
        color: #00B0F0;
        font-size: 20px;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        p {
            margin: 0;
        }

        .mat-icon {
            svg {
                fill: #00B0F0;
            }
        }
    }

    .mat-form-field-appearance-legacy {
        .mat-form-field-underline {
            height: 0;
        }
    }

    .mat-button-toggle-appearance-standard {
        background-color: #fff0d9;
        border-radius: 0 !important;
        background-size: contain !important;
        overflow: hidden;
        display: block;
        -webkit-appearance: initial
    }

    .mat-form-field:not(.mat-form-field-appearance-standard) .mat-form-field-flex {
        border-radius: 5px;
    }

    .mat-form-field-appearance-fill .mat-form-field-underline::before {
        background-color: transparent !important;
    }

    .full-image {
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: top;
    }

    .full-video {
        height: 100%;
        width: 100%;
        position: relative;

        video {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }

    .files-container {
        height: 650px;
    }

    .center {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .well {
        overflow-y: scroll;
        max-height: 80vh;
        min-height: 20px;
        padding: 19px;
        //margin-bottom: 20px;
        background-color: #f5f5f5;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    }

    .data {
        font-weight: bold;
    }

    #more {
        background: none;
    }

    button.close {
        outline: none;
        border-radius: 50%;
        background-color: #1a237e;
        color: #f5f5f5;
        font-weight: normal;
        font-size: small;
        padding: 4px;
        padding-top: 0;
        text-align: center;
        margin-top: 5px;
        margin-right: 5px;
    }

    .container-inputs-power {
        display: flex;
    }

    .power-box {
        border: 1px solid #1a237e;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 5px;
    }

    .text-bolt {
        font-size: 21px;
        margin-left: -7px;
    }

    .small-bolt {
        font-family: monospace;
        font-weight: 700;
        font-size: 13px;
        vertical-align: bottom;
        margin-left: -4px;
    }

    .bolt-btn {
        box-shadow: none;
        z-index: 1;
        cursor: auto;
    }

    .bolt-up {
        height: 45px;
        margin-bottom: -17px;
        border-radius: 50px 50px 0 0;
        background: rgb(211, 19, 19);

        span {
            color: white;
            position: absolute;
            top: 1px;
            left: 40%;
            font-weight: 700;
        }
    }

    .bolt-down {
        height: 45px;
        margin-top: -36px;
        border-radius: 0px 0px 50px 50px;
        background: rgb(43, 156, 8);

        span {
            color: white;
            position: absolute;
            bottom: 1px;
            left: 40%;
            font-weight: 700;
            font-size: 24px;
        }
    }

    .pow {
        color: #1a237e;
        background-color: #f5f5f5;
        margin-top: -11px;
        margin-right: -20px;
        padding: 1px 2px;
    }

    .img-pow-container {
        position: absolute;
        top: 24%;
        left: 30%;
        writing-mode: vertical-lr;
    }

    .tittle {
        background-color: transparent;
        color: #845d48;
    }

    .mat-primary .mat-pseudo-checkbox-checked,
    .mat-primary .mat-pseudo-checkbox-indeterminate {
        background: white;
    }


    .mat-primary .mat-pseudo-checkbox-checked,
    .mat-primary .mat-pseudo-checkbox-indeterminate {
        background-color: white !important;
    }

    .close-button {
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 55;
        cursor: pointer;
    }

    .bg-cream {
        .mat-form-field-flex {
            background-color: #fdf6ee !important;
        }
    }


    .chkP2 {
        color: #003ce2;
        font-weight: 500;

        small {
            font-size: 69%;
            font-weight: 600;
        }
    }

    .chkP1 {
        color: #edf101;
        font-weight: 500;

        small {
            font-size: 69%;
            font-weight: 600;
        }
    }

    .chkP0 {
        color: #2b9c08;
        font-weight: 500;

        small {
            font-size: 69%;
            font-weight: 600;
        }
    }

    .chkPNegative1 {
        color: #1c91ff;
        font-weight: 500;

        small {
            font-size: 69%;
            font-weight: 600;
        }
    }

    .chkPNegative2 {
        color: #f022bc;
        font-weight: 500;

        small {
            font-size: 69%;
            font-weight: 600;
        }
    }

    .input-ordinal {
        background: #fdf6ee;
        box-shadow: 1px 1px 1px white, -1px -1px 1px black;
        outline: none;
        border-radius: 5px;
        border: none !important;
        padding: 3px;
    }

    .position-relative {
        position: relative;
    }

    .position-absolute {
        position: absolute;
    }

    .iframeVideo {
        border: none;
        height: 100%;
        width: 100%;
    }

    .bg-white {
        background-color: white;
    }

    .l-12p {
        left: 12px !important
    }

    .mt-5-p {
        margin-top: 5% !important;
    }
}

.disabled-icon {
	pointer-events: none; /* Deshabilita los eventos de puntero */
	opacity: 0.5; /* Reduce la opacidad del ícono para indicar que está deshabilitado */
  }