.mat-icon {
    &.mat-icon-white {
        color: #a2a1a1;
    }
}

.mat-input-element {
    color: black;
}


.row-icon {
    display: flex;
    margin: 20px;
    width: 100%;
}


// .row-icon > div {
//     padding-right: 20px;
//     @media (min-width: 540px) and (max-width: 1199px) {
//         & {
//             padding-right: 10px;
//         }
//     }
// }

.row-icon > div > .items > .mat-icon{
    width: 42px;
    margin: 0 10px 0 10px;
    height: 42px;
    font-size: 42px !important;
    line-height: 42px !important;
    display: flex;
    &.mat-icon-white {
        width: 32px;
        height: 32px;
        font-size: 32px !important;
        line-height: 32px !important;
        color: #a2a1a1;
    }
    
    @media (min-width: 200px) and (max-width: 539px) {
        & {
            width: 15px;
            height: 15px;
            font-size: 15px !important;
            line-height: 15px !important;
        }
    }
    @media (min-width: 540px) and (max-width: 1199px) {
        & {
            width: 25px;
            height: 25px;
            font-size: 25px !important;
            line-height: 25px !important;
        }
    }

   
}

.row-icon > div  :hover {
    transition: 0.2s;
    border-width: 2px;
    cursor: pointer;
    color: #a2a1a1;
}

.row-icon > div > .items > span{
    font-size: 10px;
    margin: 0 auto;
}

.items{
    text-align: center;
}
