
	<nb-card >
		<div class="container">
			<div class="row d-flex justify-content-between mt-6 mb-6">
				<nb-card-header class="mb-4 row col-12">
					<div class="col-7 modal-title">
						<h2 *ngIf="profile === 'ESTUDIANTE'">{{'PARENTS.MYPARENTS' | translate}}</h2>
						<h2 *ngIf="profile === 'PADRE'">{{'PARENTS.MYCHILDREN' | translate}}</h2>
						<p style="background-color: rgba(255, 113, 113, 0.981); border-radius: 20px; text-align: justify; padding: 10px;"
							*ngIf="!profilesOfUser.profileEditor && profile === 'ESTUDIANTE' && parentsList.length === 0">
							{{'PARENTS.ENABLEEDITOR' | translate}}
						</p>
					</div>
					<div class="col-2 not-show-mobile" *ngIf="profile === 'ESTUDIANTE'">
						<div class="dropdown">
							<button nbButton hero status="primary" (click)="invitarPadre()">
								{{'PARENTS.INVITE' | translate}}
							</button>
						</div>
					</div>
					<div class="col-2 not-show-mobile">
						<div class="dropdown">
							<div *ngIf="numberOfInvited >= 1; else disabledInviteButton">
								<button nbButton hero status="primary" [nbPopover]="notificationsTemplate" nbPopoverPlacement="bottom">
									<span class="font-weight-bold">{{'MODALGROUPSEDIT.INVITATIONS' | translate}} </span> <span
										class="badge badge-danger ml-2">{{numberOfInvited}}</span>
								</button>
							</div>
							<ng-template #disabledInviteButton>
								<button nbButton hero status="primary" [nbPopover]="notificationsTemplate" nbPopoverPlacement="bottom"
									disabled>
									<span class="font-weight-bold">{{'MODALGROUPSEDIT.INVITATIONS' | translate}} </span> <span
										class="badge badge-danger ml-2">{{numberOfInvited}}</span>
								</button>
							</ng-template>
							<ng-template #notificationsTemplate>
								<nb-card class="margin-bottom-0">
									<nb-card-header></nb-card-header>
									<nb-list *ngIf="numberOfInvited >= 1; else noInvitations">
										<nb-list-item *ngFor="let item of invitacionesList">
											<span class="font-weight-bold mr-1"> {{item.firstName}}&nbsp;{{item.surname}}&nbsp; </span>
											<div class="ml-1">
												<nb-icon class="mr-1 icon-action-blue" icon="checkmark-circle-2"
													[options]="{ animation: { type: 'pulse' } }" (click)="aceptarInvitacion(item)"></nb-icon>
												<nb-icon class="mr-1 icon-action-red" icon="close-circle"
													[options]="{ animation: { type: 'pulse' } }" (click)="rechazarInvitacion(item)"></nb-icon>
											</div>
										</nb-list-item>
									</nb-list>
									<ng-template #noInvitations>
										<div class="alert alert-info" role="alert">
											{{'MODALGROUPSEDIT.NOINVITATIONSYET' | translate}}
										</div>
									</ng-template>
								</nb-card>
							</ng-template>
						</div>
					</div>
				</nb-card-header>
			</div>
			<div class="container mt-6 p-2">
				<app-loading [isVisible]="cargando"></app-loading>
				<nb-card fullWidth class="no-edge-card group-main-card" size="giant" >
					<nb-card-body>
						<div>
							<div class="mt-4">
								<div class="row">
									<div *ngFor="let parent of parentsList | sortBy:'asc':'tittle'"
										class="col-lg-2 col-md-6 col-sm-12 pointer">
										<nb-card size="small" class="project-info pointer animated fast fadeIn" style="height: 380px;">
											<nb-card-header>
												<div class="img-container">
													<img [src]="parent.pictureUser | imagen:'userAvatar'" class="card-img-top">
												</div>
											</nb-card-header>
											<nb-card-body>
												<div>
													<h6 class="paragraph">{{ parent.firstName + " " + parent.surname | titlecase | truncate:[50, '...'] }}</h6>
												</div>
											</nb-card-body>
											<nb-card-footer>
												<span title="{{'GLOBALS.DELETE' | translate}}" (click)="deleteParent(parent)" *ngIf="profile !== 'ESTUDIANTE'">
													<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="trash"
														[options]="{ animation: { type: 'pulse' } }" style="font-size: 1.50rem !important; color: darkred;">
													</nb-icon>
												</span>
											</nb-card-footer>
										</nb-card>
									</div>
									<!-- ADD NEW PARENT -->
									<div class="col-lg-2 col-md-6 col-sm-12 pointer"
										title="{{'PARENTS.ADDPARENT' | translate}}" (click)="nuevoPadre()" *ngIf="profile === 'ESTUDIANTE' && parentsList.length <= 4">
										<div class="card form-group">
											<div class="img-container">
												<img src="../../../../../assets/images/new-item.png" class="card-img-top">
											</div>
										</div>
									</div>
									<div class="col-lg-2 col-md-6 col-sm-12 pointer"
										title="{{'PARENTS.ADDCHILD' | translate}}" (click)="nuevoPadre()" *ngIf="profile === 'PADRE'">
										<div class="card form-group">
											<div class="img-container">
												<img src="../../../../../assets/images/new-item.png" class="card-img-top">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</nb-card-body>
				</nb-card>
			</div>
		</div>
	</nb-card>
