app-pad-buttons {

	.circle-button {
		border-radius: 50%;
		background-color: white;
		height: 35px;
		width: 35px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		background: linear-gradient(170deg, #D9D9D9, #F1F1F1);
		;
		-webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
		box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
		position: relative;

		&:hover {
			&>.hover {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		&:disabled {
			pointer-events: none;

			mat-icon {
				line-height: 0;

				&.icon-color-blue {
					svg {
						fill: #999 !important;
					}
				}
			}
		}

		.hover {
			position: absolute;
			background-color: white;
			padding: 10px;
			border-radius: 5px;
			display: none;
			bottom: 35px;
		}
	}

	.pad-left-container {
		display: flex;
		align-items: center;

		nb-icon {
			font-size: 3.25rem !important;
			line-height: 1;
			width: 40px;
			height: 40px;
			color: white;
			filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
		}
	}

	@media (max-width: 700px) {
		.pad-left-container nb-icon {
			width: 30px;
			height: 30px;
		}
	}

	@media (max-width: 350px) {
		.pad-left-container nb-icon {
			width: 25px;
			height: 25px;
		}
	}

	.hide-pad {
		bottom: -200%;
		transition: all 1s;
	}

	.show-pad {
		transition: all 1s;
	}

	.pad-buttons-left {
		// height: 120px;
		// width: 120px;
	}

	.pad-button {
		//background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		// height: 40px;
		// width: 40px;
		cursor: pointer;
	}

	.row-white {
		background-color: white;
	}

	mat-icon {
		line-height: 0;

		&.icon-color-blue {
			svg {
				fill: #224d98 !important;
			}
		}
	}

	.label {
		background-color: black;
		padding: 5px 10px;
		color: white;
		font-size: 14px;
		border-radius: 5px;
		font-weight: 600;
		margin: 0;
		max-width: 90px;
		position: absolute;

		&.left {
			right: 40px;
		}

		&.right {
			left: 40px
		}

		&.top {

			max-width: 120px;
			bottom: 40px;
			display: flex;
			align-items: center;
		}

		&.bottom {
			top: 40px;
		}

	}

	.idea {
		fill: #1faa3f;
	}

	.position-relative {
		position: relative;
	}

	@media (max-width: 435px) {
		.not-show-mobile {
			display: none !important;
		}
	}
}
