<form class="container" [formGroup]="answerForm">
    <ng-container formArrayName="answers">
        <div class="row" *ngFor="let answer of answersArray.controls; let i = index;">
            <div class="col d-flex align-items-center" [formGroupName]="i">
                <ng-container [ngSwitch]="answersArrayType[i].value">
                    <div *ngSwitchCase="elementTypes.A_TEXTS">
                        <p class="mb-3" [innerHTML]="answersArrayData[i].value" class="card-img-top"  >{{answersArrayData[i].value}}</p>
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_PICTURES">
                        <img class="mx-auto img-fluid" [style.width]="answersArrayWidth[i].value ? answersArrayWidth[i].value + 'px' : 'fit-content'" [style.height]="answersArrayHeight[i].value ? answersArrayHeight[i].value + 'px' : '100%'" [src]="answersArrayData[i].value| quizElements:'image' |safe" *ngIf="answersArrayData[i].value" />
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_VIDEOS">
                        <video class="w-100 mw-100" [style.width]="answersArrayWidth[i].value ? answersArrayWidth[i].value + 'px' : 'fit-content'" [style.height]="answersArrayHeight[i].value ? answersArrayHeight[i].value + 'px' : '100%'" controls [src]="answersArrayData[i].value | quizElements:'video' | safe" *ngIf="answersArrayData[i].value">
                        </video>
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_AUDIOS">
                        <audio class="w-100 d-block" controls [src]="answersArrayData[i].value | quizElements:'audio' | safe" *ngIf="answersArrayData[i].value">
                        </audio>
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_PDFS">
                        <iframe #pdfElement class="w-100 h-100" [style.width]="answersArrayWidth[i].value ? answersArrayWidth[i].value + 'px' : 'fit-content'" [style.height]="answersArrayHeight[i].value ? answersArrayHeight[i].value + 'px' : '100%'" [src]="answersArrayData[i].value | quizElements:'pdf' | safe" allowfullscreen *ngIf="answersArrayData[i].value" style="min-height: 920px;"></iframe>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
</form>
