<h2 mat-dialog-title *ngIf="data.title">{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    {{data.message}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>
