@import './_consts.scss';
@import './_fonts.scss';
@import './_base-bootstrap.scss';

$icon-margin: 5px;

@mixin container()
{
    .container
    {
        //background-color: white;
        margin-top: 30px;
        margin-bottom: $footer-height;
    }

    @include media-breakpoint-down(xs)
    {
        .container
        {
            position: absolute;
            left: 0;
            top: $compact-header-height;
            margin: 0;
            width: 100%;
            height: 100%;
        }
    }
}

@mixin media-breakpoint-min-height()
{
    @media screen and ( max-height: 699px )
    {
        @content;
    }
}

@mixin common-button()
{
    .common-button
    {
        display: inline-block;
        border: 1px solid $blue-color;
        border-radius: 5px;
        color: $blue-color;
        width: 100px;
        padding: 0;
        line-height: 1em;
        font-size: 14px;
        transition: background-color 0.2s linear;
    }

    .common-button:not( [disabled] ):hover
    {
        cursor: pointer;
        background-color: $lighter-blue-color !important;
        color: white !important;
        border-color: #0185ff !important;
    }

    .common-button:active
    {
        transform: scale(0.9, 0.9);
    }
}

@mixin common-rounded-button
{
    .rounded-button
    {
        $height: 55px;

        font-weight: $light-weight;
        position: relative;
        border: none;
        background-color: $blue-color;
        font-size: 26px;
        font-weight: $bold-weight;
        max-width: 250px;
        min-width: 100px;
        width: 100%;
        height: $height;
        border-radius: $height;
        color: white;
        cursor: pointer;
        transition: all ease-in-out 0.5s, opacity ease-out 0.1s;
        margin: 0 auto;
        display: block;
    }

    .rounded-button.blue
    {
        background-color: $blue-color;
    }

    .rounded-button.green
    {
        background-color: $green-color;
    }

    .rounded-button.red
    {
        background-color: $red-color;
    }

    .rounded-button.orange
    {
        background-color: $orange-color;
    }

    .rounded-button[disabled]
    {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .rounded-button:active
    {
        opacity: 0.5;
    }
}
