$text-dimmed-color: #BBBBBB;
$text-regular-color: #3a3938;
$text-emphasis-color: #071d49;
$warning-color: #a94442;
$light-border: #bebebe;
$blue-color: #3274de;
$lighter-blue-color: #0185ff;
$dark-blue-color: #2a5eb1;
$default-font-size: 20px;
$red-color: #bf0811;
$green-color: #377d22;
$gold-color: #FFD400 ;
$orange-color: #FFD400;
$bright-green-color: #75c93b;
$link-color: #40a7e3;
$form-color: #496e92;

$footer-height: 155px;
$header-height: 65px;
$compact-header-height: 45px;

$gray-color:  #242424;
$orange-color: #faa31a;
$left-bar-gray: #2f2f2f;
$regular-gray: #3A3938;
$blue-link: #0075E2;
$inactive-grey:#9A9A9A;
$seventy-gray: #707070;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
