﻿@import '../common/_consts.scss';
@import '../common/_fonts.scss';

.dialog-content
{
    $global-padding: 45px;

    box-shadow: 0px 2px 10px #999A99;
    padding: $global-padding;
    width: 100%;
    background-color: white;
    color: $blue-color;
    position: relative;
    font-size: 12pt;
    font-weight: $light-weight;

    .close-button
    {
        position: absolute;
        right: $global-padding / 2;
        top: $global-padding / 2;
        font-size: 20pt;
        cursor: pointer;
        font-family: Arial;
        text-transform: uppercase;
    }
}
