<div id='quiz'>
  <app-head-reproducir-quizzes [node]="node" [type]="type" [idCurso]="idCurso" [idMapa]="idMapa"></app-head-reproducir-quizzes>
  <!--app-body-reproducir-quizzes [node]="node"></app-body-reproducir-quizzes-->
  <app-body-reproducir-quizzes></app-body-reproducir-quizzes>
  <!--app-footer-reproducir-quizzes [ngStyle]="{'visibility':automatic ? 'visible' : 'hidden'}"></app-footer-reproducir-quizzes-->
  <!--app-footer-reproducir-quizzes *ngIf="automatic" (quizEnviado)="mostrarQuiz($event)"></app-footer-reproducir-quizzes-->
  <!--app-footer-reproducir-quizzes (quizEnviado)="mostrarQuiz($event)"></app-footer-reproducir-quizzes-->
  <app-footer-reproducir-quizzes></app-footer-reproducir-quizzes>
</div>
