<nb-card class="mb-0">
	<nb-card-header class="flex justify-content-between">
		<div class="col-10">
			<h5><nb-icon icon="people"></nb-icon> {{ 'ALERTGROUP.GRUPOACTUAL' | translate }}: {{ group.title }}</h5>
		</div>
		<div class="col-2">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }" (click)="closeModal()"></nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="m-5 row d-flex">
			<div class="col-12 d-flex justify-content-center">
				<span class="textoFontSize09 colorTextoActivado font-weight-bold">{{ mensaje }}</span>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer>
		<div class="mb-2 row" [ngClass] ="{'justify-content-end':disableCancel}" >
			<div class="col-6" align="right">

				<button nbButton status="primary" (click)="aceptar()" class="mr-1">{{ botonAceptar }}</button>
			</div>

			<div class="col-6" align="center" *ngIf="!disableCancel">

				<button nbButton status="danger" (click)="cancelar()" class="">{{ 'ACEPTARCANCELAR.CANCELAR' | translate }}</button>
			</div>
		</div>
	</nb-card-footer>
</nb-card>
