<nb-card class="mb-0">
	<nb-card-header class="flex">
		<div class="col-10 ">
			<h4  class="p-2">
				{{'MODALINFORMATIONCOURSE.ID' | translate}} {{curso.idCourse}}
		 </h4>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle"
			[options]="{ animation: { type: 'zoom' } }" (click)="closeModal('')"></nb-icon>
	</div>
	<nb-card-body>
		<div class="container p-2">
			<app-loading [isVisible]="cargando"></app-loading>

			<nb-card class="no-edge-card" style="margin-top: 2.5rem;">
				<div *ngIf="editarInfo" >

					<!-- <div class="row d-flex justify-content-between p-2 mb-4">
							<div>
									<h6 class="p-2">
											{{'MODALINFORMATIONCOURSE.ID' | translate}} {{curso.idCourse}}
									 </h6>
							</div>
							<div>
									<button class="" mat-icon-button (click)="closeModal()">
											<mat-icon class="icon-color-blue closebtn pointer">close</mat-icon>
									 </button>
							</div>
					</div> -->

					<div class="d-flex justify-content-center align-content-center pl-4 pr-4">
							<form  [formGroup]="formulario" #thisForm="ngForm" class="example-form">
									<mat-form-field  class="example-full-width not-border not-border" appearance="fill" >
										<mat-label>{{'MODALINFORMATIONCOURSE.TITLE' | translate}}</mat-label>
										<input matInput disabled value="{{curso.courseTittle}}">
									</mat-form-field>

										<mat-form-field class="example-full-width not-border" appearance="fill">
											<mat-label>{{'MODALINFORMATIONCOURSE.SUBJECT' | translate}}</mat-label>
											<mat-select formControlName="subject" class="example-full-width not-border">
													<mat-option *ngFor="let item of subjectsList" [value]="item.idSubject">{{item.subject}}</mat-option>
											</mat-select>
										</mat-form-field>

									<p>
										<mat-form-field class="example-full-width not-border" appearance="fill">
											<mat-label>{{'MODALINFORMATIONCOURSE.AUTHOR' | translate}}</mat-label>
											<input matInput disabled value="{{user.firstName + ' '+user.surname}}">

										</mat-form-field>
										<mat-form-field class="example-full-width not-border" appearance="fill">
											<mat-label>{{'MODALINFORMATIONCOURSE.COUNTRY' | translate}}</mat-label>
											<mat-select formControlName="country" class="example-full-width not-border">
													<mat-option *ngFor="let item of countriesList" [value]="item.idCountry">{{item.country}}</mat-option>
											</mat-select>
										</mat-form-field>
									</p>

									<mat-form-field class="example-full-width not-border" appearance="fill">
											<mat-label>{{'MODALINFORMATIONCOURSE.OWNER' | translate}}</mat-label>
											<input matInput disabled value="{{user.firstName + ' '+user.surname}}">
										</mat-form-field>
									<mat-form-field class="example-full-width not-border" appearance="fill">
											<mat-label>{{'MODALINFORMATIONCOURSE.ACTIVITIESSIZE' | translate}}</mat-label>
											<input matInput formControlName="deckSize" placeholder="min 5, max 100" max="100" min="5">
										</mat-form-field>

										<div class="row d-flex justify-content-between align-items-center mb-4">
											<div >
												<button nbButton hero status="danger" (click)="borrarTodo()">{{'MODALINFORMATIONCOURSE.DELETE' | translate}}</button>
												<!-- <button class="btn btn-block btn-sm btn-danger" (click)="borrarTodo()">{{'MODALINFORMATIONCOURSE.DELETE' | translate}}</button> -->
											</div>
											<div >
												<button nbButton hero status="primary" (click)="guardarCambios()">{{'MODALINFORMATIONCOURSE.OK' | translate}}</button>
												<!-- <button class="btn btn-block btn-sm btn-light" (click)="guardarCambios()">{{'MODALINFORMATIONCOURSE.OK' | translate}}</button> -->
											</div>
										</div>
								</form>
					</div>
			</div>

			<div *ngIf="!editarInfo" >

					<!-- <div class="row d-flex justify-content-between p-2 mb-4">
							<div>
									<h6 class="p-2">
											{{'MODALINFORMATIONCOURSE.ID' | translate}} {{curso.idCourse}}
									 </h6>
							</div>
							<div>
									<button class="" mat-icon-button (click)="closeModal()">
											<mat-icon class="icon-color-blue closebtn pointer">close</mat-icon>
									 </button>
							</div>
					</div> -->

					<div class="row d-flex justify-content-center align-content-center p-4">

							<div class="w-100 mb-2">
									<span><b>{{'MODALINFORMATIONCOURSE.TITLE' | translate}} :</b></span> <span class="border ">{{curso.courseTittle}}</span>
							</div>

							<div class="w-100 mb-2">
									<span><b>{{'MODALINFORMATIONCOURSE.SUBJECT' | translate}} :</b></span>  <span class="border ">{{curso.subject.idSubject}}</span>
							</div>

							<div class="w-100 mb-2">
									<span><b>{{'MODALINFORMATIONCOURSE.AGE' | translate}} :</b> </span><span class="border ">{{curso.normalAge}}</span>
							</div>

							<div class="w-100 mb-2">
									<span><b>{{'MODALINFORMATIONCOURSE.AUTHOR' | translate}} :</b> </span> <span class="border  ">{{curso.user.firstName}} {{curso.user.surname}}</span>
							</div>

							<div class="w-100 mb-2">
									<span><b>{{'MODALINFORMATIONCOURSE.COUNTRY' | translate}} :</b> </span> <span class="border ">{{curso.idCountry}}</span>
							</div>

							<div class="w-100 mb-2">
								<span><b>{{'MODALINFORMATIONCOURSE.PUBLISHED' | translate}} :</b> </span> <span class="border ">{{curso.published | date}}</span>
							</div>

							<div class="w-100 mb-2">
									<span><b>{{'MODALINFORMATIONCOURSE.OPINIONS' | translate}} :</b></span>
							</div>
					</div>
			</div>
			</nb-card>

		</div>
	</nb-card-body>

</nb-card>
