app-modal-information-course{

}
h6{
    font-weight: 700;
    color: #224d98;
}

span{
    font-weight: 400;
    color: #222b45
}

.pointer-event{
    pointer-events: stroke;
}

.border{
    border: 1px solid #c5cee0;
    border-top: none;
    border-left: none;
    border-left: none;
}

// .example-form {
//     min-width: 150px;
//     max-width: 500px;
//     width: 100%;
//   }

  .example-full-width {
    width: 100%;
  }

  td {
    padding-right: 8px;
  }

  button{
    box-shadow: 1px 1px 1px #08222e, -1px -1px 1px white;
  }
