<div id='quiz'>
  <app-head-quizzes  [node]="node" [type]="type" [idCurso]="idCurso" [idMapa]="idMapa"  (newQuiz)="receiveNewNodeData($event)"></app-head-quizzes>
  <!--<app-body-quizzes [mensajeBody]="mensajeQuiz" [template]="template" [tittle]="tittle" [quizInstructions]="quizInstructions"></app-body-quizzes>-->
  <app-body-quizzes [mensajeBody]="mensajeQuiz"></app-body-quizzes>
  <!--<app-footer-quizzes (mensajeEnviado)="mensajeQuiz = $event"></app-footer-quizzes>-->
</div>
