/* ----------- RIGHT CLICK MENU ------------ */

img {
    border-radius: 50%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 30px;
    height: 30px;
    margin: 5px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}


/* ------------ POPOVER BUTTONS ------------ */

.mat-icon-button {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    .mat-icon {
        width: 80%;
        display: block;
        position: relative;
    }
    .mat {
        width: 100%;
        display: block;
        position: relative;
    }
}

button {
    outline: none;
}


/* ------------ POPOVER ------------ */

.popover {
    border: none;
    position: absolute;
    display: none;
    background: #fff;
    /* border: 1px solid #999; */
    padding: 10px;
    width: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.popover:after,
.popover:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popover:after {
    /*border-color:  rgba(255, 255, 255, 0); */
    border-right-color: #ffffff;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

.popover:before {
    /*border-color: rgba(201, 201, 201, 0); */
    border-right-color: #c9c9c9;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}


/*#pConnect {
  border-radius: 48%;
}*/


/* ------------ AVATAR -------------- */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    /*border-radius: 50%;*/
}

    .ngx-wrapper-overview{
                max-width: 600px !important;
        .ngx-wrapper-overview{
                max-width: 600px !important;
        }
        .copilot-view {
            max-width: 600px !important;
        }

        .copilot-view-step-2{
            top: 0px !important;
        }
    }

    .copilot-view {
        background-color: #ffffff00 !important;
    }
    .copilot-custom{
        width: 700px;
        height: auto;
        border: 1px solid #d5e1ff;
        border-radius: 3px;
        img{

            width: 400px;
            height: 300px;
        }
    }
    .copilop-info{
        background: linear-gradient(134deg, #04B0E7, #57DBEE);
        // color: #fff;
        .title-info {
            font-size: larger;
            font-weight: 800;
            color: #111113;
            padding: 15px;
        }
        .button-ok{
            font-weight: 500;
            margin: 10px;
        }
    }

    .copilop-accept{
        background: linear-gradient(134deg, #02D566, #0AF07B);
        color: #fff;
        .title-accept {
            font-size: larger;
            font-weight: 800;
            color: #111113;
            padding: 15px;
        }
        .button-verde{
            font-weight: 500;
            margin: 10px;
            border-radius: 50px;
            background: linear-gradient(145deg, #09d86f, #0bff84);
            box-shadow:  9px 9px 10px #079c50,
             -9px -9px 10px #0effa6;

        }
    }






