<div>
	<ng-template class="w-100" #step4>
		<div class="copilot-custom copilop-info" style="position: sticky">
			<div class="row">
				<div class="col-12 flex justify-content-center align-items-center">
					<h3 class="title-info">
						{{ "TUTORIALINICIO.TUTORIAL_TITLE_04" | translate }}
					</h3>
				</div>
				<div class="col-12 row flex justify-content-center align-items-center">
					<p class="text-accept-help">
						{{ "TUTORIALINICIO.TUTORIAL_TEXTO_02" | translate }}
					</p>
				</div>
			</div>
			<div class="footer-btn">
				<div class="row flex justify-content-center align-items-center">
					<div class="col-2 row flex justify-content-center align-items-center">
						<button
							class="btn btn-block btn-themecolor btn-sm button-ok"
							(click)="helpLienzoVacio()"
							type="button"
						>
							{{ "TUTORIALINICIO.BOTONES.ENTENDIDO" | translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template class="w-100" #step5>
		<div class="copilot-custom copilop-accept" style="position: sticky">
			<div class="row">
				<div class="col-12 flex justify-content-center align-items-center">
					<h3 class="title-accept">
						{{ "TUTORIALINICIO.TUTORIAL_TITLE_05" | translate }}
					</h3>
				</div>
				<div class="col-12 row flex justify-content-center align-items-center">
					<p class="text-accept-help">
						{{ "TUTORIALINICIO.TUTORIAL_TEXTO_005" | translate }}
					</p>
				</div>
				<div class="col-12 flex justify-content-center align-items-center">
					<img class="card-img-top" [src]="urlTutorial + 'nodoanodo.gif'" />
				</div>
			</div>
			<div class="footer-btn">
				<div class="row flex justify-content-center align-items-center">
					<div class="col-2">
						<button
							class="btn btn-block btn-success btn-sm button-verde"
							(click)="helpLienzoNodoNodo()"
							type="button"
						>
							{{ "TUTORIALINICIO.BOTONES.ACEPTAR" | translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</ng-template>

	<ng-template class="w-100" #step6>
		<div class="copilot-custom copilop-accept" style="position: sticky">
			<div class="row">
				<div class="col-12 flex justify-content-center align-items-center">
					<h3 class="title-accept">
						{{ "TUTORIALINICIO.TUTORIAL_TITLE_06" | translate }}
					</h3>
				</div>
				<div class="col-12">
					<p class="text-accept-help">
						{{ "TUTORIALINICIO.TUTORIAL_TEXTO_006" | translate }}
					</p>
				</div>
				<div class="col-12 flex justify-content-center align-items-center">
					<img
						class="card-img-top"
						[src]="urlTutorial + 'Quizaquizrecortado.gif'"
					/>
				</div>
			</div>
			<div class="footer-btn">
				<div class="row flex justify-content-center align-items-center">
					<div class="col-2">
						<button
							class="btn btn-block btn-success btn-sm button-verde"
							(click)="helpLienzoQuizQuiz()"
							type="button"
						>
							{{ "TUTORIALINICIO.BOTONES.ACEPTAR" | translate }}
						</button>
					</div>
				</div>
			</div>
		</div>
	</ng-template>
</div>

<div
	copilot
	[copilot-template]="step4"
	[copilot-step]="4"
	style="position: sticky; width: 250px; height: 0"
></div>
<div
	copilot
	[copilot-template]="step5"
	[copilot-step]="5"
	style="position: sticky; width: 250px; height: 0"
></div>
<div
	copilot
	[copilot-template]="step6"
	[copilot-step]="6"
	style="position: sticky; width: 400px; height: 0"
></div>

<app-sigma-canvas
	[defaultViewType]="defaultViewType"
	[graphTitle]="graphTitle"
	[tutorialGrafo]="tutorialGrafo"
	[idMapa]="graphId"
	[idCurso]="courseId"
	[canEdit]="canEdit"
	[changedToEditor]="changedToEditor"
	[background]="background"
	[isGuest]="isGuest"
	(nextEvenCopilot)="initPosition($event)"
></app-sigma-canvas>
