app-node-pad-controller{

    .circle-button {
        border-radius: 50%;
        background-color: white;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        -webkit-box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.44);
        box-shadow: 0px 8px 20px -5px rgba(0, 0, 0, 0.44);
        position: relative;
    
        &:hover {
            & > .hover {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    
        .hover {
            position: absolute;
            background-color: white;
            padding: 10px;
            border-radius: 5px;
            display: none;
            bottom: 35px;
        }
    }
    
    .pad-right-container {
        position: absolute;
        bottom: 10%;
        left: 8%;
        width: 150px;
        height: 150px;
        z-index: 50;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .pad-buttons-right {
        height: 120px;
        width: 120px;
    }
    
    .pad-buttons-left {
        @extend .pad-buttons-right;
    }
    
    .pad-button {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }
    .row-white {
        background-color: white;
        border-radius: 5px;
    }
    
    .pad-button-top {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        -webkit-box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, 0.3);
    }
    .pad-button-left {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        -webkit-box-shadow: -2px 5px 5px -3px rgba(0, 0, 0, 0.3);
        box-shadow: -2px 5px 5px -3px rgba(0, 0, 0, 0.3);
    }
    .pad-button-right {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
    }
    .pad-button-bottom {
        -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
        box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    
    mat-icon {
        line-height: 0;
        &.icon-color-blue {
            svg {
                fill: #224d98 !important;
            }
        }
        &.icon-color-gold{
            svg{
                fill: #d39502!important;
            }
        }
    }

    .label{
        background-color: black;
        padding: 5px 10px;
        color: white;
        font-size: 14px;
        border-radius: 5px;
        font-weight: 600;
        margin: 0;
        position: absolute;
        &.left{
            left: -75px;
        }
        &.right{
            right: -55px
        }
        &.top{
            top: -20px;
        }
        &.bottom{
            bottom: -20px;
        }
    }
}


