.container{
    padding: 40px;
}

.modal-header {
    color: #FFFFFF;
    background: #1e88e5;
}

h5.modal-title {
    margin: auto;
    text-transform: uppercase;
}

label{
    display: inline-block;
    width: 80px;
}

.close{
    color: #FFFFFF;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-content: center;
}

div.menu-izquierda-contenedor{
    justify-content: center;
    display: grid;
    align-items: center;
}

div.menu-izquierda
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    align-content: center;
    margin: 4px;
    width:150px;
    height:150px;
}

div.menu-izquierda:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

mat-icon.menu-izquierda
{
    height:150px;
    width:150px;
    font-size:150px;
    cursor: pointer
}

.image-upload > input
{
      display: none;
}

div.centro
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 720px;
    margin: 4px;
}

div.centro:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.senmotemo
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color: rgb(0, 8, 50);
}

div.senmotemo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.assostatic
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color: rgb(68, 127, 171);
}

div.assostatic:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.temporary
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color:rgb(103, 173, 207);
}

div.temporary:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.abstract
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 300px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color: rgb(180, 222, 243);
}

div.abstract:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.iconos-contenedor{
    justify-content: right;
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 320px;
}

div.iconos-contenedor-area{
    justify-content: right;
    display: flex;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 520px;
}

div.icono{
    width: 10%;
}

img.icono{
    height: 20px;
    width: 20px;
    cursor: pointer;
}

img.icono:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.titulo-claro
{
    border-style: double;
    border-width: 1px;
    border-color:white;
    text-align: center;
    font-weight: bold;
    color:white;
}

div.titulo-oscuro
{
    border-style: double;
    border-width: 1px;
    border-color:rgb(87, 88, 87);
    text-align: center;
    font-weight: bold;
    color:rgb(87, 88, 87);
}

div.menu-derecha-contenedor{
    justify-content: center;
    display: grid;
    align-items: center;
}

div.menu-derecha
{
    height: 150px;
    width: 150px;
    margin: 10px;
}

img.menu-derecha
{
    height:150px;
    width:150px;
    background-color: #FFFFFF;
    cursor: pointer;
}

div.menu-derecha:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
