		<div class="col-12 justify-content-center d-flex">
			<form [formGroup]="formulario" (ngSubmit)="aceptar()">
				<!-- OLDPASS -->
					<div class="row mt-6 justify-content-center">
							<div class="d-flex">
									<input status="primary"  class="form-control" formControlName="oldPassword" [type]="hidePassword ? 'password' : 'text'"
											placeholder="{{ 'CAMBIARPASS.OLDPASS' | translate }}">
									<button class="hide-button" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
											<mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
									</button>
							</div>
					</div>
					<div class="row mb-4">
							<div>
									<div *ngFor="let validation of validationMessages.oldPassword">
											<div class="error-message" *ngIf="oldPasswordControl?.hasError(validation.type) && (oldPasswordControl?.dirty || oldPasswordControl?.touched)" style="color: darkred;">
													{{validation.message}}
											</div>
									</div>
							</div>
					</div>
				<!-- NEWPASS -->
					<div class="row mt-6 justify-content-center">
						<div class="d-flex">
								<input status="primary"  class="form-control" formControlName="newPassword" [type]="hidePassword2 ? 'password' : 'text'"
										placeholder="{{ 'CAMBIARPASS.NEWPASS' | translate }}">
								<button class="hide-button" type="button" mat-icon-button matSuffix (click)="hidePassword2 = !hidePassword2" [attr.aria-pressed]="hidePassword2">
										<mat-icon>{{hidePassword2 ? 'visibility_off' : 'visibility'}}</mat-icon>
								</button>
						</div>
					</div>
					<div class="row mb-4">
						<div>
								<div *ngFor="let validation2 of validationMessages.newPassword">
										<div class="error-message" *ngIf="newPasswordControl?.hasError(validation2.type) && (newPasswordControl?.dirty || newPasswordControl?.touched)" style="color: darkred;">
												{{validation2.message}}
										</div>
								</div>
						</div>
					</div>
				<!-- NEW PASS REPEAT-->
					<div class="row mt-6 justify-content-center">
						<div class="d-flex">
							<input status="primary"  class="form-control" formControlName="newPassword2" [type]="hidePassword3 ? 'password' : 'text'" (keyup)="validacionPass()"
									placeholder="{{ 'CAMBIARPASS.REPEATNEWPASS' | translate }}">
							<button class="hide-button" type="button" mat-icon-button matSuffix (click)="hidePassword3 = !hidePassword3" [attr.aria-pressed]="hidePassword3">
									<mat-icon>{{hidePassword3 ? 'visibility_off' : 'visibility'}}</mat-icon>
							</button>
						</div>
					</div>
					<div class="row mb-4">
					<div>
							<div *ngFor="let validation3 of validationMessages.newPassword2">
									<div class="error-message" *ngIf="newPasswordControl2?.hasError(validation3.type) && (newPasswordControl2?.dirty || newPasswordControl2?.touched)" style="color: darkred;">
											{{validation3.message}}
									</div>
							</div>
							<div>
								<div class="error-message" *ngIf="!passCoincide" style="color: darkred;">
										{{ 'CAMBIARPASS.NOREPEATED' | translate }}
								</div>
						</div>
					</div>
					</div>
				<!-- ACCEPT AND CANCEL BUTTONS-->
					<div class="mb-2 row" [ngClass] ="{'justify-content-end':disableCancel}" >
							<div class="col-6" align="right">
									<button nbButton status="primary" type="submit" class="mr-1">{{ 'ACEPTARCANCELAR.ACEPTAR' | translate	}}</button>
							</div>
							<div class="col-6" align="left" *ngIf="!disableCancel">
									<button nbButton status="danger" (click)="cancelar()" class="">{{ 'ACEPTARCANCELAR.CANCELAR' | translate }}</button>
							</div>
					</div>
			</form>
	</div>
