<nb-card class="mb-0">
	<nb-card-header class="flex">
		<div class="col-10 modal-title">
			<h2>{{ 'NODOS.CONECTARNODO' | translate }}</h2>
		</div>
		<div class="col-2">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }" (click)="closeModal('')"></nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
		<form [formGroup]="form" (submit)="conectar()">
			<nb-card-body>

				<div class="form-group">
					<p class="paragraph ml-2">{{ 'NODOS.TITLE' | translate }}</p>
					<div class="row">
						<div class="col-5 text-right" style="padding-right: 20px;">
							<div class="d-flex flex-column align-items-end">
								<img [ngbTooltip]="nodeFrom.label" placement="bottom" title="{{nodeFrom.label}}"
									src="{{nodeFrom.url}}" alt="Avatar" class="avatar">
								<span class="mt-2">{{nodeFrom.label}}</span>
							</div>
						</div>
						<div class="col-2 d-flex justify-content-center align-items-center">
							<button mat-raised-button (click)="changeConnectOrderItems()" mat-icon-button data-toggle="tooltip"
								data-placement="top" title="" type="button">
								<mat-icon class="mat" color="primary">sync_alt</mat-icon>
							</button>
						</div>
						<div class="col-5 text-left" style="padding-left: 20px;">
							<div class="d-flex flex-column align-items-start">
								<img ngbTooltip="{{nodeTo.label}}" placement="bottom" title="{{nodeTo.label}}" src="{{nodeTo.url}}"
									alt="Avatar" class="avatar">
								<span class="mt-2">{{nodeTo.label}}</span>
							</div>
						</div>
					</div>
				</div>
				<div class="form-group col">
					<div class="form-group row">
						<label class="col-lg-1 label">{{'NODOS.TIPODELINEA' | translate }}</label>
						<div class="col-lg-11">
							<select id="linea" class="custom-select w-100" required formControlName="line">
								<option value="''">{{'NODOS.LINEAPLACEHOLDER' | translate }}</option>
								<option *ngFor="let line of lines" [value]="line.type">{{line.name | translate}}</option>
							</select>

							<!-- <nb-select fullWidth id="linea" name="linea" placeholder="{{'NODOS.LINEAPLACEHOLDER' | translate }}"
										required formControlName="line">
												<nb-option *ngFor="let line of lines" value="{{line.type}}">{{line.name | translate}}</nb-option>
										</nb-select> -->

							<div *ngFor="let validation of validationMessages.line" class="text-left">
								<div class="text-danger mt-1"
									*ngIf="lineControl?.hasError(validation.type) && (lineControl?.dirty || lineControl?.touched)">
									{{validation.message}}
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="lineControl.value">
						<div class="form-group row text-right">
							<label class="col-lg-1 label">{{'NODOS.TEXTO'|translate }}</label>
							<div class="col-lg-11">
								<input nbInput fullWidth status="basic" type="text" class="form-control" required
									formControlName="label">

								<div *ngFor="let validation of validationMessages.label" class="text-left">
									<div class="text-danger mt-1"
										*ngIf="labelControl?.hasError(validation.type) && (labelControl?.dirty || labelControl?.touched)">
										{{validation.message}}
									</div>
								</div>
							</div>
						</div>

						<div *ngIf="lineControl.value !== branchType" class="form-group row text-right">
							<label class="col-lg-1 label">{{'NODOS.TAMAÑO'|translate }}</label>
							<div class="col-lg-2">
								<input nbInput fullWidth status="basic" type="number" class="form-control" formControlName="size">

								<div *ngFor="let validation of validationMessages.size" class="text-left">
									<div class="text-danger mt-1"
										*ngIf="sizeControl?.hasError(validation.type) && (sizeControl?.dirty || sizeControl?.touched)">
										{{validation.message}}
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row text-right">
							<label class="col-lg-1 label">{{'NODOS.COLOR'|translate }}</label>
							<div class="col-lg-2">
								<input class="w-100 pointer form-control" [style.background]="color" [cpOKButton]="false"
									[cpSaveClickOutside]="true" [cpPosition]="'top'" [(colorPicker)]="color" readonly="readonly" />
							</div>
						</div>
					</div>
				</div>



			</nb-card-body>
			<nb-card-footer>
				<div class="form-group row mb-1">
					<div class="col">
						<div class="text-right px-3 py-0">
							<button nbButton hero status="primary" type="submit" class="mr-3"
								[disabled]="isLoading">{{'NODOS.CONECTAR' | translate}}</button>
							<button nbButton hero status="basic" (click)="cancelar()">{{'NODOS.CANCELAR' | translate}}</button>
						</div>
					</div>
				</div>
			</nb-card-footer>
		</form>
	</nb-card-body>
</nb-card>
