img.avatar {
	vertical-align: middle;
	width: 100px;
	height: 100px;
}

nb-icon {
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;
}

.custom-select {
	width: 100%;
	height: 100%;
	border: none;
	background-color: #f7f9fc;
	border-color: #e4e9f2;
	border-style: solid;
	border-width: 1px;
	border-radius: 0.25em;
	color: #222b45;
}
