<nb-card>
	<nb-card-header class="flex justify-content-between">
		<div class="col-11">
			<h5>Datos individuales</h5>
		</div>
		<div class="col-1">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }" (click)="closeModal('close')"></nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="row">
			<div class="col-12">

				<form [formGroup]="formDate" (keydown.enter)="$event.preventDefault()">
					<div class="row mt-4 container align-items-center">


						<div class="col-md-3">
							<label>{{"TOTALHISTORYUSER.DATEFROM" | translate }}</label>
							<input type="date" class="form-control" formControlName="desde" />
						</div>
						<div class="col-md-3">
							<label>{{"TOTALHISTORYUSER.DATETO" | translate }}</label>
							<input type="date" class="form-control" formControlName="hasta" />
						</div>
						<div class="col-md-1">
							<button class="btn btn-primary mt-4" (click)="filterDate()">
								{{"TOTALHISTORYUSER.SEARCH" | translate }}
							</button>
						</div>

						<div class="col-md-3">
							<label>{{"TOTALHISTORYUSER.FILTER" | translate }}</label>
							<!-- <input > -->

							<div class="buttonIn">
								<input formControlName="search" type="search" nbInput fullWidth status="basic"
									(keyup)="filterDataSource($event)" class="search-input">
								<button id="clear" class="clear" (click)="clearFilter()"><nb-icon
										icon="close-circle-outline"></nb-icon></button>
							</div>

						</div>

						<div class="col-md-1 text-center dw-excel mt-2" *ngIf="dataSource" (click)="exportToXLS(dataSource)">
							<span class="badge badge-pill col-12"><mat-icon svgIcon="icon-excel"></mat-icon></span>
							<label class="mt-2">{{"TOTALHISTORYUSER.DOWNLOADEXCEL" | translate }}</label>
						</div>

					</div>
					<div class="row mt-4 container align-items-center">

						<div class="col-md-3">
							<mat-form-field>
								<mat-label>{{ "TOTALHISTORYUSER.CENTERNAME" |
									translate }}</mat-label>
								<mat-select formControlName="center" (selectionChange)="selectCenter($event.value)">
									<mat-option *ngFor="let center of centers" [value]="center.idCenter">
										{{center.nameCenter}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field>
								<mat-label>{{ "TOTALHISTORYUSER.PERFILES" |
									translate }}</mat-label>
								<mat-select formControlName="profile" (selectionChange)="selectProfile($event.value)" multiple>
									<mat-option *ngFor="let profile of profilesList"
										[value]="profile.idProfile">{{profile.nameProfile}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>

					</div>
				</form>

				<div class="container">

					<ng-container *ngIf="!loading; else loadingSpinner">
						<div class="row">
							<div class="col-sm-12" *ngIf="dataSource" style="overflow-x: auto">
								<table mat-table [dataSource]="dataSource" class=" total-data-table" matSort
									(matSortChange)="announceSortChange($event)">

									<!--- Note that these columns can be defined in any order.
												The actual rendered columns are set as a property on the row definition" -->

									<!-- Position Column -->
									<ng-container matColumnDef="nombre">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by nombre"> nombre
										</th>
										<td mat-cell *matCellDef="let element" (click)="openUserCard(element)">
											<p class="enlace-adornado">{{element.nombreApellido}}</p>
										</td>
										<td mat-footer-cell *matFooterCellDef> </td>
									</ng-container>

									<!-- Position Column -->
									<ng-container matColumnDef="identificacion">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by identificacion"> Identificacion </th>
										<td mat-cell *matCellDef="let element"> {{element.identificacion}} </td>
										<td mat-footer-cell *matFooterCellDef> </td>
									</ng-container>

									<!-- Position Column -->
									<ng-container matColumnDef="correo">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by correo"> {{ "TOTALHISTORYUSER.CORREO" |
											translate }}
										</th>
										<td mat-cell *matCellDef="let element"> {{element.correo}} </td>
										<td mat-footer-cell *matFooterCellDef> </td>
									</ng-container>

									<!-- Position Column -->
									<ng-container matColumnDef="mobile">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by mobile">
											{{ "TOTALHISTORYUSER.TELEFONO" |
											translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
										<td mat-footer-cell *matFooterCellDef> </td>
									</ng-container>

									<!-- Position Column -->
									<ng-container matColumnDef="centro">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by centro"> {{ "TOTALHISTORYUSER.CENTERNAME" |
											translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.centro}} </td>
										<td mat-footer-cell *matFooterCellDef> </td>
									</ng-container>

									<!-- Position Column -->
									<ng-container matColumnDef="fecha">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fecha"> {{
											"TOTALHISTORYUSER.FECHA" | translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>Totales:</strong> </td>
									</ng-container>

									<!-- accesos_diarios Column -->
									<ng-container matColumnDef="accesos_diarios">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by accesos_diarios">
											{{ "TOTALHISTORYUSER.ACCESOS_DIARIOS" | translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.accesos_diarios}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('accesos_diarios')}}</strong>
										</td>
									</ng-container>

									<!-- proyectos Column -->
									<ng-container matColumnDef="proyectos">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by proyectos"> {{
											"TOTALHISTORYUSER.PROYECTOS" | translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.proyectos}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('proyectos')}}</strong> </td>
									</ng-container>

									<!-- ideografos Column -->
									<ng-container matColumnDef="ideografos">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ideografos"> {{
											"TOTALHISTORYUSER.IDEOGRAFOS" | translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.ideografos}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('ideografos')}}</strong> </td>
									</ng-container>
									<!-- idaes Column -->
									<ng-container matColumnDef="ideas">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ideas"> {{
											"TOTALHISTORYUSER.IDEAS" | translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.ideas}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('ideas')}}</strong> </td>
									</ng-container>

									<!-- actividades Column -->
									<ng-container matColumnDef="actividades">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by actividades">
											{{ "TOTALHISTORYUSER.ACTIVIDADES" | translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.actividades}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('actividades')}}</strong> </td>
									</ng-container>

									<!-- videos_subidos Column -->
									<ng-container matColumnDef="videos_subidos">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by videos_subidos"> {{ "TOTALHISTORYUSER.VIDEOS_SUBIDOS" | translate
											}} </th>
										<td mat-cell *matCellDef="let element"> {{element.videos_subidos}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('videos_subidos')}}</strong></td>
									</ng-container>

									<!-- Positimagenes_subidasion Column -->
									<ng-container matColumnDef="imagenes_subidas">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by imagenes_subidas"> {{ "TOTALHISTORYUSER.IMAGENES_SUBIDAS" |
											translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.imagenes_subidas}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('imagenes_subidas')}}</strong>
										</td>
									</ng-container>

									<!-- audios_subidos Column -->
									<ng-container matColumnDef="audios_subidos">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by audios_subidos"> {{ "TOTALHISTORYUSER.AUDIOS_SUBIDOS" | translate
											}} </th>
										<td mat-cell *matCellDef="let element"> {{element.audios_subidos}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('audios_subidos')}}</strong></td>
									</ng-container>

									<!-- documentos_subidos Column -->
									<ng-container matColumnDef="documentos_subidos">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by documentos_subidos"> {{ "TOTALHISTORYUSER.DOCUMENTOS_SUBIDOS" |
											translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.documentos_subidos}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('documentos_subidos')}}</strong>
										</td>
									</ng-container>

									<!-- textos_subidos Column -->
									<ng-container matColumnDef="textos_subidos">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by textos_subidos"> {{ "TOTALHISTORYUSER.TEXTOS_SUBIDOS" | translate
											}} </th>
										<td mat-cell *matCellDef="let element"> {{element.textos_subidos}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('textos_subidos')}}</strong></td>
									</ng-container>

									<!-- desafios Column -->
									<ng-container matColumnDef="desafios">
										<th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by desafios"> {{
											"TOTALHISTORYUSER.DESAFIOS" | translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.desafios}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('desafios')}}</strong> </td>
									</ng-container>

									<!-- ideografos_abiertos Column -->
									<ng-container matColumnDef="ideografos_abiertos">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by ideografos_abiertos"> {{ "TOTALHISTORYUSER.IDEOGRAFOS_ABIERTOS" |
											translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.ideografos_abiertos}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('ideografos_abiertos')}}</strong>
										</td>
									</ng-container>

									<!-- ideas_abiertas Column -->
									<ng-container matColumnDef="ideas_abiertas">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by ideas_abiertas"> {{ "TOTALHISTORYUSER.IDEAS_ABIERTAS" | translate
											}}. </th>
										<td mat-cell *matCellDef="let element"> {{element.ideas_abiertas}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('ideas_abiertas')}}</strong> </td>
									</ng-container>

									<!-- actividades_resp Column -->
									<ng-container matColumnDef="actividades_resp">
										<th mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by actividades_resp"> {{ "TOTALHISTORYUSER.ACTIVIDADES_RESP" |
											translate }} </th>
										<td mat-cell *matCellDef="let element"> {{element.actividades_resp}} </td>
										<td mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('actividades_resp')}}</strong>
										</td>
									</ng-container>

									<!-- actividades_resp Column -->
									<ng-container matColumnDef="pictureUser">
										<th class="d-none" mat-header-cell *matHeaderCellDef mat-sort-header
											sortActionDescription="Sort by pictureUser"> {{ "EDITARCURSOMAPA.IMAGEN" |
											translate }} </th>
										<td class="d-none" mat-cell *matCellDef="let element"> {{element.pictureUser}} </td>
										<td class="d-none" mat-footer-cell *matFooterCellDef> <strong>{{getTotalOfColumn('pictureUser')}}</strong>
										</td>
									</ng-container>

									<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
									<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
									<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
								</table>

								<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons
									aria-label="Select page of periodic elements">
								</mat-paginator>

							</div>

							<div class="col-sm-12 flex justify-content-center align-content-center mt-3" *ngIf="!dataSource">
								<div class="col-md-6 no-data-message">
									<p>{{"TOTALHISTORYUSER.NODATATOSHOW" | translate }}.</p>
									<p>{{"TOTALHISTORYUSER.PRESSTOSEARCH" | translate }}.</p>
								</div>

							</div>
						</div>
					</ng-container>
					<ng-template #loadingSpinner>
						<div class="flex justify-content-center">
							<div>
								<mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
							</div>
						</div>
					</ng-template>

				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
