<nb-card accent="primary" class="mb-0 mb-0 col-md-12">
	<nb-card-header class="flex">
		<div class="col-10 modal-title justify-content-left text-left">
			<h2>{{ "RECUPERARCONTRASENA.RECUPERARCONTRASENA" | translate }}</h2>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle" [options]="{ animation: { type: 'zoom' } }"
			(click)="closeModal()"></nb-icon>
	</div>
	<nb-card-body>
		<app-loading [isVisible]="loading"></app-loading>

		<div class="text-center position-relative">
			<div class="" *ngIf="currentStep === '1'">
				<p class="text-alert">
					{{ "REGISTRO.INGRESEDATOS" | translate }}
			</div>

			<!-- FIRST STEP-->
			<form [formGroup]="step1" (ngSubmit)="validateUser()" #Form1="ngForm" *ngIf="currentStep === '1'">
				<!-- NICK USER -->
				<div class="row form-group py-3 justify-content-center" align="left">
					<div class="col-sm-12 col-md-6 mt-4">
						<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="nick" formControlName="nick" placeholder="{{ 'REGISTRO.NICKEJEMPLO' | translate }}"/>
					</div>
				</div>

				<!-- SECURITY QUESTIONS -->
				<div class="row form-group justify-content-center" align="left">
					<div class="col-sm-12 col-md-6 mt-4">
						<select class="Select-form" fieldSize="medium" status="primary"	formControlName="idSecurityQuestions"	id="idSecurityQuestions">
							<option disabled selected value="">
								{{ 'REGISTRO.QUESTION1' | translate }}
							</option>
							<option	*ngFor="let question of securityQuestions" [value]="question.id">
								{{ question.question }}
							</option>
						</select>
						<div *ngFor="let validation of validationMessages.idSecurityQuestions">
							<div class="error-message" *ngIf="question1Control?.hasError(validation.type) && (question1Control?.dirty || question1Control?.touched || Form1.submitted)">
								{{ validation.message }}
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 mt-4">
						<input nbInput status="primary"	fullWidth	fieldSize="medium" class="form-control" type="text" formControlName="securityAnswer" placeholder="{{ 'REGISTRO.MYANSWER1' | translate }}"/>
						<div *ngFor="let validation of validationMessages.securityAnswer">
							<div class="error-message" *ngIf="answer1Control?.hasError(validation.type) && (answer1Control?.dirty || answer1Control?.touched || Form1.submitted)">
								{{ validation.message }}
							</div>
						</div>
					</div>
				</div>

				<div class="row mb-4"></div>

				<div class="row form-group justify-content-center" align="left">
					<div class="col-sm-12 col-md-6 mt-4">
						<select class="Select-form" fieldSize="medium" status="primary" formControlName="idSecurityQuestions2" id="idSecurityQuestions2">
							<option disabled selected value="">
								{{ 'REGISTRO.QUESTION2' | translate }}
							</option>
							<option *ngFor="let question of securityQuestions" [value]="question.id">
								{{ question.question }}
							</option>
						</select>
						<div *ngFor="let validation of validationMessages.idSecurityQuestions">
							<div class="error-message" *ngIf="question2Control?.hasError(validation.type) && (question2Control?.dirty || question2Control?.touched || Form1.submitted)">
								{{ validation.message }}
							</div>
						</div>
					</div>

					<div class="col-sm-12 col-md-6 mt-4">
						<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="text" type="text" formControlName="securityAnswer2" placeholder="{{ 'REGISTRO.MYANSWER2' | translate }}"/>
						<div *ngFor="let validation of validationMessages.securityAnswer2">
							<div class="error-message" *ngIf="answer2Control?.hasError(validation.type) && (answer2Control?.dirty || answer2Control?.touched || Form1.submitted)">
								{{ validation.message }}
							</div>
						</div>
					</div>
				</div>

				<!-- NEXT BUTTON -->
				<div class="row row mt-5 mb-4" style="
								display: flex;
								align-items: center;
								flex-direction: column;
								justify-content: center;
							">
					<div class="col-sm-6 col-md-4 justify-content-center">
						<button
							class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block btnLogin"
							nbButton status="primary" hero type="submit">
							<span>{{ "VALIDAR.VALIDARDATOS" | translate }}</span>
						</button>
					</div>
				</div>
			</form>
			<!-- END FIRST STEP-->

			<!-- SECOND STEP-->
			<form	[formGroup]="step2" (ngSubmit)="cambiarContrasena()" #Form2="ngForm" *ngIf="currentStep === '2'">
			<div class="row justify-content-center">
				<!-- PASSWORD -->
				<div class="col-sm-12 col-md-6 mt-4">
					<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" [type]="hidePassword ? 'password' : 'text'" formControlName="keyWord" placeholder="{{ 'USERDATA.CREATEPASSWORD' | translate }}"/>
					<div *ngFor="let validation of validationMessages.keyword">
						<div class="error-message" *ngIf="keywordControl?.hasError(validation.type) && (keywordControl?.dirty || keywordControl?.touched || Form2.submitted)">
							{{ validation.message }}
						</div>
					</div>
					<button class="hide-button" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
						<mat-icon>{{ hidePassword ? "visibility_off" : "visibility"	}}</mat-icon>
					</button>
				</div>
				<!-- REPEAT PASSWORD -->
				<div class="col-sm-12 col-md-6 mt-4">
					<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" [type]="hidePassword ? 'password' : 'text'"
					formControlName="repeatKeyWord" placeholder="{{ 'CAMBIARPASS.REPEATNEWPASS' | translate }}" (input)="validateRepeatPassword()"/>
					<div *ngFor="let validation of validationMessages.repeatKeyWord">
						<div class="error-message" *ngIf="repeatKeywordControl?.hasError(validation.type) && (repeatKeywordControl?.dirty || repeatKeywordControl?.touched)">
							{{ validation.message }}
						</div>
					</div>
					<button class="hide-button" type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
						<mat-icon>{{	hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
					</button>
				</div>
			</div>
			<!-- SUBMIT BUTTON-->
			<div class="row mt-5 mb-4" style="
						display: flex;
						align-items: center;
						flex-direction: column;
						justify-content: center;
					">
				<div class="col-sm-6 col-md-6 justify-content-center">
					<button class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block"
						nbButton status="primary" hero type="submit">
						<span>{{ "CAMBIARPASS.CAMBIARPASS" | translate }}</span>
					</button>
				</div>
			</div>
		</form>
		<!-- END SECOND STEP-->

		</div>
	</nb-card-body>

</nb-card>

