app-recuperar-pass-nick {
	.perfiles {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.material-icons.mat-icon-no-color {
		color: rgba(0, 0, 0, 0.54);
		font-size: 32px;
		&.close-button {
			color: #24488e;
		}
	}

	select{width: 100%;}
	.form-group {
		margin: 0.25rem 0 0 0;
	}

	.mat-flat-button.mat-primary,
	.mat-raised-button.mat-primary,
	.mat-fab.mat-primary,
	.mat-mini-fab.mat-primary {
		background-color: #0ca6e4;
	}

	.mat-button,
	.mat-raised-button,
	.mat-icon-button,
	.mat-stroked-button,
	.mat-flat-button,
	.mat-fab,
	.mat-mini-fab {
		font-size: 18px;
	}

	.error-message {
		color: rgba(179, 12, 12, 0.816) !important;
		text-align: center;
		font-size: 14px;
		margin-top: 5px;
	}

	.textoFontSize1 {
		color: #333;
		font-size: 20px;
	}

	.image-person {
		position: absolute;
		top: 85px;
		right: -212px;
		img {
			height: 380px;
			width: auto;
		}
	}

	.title {
		color: #204b97;
		font-size: 48px;
		font-weight: 600;
		margin: 15px 0;
		text-shadow: 2px 2px 2px #204b97;
	}

	.logo {
		width: auto;
    height: 200px;
	}

	.hide-button {
		position: absolute;
		top: -2px;
		right: 25px;
	}

	.position-relative {
		position: relative;
	}

	@media (max-width: 1024px) {
		.image-person {
			display: none;
		}
	}
	.positionTop {
		top: 22%;
	}

	.disabled {
		background: linear-gradient(137deg, #dce4e8, #e3e6e6);
		border: 3px solid #bbc9d4;
		pointer-events: none;
		color: #bbbbbb;
		box-shadow: 4px 4px 6px #5c5c5c;
	}

	.disable {
		pointer-events: none;
		color: #bbbbbb !important;
	}

	.form-control {
		border: none;
		background-color: transparent;
		border-bottom: 1px solid #24488e;
		border-radius: 0;
		padding-left: 5px;
	}

	.form-control::placeholder {
		color: #24488e;
	}

	.form-control:focus {
		background-color: transparent;
		border-color: #0d224b;
	}

	span {
		&.info {
			color: #1e88e5;
			font-size: 12px;
		}
	}

	h3 {
		color: #273b6a;
		font-size: 16px;
		font-weight: 600;
	}

	.blue {
		color: #273b6a;
		font-weight: 600;
	}

	.lightblue {
		color: #3555e5;
		font-weight: 600;
		cursor: pointer;
	}

	.toggle-switch {
		pointer-events: none;
	}

	nb-icon {
		font-size: 2.25rem !important;
	}

	.text-alert {
		background-color: rgba(255, 113, 113, 0.981);
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
	}
}

@media (max-width: 900px) {
	.modal-dialog-60 .modal-dialog {
		max-width: 90%;
	}
}
