app-node-column-files{

    .image-upload {
        border: 1px solid rgb(77, 114, 245);
        position: relative;
        background-size: 100%;
    }

    .image-upload:before {
        content: "";
        background-color: rgb(255, 255, 255);
        position: absolute;
        opacity: 0.7;
    }

    .image-update div input,
    label {
        z-index: 1;
    }

    .icon-upload{
        height: calc(100% - 40px);
    }

    video {
        object-fit: contain;
        height: 100%;
    }

    .medios {
        width: 30px;
        height: 30px;
        color: rgb(29, 73, 153);
        font-size: 24px;
        background-color: white;
        border-radius: 10px;
        line-height: 30px;
        box-shadow: 6px 6px 12px #414d5a, -6px -6px 12px #cff5ff;
    }

    .imagenInicial {
        opacity: 0.3;
        width: 100px;
        height: 100px;
        font-size: 100px;
    }

    .edit {
        width: 21px;
        height: 21px;
        font-size: 16px;
        color: rgb(29, 73, 153);
        background-color: white;
        border-radius: 50%;
        line-height: 21px;
    }

    .container-power {
        position: absolute;
        writing-mode: vertical-lr;
        right: 15px;
        bottom: -5px;
    }

    .flexItemsItem {
        flex: 0 1 auto;
    }

    .icon-abstract {
        vertical-align: middle;
        color: #ffffff;
    }

    .operator-icon {
        color: rgba(247, 191, 10);
        width: 20px;
        height: 20px;
        font-size: 20px;
        z-index: 1;
    }

    .file-uploader {
        box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
        .mat-button-toggle {
            .mat-button-toggle-button {
                height: 100%;
                width: 100%;

                .mat-button-toggle-label-content {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .file-button {
        .mat-radio-label-content {
            display: none;
        }
    }

    .files-container {
        height: calc(96vh - 91px);

        input {
            display: none;
        }
    }

    @media (max-width: 1168px) {
        .files-container {
            height: calc(96vh - 131px);
        }
    }

    .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
        border-color: #fdf6ee;
    }

    .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
        background-color: #fdf6ee;
    }
    .ngx-copilot-init{
        height: 100% !important;
        .mat-button-toggle-group-appearance-standard, .mat-button-toggle-standalone.mat-button-toggle-appearance-standard{
            padding-bottom: 10px;
        }
    }

}
