.header-icon.mat-icon {
    width: 72px !important;
    height: 72px !important;
    font-size: 72px !important;
}

.hypermedia-button {
    // width: 180px;
    // min-width: 180px;
    // max-width: 180px;

    &.mat-button-base {
        width: 180px !important;
        min-width: 180px !important;
        max-width: 180px !important;
    }

    .mat-button-wrapper {
        width: 100% !important;
    }

    input[type="file"] {
        display: none;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
    }

    .center-content{
        display: flex;
        align-content: center;
        align-items: center;
    }

}

button{
    background-color: transparent;
}


.idioma{
  overflow: auto;
  border-top: 1px solid rgba(0, 0, 0, 0.103);
  border-left: 1px solid rgba(0, 0, 0, 0.103);
  border-radius: 5px;

  -webkit-box-shadow: inset 15px 15px 21px -26px rgba(150,150,150,1);
  -moz-box-shadow: inset 15px 15px 21px -26px rgba(150,150,150,1);
  box-shadow: inset 15px 15px 21px -26px rgba(150,150,150,1);
}   

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }
