app-node-mode-auto {
	height: 100%;
	// border: 3px solid #7ca1fe;
	background: linear-gradient(134deg, #Dfdfdf, #cdcdcd);

	.modal-body {
		overflow-x: hidden;
		overflow-y: hidden;
	}

	#toolbar-bottom {
		// position: absolute;
		// z-index: 100;
		// bottom: 0px;
		// left: 0px;
		width: 100%;
		height: 12vh;
		//background color pale gradient
		background-image: linear-gradient(to top,
				rgba(9, 28, 122, 0.7),
				rgba(21, 45, 130, 0.7),
				rgba(35, 61, 136, 0.7),
				rgba(50, 76, 141, 0.7),
				rgba(66, 91, 145, 0.7),
				rgba(84, 106, 155, 0.7),
				rgba(102, 122, 165, 0.7),
				rgba(120, 138, 175, 0.7),
				rgba(144, 160, 195, 0.7),
				rgba(168, 182, 214, 0.7),
				rgba(192, 205, 235, 0.7),
				rgba(217, 228, 255, 0.7));
		//box-shadow: 0px -14px 30px 20px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(2.1px);
		-webkit-backdrop-filter: blur(2.1px);
		//border: 1px solid #C0C0C0;
		display: flex;
		justify-content: center;
		align-items: center;

		//outline: red solid 1px;
		.mat-icon-button {
			background-color: transparent;
			box-shadow: none;
			margin: 0;
			height: 45px !important;
			width: 45px !important;

			.mat-icon {
				height: 45px !important;
				width: 45px !important;
			}
		}
	}

	@media (max-width: 600px) {
		#toolbar-bottom {
			height: 10vh;
		}
	}

	@media screen and (max-height: 420px) {
		#toolbar-bottom {
			height: 15vh;
		}
	}

	#toolbar-bottom-nodes {
		position: absolute;
		z-index: 100;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 6rem;
		//background color pale gradient
		background-image: linear-gradient(to top,
				rgba(9, 28, 122, 0.7),
				rgba(21, 45, 130, 0.7),
				rgba(35, 61, 136, 0.7),
				rgba(50, 76, 141, 0.7),
				rgba(66, 91, 145, 0.7),
				rgba(84, 106, 155, 0.7),
				rgba(102, 122, 165, 0.7),
				rgba(120, 138, 175, 0.7),
				rgba(144, 160, 195, 0.7),
				rgba(168, 182, 214, 0.7),
				rgba(192, 205, 235, 0.7),
				rgba(217, 228, 255, 0.7));
		//box-shadow: 0px -14px 30px 20px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(2.1px);
		-webkit-backdrop-filter: blur(2.1px);
		//border: 1px solid #C0C0C0;
		display: flex;
		justify-content: center;
		align-items: center;

		//outline: red solid 1px;
		.mat-icon-button {
			background-color: transparent;
			box-shadow: none;
			margin: 0;
			height: 45px !important;
			width: 45px !important;

			.mat-icon {
				height: 45px !important;
				width: 45px !important;
			}
		}
	}

	@media (max-width: 600px) {
		#toolbar-bottom-nodes {
			height: 3rem;
		}
	}

	.anterior {
		margin-left: 10px;
	}

	.siguiente {
		margin-right: 10px;
	}

	.body-container {
		background-color: white;
		box-shadow: 20px 2rem 1rem 0 rgba(44, 51, 73, 0.1);
		height: 88vh;
		overflow-y: auto;
		width: 70%;
		margin: 0 auto;

		&.hide-scrollbars {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
	}

	@media (max-width: 600px) {
		.body-container {
			height: 90vh;
		}
	}

	@media screen and (max-height: 420px) {
		.body-container {
			height: 85vh;
		}
	}

	.body-container::-webkit-scrollbar {
		display: none;
	}

	.image-top-down {
		width: 55%;
		background-color: white;
		height: 40px;
	}

	.image-top-down::-webkit-scrollbar {
		display: none;
	}

	@media (max-width: 1168px) {

		.body-container,
		.image-top-down {
			width: 80%;
		}
	}

	@media (max-width: 800px) {

		.body-container,
		.image-top-down {
			width: 100%;
		}
	}

	.header-close {
		display: flex;
		justify-content: flex-start;
		background-color: transparent;
		position: absolute;
		right: 95%;
		top: 50px;
		flex-direction: column;
		z-index: 50;
	}

	.cont-btn-footer {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;
		gap: 30px;
		width: 100%;
		padding: 1rem 5rem;
	}

	@media (max-width: 840px) {
		.cont-btn-footer {
			gap: 15px;
			padding: 1rem 5rem 1rem 1rem;
		}
	}

	@media (max-width: 600px) {
		.cont-btn-footer {
			justify-content: center;
		}
	}

	@media (max-width: 40px) {
		.cont-btn-footer {
			gap: 10px;
		}
	}

	.scroll-arrow {
		position: fixed;
		bottom: 100px;
		left: 20px;
		cursor: pointer;
	}
}
