@import "src/assets/scss/_common.scss";
@import "src/assets/common.scss";
$DefaultFontFamily: 'San Francisco';

#sigma-container {
	position: absolute;
	height: 100vh;
	width: 100%;
	border: none;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 10;
	left: 0px;
	top: 0px;
	background-position: center center;
	background-color: white;
}

#lateral-menu {
	position: absolute;
	z-index: 100;
	right: 10px;
	top: 30px;
	background-color: transparent;
	height: 50vh;
}

@media (max-height: 500px) {
	#lateral-menu {
		top: 10px;
	}
}

#toolbar-bottom {
		position: absolute;
		z-index: 100;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 8rem;
		//background color pale gradient
		background-image: linear-gradient(to top,
		rgba(9,28,122,0.7),
		rgba(21,45,130,0.7),
		rgba(35,61,136,0.7),
		rgba(50,76,141,0.7),
		rgba(66,91,145,0.7),
		rgba(84,106,155,0.7),
		rgba(102,122,165,0.7),
		rgba(120,138,175,0.7),
		rgba(144,160,195,0.7),
		rgba(168,182,214,0.7),
		rgba(192,205,235,0.7),
		rgba(217,228,255,0.7)
		);
		//box-shadow: 0px -14px 30px 20px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(2.1px);
		-webkit-backdrop-filter: blur(2.1px);
		//border: 1px solid #C0C0C0;
		display: flex;
		justify-content: center;
		align-items: center;
		//outline: red solid 1px;
		.mat-icon-button{
				background-color: transparent;
				box-shadow: none;
				margin: 0;
				height: 45px!important;
				width: 45px!important;
				.mat-icon {
						height: 45px!important;
						width: 45px!important;
				}
		}
}

@media (max-width: 600px) {
	#toolbar-bottom {
		height: 5rem;
	}
}

.cont-btn-footer {
	display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 100%;
  padding: 1rem 5rem;
}

@media (max-width: 840px) {
	.cont-btn-footer {
		gap: 15px;
		padding: 1rem 5rem 1rem 1rem;
	}
}

@media (max-width: 600px) {
	.cont-btn-footer {
		justify-content: center;
	}
}

@media (max-width: 40px) {
	.cont-btn-footer {
		gap: 10px;
	}
}

.mat-icon-button {
    margin-left: 15px;
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    .mat-icon {
        width: 80%;
        display: block;
        position: relative;
    }
    .mat {
        width: 100%;
        display: block;
        position: relative;
    }
}

button {
    outline: none;
}

/* ------------ POPOVER ------------ */

.popover {
    border: none;
    position: absolute;
    display: none;
    background: linear-gradient(134deg, #F3F3F3, #FFFFFF);
    border: 1px solid #d9d9d9;
    padding: 10px;
    width: auto;
    max-width: 500px;
    box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
    font-family: $DefaultFontFamily;
    .mat-icon-button{
        background: transparent;
        box-shadow: none;
        margin: 0;
        height: 45px!important;
        width: 45px!important;
        .mat-icon {
            height: 45px!important;
            width: 45px!important;
        }
    }
    span{
        color: #4155b3;
        font-weight: 600;
        font-size: 12px;
    }

}
.popover2 {
    border: none;
    position: absolute;
    display: none;
    background: linear-gradient(134deg, #F3F3F3, #FFFFFF);
    border: 1px solid #d9d9d9;
    padding: 10px;
    width: auto;
    max-width: 500px;
    box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
    z-index: 9999;
    border-radius: 0.3em;
    font-family: $DefaultFontFamily;
    .mat-icon-button{
        background: transparent;
        box-shadow: none;
        margin: 0;
        height: 40px!important;
        width: 40px!important;
        .mat-icon {
            height: 40px!important;
            width: 40px!important;
        }
    }
    span{
        color: #4155b3;
        font-weight: 600;
        font-size: 14px;
    }
}


.popover3{
    position: absolute;
    display: none;
    height: auto;
    max-height: 630px;
    width: 350px;
    box-shadow: 0.5rem 1rem 2rem 0 rgba(44, 51, 73, .1);
    z-index: 9999;
    background-color: #EDF0F4;
		border: 2px solid #9f8e8e;
    border-radius: 10px 10px;
    font-family: $DefaultFontFamily;
    button {
        z-index: 9999;
        &.button-verde{
            font-weight: 500;
            margin: 10px;
            border-radius: 50px;
            background: linear-gradient(145deg, #09d86f, #0bff84);
        }
    }
    p{
        font-size: inherit;
        padding: 0;
        color: inherit;
        font-weight: inherit;
    }

}
.popover3_ {
    border: none;
    position: absolute;
    display: none;
    background: none;
    /* border: 1px solid #999; */
    padding: 10px;
    height: 300px;
    width: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    font-family: $DefaultFontFamily;
    img{
        border: none;
        width: auto;
        height: auto;
        margin: none;
        border-radius:none;
        padding: none;
        max-width: 100%;
        max-height: 100%;
        display: block;
    }
}

.popover:after,
.popover:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popover:after {
    /*border-color:  rgba(255, 255, 255, 0); */
    border-right-color: #f3f3f3;
    border-width: 10px;
    top: 50%;
    margin-top: -10px;
}

.popover:before {
    /*border-color: rgba(201, 201, 201, 0); */
    border-right-color: #c9c9c9;
    border-width: 11px;
    top: 50%;
    margin-top: -11px;
}
/* ------------ AVATAR -------------- */

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    /*border-radius: 50%;*/
}

.cerrar {
    position: absolute;
    right: 6px;
    top: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    z-index: 2;
    transition: 0.1s;

}
.cerrar:hover {
    transition: 0.2s;
    font-size: x-large;
}

.app-version{
    position: absolute;
    bottom: 10px;
    left: 60px;
    font-style: italic;
    font-size: 15px;
    z-index: 10;
    mix-blend-mode: difference;
    color: white;
}
.image-container{
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
		border: 6px solid white;
}

.circle-button {
    border-radius: 50%;
    padding: 6px;
    background: linear-gradient(170deg, #D9D9D9, #F1F1F1);;
    box-shadow: 1px 2px 1px #08222e, -1px -1px 1px white;
    // 1px 2px 1px #08222e, -1px -1px 1px white;
}

.w-20{
    width: 20%;
}

.graph-title{
    @extend .app-version;
    top: 10px;
    left: 60px;
    position: relative;
		cursor: pointer;
}

.sigma-progress-bar{
    position: relative;
    z-index: 999;
}

.domain-demo{
    @extend .app-version;
    mix-blend-mode: initial;
    bottom: 2%;
    left: 67%;
    position: relative;
}

.domain-demo-alquilar-cancelar{
    @extend .app-version;
    mix-blend-mode: initial;
    bottom: 2%;
    left: 4%;
    position: relative;
}
