

<div class="popover" id="pActions" #pActions>
    <div class="text-right">
        <mat-icon class="icon-color-blue closebtn pointer text-right" ngbTooltip="{{ 'SIDEBARDERECHO.CERRAR' | translate }}" (click)="scUtils.closeCreateMenu()">close</mat-icon>
    </div>
    <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.ANADIRIDEA' | translate" placement="top" style="z-index: 9999;" (click)="registrarNodo()">
                <mat-icon class="circle-button" svgIcon="AnadirIdea"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.ANADIRIDEA' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.ANADIRACTIVIDAD' | translate" placement="top" style="z-index: 9999;" (click)="createQuiz()">
                <mat-icon class="circle-button" svgIcon="AnadirActividad"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.ANADIRACTIVIDAD' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.ANADIRFAMILIAACTIVIDADES' | translate" placement="top" style="z-index: 9999;" (click)="createQuizMultiple()">
                <mat-icon class="circle-button" svgIcon="AnadirActividadesMultiples"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.ANADIRFAMILIAACTIVIDADESCORTA' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button color="primary" [ngbTooltip]="'SIGMACOMPONENT.PASTE' | translate" placement="top" style="z-index: 9999;">
                <mat-icon class="circle-button" svgIcon="content_paste" color="primary"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.PASTE' | translate}}</span>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="d-flex flex-row flex-wrap">
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.TRAERIDEA' | translate"
                    placement="bottom" style="z-index: 9999;" (click)="alquilarIdea()" >
                <mat-icon class="circle-button" svgIcon="TraerIdea"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.TRAERIDEA' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.TRAERACTIVIDAD' | translate"
                placement="bottom" style="z-index: 9999;" (click)="alquilarActividad()">
                <mat-icon class="circle-button" svgIcon="TraerActividad"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.TRAERACTIVIDAD' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.ANADIRPEGATINA' | translate" placement="bottom" style="z-index: 9999;" (click)="addSticker()">
                <mat-icon class="circle-button" svgIcon="Sticker"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.ANADIRPEGATINA' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.ANADIRFONDO' | translate" placement="bottom" (click)="bgUtils.setBackground()" style="z-index: 9999;">
                <mat-icon class="circle-button" svgIcon="insert_photo" color="primary"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.ANADIRFONDO' | translate}}</span>
        </div>

        <div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'" *ngIf="bgUtils.background">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.REMOVEBACKGROUND' | translate" placement="bottom" (click)="removeBackground()" style="z-index: 9999;">
                <mat-icon class="circle-button" svgIcon="delete" color="primary"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.REMOVEBACKGROUND' | translate}}</span>
        </div>
    </div>
		<mat-divider></mat-divider>
		<div class="d-flex flex-row flex-wrap">
			<div class="d-flex flex-column text-center align-items-center p-2" [ngClass]="bgUtils.background ? 'w-20' : 'w-25'">
					<button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.TRAERIDEA' | translate"
									placement="bottom" style="z-index: 9999;" (click)="addText()" >
							<mat-icon class="circle-button" svgIcon="edit"></mat-icon>
					</button>
					<span class="mt-2">{{'SIGMACOMPONENT.ADDTEXT' | translate}}</span>
			</div>

	</div>
</div>

<div class="popover" id="pConnect">
    <mat-icon class="mat" color="primary">{{connectIcon}}</mat-icon>
</div>

<div class="popover" id="pNodeInfo">
    <h5>{{infoNodeTitle}}</h5>
    <p>{{infoNodeDesc}}</p>
</div>

<div class="popover3 card" id="pEditMenu3" #nodeQuizzPlaceHolderPopover>
    <div class="text-right  p-2">
        <mat-icon class="icon-color-blue closebtn pointer text-right" ngbTooltip="{{ 'SIDEBARDERECHO.CERRAR' | translate }}" (click)="scUtils.cerrarPlaceHolder()">close</mat-icon>
    </div>
    <div class="card-body">
        <div class="image-container mb-2" [style.background-image]="imagePlaceHolder"></div>
        <small><b>{{infoNodeTitlePlaceHolder}}</b></small>
        <small *ngIf="description !== undefined"><p class="card-text">{{description  | truncate:[180, "..."]}}</p></small>
        <div class="row">
            <div *ngIf="!canEdit" class="col-12  d-flex justify-content-between">
                <div class="col-6">
                    <!-- <button  class="btn btnDarkBlue-cardTarget btn-sm mt-2  mb-2 flex justify-content-center" (click)="asociarNodo(nodeClickPopover)"
                    *ngIf="!canEdit && nodeClickPopover?.associated">
                        <mat-icon svgIcon="link" class="material-icons-outlined"></mat-icon>
                        <span>{{'ASOCIACIONES.ASOCIACIONES' | translate}}</span>
                    </button> -->
										<button *ngIf="!canEdit && nodeClickPopover?.associated" class="mt-2  mb-2"  style="padding: 0.75rem;" nbButton hero status="primary" (click)="asociarNodo(nodeClickPopover)">{{'ASOCIACIONES.ASOCIACIONES' | translate}}<nb-icon icon="link-2"></nb-icon></button>
                </div>
                <div class="col-6">
                    <!-- <button  class="btn btnPlayGreen-cardTarget btn-sm mt-2  mb-2 flex justify-content-center" (click)="playNode(nodeClickPopover)" >
                        <mat-icon class="material-icons-outlined" style="color: #14171c">play_circle_filled</mat-icon>
                        <span>{{'SIGMACOMPONENT.PLAY' | translate }}</span>
                    </button> -->

										<button  class="mt-2  mb-2" style="padding: 0.75rem;" nbButton hero status="success" (click)="playNode(nodeClickPopover)">{{'SIGMACOMPONENT.PLAY' | translate }}<nb-icon icon="play-circle"></nb-icon></button>
                </div>
            </div>


            <div *ngIf="canEdit" class="col-12  d-flex justify-content-between">
               <div>
                    <!-- <button  class="btn btnDarkBlue-cardTarget btn-sm mt-2  mb-2 flex justify-content-center"
                        (click)="asociarNodo(nodeClickPopover)"
                        >
                        <mat-icon svgIcon="link" class="material-icons-outlined">link</mat-icon>
                        <span>{{'ASOCIACIONES.ASOCIAR' | translate}}</span>
                    </button> -->

										<button class="mt-2  mb-2" nbButton hero status="primary" (click)="asociarNodo(nodeClickPopover)">{{'ASOCIACIONES.ASOCIAR' | translate}}<nb-icon icon="link-2"></nb-icon></button>
               </div>
               <div>
                    <!-- <button class="btn btnPlayGreen-cardTarget btn-sm mt-2  mb-2 flex justify-content-center  float-right"
                    (click)="editNode(nodeClickPopover)"
                    >
                        <mat-icon class="material-icons-outlined" style="color: #14171c">edit</mat-icon>
                        <span>{{'SIGMACOMPONENT.EDIT' | translate }}</span>
                    </button> -->

										<button class="mt-2  mb-2" nbButton hero status="success" (click)="editNode(nodeClickPopover)">{{'SIGMACOMPONENT.EDIT' | translate }}<nb-icon icon="edit-2"></nb-icon></button>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="popover2" id="pEditMenu" #nodeQuizzEditPopover>
    <div class="d-flex flex-row align-items-center justify-content-between">
        <span class="text-center" style="flex: 1;">{{infoNodeTitle}}</span>
        <mat-icon class="icon-color-blue closebtn pointer text-right" ngbTooltip="{{ 'SIDEBARDERECHO.CERRAR' | translate }}" (click)="scUtils.cerrarEditMenu()">close</mat-icon>
    </div>

    <div class="d-flex flex-row flex-wrap justify-content-center mt-2">
        <div class="d-flex flex-column text-center align-items-center p-2">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.EDIT' | translate" placement="top" (click)="editElement()">
                <mat-icon class="circle-button" color="primary">edit</mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.EDIT' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.COPYBUFFER' | translate" placement="top" (click)="scUtils.copyElement()">
                <mat-icon class="circle-button" color="primary">content_copy</mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.COPYBUFFER' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2" *ngIf="isNode">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.LINK' | translate" placement="top" (click)="scUtils.copyElement()">
                <mat-icon class="circle-button" svgIcon="link"></mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.LINK' | translate}}</span>
        </div>
        <div class="d-flex flex-column text-center align-items-center p-2"  *ngIf="loginService.esAutor()">
            <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.DELETE' | translate" placement="top" (click)="scUtils.deleteElement()">
                <mat-icon class="circle-button" color="primary">delete</mat-icon>
            </button>
            <span class="mt-2">{{'SIGMACOMPONENT.DELETE' | translate}}</span>
        </div>

        <div class="d-flex flex-row text-center align-items-center p-2" *ngIf="loginService.esAutor()" >
                <div class="d-flex flex-column align-items-center">
                    <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.CERTIFICAR' | translate" placement="top"  (click)="certifiedQuiz($event)">
                        <mat-icon class="circle-button" svgIcon="quiz_certificado"></mat-icon>
                    </button>
                    <span class="mt-2">{{'SIGMACOMPONENT.CERTIFICAR' | translate}}</span>
                </div>
                <div class="pl-3">
                    <form [formGroup]="formulario" #thisForm="ngForm">
                        <mat-slide-toggle class="buttonPublicar" (click)="certifiedQuiz($event)" formControlName="certificadoQuiz"></mat-slide-toggle>
                    </form>
                </div>
        </div>

    </div>
</div>


<div style="position: relative;" [style.display]="userIsEditor && canEdit == false ? 'none' : 'block'">
    <div (window:resize)="onResize($event)" [ngbTooltip]="'SIGMACOMPONENT.ADDMULTIQUIZZ' | translate"  id="sigma-container"
         (contextmenu)="onRightClick()" #sigmaContainer>
    </div>
</div>
<mat-progress-bar mode="determinate" value="{{progress}}" *ngIf="progress" class="sigma-progress-bar"></mat-progress-bar>
<app-loading [isVisible]="loading"></app-loading>
<app-file-uploader *ngIf="bgUtils.settingBackground" (file)="newImage($event)" (closeBgEdit)="bgUtils.setBackground()" [activeColor]="'orangered'" [baseColor]="'lightgray'"></app-file-uploader>
<div class="app-version">{{version}}</div>
<!-- <div class="graph-title">
	<a (click)="emitshowModalCourse('gridList')">{{graphTitle}}</a>
</div> -->


<div *ngIf="isDemo" class="domain-demo col-4">
    <button type="button" class="btn btn-success btn-sm" (click)="login()" >{{'GLOBALS.ENTER' | translate}}</button>
    <button type="button" class="btn btn-info btn-sm ml-2"  (click)="registrarme()">{{'SIGMACOMPONENT.FREESIGNUP' | translate}}</button>
</div>

<div *ngIf="modoTraerActividad || modoTraerNodo" class="domain-demo-alquilar-cancelar col-4">
    <div class="alert alert-info" role="alert">
        <span>{{'SIGMACOMPONENT.CANCELARALQUILAR' | translate}}</span>
        <div class=" d-flex justify-content-end">
            <button type="button" class="btn btn-danger btn-sm" (click)="cancelarOperacionAlquilar()" >{{'ACEPTARCANCELAR.CANCELAR' | translate}}</button>
        </div>
    </div>
</div>
<!-- TOOLBAR FOR PADS -->

<div id="toolbar-bottom">
	<div class="cont-btn-footer">
		<app-pad-controller class="glass" *ngIf="ModoAuto" [upAndDownOff]="false" [isModalOpen]="isModalOpen" [isShowLabels]="isShowLabels" [listNodeAuto]="ModoAuto" [isShow]="isShowPads" [canEdit]="changedToEditor" [NodeViewPads]="zoomNode" [nextEnabled]="nextEnabled" [backEnabled]="backEnabled" (action)="getActionFromPads($event)"></app-pad-controller>
		<app-pad-center class="glass" (modeAuto)="openModalModeAuto()" [courseName]="courseTitle" [graphTitle]="graphTitle" [isShow]="isShowPads" [isShowLabels]="isShowLabels" [canEdit]="changedToEditor"></app-pad-center>
		<app-pad-buttons class="glass" (modeAuto)="openModalModeAuto()" [courseName]="courseTitle" [isShow]="isShowPads" [isShowLabels]="isShowLabels" [canEdit]="changedToEditor"></app-pad-buttons>
	</div>

	<app-graph-buttons (action)="getActionFromPads($event)" [canEdit]="changedToEditor"></app-graph-buttons>
</div>




<!-- LATERAL MENU RIGHT  -->
<div id="lateral-menu" style="height: 10vh;">
    <app-graph-lateral-icons [isShowPads]="isShowPads" [isShowLabels]="isShowLabels" (action)="getActionFromRightMenu($event)"></app-graph-lateral-icons>

    <!-- MODAL -->
    <app-modal #myModal titulo="{{ 'SIGMACOMPONENT.REGISTERCOURSE' | translate }}">
        <div class="modal-body">
            <app-registrar-curso></app-registrar-curso>
        </div>
    </app-modal>

    <!-- MODAL -->
    <app-modal #modalAlert>
        <div class="modal-body">
            <div>{{ 'SIGMACOMPONENT.DELETENODESQUESTION' | translate }}</div>
            <div mat-dialog-actions>
                <button mat-button>{{ 'SIGMACOMPONENT.CANCEL' | translate }}</button>
                <button mat-button cdkFocusInitial>{{ 'SIGMACOMPONENT.OK' | translate }}</button>
            </div>
        </div>
    </app-modal>
</div>
