<div *ngIf="isVisible" class="loading">
    <div class="loading-item">				
	    <div><span class="textoFontSize1 colorTextoActivado font-weight-bold">{{ 'LOADING.CARGANDO' | translate }}</span></div>
	    <img src="/assets/images/dots_2.gif" class="loading-gif" alt="{{ 'LOADING.CARGANDO' | translate }}" />
    </div>    
</div>