.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    line-height: 100%;
    text-align: center;
    background: rgba(255,255,255,.9);
    pointer-events: none;
}

.loading-item {
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    img {
        display: inline;
        width: 80px;
        height: 80px;
        margin: 0 10px;
    }
    i {
        display: inline;
        font-size: 30px
    }
}