app-restore-password{

    .mat-button, .mat-raised-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button, .mat-fab, .mat-mini-fab {
        font-size: 18px;
    }

    .mat-icon {
        font-size: 32px;
        color: rgba(0, 0, 0, 0.54);
    }

    .form-group {
        margin: 0.25rem 0 0 0;
    }

    .form-control{
        border:none;
        background-color: transparent;
        border-bottom: 1px solid #24488E;
        border-radius: 0;
        padding-left: 5px;
    }
    .form-control::placeholder{
        color: #24488E;
    }
    .form-control:focus{
        background-color: transparent;
        border-color: #0d224b;
    }


    .error-message{
        color: rgba(179, 12, 12, 0.816) !important;
        text-align: left;
        font-size: 14px;
        margin-top: 5px;
    }
}


