<nb-card accent="primary"
	class="mb-0 m-auto col-sm-12 col-md-12 justify-content-center accent accent-primary ng-star-inserted">
	<nb-card-body>
		<div class="text-center">
			<div class="row mt-2">
				<div class="col-12" align="center">
					<h2 class="textoFontSize1 colorTextoActivado font-weight-bold">{{
						'CAMBIARPASS.CAMBIARPASS' | translate }}</h2>
					<!-- <span class="textoFontSize08 colorTextoActivado">{{ 'REGISTRO.INTRODUZCALOSDATOSDELNUEVOUSUARIO' | translate }}</span> -->
				</div>
			</div>

			<form [formGroup]="formulario" (ngSubmit)="cambiarContrasena()" #thisForm="ngForm">
				<div class="row form-group py-3" align="left">
					<div class="col-md-12">
						<input nbInput type="password" formControlName="keyWord" autocomplete="off" class="form-control"
							placeholder="{{ 'USERDATA.CONTRASENA' | translate }}">
						<div *ngFor="let validation of validationMessages.keyword">
							<div class="error-message"
								*ngIf="keywordControl?.hasError(validation.type) && (keywordControl?.dirty || keywordControl?.touched || thisForm.submitted)">
								{{validation.message}}</div>
						</div>
					</div>
				</div>

				<div class="row form-group" align="left">
					<div class="col-md-12">
						<input nbInput type="password" formControlName="keyWordConfirm" autocomplete="off" class="form-control"
							placeholder="{{ 'REGISTRO.CONTRASENACONFIRM' | translate }}">
						<div *ngFor="let validation of validationMessages.keywordConfirm">
							<div class="error-message"
								*ngIf="(keywordConfirmControl?.hasError(validation.type) || (formulario?.hasError(validation.type) && !keywordConfirmControl.invalid)) && (keywordConfirmControl?.dirty || keywordConfirmControl?.touched || thisForm.submitted)">
								{{validation.message}}</div>
						</div>
					</div>
				</div>

				<div class="row py-1">
					<div class="col-sm-6 col-md-8" align="center">
						<app-alert context="Login"></app-alert>
					</div>
				</div>

				<div class="row form-group my-3">
					<div class="col-sm-12 col-md-6 mt-4">
						<button class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block"
							nbButton status="primary" hero type="submit">
							<span>{{ 'FORM.SEND' | translate | titlecase }}</span>
						</button>
					</div>
					<div class="col-sm-12 col-md-6 mt-4">
						<button class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block"
							nbButton status="primary" hero type="button" [routerLink]="loginRoute">
							<span>{{ 'REGISTRO.VOLVER' | translate }}</span>
						</button>
					</div>
				</div>

				<!-- <app-loading [isVisible]="isLoading"></app-loading> -->
			</form>
		</div>
	</nb-card-body>
</nb-card>
