<form class="container" [formGroup]="infoForm">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <mat-form-field appearance="standard" class="full-width">
                <mat-label>{{'QUIZZES.TITULO' | translate}}</mat-label>
                <input matInput type="text" formControlName="title" (blur)="onTextBlur($event)"  (keydown)="keydown($event)" />
            </mat-form-field>
        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-2">

					<ngb-timepicker formControlName="duration" [seconds]="false" (change)="onTextBlur($event)" (click)="onTextBlur($event)" ></ngb-timepicker>
            <!-- <mat-form-field appearance="standard" class="full-width">
                <input matInput type="time" formControlName="duration" (blur)="onTextBlur($event)" />
            </mat-form-field> -->
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="standard" class="full-width">
                <mat-label>{{'QUIZZES.INSTRUCCIONES' | translate}}</mat-label>
                <input matInput type="text" formControlName="instructions" (blur)="onTextBlur($event)" />
            </mat-form-field>
        </div>
    </div>
</form>
