<nb-card class="mb-0">
	<nb-card-header class="flex">
		<div class="col-10 modal-title">
			<h2>{{ 'EDITARCURSOMAPA.GRAFO' | translate }}</h2>
		</div>
		<div class="col-2">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }"
				(click)="closeModal('')"></nb-icon><!-- <mat-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" ngbTooltip="{{ 'GLOBALS.CLOSE' | translate }}" (click)="closeModal('')">close</mat-icon> -->
		</div>
	</nb-card-header>
	<nb-card-body>
		<nb-card size="giant" *ngIf="screenView === 1" class="no-edge-card">
			<nb-card-body>
				<div>
					<ng-template class="w-100"  #step9>
						 <div  class="copilot-custom copilop-info" style="position: sticky;">
								 <div class="row">
										 <div class="col-12 flex justify-content-center align-items-center">
												 <h3 class="title-info">
														 {{'TUTORIALINICIO.TUTORIAL_TITLE_04'| translate}}
												 </h3>
										 </div>
										 <div class="col-12 col-12 row flex justify-content-center align-items-center">
													<p class="text-info-help">
															{{'TUTORIALINICIO.TUTORIAL_TEXTO_04'| translate}}
													</p>
											</div>
								 </div>
								 <div  class="footer-btn">
										 <div class="row  flex justify-content-center align-items-center">
												 <div class="col-2">
														 <button  class="btn btn-block btn-themecolor btn-sm button-ok" (click)="done(2)"  type="button">
															 {{'TUTORIALINICIO.BOTONES.ACEPTAR'| translate}}
														 </button>
												 </div>
										 </div>
								 </div>
						 </div>
				 </ng-template>
			</div>

			<div >
					<!-- <div class="sticky-top sticky-top-header">
							<div class="modal-header mr-4 ml-4 mt-4" align="center">
									<div>
											<span class="textoFontSize1 colorTextoActivadoCursoGrafo font-weight-bold"></span>
									</div>
									<div>
											<span class="textoFontSize1 colorTextoActivadoCursoGrafo font-weight-bold">&nbsp;</span>
									</div>
									<div>
											<button type="button" class="close" data-dismiss="modal" (click)="closeModal('')">
													<span aria-hidden="true">&times;</span>
											</button>
									</div>
							</div>
					</div> -->

					<div class="modal-body">
							<mat-progress-bar mode="determinate" value="{{progress}}" *ngIf="progress"></mat-progress-bar>

							<form (ngSubmit)="grabarCursoMapa()" #thisForm="ngForm" class="form-horizontal" [formGroup]="form" novalidate>

									<div class="row mt-2">
											<div class="col-12">
													<app-alert context="ModalEditarCursoMapa"></app-alert>
											</div>
									</div>

									<div class="sticky-top">

											<div class="container">
													<!-- <div class="row justify-content-center mb-4 justify-content-md-end">
															<div class="col-6 text-center text-md-left">
																	<span class="textoFontSize1 colorTextoActivadoGrafo font-weight-bold">{{ 'EDITARCURSOMAPA.GRAFO' | translate }}</span>
															</div>
													</div> -->
													<div class="row mb-2">

															<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 mb-4 mb-md-0">
																	<app-imgupload [isShowDelete]="true" formControlName="image"></app-imgupload>
															</div>
															<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

																	<div class="form-row">
																			<div class="full-width mb-3">
																				<input type="text" nbInput fullWidth status="basic" placeholder="{{ 'EDITARCURSOMAPA.TITULOGRAFO' | translate }}"
																					id="validationCustom01"
																					formControlName="tittle" >
																					<div *ngFor="let validation of validationMessages.title">
																							<div class="error-message"
																											*ngIf="form.get('tittle')?.hasError(validation.type) && (form.get('tittle')?.dirty || form.get('tittle')?.touched || thisForm.submitted)">
																									{{validation.message}}</div>
																					</div>
																			</div>
																			<div class="full-width mb-3">
																					<textarea type="text" nbInput fullWidth placeholder="{{ 'EDITARCURSOMAPA.DESCRIPCIONGRAFO' | translate }}"
																						id="validationCustom01"
																						formControlName="description" style="height: 100px;" ></textarea>


																						<div *ngFor="let validation of validationMessages.description">
																								<div class="error-message"
																												*ngIf="form.get('description')?.hasError(validation.type) && (form.get('description')?.dirty || form.get('description')?.touched || thisForm.submitted)">
																										{{validation.message}}</div>
																						</div>
																				</div>
																				<div class="full-width mb-3">
																					<textarea type="text" nbInput fullWidth placeholder="{{ 'EDITARCURSOMAPA.LABELS' | translate }}"
																						id="validationCustom01"
																						formControlName="labels" style="height: 100px;" ></textarea>
																				</div>
																				<div class="full-width mb-3">
																						<!-- <select style="width: -webkit-fill-available;" class="custom-select btn-block"  formControlName="idSubject" id="idSubject" >
																							<option *ngFor="let materia of materias | sortBy:'asc':'subject'" [value]="materia.idSubject">{{ materia.subject }}</option>
																					</select> -->
																					<nb-select style="width: -webkit-fill-available;" fullWidth name="idSubject" formControlName="idSubject">
																						<nb-option *ngFor="let materia of materias | sortBy:'asc':'subject'" [value]="materia.idSubject">{{ materia.subject }}</nb-option>
																					</nb-select>
																						<div *ngFor="let validation of validationMessages.subject">
																								<div class="error-message"
																												*ngIf="form.get('idSubject')?.hasError(validation.type) && (form.get('idSubject')?.dirty || form.get('idSubject')?.touched || thisForm.submitted)">
																										{{validation.message}}</div>
																						</div>
																				</div>
																				<div class="full-width mb-3">
																					<!-- <select style="width: -webkit-fill-available;" class="custom-select btn-block"  formControlName="viewType" id="viewType" >
																						<option *ngFor="let item of viewTypesList | sortBy:'asc':'viewType'" [value]="item.viewType">{{ item.description }}</option>
																				</select> -->
																				<nb-select style="width: -webkit-fill-available;" fullWidth name="viewType" formControlName="viewType">
																					<nb-option *ngFor="let item of viewTypesList | sortBy:'asc':'viewType'" [value]="item.viewType">{{ item.description }}</nb-option>
																				</nb-select>
																			</div>

																	</div>
															</div>
													</div>
													<div class="row mt-2">
															<div class="col-12 col-sm-6">
																<div class="d-flex justify-content">
																	<div style="margin-right: 20px;">
																		<button copilot [copilot-template]="step9" [copilot-step]="9"  *ngIf="id !=='nuevo' && isMine()"  type="button"
																		(click)="verNodosMapa()" nbButton hero status="primary"><mat-icon svgIcon="graph" class="mr-2" style="color: white;" [ngbTooltip]="'SIGMAMENU.SHOWCOURSE' | translate"></mat-icon><span>{{ 'EDITARCURSOMAPA.EDITARNODOS' | translate }}</span></button>
																	</div>
																	<div style="margin-top: 5px;">
																		<button class="mr-2" type="button" nbButton hero status="primary" (click)="changeScreen(3)">{{ 'GLOBALS.MOVE' | translate }}</button>
																	</div>
																</div>
															</div>
															<div class="col-12 col-sm-6 mt-4 mt-sm-0">
																	<div class="d-flex justify-content-between">
																			<div style="margin-top: 5px;">
																					<!-- <button class="mr-2 btnDelete-roleEditor" *ngIf="isMine() && id!='nuevo'" (click)="deleteGraph()" type="button">{{ 'EDITARCURSOMAPA.ELIMINAR' | translate }}</button> -->
																					<button class="mr-2" *ngIf="isMine() && id!='nuevo'" (click)="deleteGraph()" type="button" nbButton hero status="danger">{{ 'EDITARCURSOMAPA.ELIMINAR' | translate }}</button>
																					<button *ngIf="id=='nuevo'" nbButton hero status="primary" type="submit" [disabled]="saving">{{ saving ? ('EDITARCURSO.SAVING' | translate) : ('EDITARCURSOMAPA.GRABAR' | translate) }}</button>
																			</div>
																			<div style="margin-top: 5px;">
																				<button class="mr-2" *ngIf="id!='nuevo' && haveMultiple"  type="button" nbButton hero status="primary" (click)="changeScreen(2)">{{ 'QUIZZES.MULTIPLES' | translate }}</button>
																			</div>
																			<div style="margin-top: 1em;">
																				<!-- <mat-slide-toggle class="buttonPublicar mr-2"  *ngIf="id !=='nuevo' && isMine()" formControlName="challenge" (click)="challenge($event)" [labelPosition]="'before'">{{'EDITARCURSOMAPA.EXCLUSIVECHALLENGE' | translate}}</mat-slide-toggle> -->
																				<nb-toggle labelPosition="start" *ngIf="id !=='nuevo' && isMine()" formControlName="challenge" (change)="challenge($event)">{{'EDITARCURSOMAPA.EXCLUSIVECHALLENGE' | translate}}</nb-toggle>
																				<!-- <mat-slide-toggle class="buttonPublicar"  *ngIf="id !=='nuevo' && isMine()" formControlName="published" (click)="publish($event)" [labelPosition]="'before'">{{'EDITARCURSO.PUBLISH' | translate}}</mat-slide-toggle> -->
																				<nb-toggle class="ml-2" labelPosition="start" *ngIf="id !=='nuevo' && isMine()" formControlName="published" (change)="publish($event)">{{ form.get('published').value ? ('EDITARCURSO.VISIBLE' | translate) : ('EDITARCURSO.NOVISIBLE' | translate) }}</nb-toggle>
																			</div>
																	</div>

															</div>

													</div>

											</div>

									</div>
							</form>

							<app-loading [isVisible]="cargando"></app-loading>
					</div>
			</div>
			</nb-card-body>
		</nb-card>
		<nb-card size="giant" *ngIf="screenView === 2" class="no-edge-card" >
			<nb-card-body>
				<div>
					<app-seleccion-multiples [listMultiples]="listMultiples" [configMultiples]="configMultiples" [target]="target" [curso]="curso" [idGroup]="0" (action)="changeScreen($event)"></app-seleccion-multiples>
				</div>
			</nb-card-body>
		</nb-card>
		<nb-card size="giant" *ngIf="screenView === 3" class="no-edge-card" >
			<nb-card-body>
				<div>
					<app-proyecto-destino [target]="target" [curso]="curso" [idGroup]="0" (action)="changeScreen($event)"></app-proyecto-destino>
				</div>
			</nb-card-body>
		</nb-card>
	</nb-card-body>

</nb-card>
