table {
	margin: 0;
	border: none;
	border-collapse: separate;
	border-spacing: 0;
	//table-layout: fixed;
	font-size: 14px;

	.mat-icon{
		&.green{
			color: green;
		}
		&.red{
			color: red;
		}
	}


	td, th{
		border: 2px solid white;
		padding: 3px;
		text-align: center;
	}
	thead{
		th{
			position: sticky;
			top: 0;
			z-index: 1;
			background: 		#d9e4ff;
			vertical-align: top;

			mat-icon{
				width: 24px;
				height: 24px;
			}

			h6{
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}

	tbody{
		// tr{
		// 	th:first-child{
		// 		background-color: yellow;
		// 	}
		// }
		th{
			font-weight: 100;
			text-align: center;
			position: relative;
			vertical-align: inherit;
			position: sticky;
			left: 0;
			z-index: 1;
			a{
				cursor: pointer;
			}
			&:not(:first-child){
				&.isNotChecked{
					background-color: #61a1e9!important;
				}
			}
			&:first-child{
					background-color: #f2f6ff!important;
			}


			&:hover{
				background-color: #f8f9fa!important;
				outline: 1px solid #61a1e9!important;
				cursor: pointer;
			}

		}
	}

	.separador{
		font-size: xxx-large !important;
		font-weight: 100;
	}

	.account-circle{
		height: 30px!important;
		width: 30px!important;
		svg{
				height: 30px!important;
				width: 30px!important;
		}
		&:hover{
				cursor: pointer;
		}
	}
	.avatar{
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-position: center;
			background-size: cover;
	}

}



table thead th{
	position: sticky;
	left: 0;
	z-index: 2;
}



table tbody tr:nth-child(1) th{
	position: inherit;
    z-index: 2;
}




table thead th:first-child{
	position: sticky;
	left: 0;
	top: 0;
	z-index: 4;
	vertical-align: inherit;
}

table tbody th:first-child{
	position: sticky;
	left: 0;
	z-index: 3;
	vertical-align: inherit;
}

table tbody tr:nth-child(1){
	//position: sticky;
	top: 5.3rem;
	z-index: 4 !important;
}

table tbody tr:nth-child(1) th:nth-child(1){
	position: inherit;
	z-index: 4 !important;
}

.text-title{
	font-size: 14px;
	//font-weight: 600;
}

.strong-text{
	font-size: 14px;
	font-weight: 800;
}

.mb-0{
	margin-bottom: 0;
}

.tooltip{
	z-index: 99999;
}

.same-width{
	width: 5rem;
	min-width: 5rem;
}


.adjust-th-center{
	text-align: center !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
}
