<div class="col-12 d-flex flex-column align-items-center">
	<!-- TEXTO -->
	<div class="mt-6 d-flex justify-content-center">
		<div>
			<span class="textoFontSize09 colorTextoActivado font-weight-bold">{{ 'DARSEBAJA.MESSAGE' | translate }}</span>
		</div>
	</div>

	<!-- BOTONES -->
	<div class="mb-2 mt-4 d-flex align-items-center">
		<div align="right">
			<button nbButton status="primary" (click)="aceptar()" class="mr-2">{{ 'DARSEBAJA.OK' | translate }}</button>
		</div>
		<div align="left">
			<button nbButton status="danger" (click)="cancelar()" class="ml-2">{{ 'ACEPTARCANCELAR.CANCELAR' | translate }}</button>
		</div>
	</div>
</div>
