app-modal-drop-out{
	nb-icon{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
	}

	.mb-0{
		margin-bottom: 0 !important;
	}

	.error-message {
		color: rgba(179, 12, 12, 0.816) !important;
		text-align: center;
		font-size: 14px;
		margin-top: 5px;
	}

	.disabled {
		background: linear-gradient(137deg, #dce4e8, #e3e6e6);
		border: 3px solid #bbc9d4;
		pointer-events: none;
		color: #bbbbbb;
		box-shadow: 4px 4px 6px #5c5c5c;
	}
}
