<nb-card class="mb-0">
	<nb-card-header class="flex">
		<div class="col-11 modal-title">
			<h2>{{'MENUACTIONS.TEACHERTITLE10' | translate}}</h2>
		</div>
		<div class="col-1 close-col">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }" (click)="closeModal('')">
			</nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="container">
			<div class="container mt-6 p-2">
				<app-loading [isVisible]="cargando"></app-loading>
						<div>
							<app-lista-padres *ngIf="screenView === 1" [profile]="profile" (action)="changeScreen($event)"></app-lista-padres>
							<app-nuevo-padre *ngIf="screenView === 2" [profile]="profile"
								(action)="changeScreen($event)"></app-nuevo-padre>
							<app-invitar-padre *ngIf="screenView === 3" (action)="changeScreen($event)"></app-invitar-padre>
						</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
