
<nb-card>
	<nb-card-header  class="row d-flex">
		<div class="col-6 modal-title">
			<h6>{{'EDITARCURSOMAPA.PROYECTODESTINO' | translate}}</h6>
		</div>
		<div class="col-2 ">
			<div class="dropdown">
				<button nbButton hero status="primary" (click)="back()">
					{{'GRUPOS.VOLVER' | translate}}
				</button>
			</div>
		</div>
		<div style="background: #36f;border-radius: 10px;padding: 5px;">
			<h5 class="text-white">{{ 'EDITARCURSOMAPA.GRAFO' | translate }}: {{ target.tittle }}</h5>
		</div>
		<!-- FILTRADO DE CURSOS -->
		<div class="col-7 d-flex mt-4">
			<form [formGroup]="formulario" class="search-form">
				<input type="search" autocomplete="off" nbInput fullWidth fieldSize="large" name="search" id="search"
					placeholder="{{ 'CURSOS.SEARCH' | translate }}" formControlName="filtrado">
				<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right search-icon" icon="search"
					[options]="{ animation: { type: 'pulse' } }"></nb-icon>
			</form>
		</div>
	</nb-card-header>
		<nb-card-body>
			<div class="row d-flex justify-content-center cards-container">
				<div class="col-sm-6 col-md-12 col-12">
					<app-loading [isVisible]="cargando"></app-loading>
					<div *ngIf="cursos.length !== 0">
						<div class="row">
							<div *ngFor="let curso of cursos | sortBy:'asc':'courseTittle'" (click)="moverGrafo(curso)"
								class="col-lg-2 col-md-3 col-sm-12">
								<nb-card size="small" class="project-info pointer">
									<nb-card-header>
										<div class="img-container" ngbTooltip="{{curso.description}}" placement="top">
											<img [src]="curso.cpicture | imagen:'cursos'" class="img-fluid" [alt]="curso.courseTittle"
												(error)="updateUrl($event)">
										</div>
									</nb-card-header>
									<nb-card-body>
										<p class="">{{ curso.courseTittle | titlecase | truncate:[60, '...'] | uppercase}}</p>
									</nb-card-body>
								</nb-card>
							</div>
						</div>
					</div>
				</div>
			</div>
		</nb-card-body>
</nb-card>

