app-seleccion-multiples{

    .container {
        padding: 15px;
    }

    .h-75 {
        height: 75px !important;
    }
    .container-btn{
        display: block;
        margin-top: 25px;
    }

    button:focus{
    outline: none;
    }

    .div-center{
        text-align: center;
    }

    @media (max-width: 435px) {
        .button-table {
            padding: .1rem .2rem;
        }
    }

    @media (min-width: 436px) and (max-width: 767px) {
        .button-table {
            padding: .15rem .25rem;
        }
    }

    @media (min-width: 768px) {
        .button-table {
            padding: .25rem .5rem;
        }
    }

    .error-message {
        color: red;
        font-style: italic;
    }

    .colorTextoActivadoGrafo{
        color: #052460 !important;
        font-size: x-large !important;
        font-weight: 700;
    }

    .text-button{
        color: #052460;
        font-weight: 500;
    }

    .modal-header {
        border-bottom: none !important;
        background: initial;
        padding: 0 !important;
    }

    .sticky-top {
        position: initial !important;
    }

    .close {
        font-size: 3rem;
        font-weight: normal;
        line-height: 0;
        color: #224d98 !important;
    }

		.actual-target{
			background: #36f;
			padding: 5px;
			border-radius: 10px;
		}

		.icon-head {
			width: auto;
			height: 60px;
			position: absolute;
			bottom: 0;
		}

		.col-1 {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			position: relative;
		}

}

