.modal-dialog-100 .modal-dialog .modal-content .component-host-scrollable {
    height: 100vh;
    background:  linear-gradient(134deg, #Dfdfdf, #cdcdcd);

}
.quiz-container {
    border: 3px solid #7ca1fe;
    background-color: white;
    box-shadow: 7px 40px 13px 4px #414d5a61;
    height: 100vh;
    // overflow-y: auto;
    width: 70%;
    margin: 0 auto;
}

.body-container {
    height: 85vh;
    overflow-y: none;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 540px) and (max-width: 1199px) {
        & {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    @media (min-width: 1200px) {
        & {
            padding-left: 10rem !important;
            padding-right: 10rem !important;
        }
    }
}

.scroll-container {
    overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
    max-height: 100%; /* Altura máxima del contenedor (ajusta según tus necesidades) */
}
