<nb-card class="mb-0">
	<nb-card-header class="flex">
		<button nbButton status="primary" [nbPopover]="templateRef" nbPopoverPlacement="bottom"><span
				class="dot"></span>{{'SOCKETQUIZPREVIEW.ONLINEUSERS'
			| translate}} {{onlineUsers
			-1 }} / {{ usersInGroupCounter }}</button>
		<ng-template #templateRef>
			<nb-card [size]="'tiny'" accent="success" class="mb-0 mt-1">
				<nb-card-header>{{'SOCKETQUIZPREVIEW.ONLINESTUDENTS' | translate}}</nb-card-header>
				<nb-card-body>
					<nb-list>
						<nb-list-item *ngFor="let user of usuariosOnline">
							<span class="dot"></span>{{user.firstName}} {{user.surname}}
						</nb-list-item>
					</nb-list>
				</nb-card-body>
			</nb-card>

			<nb-card [size]="'tiny'" accent="danger" class="mb-0" >
				<nb-card-header>{{'SOCKETQUIZPREVIEW.OFFLINESTUDENTS' | translate}}</nb-card-header>
				<nb-card-body>
					<nb-list>
						<nb-list-item *ngFor="let user of usuariosOffline">
							<span class="dot-red"></span>{{user.firstName}} {{user.surname}}
						</nb-list-item>
					</nb-list>
				</nb-card-body>
			</nb-card>
		</ng-template>
		<!-- <div  class="col-2 online-users"></div> -->
					<div class="col-2 d-flex align-items-center" *ngIf="nameSession">
						<input nbInput type="text" class="form-control" [(ngModel)]="nameSession" (ngModelChange)="this.nameSessionUpdate.next($event)">
					</div>
					<div class="col-4">
							<h2 class="text-center">{{'SOCKETQUIZPREVIEW.TITLE' | translate}}</h2>
					</div>
					<div class="col-3">
						<button nbButton hero status="primary" class="mr-4">{{'SOCKETQUIZPREVIEW.PAUSE' | translate}}</button>
						<button nbButton hero status="danger" (click)="finalizeChallenge()">{{'SOCKETQUIZPREVIEW.FINALIZE' | translate}}</button>
					</div>
					<div class="col-1">
						<nb-icon class="pointer text-right m-1 float-right" icon="close-circle-outline"
							[options]="{ animation: { type: 'pulse' } }" (click)="closeModal()">
						</nb-icon>
					</div>


	</nb-card-header>
	<nb-card-body>
		<div class="container ">
			<!-- CHALLENGE TIME -->
			<div class="col-12 pl-0 mt-2" *ngIf="time">
				<div class="flex align-items-center">
					<span class="title-time-remaining">{{'SOCKETQUIZPREVIEW.CHALLENGEENDS' | translate}}</span>
					<div class="remaining-time mr-1">
						{{time.hours}} : {{time.minutes}} : {{time.seconds}}
					</div>
				</div>
			</div>
			<!-- END CHALLENGE TIME -->
			<div class="container m-2 p-2  {{time ? 'mt-6_5r' : 'mt-3_5r'}}">
				<div class="row tree mt-4" *ngIf="viewList">

					<app-loading [isVisible]="cargando"></app-loading>

					<!-- COLUMN TREE COURSES-->
					<div class="col-3">
						<div>
							<label>{{'SOCKETQUIZPREVIEW.CHOOSESELECTION' | translate}}</label>
							<div class="mb-4 d-flex filter-buttons">
								<button type="button" class="d-flex align-items-center mr-2 {{showOnlyGraphs ? 'enabled' : 'disabled'}}" (click)="showOnlyGraphs = !showOnlyGraphs;filterGraphsTree()">
									<mat-icon svgIcon="graph" [ngbTooltip]="'SOCKETQUIZPREVIEW.ONLYGRAPHS' | translate"></mat-icon>
								</button>
								<button type="button" class="d-flex align-items-center {{showOnlyExclusive ? 'enabled' : 'disabled'}}" (click)="showOnlyExclusive = !showOnlyExclusive;filterGraphsTree()">
									<mat-icon svgIcon="desafios_icon" [ngbTooltip]="'SOCKETQUIZPREVIEW.EXCLUSIVEGRAPHS' | translate"></mat-icon>
								</button>
							</div>

						</div>
						<h5 class="text-title font-weight-bold">
								{{ 'INFORMES.EXPANDIRVISTA' | translate }}
						</h5>
						<app-mat-tree-cursos [idCourse]="idCourse" [idGroup]="group.idGroup" [optionSelected]="optionSelected" [treeCourses]="treeCourses" [fromNode]="fromNode" [idCurso]="idCurso" [idGrafo]="idGrafo" [idNodo]="idNodo" (clickElement)="clickElement($event)"></app-mat-tree-cursos>
					</div>
					<!-- END COLUMN TREE COURSES-->

					<!-- COLUMN CENTER CONTAINER-->
					<div class="col-md-9">
						<div class="w-100">
							<h5 class="text-title font-weight-bold">
									{{ 'INFORMES.TABLA_DATOS_QUIZES' | translate }}
							</h5>
						</div>
						<div class="w-100">
							<!-- CONTAINER CON LAS OPCIONES SELECCIONADAS EN LA COLUMNA DE LA IZQUIERDA-->
							<div class="d-flex align-items-center justify-content-center pt-5" *ngIf="isLoading">
								<mat-spinner [diameter]="50" ></mat-spinner>
							</div>
							<!-- VISUALIZAR QUIZ -->

							<div class="quiz-container" *ngIf="showReport">
								<div class="body-container py-3" id="container" style="overflow-y: auto;">
									<app-live-reporting-table [headTable]="headTableReport" [bodyTable]="bodyTableReport" ></app-live-reporting-table>
								</div>
							</div>



							<div *ngIf="quiz && !isLoading">
								<!-- SIMPLE QUIZ -->
								<div *ngIf="quiz && quiz.idMultiplexQuiz === 0" class="quiz-container" id="quiz">
										<div class="body-container py-3 hide-scrollbars" id="container">
												<app-quiz-play-body [courseId]="idSelectedCourse" [graphId]="idGraph"
												[quiz]="quiz" [elements]="elements" [answered]="answered" [modeSocket]="true" [answeredBySocket]="false" [idGroup]="group.idGroup"
												(answeredChange)="onAnswered()">
												</app-quiz-play-body>
										</div>
								</div><!-- END SIMPLE QUIZ -->
							</div><!-- FIN VISUALIZAR QUIZ -->
						</div>
					</div><!-- END COLUMN CENTER CONTAINER-->
				</div><!-- FIN VISTA MODO ARBOL -->

			</div>
		</div>
	</nb-card-body>
</nb-card>









