app-modal-socket-courses{

	nb-layout-header{
		nav{
			height: inherit!important;
			flex-wrap: wrap;
		}
	}

	.title-time-remaining{
		font-size: 1.125rem;
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    line-height: 1.5rem;
	}

	.remaining-time{
		justify-content: center;
    align-items: center;
    display: flex;
    background: #ff3d71;
    color: #fff;
    font-weight: 600;
		padding: 1rem;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		min-width: 7rem;
    max-width: 10rem;
}

	.quiz-container{
		overflow: scroll;
	}

	.element {

			background-color: #efeeee;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 40px;
			width: 40px;
			cursor: pointer;
			border-radius: 5px;
			color:rgb(34, 77, 152);
			box-shadow: 4px 4px 5px 0px rgb(0 0 0 / 30%);
	}

	.crearCursoClass{
			font-weight: 700;
			color:rgb(34, 77, 152);
			transition: 0.2s;
	}
	.crearCursoClass:hover{
			cursor: pointer;
			font-weight: 800;
			transition: 0.2s;
	}


	.hide-button{
			position: absolute;
			top: -2px;
			right: 25px;
	}
	.searchBar{
			position: relative;

	}
	.lupa-icon{
			position: absolute;
			top: 50%;
			right: 10px;
			height: 70%;
			transform: translateY(-50%);
	}

	// .filtro{
	//     font-size: 30px;
	// }



	.img-container{
			position: relative;
			height: 30vh;
			overflow: hidden;
			display: flex;
			justify-content: center;
			.img-fluid{
					height: 200px;
			}
	}

	.card{
			box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
			border: none;
			overflow: hidden;
			height: 200px;
	}

	.card-body {
			padding: 0.5rem;
	}

	.card-img-top{
			position:absolute;
			top:0;
			bottom:0;
			height: 100%;
			margin:auto;
			align-self: center;

	}

	.tree-progress-bar {
			margin-left: 30px;
	}


	.iconos_izq{
			margin-right: 20px;
	}

	@media (max-width: 435px) {
			.button-table {
					padding: .1rem .2rem;
			}
	}

	@media (min-width: 436px) and (max-width: 767px) {
			.button-table {
					padding: .15rem .25rem;
			}
	}

	@media (min-width: 768px) {
			.button-table {
					padding: .25rem .5rem;
			}
	}

	.ngx-wrapper-overview[_ngcontent-ng-cli-universal-c7], .copilot-view[_ngcontent-ng-cli-universal-c7] {

			background-color: #ffffff !important;
			color: rgb(0, 0, 0) !important;
	}


		.modal-content {
			//background: linear-gradient(345deg, #A9C7DE, #C8D6DF);
			height: auto;
		}

	.bg-white{
			background: linear-gradient(136deg, #F3F3F3, #FFFFFF);
			padding: 20px;
	}
	.active{
			background-color: #A9C7DE;
			svg{
					fill: #fff!important;
			}
			.material-icons.mat-icon-no-color, .mat-icon{
					color: white!important;
			}
			transition: all 1s;
	}
	.mat-form-field:not(.mat-form-field-appearance-standard) .mat-form-field-flex {
			border-top: none;
			border-right: none;
			border-left: none;
	}

	.mat-icon{

		&.icon-green{
			svg{
				fill: #1eaa3e;
			}
		}

			svg{
					fill: #224d98;
			}
			&.icon-color {
					svg {
							fill: #224d9850 !important;
					}
			}

	}

	.mat-icon-button {
			margin-right: 10px !important;
		}

	.averageKnowledge{
			font-weight: 700;
			color: #000000;
			font-size: 10px;
	}

	.progress{
			height: 8px;
	}
	.filter-buttons{
		button{
			border-radius: 5px;
			box-shadow: 1px 1px 1px #08222e, -1px -1px 1px white;
			border: none;
			background: linear-gradient(170deg, #D9D9D9, #F1F1F1);
			padding: 5px;
			margin: 12px 0;

			&.enabled{
				background: linear-gradient(137deg, #CBE9F8, #F9FDFE);
				box-shadow: 1px 1px 1px white, -1px -1px 1px black;
				outline: none;
			}
		}

	}


	.nameSession{
		box-shadow: inset 1px 1px 2px black, inset -1px -1px 2px #ffffff;
    background: linear-gradient(138deg, #7E95AE, #99B5D3);
    color: white;
    border-radius: 8px;
    padding: 15px 10px;
    border: none;
		text-align: center;
	}

	nb-icon{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
	}

	.mt-3_5r{
		margin-top: 3.5rem !important;
	}

	.mt-6_5r{
		margin-top: 6.5rem !important;
	}

	.mb-4r{
		margin-bottom: 4rem !important;
	}


}

.dot {
	height: 15px;
	width: 15px;
	background-color: #02D566;
	border-radius: 50%;
	margin-right: 5px;
}

	.dot-red {
	height: 15px;
	width: 15px;
	background-color: #d51002;
	border-radius: 50%;
	margin-right: 5px;
}
