app-modal-config-socket-courses{

	.form-control{
		border: none !important;
	}

	.make-tooltip-show-inside-box{
		.tooltip-inner{
			display: block !important;
			width: 600px !important;
			max-width: 1000px !important;
			z-index: 99999 !important;
		}
	}
	.divider{
		width: 38rem;
		height: 1px;
		background-color: #e5e5e5;
		margin: 1rem 0;
	}
	.modal-body{
		display: flex;
		flex-direction: column;
		-webkit-display: box;
		-moz-display: box;
		-ms-display: flexbox;
		-webkit-display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		gap: 2rem;
	}

	.strong-label{
		font-weight: 600;
		font-size: 16px;
		color: #33cabd;
		margin-bottom: 1rem;
	}

	.pl-5p{
		padding-left: 5px !important;
	}





	.title{
		font-size: 18px;
		color: #33cabd;
		font-weight: 600;
	}
	.mat-radio-label{
		//color: #234999;
		font-weight: 500;
		margin-bottom: 15px;
		display: flex;
		align-items: center;
		justify-content: center;
		.mat-radio-label-content{
			display: flex;
		}
		p{
			margin: 0;
		}
	}

	.green-tea{
		color: #33cabd;
		font-weight: 600;
		font-size: 16px;
	}

	.golden-icon{
		color: #dfb251!important;
	}

	.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
		border-color: #234999!important;
	}
	.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
		background-color: #234999!important;
	}

	nb-icon{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
	}


}

nb-radio.hide-radio{
	label{
		span.outer-circle{
			display: none !important;
		}
	}
}

.tooltip{
	z-index: 99999;
}


