
		<nb-card class="no-edge-card" size="giant" style="background-color: #EDF1F7; margin-bottom: -1rem;">
			<nb-card-header class="flex justify-content-between">
				<div>
					<h5 style="color: #3366ff;">{{'MODALCONFIGSOCKETCOURSES.TITLE' | translate}}</h5>
				</div>
				<div></div>
				<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
					[options]="{ animation: { type: 'pulse' } }" (click)="closeModal('')"></nb-icon>
			</nb-card-header>
			<nb-card-body>
				<form [formGroup]="form" (submit)="saveConfig()" class="d-flex flex-column" #Form1="ngForm">
					<nb-card>
						<nb-card-body>
							<div class="modal-body">
								<h6 class="mb-2" style="margin-left: 8%;">{{'MODALCONFIGSOCKETCOURSES.SUBTITLE01' | translate}}</h6>
								<nb-radio-group class="w-100" formControlName="option" name="option" style="padding-left: 12%;">
									<nb-radio value="1" style="display: inline !important;">
										<p>{{'MODALCONFIGSOCKETCOURSES.OPTION1' | translate}} <mat-icon class="ml-2 golden-icon"
												placement="bottom" ngbTooltip="{{'MODALCONFIGSOCKETCOURSES.INFO1' | translate}}">info</mat-icon>
										</p>
										<div class="form-control pl-2">
											<p class="green-tea " style="margin-left: 1.5rem;">{{'MODALCONFIGSOCKETCOURSES.TIMECHALLENGE' |
												translate}}<mat-icon class="mx-2">schedule</mat-icon> <input type="number" appNumberInput
													formControlName="challengeTime" /> <span class="ml-2">{{'MODALCONFIGSOCKETCOURSES.MINUTES' |
													translate}}</span></p>
											<div *ngFor="let validation of validationMessages.minutes">
												<div class="error-message" *ngIf="challengeTimeControl?.hasError(validation.type)">
													{{validation.message}}</div>
											</div>
										</div>
									</nb-radio>
									<nb-radio value="3" style="display: inline !important;">

										<p class="make-tooltip-show-inside-box">{{'MODALCONFIGSOCKETCOURSES.OPTION3' | translate}} <mat-icon class="ml-2 golden-icon"
												positionTarget="nb-card" placement="left" ngbTooltip="{{'MODALCONFIGSOCKETCOURSES.INFO3' | translate}}" tooltipClass="put-top" >info</mat-icon>
										</p>


										<div class="form-control">
											<div class="flex col-12 align-items-center">
												<div class="col-6 pl-5p" > <label for="synchronizedStudents" class="strong-label">{{'MODALCONFIGSOCKETCOURSES.SYNCHRONIZEDSTUDENTS' |
													translate}}</label></div>
												<div class="col-6 justify-content-start">
													<nb-toggle formControlName="synchronizedStudents" checked="false"></nb-toggle>
												</div>
											</div>

											<div class="flex col-12 align-items-center">
												<div class="col-6 pl-5p"> <label for="randomOrder" class="strong-label">{{'MODALCONFIGSOCKETCOURSES.RANDOMORDER' | translate}}</label></div>
												<div class="col-6 justify-content-start ">
													<nb-toggle formControlName="randomOrder"></nb-toggle>
												</div>
											</div>
											<div>

											</div>
										</div>
									</nb-radio>

									<nb-radio [disabled]="true" class="hide-radio" style="position: relative; left: -7%;">
										<div class="divider"></div>
										<h6>{{'MODALCONFIGSOCKETCOURSES.SUBTITLE02' | translate}}</h6>
									</nb-radio>

									<nb-radio value="2">
										<p>{{'MODALCONFIGSOCKETCOURSES.OPTION2' | translate}} <mat-icon class="ml-2 golden-icon"
												placement="top" ngbTooltip="{{'MODALCONFIGSOCKETCOURSES.INFO2' | translate}}">info</mat-icon>
										</p>
									</nb-radio>

								</nb-radio-group>
							</div>

						</nb-card-body>
					</nb-card>

					<div class="flex justify-content-end">
						<button nbButton hero status="primary" type="submit">
							<span>{{ 'MODALCONFIGSOCKETCOURSES.SELECT' | translate | titlecase }}</span>
						</button>
					</div>


				</form>

			</nb-card-body>
		</nb-card>

