.modal-header {
    color: #FFFFFF;
    background: #1e88e5;
}

.modal-body{
    background-color: #1e88e5;
}

.close{
    color: #FFFFFF;
    cursor: pointer;
    width: 40px;
    height: 40px;
    align-content: center;
}
