app-graph-lateral-icons{

  .icon-hamburguesa{
    height: 35px;
    width: 35px;
    cursor: pointer;

  }

  .mat-icon {
    line-height: 0;
    // &.icon-color-white {
    //     svg {
    //         fill: white;
    //     }
    // }
    &.icon-color-gold{
        svg{
            fill: #d39502;
        }
    }
  }

  .disable{
      $opacity : .5;
      $disabled-color: #BCBCBC!important;

      color: $disabled-color;
      cursor: not-allowed;
      pointer-events: none;
      opacity: $opacity;
      svg{
          fill: $disabled-color;
          opacity: $opacity;
      }
  }

}





.sidebar {
    // height: 600px;
    width: 0;
    position: sticky;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 0;
    height: 0;
  }

  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #68757C;
    display: block;
    transition: 0.3s;
    font-weight: 600;
  }

  .sidebar a:hover {
    color: #1b6080;
  }

  .sidebar .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 30px;
  }

  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

  .openbtn:hover {
    background-color: #444;
  }

  .items-menu-rigth:hover{
    background:  #d1e7f2;
    color: #1b6080;
  }
  .items-menu-rigth{
    font-size: 18px  !important;
    &.mat-icon{
      margin-left: 40px !important;
    }
  }

  #main {
    transition: margin-left .3s;
    padding: 16px;
  }


  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
