<nb-card class="mb-0">
	<nb-card-header class="flex justify-content-between">
		<div class="col-11">
			<div>
				<h5>{{"TEXTSMODAL.ADDTEXTTOIDEA" | translate }}</h5>
			</div>
		</div>
		<div class="col-1">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }" (click)="closeModal('')"></nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="m-5 row d-flex">

			<div class="modal-body">
				<div *ngIf="textForm">
					<form [formGroup]="textForm" autocomplete="off">

						<div class="row justify-content-center row">
							<div class="col-sm-12 col-md-6 mt-4">
								<input nbInput status="primary" fullWidth fieldSize="large" class="form-control" formControlName="text"
									id="textInput" placeholder="{{'TEXTSMODAL.TEXTTOBEADDED' | translate }}" />
							</div>
							<div class="col-sm-12 col-md-6 mt-4">
								<div class="form-control">
									<label for="colorPicker">{{'TEXTSMODAL.COLOR' | translate }}:</label>
									<input type="color" formControlName="color" id="colorPicker">
								</div>

							</div>

							<div class="col-sm-12 col-md-6 mt-4">
								<nb-select fullWidth name="font" formControlName="font" (selectionChange)="changeFont($event.value)">
									<nb-option *ngFor="let font of fontOptions" [value]="font.value" value="{{ font.value }}">
										<span [style.font-family]="font.value">{{font.key}}</span></nb-option>
								</nb-select>

							</div>
							<div class="col-sm-12 col-md-6 mt-4">
								<input nbInput status="primary" fullWidth fieldSize="large" class="form-control" type="number"
									formControlName="fontSize" id="fontSize" placeholder="Tamaño de Fuente" />
							</div>
						</div>

					</form>

					<div class="text-container">
						<div>
							<p id="text-container" #textContainer>{{ textForm.get('text').value }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer>
		<div class="mb-2 row">
			<div class="col-6" align="right">

				<button nbButton status="primary" class="mr-1" (click)="generateImage()">{{'TEXTSMODAL.PREVIEW' | translate
					}}</button>
			</div>

			<div class="col-6" align="left" *ngIf="generatedImage">

				<button nbButton status="primary" (click)="saveSticker()"
					[style.background-color]="!generatedImage ? 'gray' : 'blue'" class="">{{'TEXTSMODAL.ADD' | translate
					}}</button>
			</div>
		</div>
	</nb-card-footer>
</nb-card>
