.text-container {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.image-container img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}
