.form-group {
    margin-bottom: 0px;
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
    height: 36px;
    cursor: pointer;
}

.mat-list-base {
    padding-top: 0px;
}

.mat-list-item:hover {
    background-color: #67757c;
    color: #FFFFFF;
}
