.imagecontainer{
	border: 0px;
	height: 20rem;
	.noImage{
		height: 100%;
		div{
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			position: relative;
			z-index: 0;
		}

		img{
			&.no-image{
				max-width: 100%;
				width: 256px;
				height: auto;
			}
			height: 64px;
			width: 64px;
		}
		input[type="file"]	{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 9999;
		}
	}
	.image{
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		.delete{
			border-radius: 50%;
			background-color: white;
			height: 32px;
			width: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 10px;
			top: 10px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
			box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
			img{
				height: 16px;
				width: 16px;
			}
		}
	}
}

.colorTextoActivado{
	color: white !important;
}
