.icons{
    span{
        text-decoration: underline;
        font-size: 16px;
        font-weight: 500;
    }
}

.image-container{
    position: relative;
}

.edit-icon{
    position: relative;
    input[type="file"]	{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 9999;
    }
}

.circle-image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.mat-icon {
    &.no-image{
        height: 80px;
        width: 80px;
        font-size: 80px;
    }    
  }