<div class="img-container d-flex flex-column justify-content-center align-items-center">
    <div class="image-container">
        <mat-icon svgIcon="account_circle" class="no-image" *ngIf="!image"></mat-icon>
        <div *ngIf="image" class="circle-image" [style.background-image]="'url(' + imageProfile + ')'"></div>
        <mat-progress-bar class="mt-2" *ngIf="progress" value={{progress}}></mat-progress-bar>
    </div>
    <div class="d-flex flex-row align-items-center icons mt-3">
        <span class="mr-2">{{'IMAGEPROFILE.IMAGE' | translate}}</span>
        <div class="edit-icon d-flex">
            <input class="pointer" type="file" accept="image/*" (change)="onFileSelected($event)" />
            <mat-icon svgIcon="edit"  *ngIf="userData.mail != '' || userData.mobile != ''"></mat-icon>
        </div>
        <mat-icon svgIcon="delete" *ngIf="image" (click)="deleteProfileImage()"></mat-icon>
    </div>

</div>
