<div class="sticky-top sticky-top-header">
    <div class="modal-header" align="center">
        <div class="col-sm-10 text-center">
            <span class="textoFontSize1 colorTextoActivado font-weight-bold">{{ 'TASK.COMPARTIDO' | translate }}</span>
        </div>
        <div class="col-sm-2 text-center">
            <button type="button" class="close pointer" [ngStyle]="{'color':'rgb(29, 73, 153)'}" data-dismiss="modal"
                (click)="closeModal('')">
                <span class="textoFontSize18" aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
</div>
