.modal-dialog-40 .modal-dialog .modal-content .component-host-scrollable 
{
    height: auto !important;
    background: linear-gradient(134deg, #FAFAFA, #D8D8D8) !important;

}


p{
    font-weight: 400;
    color: #224d98;
}


.mat-icon{
    height: 50px; 
    width: 50px;
    svg{
        fill: #224d98;
        width: 40px;
        height: 40px;
    }
}


button{
    box-shadow: 1px 1px 1px #08222e, -1px -1px 1px white;
}

