.header-options {
    .mat-icon-button {
        width: 32px;
        height: 32px;
        line-height: 32px !important;
        .mat-icon {
            width: 32px !important;
            font-size: 32px !important;
            margin: 0 auto !important;
        }
    }
}
