<div [ngSwitch]="step">
	<app-mobile-form
		[isLoading]="isLoading"
		(phoneSent)="onPhoneSent($event)"
		*ngSwitchCase="0"
	></app-mobile-form>
	<app-select-user
		class="selectuser"
		[isLoading]="isLoading"
		[mobile]="mobile"
		[prefix]="prefix"
		(goBack)="onGoBack()"
		(userSelected)="onUserSelected($event)"
		[userList]="userList"
		*ngSwitchCase="1"
	></app-select-user>
	<app-select-email
		[isLoading]="isLoading"
		(goBack)="onGoBack()"
		(emailSelected)="onEmailSelected($event)"
		[emails]="emailList"
		*ngSwitchCase="2"
	></app-select-email>
</div>
