<nb-card class="mb-0 m-auto col-sm-12 col-md-12 justify-content-center no-edge-card">
	<nb-card-header class="flex border-bottom-0">
		<div class="col-12 col-sm-10 col-md-10 text-center text-sm-left text-md-left">
			<h2>{{ "RECUPERARCONTRASENA.RECUPERARCONTRASENA" | translate }}</h2>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle" [options]="{ animation: { type: 'zoom' } }"
			(click)="closeModal()"></nb-icon>
	</div>
	<nb-card-body>
		<div class="text-center position-relative">
			<div class="row justify-content-center">
				<div class="col-12 col-md-12">
					<img class="logo" [src]="loginImage | imagen : 'logoLogin'" *ngIf="loginImage" />
				</div>
			</div>
			<form [formGroup]="formulario" (ngSubmit)="recuperarContrasena()" #thisForm="ngForm">
				<div class="row form-group py-3 justify-content-center" align="left">
					<div class="col-sm-6 col-md-6">
						<select class="Select-form" fieldSize="medium" status="primary" formControlName="prefix">
							<option disabled selected value="">
								{{ 'LOGIN.PREFIX' | translate }}
							</option>
							<option *ngFor="let prefix of $phonePrefixes | async" value="{{ prefix.dial_code }}">
								{{ prefix.dial_code }}
								{{ prefix.name_es }}
							</option>
						</select>
						<div *ngFor="let validation of validationMessages.prefix" class="mt-2">
							<div class="error-message" *ngIf="
													prefixControl?.hasError(validation.type) &&
													(prefixControl?.dirty ||
														prefixControl?.touched ||
														thisForm.submitted)
												">
								{{ validation.message }}
							</div>
						</div>
					</div>

					<div class="col-sm-6 col-md-6">
						<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="text"
							formControlName="mobile" appNumberInput placeholder="{{ 'USERDATA.TELEFONOMOVIL' | translate }}" />
						<div *ngFor="let validation of validationMessages.mobile" class="mt-2">
							<div class="error-message" *ngIf="
													mobileControl?.hasError(validation.type) &&
													(mobileControl?.dirty ||
														mobileControl?.touched ||
														thisForm.submitted)
												">
								{{ validation.message }}
							</div>
						</div>
					</div>
				</div>

				<div class="row py-1">
					<div class="col-lg-3 col-md-2"></div>

					<div class="col-lg-6 col-md-8 col-12" align="center">
						<app-alert context="Login"></app-alert>
					</div>
				</div>
				<div class="row form-group " style="
								display: flex;
								align-items: center;
								flex-direction: column;
								justify-content: center;
							">
					<div class="col-sm-8 col-md-6 justify-content-center">
						<button
							class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block"
							nbButton status="primary" hero type="submit">
							<span>{{ "REGISTRO.NEXT" | translate }}</span>
						</button>
					</div>
				</div>
				<div (click)="recoveryPassNick()" class="col-12" style="padding: 20px;" align="center">
					<a class="textoFontSize09 colorTextoActivado d-inline pointer">{{ "REGISTRO.NOMAILNOPHONE" | translate
						}}</a>
				</div>

				<app-loading [isVisible]="loading"></app-loading>
			</form>
		</div>

	</nb-card-body>

</nb-card>
<app-register-nick *ngIf="registerAux" (closeAux)="closeModal()"></app-register-nick>
