.quiz-item:hover{
    background:linear-gradient(170deg, #A9C6DE, #93B2C9);
}

.mat-list-het{
    height: 50vh;
}

 .mat-line_q {
    font-size: 14px;
    font-weight: 500;
    color: #060503ed;
}

.mat-line_n{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: inherit;
    color: #335faf;
}