@import "src/assets/scss/_common.scss";
@import "src/assets/scss/_alignment.scss";
@import "src/assets/common.scss";
@font-face {
    font-family: "din 1451 std engschrift";
    font-weight: $regular-weight;
    src: url("#{$fonts-path}/DIN-1451-Std-Engschrift.otf") format("opentype");
}

body {
    font-family: "#{$font-family}", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-size: cover;
    color: $text-regular-color;
}

@include media-breakpoint-down(xs) {
    body {
        background-color: white;
    }
}

p {
    font-weight: $normal-weight;
}

a:hover {
    text-decoration: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: $bold-weight;
}

.text-regular-color {
    color: $text-regular-color;
}

.text-emphasis-color {
    color: $text-emphasis-color;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

a {
    text-decoration: none;
}

input,
textarea,
button {
    border-radius: 0;
    font-family: $font-family;
}

input,
textarea {
    border-radius: 0 !important;
}

.standard-width-button {
    width: 160px;
}

.loading-gif {
    display: block;
    margin: 0 auto;
    height: 70px;
    width: 70px;
}

*[dropdown-open] {
    cursor: pointer;
}

.alert {
    width: 100%;
    p {
        text-align: center;
        color: white;
        padding: 10px;
        margin: 0;
    }
}

.alert.alert-success {
    background-color: $green-color;
}

.alert.alert-error {
    background-color: $warning-color;
}

.help-block,
.has-error {
    color: $warning-color;
    input,
    textarea {
        border-color: $warning-color !important;
    }
}

.help-block {
    margin: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

.dropdown-menu {
    width: auto;
    min-width: 100%;
    border-radius: 0;
}

.modal-content {
    display: block;
    width: 1024px;
    margin: 50px auto;
}

message-dialog {
    width: 686px !important;
}

.link,
a.link {
    cursor: pointer;
    text-decoration: underline;
    cursor: pointer;
    color: $text-regular-color;
}

.fade {
    opacity: 0;
    transition: opacity 0.15s linear;
}

.fade.in {
    opacity: 1;
}

app-modal {
    z-index: 1000;
}

app-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#feedback-content {
    width: 300px;
    height: 20%;
    span {
        color: white;
        font-size: 30px;
        font-weight: $bold-weight;
    }
    img {
        height: 50px;
    }
}

.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-20 {
    margin-top: 20px;
}

.main-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    height: 100%;
}

.left-nav {
    width: 275px;
    background-color: $left-bar-gray;
    overflow: hidden;
    div {
        overflow: hidden;
    }
}

.padding-zero {
    padding: 0;
}

.margin-zero {
    margin: 0;
}

.form-button {
    border: 2px solid $blue-link;
    padding: 5px 15px;
    background-color: $blue-link;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    font-size: 16px;
    float: right;
    margin-top: 2em;
}

.clear-button-centered {
    float: none;
    margin: 0 auto;
    display: block;
}

.form-button[disabled] {
    border: 2px solid lighten($blue-link, 35%);
    background-color: lighten($blue-link, 75%);
    color: $blue-link;
    color: lighten($blue-link, 35%);
}

section:after {
    content: "";
    clear: both;
    display: table;
}

.three-col-left {
    padding: 0 5px 0 0;
}

.three-col-center {
    padding: 0 5px;
}

.three-col-right {
    padding: 0 0 0 5px;
}

.col-shadow {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 2px;
    padding: 1em;
    background-color: white;
}

.left {
    margin-right: 10px;
}

.error-message {
    font-size: 12px;
    color: $red-color;
}

hr {
    margin: 0.5em 0;
}

.lang-button {
    cursor: pointer;
}

.lang-button:hover {
    text-decoration: underline;
}

.page-wrapper {
    overflow: hidden;
    max-height: 100vh;
}

.element{
    position: relative;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #08222e, -1px -1px 1px white;
    border: none;
    background: linear-gradient(170deg, #D9D9D9, #F1F1F1);
    padding: 5px;
    margin: 12px 0;
    width: 30px;
    height: 30px;
    .menu-items{
        display: none;
        position: absolute;
        left: 60px;
        top: 0;
        background-color: white;
        padding: 15px;
        -webkit-box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.1);
        box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.1);
        min-width: 190px;

        &:before{
            content: '';
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right:15px solid white;
            position: absolute;
            left: -15px;
            top: 5px;
        }
        &>div{
            &:hover{
                &>.submenu-items{
                    display: block;
                    padding-left: 15px;
                }
            }
        }

    }
    .sep{
        margin: 0;
        padding: 0;
    }
    .disabled{
        color: gray;
        opacity: .65;
        cursor: not-allowed;
        &:hover{
            color: gray;
            opacity: .65;
        }
    }
    .mat-icon{
        svg{
            fill: #08222e;
        }
    }
    &:hover, &.activeMenu{
        background: linear-gradient(137deg, #CBE9F8, #F9FDFE);
        box-shadow: 1px 1px 1px white, -1px -1px 1px black;
        outline: none;
        &>.mat-icon{
            svg{
                fill: #224d98;
            }
        }
        cursor: pointer;
    }
    .active{
        display: block;
    }

    &>.mat-icon{
        height: auto;
        width: 20px;
        svg{
            height: auto;
            width: 20px;
        }
    }

    &.logout{
        position: absolute;
        bottom: 10px;
        left: 10px;
        z-index: 20;
    }

}

