app-modal-listado-estudiantes{

	.list-group{
    max-height: 85vh;
		min-height: 70vh;
    overflow-y: auto;
    overflow-x: none;
    margin-bottom: 5px;
}


.list-group-item{
    height: 40px;
    font-weight: 600;
}

.badge{
    cursor: pointer;
}
.badge-disabled{
    cursor: not-allowed;
}

nb-icon {
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;
	&:hover{
		color: 	#3366ff
	}
}

.mt-2_5r{
	margin-top: 2.5rem !important;
}

.input-container {
	position: relative;
}

.search-icon {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	pointer-events: none;
}

nb-icon.arrow{
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;
	color: 	#3366ff
}

.mt-2_5r{
	margin-top: 2.5rem !important;
}

.column1{
	width: 50%;
}

.column2{
	width: 50%;
}

.bordered-column{
	border: 1px solid #edf1f7 !important;
}


}

