<nb-card class="mb-0 reporting-container">
	<nb-card-header class="flex">
		<div class="col-8 modal-title">
			<h2>
				{{ 'INFORMES.INFORME' | translate }} - {{ group.title }}
		</h2>
		</div>
		<div class="col-2 download-excel">
			<span *ngIf="downloadIcon" (click)="downloadExcel()" class="badge badge-pill col-12"><mat-icon svgIcon="icon-excel"></mat-icon></span>
			<span *ngIf="downloadIcon" class="mt-2">{{'INFORMES.EXPORTEXCEL' | translate}}</span>
	</div>
		<div class="col-2">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }"
				(click)="closeModal()"></nb-icon><!-- <mat-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" ngbTooltip="{{ 'GLOBALS.CLOSE' | translate }}" (click)="closeModal('')">close</mat-icon> -->
		</div>
	</nb-card-header>
	<nb-card-body>
		<app-loading [isVisible]="loading"></app-loading>
				<div class="">
					<div class="modal-body" *ngIf="!isLoading">
						<div class="container">
							<div *ngIf="usersInscritos" class="row flex justify-content-center align-items-start">
									<!-- 2.	Listado de curso, con sus grafos y nodos en modo árbol -->
								<div class="col-3">

									<label>{{'SOCKETQUIZPREVIEW.CHOOSESELECTION' | translate}}</label>
									<div class="mb-4 d-flex filter-buttons">
										<button nbButton status="basic" type="button" class="d-flex align-items-center mr-2 " (click)="getMasterDataCourses()">
											<mat-icon svgIcon="graph" [ngbTooltip]="'SOCKETQUIZPREVIEW.ONLYGRAPHS' | translate"></mat-icon>
										</button>
										<button nbButton status="basic" type="button" class="d-flex align-items-center " (click)="getChallenges()">
											<mat-icon id="desafios_icon" svgIcon="desafios_icon" [ngbTooltip]="'SOCKETQUIZPREVIEW.EXCLUSIVEGRAPHS' | translate"></mat-icon>
										</button>

										<button nbButton hero status="primary" class="ml-2" (click)="generateGraphsReport()" *ngIf="showReportButton">{{ reportGenerated == true ? reportTextButtonRefresh : reportTextButton }}</button>
									</div>

									<!-- MODO LISTA CURSOS -->
									<ng-container *ngIf="selectedFilterMode === filterModeList.LIST_MODE">

										<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
											<mat-tree-node class="flex align-items-center " *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding [matTreeNodePaddingIndent]="20" >
												<button mat-icon-button matTreeNodeToggle
																[attr.aria-label]="'Toggle ' + node.name" (click)="resourse(node)">
														<mat-icon class="mat-icon-rtl-mirror">
														{{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
														</mat-icon >
														<!-- <mat-icon svgIcon="{{}}"></mat-icon> -->
														<img src="../../../../assets/images/icons/{{node.icon == 'curso' ? 'ProyectoComoMuchosGrafos' : node.icon}}.svg" alt="" height="24" width="24">
												</button>
												<p class="ml-3 mt-3">{{node.name}}</p><span class="badge ml-1 badge-danger">{{node.pendingQuizzes == 0? '':node.pendingQuizzes}}</span>

												<nb-checkbox class="ml-2 mt-1" *ngIf="node.type === 'GRAFO'" (checkedChange)="toggleChallenge($event, node, selectedType.GRAPH)"></nb-checkbox>
											</mat-tree-node>

											<mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding [ngClass]="{'selected': selectedNode === node}"
												(click)="node.isSelected = !node.isSelected">
												<button mat-icon-button (click)="resourse(node)">
													<mat-icon svgIcon="ideasvg"></mat-icon>
													{{node.name}}<span class="badge ml-1 badge-danger">{{node.pendingQuizzes == 0? '':node.pendingQuizzes }}</span>
												</button>
											</mat-tree-node>

										</mat-tree>

									</ng-container>

									<ng-container *ngIf="selectedFilterMode === filterModeList.CHALLENGE_MODE">
										<div class="challenge-list">
											<div *ngFor="let challenge of challenges" class="d-flex">
												<nb-checkbox (checkedChange)="toggleChallenge($event, challenge, selectedType.CHALLENGE)">
													<span *ngIf="editValue !== challenge.idSession">{{challenge.nameSession}}</span>
													<input nbInput [(ngModel)]="challenge.nameSession" *ngIf="editValue === challenge.idSession" (ngModelChange)="nameSessionChanged($event)">
												</nb-checkbox>
												<div class="edit-buttons ml-2">
													<mat-icon class="pe" placement="right-top" [ngbTooltip]="editValue === challenge.idSession ? ('INFORMES.SAVE' | translate) : ('INFORMES.EDIT' | translate)" (click)="editSaveSession(challenge)">{{editValue === challenge.idSession ? 'save' : 'edit'}}</mat-icon>
													<mat-icon class="pe" placement="right-top" ngbTooltip="{{ 'INFORMES.DELETE' | translate }}" (click)="deleteChallenge(challenge)">delete</mat-icon>
												</div>

											</div>
										</div>

									</ng-container>

									<h5 class="text-title font-weight-bold" *ngIf="dataSource.data.length === 0 && challenges.length === 0">
											{{ 'INFORMES.NOHAYCONTENIDO' | translate }}
									</h5>


								</div>

								<!-- 3.	Tabla con los datos de los quizzes -->
								<div class="col-9 table-datod">
										<div class="w-100">
												<h6 class="font-weight-bold">
														{{ 'INFORMES.TABLA_DATOS_QUIZES' | translate }}
												</h6>
										</div>
										<app-loading [isVisible]="loading"></app-loading>
										<div class="w-100 container-data-table" >
												<app-estudiante-quizes-datos  [idGrupo]="idGrupo" [idCourse]="idCourse" [idGrafo]="idGrafo" [idNode]="idNode"></app-estudiante-quizes-datos>
										</div>
								</div>

								<h5 class="text-title font-weight-bold" *ngIf="usersInscritos.length === 0">
									{{ 'INFORMES.NOHAYESTUDIANTES' | translate }}
								</h5>

							</div>
						</div>
					</div>

					<div class="d-flex justify-content-center mt-4" *ngIf="isLoading">
							<mat-spinner [diameter]="50"></mat-spinner>
					</div>
				</div>
	</nb-card-body>
</nb-card>













