.reporting-container {
  border: 3px solid #7ca1fe;
  min-height:100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: none;

	.mat-tree{
		height: 400px;
		overflow-y: scroll;
		background-color: transparent;
	}

	.filter-buttons{
		button{
			border-radius: 5px;
			box-shadow: 1px 1px 1px #08222e, -1px -1px 1px white;
			border: none;
			//background: linear-gradient(170deg, #D9D9D9, #F1F1F1);
			padding: 5px;
			margin: 12px 0;

			&.enabled{
				//background: linear-gradient(137deg, #CBE9F8, #F9FDFE);
				box-shadow: 1px 1px 1px white, -1px -1px 1px black;
				outline: none;
			}
		}

		.mat-icon{

			&.icon-green{
				svg{
					fill: #1eaa3e;
				}
			}

				svg{
						fill: #224d98;
				}
				&.icon-color {
						svg {
								fill: #224d9850 !important;
						}
				}

		}

	}

  @media (max-width: 999px)  {
      & {
          max-height: 1200px;
      }
  }

	.col-2,.col-10{
		padding: 0 5px;
	}


  .modal-header {
    background: #ffffff00;
    padding: 5px 10px;
    border: none;

    .colorTextoActivadoCursoGrafo{
        color: #333!important;
    }

  }

  .mat-icon-button {
    margin-right: 10px !important;
  }

	#desafios_icon {
		svg{
			.e {
				stroke: red !important;
			}
		}

	}


}

.example-tree-invisible {
    display: none;
  }

  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }

  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-tree-node {
    padding-left: 40px;
  }

  mat-tree {
    background: rgba(43, 41, 41, 0);
    display: block !important;
    // border: 2px solid #9f9f9f47 !important;
    // border-radius: 4px !important;

		.mat-tree-node{
			overflow-x: scroll;
			-ms-overflow-style: none;  /* IE and Edge */
  		scrollbar-width: none; /* FIREFOX */

			&[aria-level="2"]{
				padding-left: 50px!important;
			}
		}


    .mat-tree-node::-webkit-scrollbar {
			display: none;
		}
  }


  .mat-tree-node, .mat-nested-tree-node {
    font-weight: 500 !important;
    font-size: 14px !important;
    min-height: 0px !important;
  }


  .container-data-table{
    max-height: 700px;
    overflow-y: scroll;
  }

	.badge{
    cursor: pointer;
	}
	.badge-disabled{
    cursor: not-allowed;
	}

	.selected {
		background-color: #5ac4fd;
	}

	nb-icon{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
	}

	.bg-white{
		background-color: #fff;
	}

	.download-excel{
		display: flex !important;
		flex-direction: column !important;
		justify-content: center !important;
		text-align: center !important;
	}

	.pe{
		pointer-events: all;
		cursor: pointer;
	}

