.header-icon.mat-icon {
    width: 72px !important;
    height: 72px !important;
    font-size: 72px !important;
}

.hypermedia-button {
    // width: 180px;
    // min-width: 180px;
    // max-width: 180px;

    &.mat-button-base {
        width: 180px !important;
        min-width: 180px !important;
        max-width: 180px !important;
    }

    .mat-button-wrapper {
        width: 100% !important;
    }

    input[type="file"] {
        display: none;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
    }
}
