app-mat-tree-cursos{
	.pointer{
		cursor: pointer;
	}
	.tree{
			margin: 15px 0;
			span{
					font-size: 12px;
					padding-left: 5px;
					cursor: pointer;
					display: flex;
					flex: 1;
			}
			ul{
					list-style: none;
					margin: 0;
					padding: 0;
					&.hide{
							display: none;
					}

					&.tree-inside{
							padding-left: 10px;
							&.quizzes{
									padding-left: 25px;
							}
					}
					li{
							&.noChildren{
									padding-left: 24px;
							}
							&.hasResponse{
								background-color: #caf0f8;
								font-weight: bold;
								font-style: italic;
								border-radius: 5px;
							}
							&.isSelected {
								background-color: #20ccee !important;
								font-weight: bold;
								font-style: italic;
								border-radius: 5px;
							}
							&.lastChild{
									padding-left: 10px;
							}
							&.open{
									&>div{
											.mat-icon:first-child{
													svg{
															transform: rotate(90deg);
													}
											}
									}
							}

							.mat-icon{
								height: 20px;
								width: 20px;
								&.clase1{
									svg{
										g{
											fill: #bbb;
										}
									}
								}
								&.clase2{
									svg{
										g{
											fill: #9A9B9C;
										}
									}
								}
								&.clase3{
									svg{
										g{
											fill: #FB0D1C;
										}
									}
								}
								&.clase4{
									svg{
										g{
											fill: #FC5C20;
										}
									}
								}
								&.clase5{
									svg{
										g{
											fill: #FC9A27;
										}
									}
								}
								&.clase6{
									svg{
										g{
											fill: #FEE533;
										}
									}
								}
								&.clase7{
									svg{
										g{
											fill: #FFFD38;
										}
									}
								}
								&.clase8{
									svg{
										g{
											fill: #D4FD35;
										}
									}
								}
								&.clase9{
									svg{
										g{
											fill: #9CFD32;
										}
									}
								}
								&.clase10{
									svg{
										g{
											fill: #29F82E;
										}
									}
								}
								&.clase11{
									svg{
										g{
											fill: #2AD52D;
										}
									}
								}
								&.clase12{
									svg{
										g{
											fill: #1AAF54;
										}
									}
								}
								&.small{
									height: 14px;
									width: 14px;
								}
							}
					}
					div{
							&.new-element{
									padding-left: 24px;
									span{
											font-weight: 600;
									}
							}
					}
			}
	}
	@media(max-width: 800px){
    .tree ul li{
			padding: 5px 0;
    }
	}
}
