<div #scrollableParent class="tree" style="height: auto; overflow-y: auto">
    <!-- LISTADO DE CURSOS-->
    <ul class="tree-list" *ngIf="treeCourses && !type">
        <li *ngFor="let course of treeCourses" data-id="{{course.idCourse}}" [class.noChildren] = "!course.hasChildren">
            <div class="d-flex align-items-center my-2" (click)="loadMoreContent(course, course.idCourse)">
                <mat-icon svgIcon="chevron_right" class="icon-color-blue pointer" *ngIf="course.hasChildren"></mat-icon>
                <mat-icon svgIcon="ProyectoComoMuchosGrafos"></mat-icon>
                <span (click)="goTo(course)">{{course.name}}</span>
            </div>
            <!-- LISTADO DE GRAFOS -->
            <ul class="tree-inside graphs hide">
                <li *ngFor="let graph of course.children" [class.noChildren] = "!graph.hasChildren" data-id="{{graph.idTarget}}">
                    <div class="d-flex align-items-center my-2" (click)="loadMoreContent(graph, graph.idTarget)">
                        <mat-icon svgIcon="chevron_right" class="icon-color-blue pointer" *ngIf="graph.hasChildren"></mat-icon>
                        <mat-icon svgIcon="ideografo"></mat-icon>
                        <span (click)="goTo(graph)">{{graph.name}}</span>
                    </div>
                    <!-- LISTADO DE NODOS / EN DESAFIOS, PUEDE CONTENER QUIZZES SUELTOS -->
                    <ul class="tree-inside nodes hide">
                        <li *ngFor="let node of graph.children" [class.noChildren] = "!node.hasChildren" data-id="{{node.idNode || node.idQuiz}}">
                            <div class="d-flex align-items-center my-2" (click)="loadMoreContent(node, node.idNode)">
                                <mat-icon svgIcon="chevron_right" class="icon-color-blue pointer" *ngIf="node.hasChildren"></mat-icon>
                                <mat-icon svgIcon="{{node.idNode ? 'ideasvg' : 'act'}}" class="{{node.idNode ? 'icon-green' : node.color +' '+node.sizeQuiz}} mat-icon pointer" (click)="goTo(node)"></mat-icon>
                                <span (click)="goTo(node)">{{node.name}}</span>
                            </div>
                            <!-- LISTADO DE QUIZZES -->
                            <ul class="tree-inside quizzes hide">
                                <li *ngFor="let quiz of node.children" data-id="{{quiz.idQuiz}}" class="lastChild">
                                    <div  class="d-flex align-items-center my-2" (click)="goTo(quiz)">
                                        <mat-icon svgIcon="act" class="pointer mat-icon {{quiz.color}} {{quiz.sizeQuiz}}"></mat-icon>
                                        <span>{{quiz.name}}</span>
                                    </div>
                                </li>
                                <li *ngIf="isAuthor">
                                    <div class="d-flex align-items-center my-2 new-element" (click)="newElement('QUIZ')">
                                        <mat-icon class="icon-color-blue" svgIcon="add"></mat-icon>
                                        <span>{{'TREECOMPONENT.NEWQUIZ' | translate}}</span>
                                    </div>
                                </li>
                            </ul> <!-- FIN LISTADO DE QUIZZES -->
                        </li>
                        <li *ngIf="isAuthor">
                            <div class="d-flex align-items-center my-2 new-element" (click)="newElement('NODE')">
                                <mat-icon class="icon-color-blue" svgIcon="add"></mat-icon>
                                <span>{{'TREECOMPONENT.NEWNODE' | translate}}</span>
                            </div>
                        </li>
                    </ul><!-- FIN LISTADO DE GRAFOS -->
                </li>
                <li *ngIf="isAuthor">
                    <div class="d-flex align-items-center my-2 new-element" (click)="newElement('GRAPH')">
                        <mat-icon class="icon-color-blue" svgIcon="add"></mat-icon>
                        <span>{{'TREECOMPONENT.NEWGRAPH' | translate}}</span>
                    </div>
                </li>
            </ul><!-- FIN LISTADO DE GRAFOS -->
        </li>
        <li *ngIf="isAuthor">
            <div class="d-flex align-items-center my-2 new-element" (click)="newElement('COURSE')">
                <mat-icon class="icon-color-blue" svgIcon="add"></mat-icon>
                <span>{{'TREECOMPONENT.NEWCOURSE' | translate}}</span>
            </div>
        </li>
    </ul> <!-- FIN  LISTADO DE CURSOS-->


		<!-- LISTADO DE GRAFOS-->
		<ul class="tree-list" *ngIf="treeGraphs && !type">
			<li *ngFor="let graph of treeGraphs" [class.noChildren] = "!graph.hasChildren" data-id="{{graph.idTarget}}">
					<div class="d-flex align-items-center my-2" (click)="loadMoreContent(graph, graph.idTarget)">
							<mat-icon svgIcon="chevron_right" class="icon-color-blue pointer" *ngIf="graph.hasChildren"></mat-icon>
							<mat-icon svgIcon="ideografo"></mat-icon>
							<span (click)="goTo(graph)">{{graph.name}}</span>
					</div>
					<!-- LISTADO DE NODOS -->
					<ul class="tree-inside nodes hide">
							<li *ngFor="let node of graph.children; let e = index" [class.noChildren] = "!node.hasChildren" data-id="{{node.idNode}}">
									<div class="d-flex align-items-center my-2" (click)="loadMoreContent(node, node.idNode)">
											<mat-icon svgIcon="chevron_right" class="icon-color-blue pointer" *ngIf="node.hasChildren"></mat-icon>
											<mat-icon svgIcon="ideasvg" class="icon-green pointer" (click)="goTo(node)"></mat-icon>
											<span (click)="goTo(node)">{{node.name}}</span>
									</div>
									<!-- LISTADO DE QUIZZES -->
									<ul class="tree-inside quizzes hide">
											<li *ngFor="let quiz of node.children; let i = index"  data-id=" {{quiz.idQuiz}}" class="lastChild"
												(click)="setSelectedQuiz(e,i)" [ngClass]="quiz.hasResponse ? 'hasResponse': ''" [class.isSelected]="quiz.isSelected">
													<div class="d-flex align-items-center my-2" (click)="goTo(quiz)">
															<mat-icon svgIcon="act" class="pointer"></mat-icon>
															<span>{{quiz.statement}}</span>
													</div>
											</li>
									</ul> <!-- FIN LISTADO DE QUIZZES -->
							</li>
					</ul><!-- FIN LISTADO DE GRAFOS -->
			</li>
		</ul><!-- FIN LISTADO DE GRAFOS -->

		<ng-container *ngIf="type === 'onlyQuizzes'">
			<ul class="tree-list" *ngIf="treeCourses">
				<li *ngFor="let quiz of treeCourses; let i = index" class="lastChild" data-id="{{quiz.idQuiz}}" [class.hasResponse]="quiz.hasResponse">
					<div class="d-flex align-items-center my-2" (click)="goTo(quiz)">
							<mat-icon svgIcon="act" class="pointer"></mat-icon>
							<span>{{quiz.name}}</span>
					</div>
				</li>
			</ul><!-- FIN LISTADO DE GRAFOS -->
		</ng-container>

</div>
