app-modal-ver-curso{

	.h-75 {
		height: 75px !important;
	}


	@media (max-width: 435px) {
		.button-table {
			padding: .1rem .2rem;
		}
	}

	@media (min-width: 436px) and (max-width: 767px) {
		.button-table {
			padding: .15rem .25rem;
		}
	}

	@media (min-width: 768px) {
		.button-table {
			padding: .25rem .5rem;
		}
	}

	.modal-header {
		border-bottom: none !important;
		background: initial;
		padding: 0 !important;
	}

	.sticky-top {
		position: initial !important;
	}
	.title{
		color: #224d98 !important;
		font-size: 2em;
		font-weight: bold;
	}

	.text-body{
		color: #224d98 !important;
		font-weight: 400;
	}

	.close {
		font-size: 3rem;
		font-weight: normal;
		line-height: 0;
		color: #224d98 !important;
	}

	.card-deck{
		height: 100%;
	}
	.imagecontainer{
		/*border: 2px solid #444;*/
		height: 15rem;
		.noImage{
			height: 100%;
			div{
				display: flex;
				align-items: center;
				justify-content: center;
				height: 100%;
				position: relative;
				z-index: 0;
			}

			img{
				&.no-image{
					max-width: 100%;
					width: 256px;
					height: auto;
				}
				height: 64px;
				width: 64px;
			}
			input[type="file"]	{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0;
				z-index: 9999;
			}
		}
		.image{
			width: 100%;
			height: 100%;
			background-position: center center;
			background-repeat: no-repeat;
			background-size: contain; /*cover;*/
			position: relative;
			.delete{
				border-radius: 50%;
				background-color: white;
				height: 32px;
				width: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: 10px;
				top: 10px;
				-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
				box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.52);
				img{
					height: 16px;
					width: 16px;
				}
			}
		}
	}
		.modal-content {
			//background: linear-gradient(345deg, #A9C7DE, #C8D6DF);
			height: auto;
		}



	.img-container{
		position: relative;
		height: 29vh;
		overflow: hidden;
	}

	.card-body {
		padding: 0.5rem;
	}

	.card-img-top{
	position:absolute;
	top:0;
	bottom:0;
	margin:auto;
		align-self: center;

	}



	.avatar{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
	}

    .inline-list{
        background-color: white;
        border: 1px solid #ddd;
        -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.15);
        box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.15);
        cursor: pointer;
        .square-image{
            height: 70px;
            width: 70px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;

        }
        .card-title{
            margin: 0;
        }
        img{
            height: 70px;
            width: auto;
        }

    }
}

