 <app-head-tasks></app-head-tasks>
 <img [src]="images[currentImage]" (click)="changeImage()" class="img-fluid"/>
<!--<app-body-tasks-options></app-body-tasks-options>
<app-body-tasks-list [idCurso] ="idCurso" [option]="option"></app-body-tasks-list> -->
