@import "src/assets/scss/_common.scss";
@import "src/assets/scss/_alignment.scss";

.auth-background {
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
}

.auth-background::before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .6);
}

.auth-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	min-height: 100vh;
}

.auth-content {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
