input[disabled] {
	color: black;
}

p {
	color: black;
	font-weight: 400;
	font-size: 27px;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.timer-canvas {
	position: absolute;
	top: 5px;
	left: auto;
	right: 0;
	margin: 0 auto;
	width: 300px;
	height: 150px;

	canvas {
		width: 300px;
		height: 150px;
		margin-left: 130px;
	}
}
