<form class="w-100 h-100 mt-4" [formGroup]="infoForm">
    <div class="row mb-2" >
        <div class="col-12">
        </div>
        <div class="col timer-canvas" >
            <!-- <canvas #canvas></canvas> -->
			<countdown #cd [config]="config" (event)="handleCountDownEvent($event)" class="counter-down"></countdown>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>{{infoForm.get('instructions').value}}</h2>
        </div>
    </div>
</form>
