/*******************
Global Styles
*******************/

@import url(../scss/icons/font-awesome/css/font-awesome.min.css);
@import url(../scss/icons/themify-icons/themify-icons.css);
@import url(../css/spinners.css);
@import url(../css/animate.css);
* {
    outline: none;
}

body {
    background: #fff;
    /* font-family: "Montserrat", sans-serif; */
    margin: 0;
    overflow-x: hidden;
    color: #67757c;
    font-weight: 300;
}

html {
    position: relative;
    min-height: 100%;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

hr {
    margin-bottom: 0;
}

a:hover,
a:focus {
    text-decoration: none;
}

a.link {
    color: #455a64;
}

a.link:hover,
a.link:focus {
    color: #398bf7;
}


/*******************
use profile section
******************/

.sidebar-nav .user-profile > a img {
    width: 30px;
    border-radius: 100%;
    margin-right: 10px;
}

.sidebar-nav .user-profile > ul {
    padding-left: 40px;
}

/*******************
sidebar navigation
******************/

.scroll-sidebar {
    /* height: calc(100% - 70px); */
}

.scroll-sidebar.ps .ps__scrollbar-y-rail {
    left: 2px;
    right: auto;
    background: none;
    width: 6px;
    /* If using `left`, there shouldn't be a `right`. */
}

.collapse.in {
    display: block;
}

.sidebar-nav {
    background: #fff;
    padding: 0;
}

.sidebar-nav ul {
    margin: 0px;
    padding: 0px;
}

.sidebar-nav ul a {
    /* color: #edf0f5;
    padding: 8px 15px 8px 15px;
    display: block;
    font-size: 14px; */
    /* font-weight: 400; */
}

.sidebar-nav ul li {
    list-style: none;
}

.sidebar-nav ul li a {
    color: #edf0f5;
    padding: 8px 35px 8px 15px;
    display: block;
    font-size: 14px;
    font-weight: 400;
}

.sidebar-nav ul a.active,
.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
    color: #398bf7;
}

.sidebar-nav ul li a.active i,
.sidebar-nav ul li a:hover i {
    color: #398bf7;
}

.sidebar-nav ul li a.active {
    font-weight: 500;
    color: #263238;
}

.sidebar-nav ul li ul {
    padding-left: 28px;
}

.sidebar-nav ul li ul li a {
    padding: 7px 35px 7px 15px;
}

.sidebar-nav ul li ul ul {
    padding-left: 15px;
}

.sidebar-nav ul li.nav-small-cap {
    font-size: 12px;
    margin-bottom: 0px;
    padding: 14px 14px 14px 20px;
    color: #263238;
    font-weight: 500;
}

.sidebar-nav ul li.nav-devider {
    height: 1px;
    background: rgba(120, 130, 140, 0.13);
    display: block;
    margin: 15px 0;
}

.sidebar-nav > ul > li > a i {
    width: 31px;
    font-size: 24px;
    display: inline-block;
    vertical-align: middle;
    color: #555f6d;
}

.sidebar-nav > ul > li > a .label {
    float: right;
    margin-top: 6px;
}

.sidebar-nav > ul > li > a.active {
    font-weight: 400;
    /* MIGUEL background: #ffffff; */
    color: #26c6da;
}

.sidebar-nav > ul > li {
    margin-bottom: 5px;
}

.sidebar-nav > ul > li.active > a {
    color: #398bf7;
    font-weight: 500;
}

.sidebar-nav > ul > li.active > a i {
    color: #398bf7;
}

.sidebar-nav .waves-effect {
    transition: none;
    -webkit-transition: none;
    -o-transition: none;
}

.sidebar-nav .has-arrow {
    position: relative;
}

.sidebar-nav .has-arrow::after {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: #687384;
    right: 1em;
    -webkit-transform: rotate(135deg) translate(0, -50%);
    -ms-transform: rotate(135deg) translate(0, -50%);
    -o-transform: rotate(135deg) translate(0, -50%);
    transform: rotate(135deg) translate(0, -50%);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    transform-origin: top;
    top: 47%;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.sidebar-nav .active > .has-arrow::after,
.sidebar-nav li > .has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
    -webkit-transform: rotate(-135deg) translate(0, -50%);
    -ms-transform: rotate(-135deg) translate(0, -50%);
    -o-transform: rotate(-135deg) translate(0, -50%);
    top: 45%;
    width: 7px;
    transform: rotate(-135deg) translate(0, -50%);
}

@media (min-width: 768px) {
    .mini-sidebar .sidebar-nav #sidebarnav li {
        position: relative;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li > ul {
        position: absolute;
        left: 70px;
        top: 46px;
        width: 220px;
        padding-bottom: 10px;
        z-index: 1001;
        background: #edf0f5;
        display: none;
        padding-left: 1px;
    }
    .mini-sidebar .user-profile .profile-img {
        width: 45px;
    }
    .mini-sidebar .user-profile .profile-img .setpos {
        top: -35px;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul {
        height: auto !important;
        overflow: auto;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul,
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > ul.collapse {
        display: block;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li > a.has-arrow:after {
        display: none;
    }
    .mini-sidebar .sidebar-nav #sidebarnav .user-profile > a {
        padding: 12px 20px;
    }
    .mini-sidebar .scroll-sidebar {
        padding-bottom: 0px;
        /* position: absolute; */
    }
    .mini-sidebar .hide-menu,
    .mini-sidebar .nav-small-cap,
    .mini-sidebar .sidebar-footer,
    .mini-sidebar .user-profile .profile-text,
    .mini-sidebar > .label {
        display: none;
    }
    .mini-sidebar .nav-devider {
        width: 50px;
    }
    .mini-sidebar .sidebar-nav {
        background: transparent;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li > a {
        padding: 12px 24px;
        width: 70px;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a {
        width: 290px;
        background: #edf0f5;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .hide-menu {
        display: inline;
    }
    .mini-sidebar .sidebar-nav #sidebarnav > li:hover > a .label {
        display: none;
    }
}

@media (max-width: 767px) {
    .mini-sidebar .left-sidebar {
        position: fixed;
    }
    /* .mini-sidebar .left-sidebar,
    .mini-sidebar .sidebar-footer {
        left: -170px;
    } */
    .mini-sidebar.show-sidebar .left-sidebar,
    .mini-sidebar.show-sidebar .sidebar-footer {
        left: 0px;
    }
}

/*==============================================================
 For all pages
 ============================================================== */

#main-wrapper {
    width: 100%;
    /* overflow: hidden; */
}

.page-wrapper {

    background: linear-gradient(180deg, #f3f5fb, #dddfe5);
    /* padding-bottom: 60px; */
    position: relative;
}

.page-wrapper > div > app-list-edit-associations{
    background: linear-gradient(137deg, #D2BC9A, #EFDFBF) !important;
    position: absolute;
    /* padding-bottom: 60px; */
    height: 100%;
    width: 100%;
}

.container-fluid {
    padding: 25px 25px;
}

/*******************
 Topbar
*******************/

.fix-header .right-side-panel {
    top: 70px;
    height: calc(100% - 70px);
}

.topbar {
    position: relative;
    z-index: 50;
}

.topbar .navbar-collapse {
    padding: 0 10px;
}

.topbar .top-navbar {
    /*min-height: 70px;*/
    padding: 0px;
}

.topbar .top-navbar .dropdown-toggle::after {
    display: none;
}

.topbar .top-navbar .navbar-header .navbar-brand {
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
    display: none;
}

.topbar .top-navbar .navbar-header .navbar-brand b {
    line-height: 70px;
    display: inline-block;
}

.topbar .top-navbar .navbar-nav > .nav-item > .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 17px;
    line-height: 54px;
}

.topbar .top-navbar .navbar-nav > .nav-item > span {
    line-height: 65px;
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    padding: 0 10px;
}

.topbar .top-navbar .navbar-nav > .nav-item.show {
    background: rgba(0, 0, 0, 0.05);
}

.topbar .profile-pic {
    width: 30px;
    border-radius: 100%;
}

.topbar .dropdown-menu {
}

.topbar .dropdown-menu .dropdown-item {
    padding: 7px 1.5rem;
}

.topbar ul.dropdown-user {
    padding: 0px;
    min-width: 270px;
}

.topbar ul.dropdown-user li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.topbar ul.dropdown-user li.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: rgba(120, 130, 140, 0.13);
}

.topbar ul.dropdown-user li .dw-user-box {
    padding: 10px 15px;
}

.topbar ul.dropdown-user li .dw-user-box .u-img {
    width: 70px;
    display: inline-block;
    vertical-align: top;
}

.topbar ul.dropdown-user li .dw-user-box .u-img img {
    width: 100%;
    border-radius: 5px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text {
    display: inline-block;
    padding-left: 10px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text h4 {
    margin: 0px;
    font-size: 15px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text p {
    margin-bottom: 2px;
    font-size: 12px;
}

.topbar ul.dropdown-user li .dw-user-box .u-text .btn {
    color: #ffffff;
    padding: 5px 10px;
    display: inline-block;
}

.topbar ul.dropdown-user li .dw-user-box .u-text .btn:hover {
    background: #e6294b;
}

.topbar ul.dropdown-user li a {
    padding: 9px 15px;
    display: block;
    color: #67757c;
}

.topbar ul.dropdown-user li a:hover {
    background: #e9edf2;
    color: #398bf7;
    text-decoration: none;
    cursor: pointer;
}

.logo-center .top-navbar .navbar-header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0;
    }
}

/*******************
 scrollbar
*******************/

.slimScrollBar {
    z-index: 10 !important;
}

/*******************
Wave Effects
*******************/

.waves-effect {
    padding: 5px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    -ms-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}

.waves-effect .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    -ms-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    -o-transition-property: transform, opacity;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.waves-effect.waves-light .waves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}

.waves-effect.waves-red .waves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}

.waves-effect.waves-yellow .waves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}

.waves-effect.waves-orange .waves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}

.waves-effect.waves-purple .waves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}

.waves-effect.waves-green .waves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}

.waves-effect.waves-teal .waves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}

html body .waves-notransition {
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    -ms-transition: none;
    transition: none;
}

.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.waves-input-wrapper .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.waves-block {
    display: block;
}

/*******************
Form-control
******************/

.form-control-sm {
    min-height: 20px;
}

.form-control:disabled,
.form-control[readonly] {
    opacity: 0.7;
}

.custom-control-input:focus ~ .custom-control-indicator {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: #06d79c;
}

form label {
    font-weight: 400;
}

.form-group {
    margin-bottom: 25px;
}

.form-horizontal label {
    margin-bottom: 0px;
}

.form-control-static {
    padding-top: 0px;
}

.form-bordered .form-group {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding-bottom: 20px;
}

/*==============================================================
Form Material page
 ============================================================== */

/*Material inputs*/

.form-material .form-group {
    overflow: hidden;
}

.form-material .form-control {
    background-color: transparent;
    background-position: center bottom, center calc(100% - 1px);
    background-repeat: no-repeat;
    background-size: 0 2px, 100% 1px;
    padding: 0;
    -webkit-transition: background 0s ease-out 0s;
    -o-transition: background 0s ease-out 0s;
    transition: background 0s ease-out 0s;
}

.form-material .form-control,
.form-material .form-control.focus,
.form-material .form-control:focus {
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#398bf7),
            to(#398bf7)
        ),
        -webkit-gradient(linear, left top, left bottom, from(#e9edf2), to(#e9edf2));
    background-image: -webkit-linear-gradient(#398bf7, #398bf7),
        -webkit-linear-gradient(#e9edf2, #e9edf2);
    background-image: -o-linear-gradient(#398bf7, #398bf7),
        -o-linear-gradient(#e9edf2, #e9edf2);
    background-image: linear-gradient(#398bf7, #398bf7),
        linear-gradient(#e9edf2, #e9edf2);
    border: 0 none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    float: none;
}

.form-material .form-control.focus,
.form-material .form-control:focus {
    background-size: 100% 2px, 100% 1px;
    outline: 0 none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.form-control-line .form-group {
    overflow: hidden;
}

.form-control-line .form-control {
    border: 0px;
    border-radius: 0px;
    padding-left: 0px;
    border-bottom: 1px solid #f6f9ff;
}

.form-control-line .form-control:focus {
    border-bottom: 1px solid #398bf7;
}

/* Radio Buttons
   ========================================================================== */

[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
    -webkit-transition: 0.28s ease;
    -o-transition: 0.28s ease;
    transition: 0.28s ease;
    /* webkit (konqueror) browsers */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[type="radio"] + label:before,
[type="radio"] + label:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: 0.28s ease;
    -o-transition: 0.28s ease;
    transition: 0.28s ease;
}

/* Unchecked styles */

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after,
[type="radio"]:checked + label:before,
[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border-radius: 50%;
}

[type="radio"]:not(:checked) + label:before,
[type="radio"]:not(:checked) + label:after {
    border: 1px solid #b1b8bb;
}

[type="radio"]:not(:checked) + label:after {
    z-index: -1;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

/* Checked styles */

[type="radio"]:checked + label:before {
    border: 2px solid transparent;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #26a69a;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
    background-color: #26a69a;
    z-index: 0;
}

[type="radio"]:checked + label:after {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
}

/* Radio With gap */

[type="radio"].with-gap:checked + label:after {
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

/* Focused styles */

[type="radio"].tabbed:focus + label:before {
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

/* Disabled Radio With gap */

[type="radio"].with-gap:disabled:checked + label:before {
    border: 2px solid rgba(0, 0, 0, 0.26);
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap:disabled:checked + label:after {
    border: none;
    background-color: rgba(0, 0, 0, 0.26);
}

/* Disabled style */

[type="radio"]:disabled:not(:checked) + label:before,
[type="radio"]:disabled:checked + label:before {
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.26);
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"]:disabled + label {
    color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:not(:checked) + label:before {
    border-color: rgba(0, 0, 0, 0.26);
}

[type="radio"]:disabled:checked + label:after {
    background-color: rgba(0, 0, 0, 0.26);
    border-color: #bdbdbd;
}

/* Checkboxes
   ========================================================================== */

/* CUSTOM CSS CHECKBOXES */

form p {
    margin-bottom: 10px;
    text-align: left;
}

form p:last-child {
    margin-bottom: 0;
}

/* Remove default checkbox */

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="checkbox"] {
    /* checkbox aspect */
}

[type="checkbox"] + label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    -webkit-user-select: none;
    /* webkit (safari, chrome) browsers */
    -moz-user-select: none;
    /* mozilla browsers */
    -khtml-user-select: none;
    /* webkit (konqueror) browsers */
    -ms-user-select: none;
    /* IE10+ */
}

[type="checkbox"] + label:before,
[type="checkbox"]:not(.filled-in) + label:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 1px solid #b1b8bb;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

[type="checkbox"]:not(.filled-in) + label:after {
    border: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:not(:checked):disabled + label:before {
    border: none;
    background-color: rgba(0, 0, 0, 0.26);
}

[type="checkbox"].tabbed:focus + label:after {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    border: 0;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #26a69a;
    border-bottom: 2px solid #26a69a;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"]:checked:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    border-bottom: 2px solid rgba(0, 0, 0, 0.26);
}

/* Indeterminate checkbox */

[type="checkbox"]:indeterminate + label:before {
    top: -11px;
    left: -12px;
    width: 10px;
    height: 22px;
    border-top: none;
    border-left: none;
    border-right: 2px solid #26a69a;
    border-bottom: none;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"]:indeterminate:disabled + label:before {
    border-right: 2px solid rgba(0, 0, 0, 0.26);
    background-color: transparent;
}

[type="checkbox"].filled-in + label:after {
    border-radius: 2px;
}

[type="checkbox"].filled-in + label:before,
[type="checkbox"].filled-in + label:after {
    content: "";
    left: 0;
    position: absolute;
    /* .1s delay is for check animation */
    -webkit-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
        height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
    -o-transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
        height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
    transition: border 0.25s, background-color 0.25s, width 0.2s 0.1s,
        height 0.2s 0.1s, top 0.2s 0.1s, left 0.2s 0.1s;
    z-index: 1;
}

[type="checkbox"].filled-in:not(:checked) + label:before {
    width: 0;
    height: 0;
    border: 3px solid transparent;
    left: 6px;
    top: 10px;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 20% 40%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:not(:checked) + label:after {
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 1px solid #b1b8bb;
    top: 0px;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    -webkit-transform: rotateZ(37deg);
    -ms-transform: rotate(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}

[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
}

[type="checkbox"].filled-in.tabbed:focus + label:after {
    border-radius: 2px;
    border-color: #5a5a5a;
    background-color: rgba(0, 0, 0, 0.1);
}

[type="checkbox"].filled-in.tabbed:checked:focus + label:after {
    border-radius: 2px;
    background-color: #26a69a;
    border-color: #26a69a;
}

[type="checkbox"].filled-in:disabled:not(:checked) + label:before {
    background-color: transparent;
    border: 2px solid transparent;
}

[type="checkbox"].filled-in:disabled:not(:checked) + label:after {
    border-color: transparent;
    background-color: #bdbdbd;
}

[type="checkbox"].filled-in:disabled:checked + label:before {
    background-color: transparent;
}

[type="checkbox"].filled-in:disabled:checked + label:after {
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}

/* Switch
   ========================================================================== */

.switch,
.switch * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.switch label {
    cursor: pointer;
}

.switch label input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
}

.switch label input[type="checkbox"]:checked + .lever {
    background-color: #84c7c1;
}

.switch label input[type="checkbox"]:checked + .lever:after {
    background-color: #26a69a;
    left: 24px;
}

.switch label .lever {
    content: "";
    display: inline-block;
    position: relative;
    width: 40px;
    height: 15px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    vertical-align: middle;
    margin: 0 16px;
}

.switch label .lever:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 21px;
    background-color: #f1f1f1;
    border-radius: 21px;
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -5px;
    top: -3px;
    -webkit-transition: left 0.3s ease, background 0.3s ease,
        -webkit-box-shadow 0.1s ease;
    transition: left 0.3s ease, background 0.3s ease,
        -webkit-box-shadow 0.1s ease;
    -o-transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
    transition: left 0.3s ease, background 0.3s ease, box-shadow 0.1s ease,
        -webkit-box-shadow 0.1s ease;
}

input[type="checkbox"]:checked:not(:disabled) ~ .lever:active::after,
input[type="checkbox"]:checked:not(:disabled).tabbed:focus ~ .lever::after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(38, 166, 154, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(38, 166, 154, 0.1);
}

input[type="checkbox"]:not(:disabled) ~ .lever:active:after,
input[type="checkbox"]:not(:disabled).tabbed:focus ~ .lever::after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(0, 0, 0, 0.08);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.08);
}

.switch input[type="checkbox"][disabled] + .lever {
    cursor: default;
}

.switch label input[type="checkbox"][disabled] + .lever:after,
.switch label input[type="checkbox"][disabled]:checked + .lever:after {
    background-color: #bdbdbd;
}

.scale-up {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: inline-block;
    -webkit-transform-origin: right 0px;
    -ms-transform-origin: right 0px;
    transform-origin: right 0px;
}

.scale-up-left {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    display: inline-block;
    -webkit-transform-origin: left 0px;
    -ms-transform-origin: left 0px;
    transform-origin: left 0px;
}

.show > .scale-up {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right 0px;
    -ms-transform-origin: right 0px;
    transform-origin: right 0px;
}

.show > .scale-up-left {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left 0px;
    -ms-transform-origin: left 0px;
    transform-origin: left 0px;
}

/*panels*/

.card {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.well,
pre {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.page-titles .justify-content-end:last-child .d-flex {
    margin-right: 10px;
}

.btn-circle.right-side-toggle {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 25px;
    z-index: 10;
}

/*Radio button*/

@-webkit-keyframes ripple {
    0% {
        -webkit-box-shadow: 0px 0px 0px 1px transparent;
        box-shadow: 0px 0px 0px 1px transparent;
    }
    50% {
        -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 15px transparent;
        box-shadow: 0px 0px 0px 15px transparent;
    }
}

@keyframes ripple {
    0% {
        -webkit-box-shadow: 0px 0px 0px 1px transparent;
        box-shadow: 0px 0px 0px 1px transparent;
    }
    50% {
        -webkit-box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 15px rgba(0, 0, 0, 0.1);
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 15px transparent;
        box-shadow: 0px 0px 0px 15px transparent;
    }
}

/*Floating label*/

/*Bootstrap Select*/

.bootstrap-select.btn-group .dropdown-menu {
    -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.demo-checkbox label,
.demo-radio-button label {
    min-width: 200px;
    margin-bottom: 20px;
}

.demo-swtich .demo-switch-title,
.demo-swtich .switch {
    width: 150px;
    margin-bottom: 10px;
    display: inline-block;
}

[type="checkbox"] + label {
    padding-left: 26px;
    height: 25px;
    line-height: 21px;
    font-weight: normal;
}

[type="checkbox"]:checked + label:before {
    top: -4px;
    left: -2px;
    width: 11px;
    height: 19px;
}

[type="checkbox"]:checked.chk-col-red + label:before {
    border-right: 2px solid #fb3a3a;
    border-bottom: 2px solid #fb3a3a;
}

[type="checkbox"]:checked.chk-col-pink + label:before {
    border-right: 2px solid #e91e63;
    border-bottom: 2px solid #e91e63;
}

[type="checkbox"]:checked.chk-col-purple + label:before {
    border-right: 2px solid #7460ee;
    border-bottom: 2px solid #7460ee;
}

[type="checkbox"]:checked.chk-col-deep-purple + label:before {
    border-right: 2px solid #673ab7;
    border-bottom: 2px solid #673ab7;
}

[type="checkbox"]:checked.chk-col-indigo + label:before {
    border-right: 2px solid #3f51b5;
    border-bottom: 2px solid #3f51b5;
}

[type="checkbox"]:checked.chk-col-blue + label:before {
    border-right: 2px solid #02bec9;
    border-bottom: 2px solid #02bec9;
}

[type="checkbox"]:checked.chk-col-light-blue + label:before {
    border-right: 2px solid #03a9f4;
    border-bottom: 2px solid #03a9f4;
}

[type="checkbox"]:checked.chk-col-cyan + label:before {
    border-right: 2px solid #00bcd4;
    border-bottom: 2px solid #00bcd4;
}

[type="checkbox"]:checked.chk-col-teal + label:before {
    border-right: 2px solid #009688;
    border-bottom: 2px solid #009688;
}

[type="checkbox"]:checked.chk-col-green + label:before {
    border-right: 2px solid #26c6da;
    border-bottom: 2px solid #26c6da;
}

[type="checkbox"]:checked.chk-col-light-green + label:before {
    border-right: 2px solid #8bc34a;
    border-bottom: 2px solid #8bc34a;
}

[type="checkbox"]:checked.chk-col-lime + label:before {
    border-right: 2px solid #cddc39;
    border-bottom: 2px solid #cddc39;
}

[type="checkbox"]:checked.chk-col-yellow + label:before {
    border-right: 2px solid #ffe821;
    border-bottom: 2px solid #ffe821;
}

[type="checkbox"]:checked.chk-col-amber + label:before {
    border-right: 2px solid #ffc107;
    border-bottom: 2px solid #ffc107;
}

[type="checkbox"]:checked.chk-col-orange + label:before {
    border-right: 2px solid #ff9800;
    border-bottom: 2px solid #ff9800;
}

[type="checkbox"]:checked.chk-col-deep-orange + label:before {
    border-right: 2px solid #ff5722;
    border-bottom: 2px solid #ff5722;
}

[type="checkbox"]:checked.chk-col-brown + label:before {
    border-right: 2px solid #795548;
    border-bottom: 2px solid #795548;
}

[type="checkbox"]:checked.chk-col-grey + label:before {
    border-right: 2px solid #9e9e9e;
    border-bottom: 2px solid #9e9e9e;
}

[type="checkbox"]:checked.chk-col-blue-grey + label:before {
    border-right: 2px solid #607d8b;
    border-bottom: 2px solid #607d8b;
}

[type="checkbox"]:checked.chk-col-black + label:before {
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
}

[type="checkbox"]:checked.chk-col-white + label:before {
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
}

[type="checkbox"].filled-in:checked + label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #26a69a;
    background-color: #26a69a;
    z-index: 0;
}

[type="checkbox"].filled-in:checked + label:before {
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}

[type="checkbox"].filled-in:checked.chk-col-red + label:after {
    border: 2px solid #fb3a3a;
    background-color: #fb3a3a;
}

[type="checkbox"].filled-in:checked.chk-col-pink + label:after {
    border: 2px solid #e91e63;
    background-color: #e91e63;
}

[type="checkbox"].filled-in:checked.chk-col-purple + label:after {
    border: 2px solid #7460ee;
    background-color: #7460ee;
}

[type="checkbox"].filled-in:checked.chk-col-deep-purple + label:after {
    border: 2px solid #673ab7;
    background-color: #673ab7;
}

[type="checkbox"].filled-in:checked.chk-col-indigo + label:after {
    border: 2px solid #3f51b5;
    background-color: #3f51b5;
}

[type="checkbox"].filled-in:checked.chk-col-blue + label:after {
    border: 2px solid #02bec9;
    background-color: #02bec9;
}

[type="checkbox"].filled-in:checked.chk-col-light-blue + label:after {
    border: 2px solid #03a9f4;
    background-color: #03a9f4;
}

[type="checkbox"].filled-in:checked.chk-col-cyan + label:after {
    border: 2px solid #00bcd4;
    background-color: #00bcd4;
}

[type="checkbox"].filled-in:checked.chk-col-teal + label:after {
    border: 2px solid #009688;
    background-color: #009688;
}

[type="checkbox"].filled-in:checked.chk-col-green + label:after {
    border: 2px solid #26c6da;
    background-color: #26c6da;
}

[type="checkbox"].filled-in:checked.chk-col-light-green + label:after {
    border: 2px solid #8bc34a;
    background-color: #8bc34a;
}

[type="checkbox"].filled-in:checked.chk-col-lime + label:after {
    border: 2px solid #cddc39;
    background-color: #cddc39;
}

[type="checkbox"].filled-in:checked.chk-col-yellow + label:after {
    border: 2px solid #ffe821;
    background-color: #ffe821;
}

[type="checkbox"].filled-in:checked.chk-col-amber + label:after {
    border: 2px solid #ffc107;
    background-color: #ffc107;
}

[type="checkbox"].filled-in:checked.chk-col-orange + label:after {
    border: 2px solid #ff9800;
    background-color: #ff9800;
}

[type="checkbox"].filled-in:checked.chk-col-deep-orange + label:after {
    border: 2px solid #ff5722;
    background-color: #ff5722;
}

[type="checkbox"].filled-in:checked.chk-col-brown + label:after {
    border: 2px solid #795548;
    background-color: #795548;
}

[type="checkbox"].filled-in:checked.chk-col-grey + label:after {
    border: 2px solid #9e9e9e;
    background-color: #9e9e9e;
}

[type="checkbox"].filled-in:checked.chk-col-blue-grey + label:after {
    border: 2px solid #607d8b;
    background-color: #607d8b;
}

[type="checkbox"].filled-in:checked.chk-col-black + label:after {
    border: 2px solid #000000;
    background-color: #000000;
}

[type="checkbox"].filled-in:checked.chk-col-white + label:after {
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

[type="radio"]:not(:checked) + label {
    padding-left: 26px;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
}

[type="radio"]:checked + label {
    padding-left: 26px;
    height: 25px;
    line-height: 25px;
    font-weight: normal;
}

[type="radio"].radio-col-red:checked + label:after {
    background-color: #fb3a3a;
    border-color: #fb3a3a;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-pink:checked + label:after {
    background-color: #e91e63;
    border-color: #e91e63;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-purple:checked + label:after {
    background-color: #7460ee;
    border-color: #7460ee;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-deep-purple:checked + label:after {
    background-color: #673ab7;
    border-color: #673ab7;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-indigo:checked + label:after {
    background-color: #3f51b5;
    border-color: #3f51b5;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-blue:checked + label:after {
    background-color: #02bec9;
    border-color: #02bec9;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-light-blue:checked + label:after {
    background-color: #03a9f4;
    border-color: #03a9f4;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-cyan:checked + label:after {
    background-color: #00bcd4;
    border-color: #00bcd4;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-teal:checked + label:after {
    background-color: #009688;
    border-color: #009688;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-green:checked + label:after {
    background-color: #26c6da;
    border-color: #26c6da;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-light-green:checked + label:after {
    background-color: #8bc34a;
    border-color: #8bc34a;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-lime:checked + label:after {
    background-color: #cddc39;
    border-color: #cddc39;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-yellow:checked + label:after {
    background-color: #ffe821;
    border-color: #ffe821;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-amber:checked + label:after {
    background-color: #ffc107;
    border-color: #ffc107;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-orange:checked + label:after {
    background-color: #ff9800;
    border-color: #ff9800;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-deep-orange:checked + label:after {
    background-color: #ff5722;
    border-color: #ff5722;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-brown:checked + label:after {
    background-color: #795548;
    border-color: #795548;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-grey:checked + label:after {
    background-color: #9e9e9e;
    border-color: #9e9e9e;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-blue-grey:checked + label:after {
    background-color: #607d8b;
    border-color: #607d8b;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-black:checked + label:after {
    background-color: #000000;
    border-color: #000000;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].radio-col-white:checked + label:after {
    background-color: #ffffff;
    border-color: #ffffff;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-red:checked + label:before {
    border: 2px solid #fb3a3a;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-red:checked + label:after {
    background-color: #fb3a3a;
    border: 2px solid #fb3a3a;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-pink:checked + label:before {
    border: 2px solid #e91e63;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-pink:checked + label:after {
    background-color: #e91e63;
    border: 2px solid #e91e63;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-purple:checked + label:before {
    border: 2px solid #7460ee;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-purple:checked + label:after {
    background-color: #7460ee;
    border: 2px solid #7460ee;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-deep-purple:checked + label:before {
    border: 2px solid #673ab7;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-deep-purple:checked + label:after {
    background-color: #673ab7;
    border: 2px solid #673ab7;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-indigo:checked + label:before {
    border: 2px solid #3f51b5;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-indigo:checked + label:after {
    background-color: #3f51b5;
    border: 2px solid #3f51b5;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-blue:checked + label:before {
    border: 2px solid #02bec9;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-blue:checked + label:after {
    background-color: #02bec9;
    border: 2px solid #02bec9;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-light-blue:checked + label:before {
    border: 2px solid #03a9f4;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-light-blue:checked + label:after {
    background-color: #03a9f4;
    border: 2px solid #03a9f4;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-cyan:checked + label:before {
    border: 2px solid #00bcd4;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-cyan:checked + label:after {
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-teal:checked + label:before {
    border: 2px solid #009688;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-teal:checked + label:after {
    background-color: #009688;
    border: 2px solid #009688;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-green:checked + label:before {
    border: 2px solid #26c6da;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-green:checked + label:after {
    background-color: #26c6da;
    border: 2px solid #26c6da;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-light-green:checked + label:before {
    border: 2px solid #8bc34a;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-light-green:checked + label:after {
    background-color: #8bc34a;
    border: 2px solid #8bc34a;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-lime:checked + label:before {
    border: 2px solid #cddc39;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-lime:checked + label:after {
    background-color: #cddc39;
    border: 2px solid #cddc39;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-yellow:checked + label:before {
    border: 2px solid #ffe821;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-yellow:checked + label:after {
    background-color: #ffe821;
    border: 2px solid #ffe821;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-amber:checked + label:before {
    border: 2px solid #ffc107;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-amber:checked + label:after {
    background-color: #ffc107;
    border: 2px solid #ffc107;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-orange:checked + label:before {
    border: 2px solid #ff9800;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-orange:checked + label:after {
    background-color: #ff9800;
    border: 2px solid #ff9800;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-deep-orange:checked + label:before {
    border: 2px solid #ff5722;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-deep-orange:checked + label:after {
    background-color: #ff5722;
    border: 2px solid #ff5722;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-brown:checked + label:before {
    border: 2px solid #795548;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-brown:checked + label:after {
    background-color: #795548;
    border: 2px solid #795548;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-grey:checked + label:before {
    border: 2px solid #9e9e9e;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-grey:checked + label:after {
    background-color: #9e9e9e;
    border: 2px solid #9e9e9e;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-blue-grey:checked + label:before {
    border: 2px solid #607d8b;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-blue-grey:checked + label:after {
    background-color: #607d8b;
    border: 2px solid #607d8b;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-black:checked + label:before {
    border: 2px solid #000000;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-black:checked + label:after {
    background-color: #000000;
    border: 2px solid #000000;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-white:checked + label:before {
    border: 2px solid #ffffff;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

[type="radio"].with-gap.radio-col-white:checked + label:after {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-animation: ripple 0.2s linear forwards;
    animation: ripple 0.2s linear forwards;
}

.switch label {
    font-weight: normal;
    font-size: 13px;
}

.switch label .lever {
    margin: 0 14px;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-red:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(251, 58, 58, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(251, 58, 58, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-red {
    background-color: rgba(251, 58, 58, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-red:after {
    background-color: #fb3a3a;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-pink:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(233, 30, 99, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(233, 30, 99, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-pink {
    background-color: rgba(233, 30, 99, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-pink:after {
    background-color: #e91e63;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-purple:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(116, 96, 238, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(116, 96, 238, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-purple {
    background-color: rgba(116, 96, 238, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-purple:after {
    background-color: #7460ee;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-deep-purple:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(103, 58, 183, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(103, 58, 183, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-deep-purple {
    background-color: rgba(103, 58, 183, 0.5);
}

.switch
    label
    input[type="checkbox"]:checked
    + .lever.switch-col-deep-purple:after {
    background-color: #673ab7;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-indigo:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(63, 81, 181, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(63, 81, 181, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-indigo {
    background-color: rgba(63, 81, 181, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-indigo:after {
    background-color: #3f51b5;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-blue:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(2, 190, 201, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(2, 190, 201, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-blue {
    background-color: rgba(2, 190, 201, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-blue:after {
    background-color: #02bec9;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-light-blue:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(3, 169, 244, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(3, 169, 244, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-light-blue {
    background-color: rgba(3, 169, 244, 0.5);
}

.switch
    label
    input[type="checkbox"]:checked
    + .lever.switch-col-light-blue:after {
    background-color: #03a9f4;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-cyan:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(0, 188, 212, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(0, 188, 212, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-cyan {
    background-color: rgba(0, 188, 212, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-cyan:after {
    background-color: #00bcd4;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-teal:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(0, 150, 136, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(0, 150, 136, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-teal {
    background-color: rgba(0, 150, 136, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-teal:after {
    background-color: #009688;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-green:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(38, 198, 218, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(38, 198, 218, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-green {
    background-color: rgba(38, 198, 218, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-green:after {
    background-color: #26c6da;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-light-green:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(139, 195, 74, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(139, 195, 74, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-light-green {
    background-color: rgba(139, 195, 74, 0.5);
}

.switch
    label
    input[type="checkbox"]:checked
    + .lever.switch-col-light-green:after {
    background-color: #8bc34a;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-lime:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(205, 220, 57, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(205, 220, 57, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-lime {
    background-color: rgba(205, 220, 57, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-lime:after {
    background-color: #cddc39;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-yellow:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 232, 33, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 232, 33, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-yellow {
    background-color: rgba(255, 232, 33, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-yellow:after {
    background-color: #ffe821;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-amber:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 193, 7, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 193, 7, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-amber {
    background-color: rgba(255, 193, 7, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-amber:after {
    background-color: #ffc107;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-orange:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 152, 0, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 152, 0, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-orange {
    background-color: rgba(255, 152, 0, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-orange:after {
    background-color: #ff9800;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-deep-orange:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 87, 34, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 87, 34, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-deep-orange {
    background-color: rgba(255, 87, 34, 0.5);
}

.switch
    label
    input[type="checkbox"]:checked
    + .lever.switch-col-deep-orange:after {
    background-color: #ff5722;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-brown:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(121, 85, 72, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(121, 85, 72, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-brown {
    background-color: rgba(121, 85, 72, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-brown:after {
    background-color: #795548;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-grey:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(158, 158, 158, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(158, 158, 158, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-grey {
    background-color: rgba(158, 158, 158, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-grey:after {
    background-color: #9e9e9e;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-blue-grey:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(96, 125, 139, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(96, 125, 139, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-blue-grey {
    background-color: rgba(96, 125, 139, 0.5);
}

.switch
    label
    input[type="checkbox"]:checked
    + .lever.switch-col-blue-grey:after {
    background-color: #607d8b;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-black:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 0, 0, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-black {
    background-color: rgba(0, 0, 0, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-black:after {
    background-color: #000000;
}

.switch
    label
    input[type="checkbox"]:checked:not(:disabled)
    ~ .lever.switch-col-white:active:after {
    -webkit-box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 255, 255, 0.1);
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4),
        0 0 0 15px rgba(255, 255, 255, 0.1);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-white {
    background-color: rgba(255, 255, 255, 0.5);
}

.switch label input[type="checkbox"]:checked + .lever.switch-col-white:after {
    background-color: #ffffff;
}

/*Form Validation*/

.help-block ul {
    padding: 0px;
    margin: 0px;
}

.help-block ul li {
    list-style: none;
}

.error .form-control {
    border-color: #ef5350;
}

.validate .form-control {
    border-color: #06d79c;
}

/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*Theme Colors*/

/*bootstrap Color*/

/*Light colors*/

/*Normal Color*/

/*Extra Variable*/

/*******************
Table Cell
*******************/

.table-box {
    display: table;
    width: 100%;
}

.table.no-border tbody td {
    border: 0px;
}

.cell {
    display: table-cell;
    vertical-align: middle;
}

.table td,
.table th {
    border-color: #f3f1f1;
}

.table thead th,
.table th {
    font-weight: 500;
}

.table-hover tbody tr:hover {
    background: #e9edf2;
}

.nowrap {
    white-space: nowrap;
}

.lite-padding td {
    padding: 5px;
}

.v-middle td,
.v-middle th {
    vertical-align: middle;
}

/*******************
Table-Layout
******************/

.table thead th,
.table th {
    border: 0px;
}

.color-table.primary-table thead th {
    background-color: #745af2;
    color: #ffffff;
}

.table-striped tbody tr:nth-of-type(odd) {
    background: #e9edf2;
}

.color-table.success-table thead th {
    background-color: #06d79c;
    color: #ffffff;
}

.color-table.info-table thead th {
    background-color: #398bf7;
    color: #ffffff;
}

.color-table.warning-table thead th {
    background-color: #ffb22b;
    color: #ffffff;
}

.color-table.danger-table thead th {
    background-color: #ef5350;
    color: #ffffff;
}

.color-table.inverse-table thead th {
    background-color: #2f3d4a;
    color: #ffffff;
}

.color-table.dark-table thead th {
    background-color: #263238;
    color: #ffffff;
}

.color-table.red-table thead th {
    background-color: #fb3a3a;
    color: #ffffff;
}

.color-table.purple-table thead th {
    background-color: #7460ee;
    color: #ffffff;
}

.color-table.muted-table thead th {
    background-color: #99abb4;
    color: #ffffff;
}

.color-bordered-table.primary-bordered-table {
    border: 2px solid #745af2;
}

.color-bordered-table.primary-bordered-table thead th {
    background-color: #745af2;
    color: #ffffff;
}

.color-bordered-table.success-bordered-table {
    border: 2px solid #06d79c;
}

.color-bordered-table.success-bordered-table thead th {
    background-color: #06d79c;
    color: #ffffff;
}

.color-bordered-table.info-bordered-table {
    border: 2px solid #398bf7;
}

.color-bordered-table.info-bordered-table thead th {
    background-color: #398bf7;
    color: #ffffff;
}

.color-bordered-table.warning-bordered-table {
    border: 2px solid #ffb22b;
}

.color-bordered-table.warning-bordered-table thead th {
    background-color: #ffb22b;
    color: #ffffff;
}

.color-bordered-table.danger-bordered-table {
    border: 2px solid #ef5350;
}

.color-bordered-table.danger-bordered-table thead th {
    background-color: #ef5350;
    color: #ffffff;
}

.color-bordered-table.inverse-bordered-table {
    border: 2px solid #2f3d4a;
}

.color-bordered-table.inverse-bordered-table thead th {
    background-color: #2f3d4a;
    color: #ffffff;
}

.color-bordered-table.dark-bordered-table {
    border: 2px solid #263238;
}

.color-bordered-table.dark-bordered-table thead th {
    background-color: #263238;
    color: #ffffff;
}

.color-bordered-table.red-bordered-table {
    border: 2px solid #fb3a3a;
}

.color-bordered-table.red-bordered-table thead th {
    background-color: #fb3a3a;
    color: #ffffff;
}

.color-bordered-table.purple-bordered-table {
    border: 2px solid #7460ee;
}

.color-bordered-table.purple-bordered-table thead th {
    background-color: #7460ee;
    color: #ffffff;
}

.color-bordered-table.muted-bordered-table {
    border: 2px solid #99abb4;
}

.color-bordered-table.muted-bordered-table thead th {
    background-color: #99abb4;
    color: #ffffff;
}

.full-color-table.full-primary-table {
    background-color: #f1effd;
}

.full-color-table.full-primary-table thead th {
    background-color: #745af2;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-primary-table tbody td {
    border: 0;
}

.full-color-table.full-primary-table tr:hover {
    background-color: #745af2;
    color: #ffffff;
}

.full-color-table.full-success-table {
    background-color: #e8fdeb;
}

.full-color-table.full-success-table thead th {
    background-color: #06d79c;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-success-table tbody td {
    border: 0;
}

.full-color-table.full-success-table tr:hover {
    background-color: #06d79c;
    color: #ffffff;
}

.full-color-table.full-info-table {
    background-color: #cfecfe;
}

.full-color-table.full-info-table thead th {
    background-color: #398bf7;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-info-table tbody td {
    border: 0;
}

.full-color-table.full-info-table tr:hover {
    background-color: #398bf7;
    color: #ffffff;
}

.full-color-table.full-warning-table {
    background-color: #fff8ec;
}

.full-color-table.full-warning-table thead th {
    background-color: #ffb22b;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-warning-table tbody td {
    border: 0;
}

.full-color-table.full-warning-table tr:hover {
    background-color: #ffb22b;
    color: #ffffff;
}

.full-color-table.full-danger-table {
    background-color: #f9e7eb;
}

.full-color-table.full-danger-table thead th {
    background-color: #ef5350;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-danger-table tbody td {
    border: 0;
}

.full-color-table.full-danger-table tr:hover {
    background-color: #ef5350;
    color: #ffffff;
}

.full-color-table.full-inverse-table {
    background-color: #f6f6f6;
}

.full-color-table.full-inverse-table thead th {
    background-color: #2f3d4a;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-inverse-table tbody td {
    border: 0;
}

.full-color-table.full-inverse-table tr:hover {
    background-color: #2f3d4a;
    color: #ffffff;
}

.full-color-table.full-dark-table {
    background-color: rgba(43, 43, 43, 0.8);
}

.full-color-table.full-dark-table thead th {
    background-color: #263238;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-dark-table tbody td {
    border: 0;
    color: #ffffff;
}

.full-color-table.full-dark-table tr:hover {
    background-color: #263238;
    color: #ffffff;
}

.full-color-table.full-red-table {
    background-color: #f9e7eb;
}

.full-color-table.full-red-table thead th {
    background-color: #fb3a3a;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-red-table tbody td {
    border: 0;
}

.full-color-table.full-red-table tr:hover {
    background-color: #fb3a3a;
    color: #ffffff;
}

.full-color-table.full-purple-table {
    background-color: #f1effd;
}

.full-color-table.full-purple-table thead th {
    background-color: #7460ee;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-purple-table tbody td {
    border: 0;
}

.full-color-table.full-purple-table tr:hover {
    background-color: #7460ee;
    color: #ffffff;
}

.full-color-table.full-muted-table {
    background-color: rgba(152, 166, 173, 0.2);
}

.full-color-table.full-muted-table thead th {
    background-color: #99abb4;
    border: 0;
    color: #ffffff;
}

.full-color-table.full-muted-table tbody td {
    border: 0;
}

.full-color-table.full-muted-table tr:hover {
    background-color: #99abb4;
    color: #ffffff;
}

/*******************
Table-Data Table
******************/

.dataTables_wrapper {
    padding-top: 10px;
}

.dt-buttons {
    display: inline-block;
    padding-top: 5px;
    margin-bottom: 15px;
}

.dt-buttons .dt-button {
    padding: 5px 15px;
    border-radius: 4px;
    background: #398bf7;
    color: #ffffff;
    margin-right: 3px;
}

.dt-buttons .dt-button:hover {
    background: #2f3d4a;
}

.dataTables_info,
.dataTables_length {
    display: inline-block;
}

.dataTables_length {
    margin-top: 10px;
}

.dataTables_length select {
    border: 0;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#398bf7),
            to(#398bf7)
        ),
        -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#398bf7, #398bf7),
        -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#398bf7, #398bf7),
        -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#398bf7, #398bf7),
        linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    padding-bottom: 5px;
}

.dataTables_length select:focus {
    outline: none;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#398bf7),
            to(#398bf7)
        ),
        -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#398bf7, #398bf7),
        -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#398bf7, #398bf7),
        -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#398bf7, #398bf7),
        linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.dataTables_filter {
    float: right;
    margin-top: 10px;
}

.dataTables_filter input {
    border: 0;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#398bf7),
            to(#398bf7)
        ),
        -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#398bf7, #398bf7),
        -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#398bf7, #398bf7),
        -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#398bf7, #398bf7),
        linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    -webkit-transition: background 0s ease-out;
    -o-transition: background 0s ease-out;
    transition: background 0s ease-out;
    float: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    margin-left: 10px;
}

.dataTables_filter input:focus {
    outline: none;
    background-image: -webkit-gradient(
            linear,
            left top,
            left bottom,
            from(#398bf7),
            to(#398bf7)
        ),
        -webkit-gradient(linear, left top, left bottom, from(#b1b8bb), to(#b1b8bb));
    background-image: -webkit-linear-gradient(#398bf7, #398bf7),
        -webkit-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: -o-linear-gradient(#398bf7, #398bf7),
        -o-linear-gradient(#b1b8bb, #b1b8bb);
    background-image: linear-gradient(#398bf7, #398bf7),
        linear-gradient(#b1b8bb, #b1b8bb);
    background-size: 100% 2px, 100% 1px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}

table.dataTable thead .sorting_asc:after {
    content: "\f0de";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
}

table.dataTable thead .sorting_desc:after {
    content: "\f0dd";
    margin-left: 10px;
    font-family: fontawesome;
    cursor: pointer;
}

table.dataTable thead .sorting:after {
    content: "\f0dc";
    margin-left: 10px;
    font-family: fontawesome !important;
    cursor: pointer;
    color: rgba(50, 50, 50, 0.5);
}

.dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    *cursor: hand;
    color: #67757c;
    border: 1px solid #ddd;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #ffffff !important;
    border: 1px solid #398bf7;
    background-color: #398bf7;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #67757c;
    border: 1px solid #ddd;
    background: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white;
    border: 1px solid #398bf7;
    background-color: #398bf7;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
    outline: none;
    background-color: #67757c;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
    padding: 0 1em;
}

/*******************
Table- responsive
******************/

.tablesaw-bar .btn-group label {
    color: #67757c !important;
}

/*******************
Table- editable table
******************/

.dt-bootstrap {
    display: block;
}

.paging_simple_numbers .pagination .paginate_button {
    padding: 0px;
    background: #ffffff;
}

.paging_simple_numbers .pagination .paginate_button:hover {
    background: #ffffff;
}

.paging_simple_numbers .pagination .paginate_button a {
    padding: 3px 10px;
    border: 0px;
}

.paging_simple_numbers .pagination .paginate_button.active a,
.paging_simple_numbers .pagination .paginate_button:hover a {
    background: #398bf7;
    color: #ffffff;
}

.stylish-table tbody tr {
    border-left: 3px solid transparent;
}

.stylish-table tbody tr:hover,
.stylish-table tbody tr.active {
    border-color: #398bf7;
}

/*******************
Table-Jsgrid table
******************/

.jsgrid-pager-page a,
.jsgrid-pager-current-page,
.jsgrid-pager-nav-button a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #67757c;
    border: 1px solid #ddd;
}

.jsgrid-pager-page a:hover,
.jsgrid-pager-nav-button a:hover {
    background-color: #398bf7;
    color: #ffffff;
}

.jsgrid-pager-current-page {
    background-color: #398bf7;
    color: #ffffff;
}

.jsgrid-pager-page,
.jsgrid-pager-nav-button {
    padding: 0;
}

.jsgrid-pager-page.jsgrid-pager-current-page {
    padding: 0.5em 1em !important;
}

/*
Template Name: Admin pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*Theme Colors*/

/*bootstrap Color*/

/*Light colors*/

/*Normal Color*/

/*Extra Variable*/

/* perfect-scrollbar v0.7.1 */

.dropdown-submenu-items a,
.dropdown-submenu-items mat-icon.icon-color-blue svg {
    color: #15a7e8;
    fill: #15a7e8;
}

.scroll-sdbar,
.dropdown-menu-left {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 15px;
    height: calc(100% - 50px);
}

.dropdown-menu-left {
    position: fixed;
    min-width: 49px;
}

.dropdown-submenu-items {
    display: none;
    position: absolute;
    left: 125px;
    top: 0;
    z-index: 999;
    background-color: white;
    width: 100%;
    height: calc(100% - 50px);
}

.sidebar-nav {
    width: 100%;
    background-color: white;
}

.submenu-items {
    display: none;
}

.menu-items-left:hover > .submenu-items,
.dropdown-submenu-items-item:hover > .submenu-items {
    display: block !important;
    padding-left: 15px;
}

.dropdown-menu-left > div > a {
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-left-menu {
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.item-left-menu:hover {
    width: 280px;
}

.item-left-menu:hover,
.dropdown-menu-left > div > a:hover {
    background-color: #f5f6fa;
}

.item-left-menu:hover > .dropdown-submenu-items {
    display: block;
    z-index: 999;
}
.item-left-menu:hover > .dropdown-submenu-items a {
    padding: 10px 10px 10px 5px;
}

.dropdown-submenu-items .dropdown-submenu-items-item.last-child {
    margin-top: 40px;
    padding-bottom: 15px;
}

.scroll-sdbar:hover,
.dropdown-menu-left:hover {
    overflow-x: hidden!important;
    min-width: 150px!important;
    background-color: white;
}

.scroll-sdbar:hover .menuRolTitle,
.dropdown-menu-left:hover .menuRolTitle {
    display: inline !important;
}

.item-rol-menu {
    padding-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item-rol-menu:hover,
.dropdown-submenu-items-item a:hover {
    background-color: #d1e7f2;
}

.item-rol-menu,
.item-rol-menu svg,
.item-rol-menu span,
.dropdown-submenu-items-item a,
.dropdown-submenu-items-item a svg,
.dropdown-submenu-items-item a span {
    color: #15a7e8;
    fill: #15a7e8;
}

.item-rol-menu:hover,
.item-rol-menu:hover svg,
.item-rol-menu:hover span,
.dropdown-submenu-items-item a:hover,
.dropdown-submenu-items-item a:hover span,
.dropdown-submenu-items-item a:hover svg {
    color: #1b6080;
    fill: #1b6080;
}

@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}

.ps.ps--active-x > .ps__scrollbar-x-rail,
.ps.ps--active-y > .ps__scrollbar-y-rail {
    display: block;
    background-color: transparent;
}

.ps.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
    background-color: #eee;
    opacity: 0.9;
}

.ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    background-color: transparent;
    width: 8px;
}

.ps > .ps__scrollbar-x-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    bottom: 0px;
    /* there must be 'bottom' for ps__scrollbar-x-rail */
    height: 6px;
}

.ps > .ps__scrollbar-x-rail > .ps__scrollbar-x {
    position: absolute;
    /* please don't change 'position' */
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    bottom: 2px;
    /* there must be 'bottom' for ps__scrollbar-x */
    height: 6px;
}

.ps > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x,
.ps > .ps__scrollbar-x-rail:active > .ps__scrollbar-x {
    height: 6px;
}

.ps > .ps__scrollbar-y-rail {
    display: none;
    position: absolute;
    /* please don't change 'position' */
    opacity: 0;
    right: 0;
    /* there must be 'right' for ps__scrollbar-y-rail */
    width: 6px;
}

.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    position: absolute;
    /* please don't change 'position' */
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    right: 2px;
    /* there must be 'right' for ps__scrollbar-y */
    width: 6px;
}

.ps > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y,
.ps > .ps__scrollbar-y-rail:active > .ps__scrollbar-y {
    width: 6px;
}

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0.9;
}

.ps:hover.ps--in-scrolling.ps--x > .ps__scrollbar-x-rail > .ps__scrollbar-x {
    background-color: rgba(0, 0, 0, 0.2);
    height: 6px;
}

.ps:hover.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    background-color: rgba(0, 0, 0, 0.2);
    width: 6px;
}

.ps:hover > .ps__scrollbar-x-rail,
.ps:hover > .ps__scrollbar-y-rail {
    opacity: 0.6;
}

.ps:hover > .ps__scrollbar-x-rail:hover > .ps__scrollbar-x {
    background-color: rgba(0, 0, 0, 0.2);
}

.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
    background-color: rgba(0, 0, 0, 0.2);
}

#slimtest3.ps .ps__scrollbar-y-rail {
    left: 3px;
    right: auto;
}

#slimtest4.ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
    background-color: #398bf7;
}

#slimtest4.ps:hover.ps--in-scrolling.ps--y
    > .ps__scrollbar-y-rail
    > .ps__scrollbar-y {
    background-color: #398bf7;
}

#slimtest4.ps:hover > .ps__scrollbar-y-rail:hover > .ps__scrollbar-y {
    background-color: #398bf7;
}

/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*
Template Name: Admin Pro Admin
Author: Wrappixel
Email: niravjoshi87@gmail.com
File: scss
*/

/*******************
/*User mail widgets*/

/*******************/

.topbar .top-navbar .mailbox {
    width: 300px;
}

.topbar .top-navbar .mailbox ul {
    padding: 0px;
}

.topbar .top-navbar .mailbox ul li {
    list-style: none;
}

.mailbox ul li .drop-title {
    font-weight: 500;
    padding: 11px 20px 15px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

.mailbox ul li .nav-link {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding-top: 15px;
}

.mailbox .message-center {
    height: 200px;
    overflow: auto;
    position: relative;
}

.mailbox .message-center a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}

.mailbox .message-center a:hover {
    background: #e9edf2;
}

.mailbox .message-center a div {
    white-space: normal;
}

.mailbox .message-center a .user-img {
    width: 40px;
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
}

.mailbox .message-center a .user-img img {
    width: 100%;
}

.mailbox .message-center a .user-img .profile-status {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    left: 30px;
    position: absolute;
    top: 1px;
    width: 10px;
}

.mailbox .message-center a .user-img .online {
    background: #06d79c;
}

.mailbox .message-center a .user-img .busy {
    background: #ef5350;
}

.mailbox .message-center a .user-img .away {
    background: #ffb22b;
}

.mailbox .message-center a .user-img .offline {
    background: #ffb22b;
}

.mailbox .message-center a .mail-contnet {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}

.mailbox .message-center a .mail-contnet h5 {
    margin: 5px 0px 0;
}

.mailbox .message-center a .mail-contnet .mail-desc,
.mailbox .message-center a .mail-contnet .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}

/*******************/

/*Weather*/

/*******************/

.city-weather-days {
    margin: 0px;
}

.city-weather-days li {
    text-align: center;
    padding: 15px 0;
}

.city-weather-days li span {
    display: block;
    padding: 10px 0 0;
    color: #99abb4;
}

.city-weather-days li i {
    display: block;
    font-size: 20px;
    color: #398bf7;
}

.city-weather-days li h3 {
    font-weight: 300;
    margin-top: 5px;
}

/*Weather small*/

.weather-small h1 {
    line-height: 30px;
}

.weather-small sup {
    font-size: 60%;
}

/*******************/

/*Comment widgets*/

/*******************/

.comment-widgets {
    position: relative;
    margin-bottom: 10px;
}

.comment-widgets .comment-row {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    padding: 15px;
}

.comment-widgets .comment-row:last-child {
    border-bottom: 0px;
}

.comment-widgets .comment-row:hover,
.comment-widgets .comment-row.active {
    background: rgba(0, 0, 0, 0.02);
}

.comment-text {
    padding: 15px 15px 15px 20px;
    width: 80%;
}

.comment-text:hover .comment-footer .action-icons,
.comment-text.active .comment-footer .action-icons {
    visibility: visible;
}

.comment-text p {
    max-height: 50px;
    width: 100%;
    overflow: hidden;
}

.comment-footer .action-icons {
    visibility: hidden;
}

.comment-footer .action-icons a {
    padding-left: 7px;
    vertical-align: middle;
    color: #99abb4;
}

.comment-footer .action-icons a:hover,
.comment-footer .action-icons a.active {
    color: #398bf7;
}

/*******************/

/*To do widgets*/

/*******************/

.todo-list li {
    border: 0px;
    margin-bottom: 0px;
    padding: 20px 15px 15px 0px;
}

.todo-list li .checkbox {
    width: 100%;
}

.todo-list li .checkbox label {
    font-weight: 400;
    color: #455a64;
    width: 100%;
}

.todo-list li:last-child {
    border-bottom: 0px;
}

.todo-list li .assignedto {
    padding: 0px 0 0 27px;
    margin: 0px;
}

.todo-list li .assignedto li {
    list-style: none;
    padding: 0px;
    display: inline-block;
    border: 0px;
    margin-right: 2px;
}

.todo-list li .assignedto li img {
    width: 30px;
    border-radius: 100%;
}

.todo-list li .item-date {
    padding-left: 25px;
    font-size: 12px;
    display: inline-block;
}

.list-task .task-done span {
    text-decoration: line-through;
}

/*******************/

/*Chat widget*/

/*******************/

.chat-list {
    margin: 0px;
    padding: 0px;
}

.chat-list li {
    list-style: none;
    margin-top: 30px;
}

.chat-list li .chat-img {
    display: inline-block;
    width: 45px;
    vertical-align: top;
}

.chat-list li .chat-img img {
    width: 45px;
    border-radius: 100%;
}

.chat-list li .chat-content {
    width: calc(100% - 140px);
    display: inline-block;
    padding-left: 15px;
}

.chat-list li .chat-content h5 {
    color: #99abb4;
}

.chat-list li .chat-content .box {
    display: inline-block;
    margin-bottom: 10px;
    color: #263238;
}

.chat-list li .chat-time {
    display: inline-block;
    text-align: right;
    width: 80px;
    font-size: 13px;
    color: #99abb4;
}

.chat-list li.odd .chat-content {
    text-align: right;
    width: calc(100% - 90px);
}

.chat-list li.odd .box {
    clear: both;
}

.chat-list li.odd + .odd {
    margin-top: 0px;
}

.chat-list li.reverse {
    text-align: right;
}

.chat-list li.reverse .chat-time {
    text-align: left;
}

.chat-list li.reverse .chat-content {
    padding-left: 0px;
    padding-right: 15px;
}

/*******************/

/*Chat widget*/

/*******************/

.message-box ul li .drop-title {
    font-weight: 500;
    padding: 11px 20px 15px;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
}

.message-box ul li .nav-link {
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    padding-top: 15px;
}

.message-box .message-widget {
    position: relative;
}

.message-box .message-widget a {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}

.message-box .message-widget a:hover {
    background: #e9edf2;
}

.message-box .message-widget a:last-child {
    border-bottom: 0px;
}

.message-box .message-widget a div {
    white-space: normal;
}

.message-box .message-widget a .user-img {
    width: 45px;
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
}

.message-box .message-widget a .user-img img {
    width: 100%;
}

.message-box .message-widget a .user-img .profile-status {
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    left: 33px;
    position: absolute;
    top: -1px;
    width: 10px;
}

.message-box .message-widget a .user-img .online {
    background: #06d79c;
}

.message-box .message-widget a .user-img .busy {
    background: #ef5350;
}

.message-box .message-widget a .user-img .away {
    background: #ffb22b;
}

.message-box .message-widget a .user-img .offline {
    background: #ffb22b;
}

.message-box .message-widget a .mail-contnet {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}

.message-box .message-widget a .mail-contnet h5 {
    margin: 5px 0px 0;
}

.message-box .message-widget a .mail-contnet .mail-desc,
.message-box .message-widget a .mail-contnet .time {
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}

/*******************/

/*Calendar widget*/

/*******************/

.calendar {
    float: left;
    margin-bottom: 0px;
}

.fc-view {
    margin-top: 30px;
}

.none-border .modal-footer {
    border-top: none;
}

.fc-toolbar {
    margin-bottom: 5px;
    margin-top: 15px;
}

.fc-toolbar h2 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    text-transform: uppercase;
}

.fc-day {
    background: #ffffff;
}

.fc-toolbar .fc-state-active,
.fc-toolbar .ui-state-active,
.fc-toolbar button:focus,
.fc-toolbar button:hover,
.fc-toolbar .ui-state-hover {
    z-index: 0;
}

.fc-widget-header {
    border: 0px !important;
}

.fc-widget-content {
    border-color: rgba(120, 130, 140, 0.13) !important;
}

.fc th.fc-widget-header {
    color: #67757c;
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;
    padding: 7px 0px;
    text-transform: uppercase;
}

.fc th.fc-sun,
.fc th.fc-tue,
.fc th.fc-thu,
.fc th.fc-sat {
    background: #f2f7f8;
}

.fc th.fc-mon,
.fc th.fc-wed,
.fc th.fc-fri {
    background: #f2f7f8;
}

.fc-view {
    margin-top: 0px;
}

.fc-toolbar {
    margin: 0px;
    padding: 24px 0px;
}

.fc-button {
    background: #ffffff;
    border: 1px solid rgba(120, 130, 140, 0.13);
    color: #67757c;
    text-transform: capitalize;
}

.fc-button:hover {
    background: #e9edf2;
    opacity: 0.8;
}

.fc-text-arrow {
    font-family: inherit;
    font-size: 16px;
}

.fc-state-hover {
    background: #f5f5f5;
}

.fc-unthemed .fc-today {
    border: 1px solid #ef5350;
    background: #e9edf2 !important;
}

.fc-state-highlight {
    background: #f0f0f0;
}

.fc-cell-overlay {
    background: #f0f0f0;
}

.fc-unthemed .fc-today {
    background: #ffffff;
}

.fc-event {
    border-radius: 0px;
    border: none;
    cursor: move;
    color: #ffffff !important;
    font-size: 13px;
    margin: 1px -1px 0 -1px;
    padding: 5px 5px;
    text-align: center;
    background: #398bf7;
}

.calendar-event {
    cursor: move;
    margin: 10px 5px 0 0;
    padding: 6px 10px;
    display: inline-block;
    color: #ffffff;
    min-width: 140px;
    text-align: center;
    background: #398bf7;
}

.calendar-event a {
    float: right;
    opacity: 0.6;
    font-size: 10px;
    margin: 4px 0 0 10px;
    color: #ffffff;
}

.fc-basic-view td.fc-week-number span {
    padding-right: 5px;
}

.fc-basic-view .fc-day-number {
    padding: 10px 15px;
    display: inline-block;
}

/*little-profile*/

.little-profile .pro-img {
    margin-bottom: 20px;
}

.little-profile .pro-img img {
    width: 128px;
    height: 128px;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
}

.little-profile .soc-pro a {
    color: #99abb4;
}

.little-profile .soc-pro a:hover {
    color: #263238;
}

/*******************
/*States row*/

/*******************/

.stats-row {
    margin-bottom: 20px;
}

.stats-row .stat-item {
    display: inline-block;
    padding-right: 15px;
}

.stats-row .stat-item + .stat-item {
    padding-left: 15px;
    border-left: 1px solid rgba(120, 130, 140, 0.13);
}

/*-------------------*/

/*Bootstrap 4*/

/*-------------------*/

.bootstrap-touchspin .input-group-btn {
    -webkit-box-align: normal;
    -webkit-align-items: normal;
    -ms-flex-align: normal;
    align-items: normal;
}

.invisible {
    visibility: hidden !important;
}

.hidden-xs-up {
    display: none !important;
}

@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important;
    }
}

@media (min-width: 1650px) {
    .auto-height {
        max-height: 315px;
    }
}

@media (max-width: 1600px) {
    .website-visitor {
        height: 333px;
    }
    .auto-height {
        min-height: 240px;
    }
}

@media (max-width: 1370px) {
    .auto-height {
        min-height: 186px;
    }
}

@media (max-width: 1199px) {
    .page-wrapper {
        /* padding-left: 50px; */
    }
}

@media (min-width: 1200px) {
    .submenu-options {
        width: 170px;
    }
    .submenu-settings {
        width: 140px;
        position: absolute;
        top: 60px !important;
        left: 170px !important;
    }
    .page-wrapper {
        /* padding-left: 50px; */
    }
    .navbar-header-menu {
        display: block;
    }
}

@media (max-width: 1168px) {
    .page-wrapper {
        -webkit-transition: 0.2s ease-in;
        -o-transition: 0.2s ease-in;
        transition: 0.2s ease-in;
    }
    .hdr-nav-bar .navbar .navbar-nav > li a {
        padding: 12px 15px;
        border-bottom: 0px solid transparent;
        border-left: 2px solid transparent;
    }
    .hdr-nav-bar .navbar .navbar-nav > li:hover a {
        padding: 12px 20px;
    }
    .hdr-nav-bar .call-to-act .custom-select {
        margin-bottom: 10px;
    }
    .d-flex.no-block {
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }
}

.logo-icon {
    width: 48px;
}

.logo-text {
    width: 148px;
}

/* MODALS */

.modal-dialog-100 .modal-content{
    height: 100%;
}
.modal-login .modal-content{
    background-color: rgba(0, 0, 0, .1);
}
.modal-dialog-100 .quiz-container{
    height: 100%!important;
    max-height: 100%!important;
}

app-quiz-edit{
    height: 100%;
}

@media print{
    html, body {
        height:100%!important;
        margin: 0 !important;
        padding: 0 !important;
        page-break-after: always;
      }
    .left-sidebar, .pad-right-container, .sidebar, .pad-left-container, .buttons-right-graph, .app-version {
        display: none!important;
    }
}


ngb-modal-backdrop {
	z-index: 1040 !important;
}

/* END MODALS */
