.multiple-tabs{
    z-index: 2000;
    position: absolute;
    height: 100vh; 
    width: 100vw;
    background-color: #f0f0f0;

    .multiple-tabs-modal{
        max-width: 350px;
        -webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.21); 
        box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.21);
        padding: 10px;
        border-radius: 5px;
        background-color: white;
        button{
            border-radius: 5px;
        }
    }
}