

.mic_off:hover{
    color: #868e96;
}
.mic_on:hover{
    color: #868e96;
}

.stop{
    color: #dc3545;
}

.embed-responsive {
    width: 50%;
}

.vid_on{
    color: #dc3545;
}

.webcam-wrapper{
    width: 450px;
    height: 350px;
}