modal-dialog-100 .modal-dialog .modal-content .component-host-scrollable {
    height: 100vh !important;
}

app-open-quiz-preview{
    height: 100vh !important;

    .quiz-container {
        border: 3px solid #7ca1fe;
    }
    
    .body-container {
        height: 85vh;
        overflow-y: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    
        @media (min-width: 540px) and (max-width: 1199px) {
            & {
                padding-left: 5rem;
                padding-right: 5rem;
            }
        }
    
        @media (min-width: 1200px) {
            & {
                padding-left: 10rem !important;
                padding-right: 10rem !important;
            }
        }
    }
    
    .circle-button{
    border-radius: 50%;
    background-color: white;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: linear-gradient(170deg, #D9D9D9, #F1F1F1);;
    box-shadow: -1px -1px 1px #08222e, -1px -1px 1px white;
    align-self: flex-end;

        .mat-icon {
            &.icon-color-blue {
                svg {
                    fill: #224d98 !important;
                }
            }
            &.icon-color-gold{
                svg{
                    fill: #d39502!important;
                }
            }
        }

    }

}
    .hidden{
        display: none;
    }

.solution-button {
    .mat-icon-button {
        width: 32px;
        height: 32px;
        line-height: 32px !important;

        .mat-icon {
            width: 32px !important;
            font-size: 32px !important;
        }
    }


}

.span-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: black;
    font-weight: 400;
    font-size: 27px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


.comprobar {
    font-weight: 700;
    color: #224d98;
}


