app-modal-change-mobile{
	nb-icon{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
	}

	.mb-0{
		margin-bottom: 0 !important;
	}

	.error-message {
		color: rgba(179, 12, 12, 0.816) !important;
		text-align: center;
		font-size: 14px;
		margin-top: 5px;
	}

	.disabled {
		background: linear-gradient(137deg, #dce4e8, #e3e6e6);
		border: 3px solid #bbc9d4;
		pointer-events: none;
		color: #bbbbbb;
		box-shadow: 4px 4px 6px #5c5c5c;
	}

	.form-group {
    margin-bottom: 1rem;
	}

	.mat-list-base .mat-list-item,
	.mat-list-base .mat-list-option {
    height: 36px;
    cursor: pointer;
	}

	.mat-list-base {
    padding-top: 0px;
	}

	.mat-list-item:hover {
    background-color: #67757c;
    color: #FFFFFF;
	}

	.modal-header {
    background: #dedede00;
    padding: 5px 10px;
    border: none;
	}

	.language{
    text-align: right;
	}

	.flag-icon {
    width: 32px;
	}

	.flag-icon-option {
    width: 32px;
    margin-right: 4px;
	}

	@media (min-width: 1169px) {
    .page-wrapper-settings {
        /*top: -70px !important;*/
        position: relative;
    }
	}

	@media (max-width: 1168px) {
    .page-wrapper-settings {
        /*top: -50px !important;*/
        position: relative;
    }
	}

	table {
    width: 100%;
    th {
        font-size: 16px;
        color: #6c86b3;
        font-weight: 500;
    }
	}

	.teacher-settings{
    background-color: white!important;
	}

	.toggle-switch {
		pointer-events: none;
	}

	.general-settings-container{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		gap: 20px;
	}

	.space-evenly{
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		align-content: center;
		gap: 20px;
	}

	nb-icon{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
	}

	nb-card.project-info {
		height: 82vh !important;
	}

}
