		<div class="justify-content-center d-flex">
			<form [formGroup]="formulario" (ngSubmit)="aceptar()">
				<!-- PREFIX AND PHONE-->
				<div class="row ">
					<div class="col-sm-6 form-group">
						<label for="prefix" class="label">{{ 'LOGIN.PREFIX' | translate }}</label>
						<nb-select fullWidth name="prefix" placeholder="{{ 'LOGIN.PREFIX' | translate }}"
							formControlName="prefix">
							<nb-option *ngFor="let prefix of $phonePrefixes | async"
								value="{{prefix.dial_code}}">{{prefix.name_en}}
								<span><strong> {{prefix.dial_code}}</strong> </span></nb-option>
						</nb-select>
						<div *ngFor="let validation of validationMessages.prefix" class="mt-2">
							<div class="error-message"
								*ngIf="prefixControl?.hasError(validation.type) && (prefixControl?.dirty || prefixControl?.touched)">
								{{validation.message}}</div>
						</div>
					</div>
					<div class="col-sm-6 form-group">
						<label for="mobile" class="label">{{ 'USERDATA.TELEFONOMOVIL' | translate }}</label>
						<input type="text" nbInput fullWidth status="basic" (keyup)="verificarMovil()"
							placeholder="{{ 'USERDATA.TELEFONOMOVIL' | translate }}" name="mobile" formControlName="mobile"
							required>
						<div class="error-message" *ngIf="samePhone" style="color: rgba(179, 12, 12, 0.816);">
								{{ 'CAMBIARMOVIL.OTHERPHONE' | translate }}
						</div>
						<div *ngFor="let validation of validationMessages.mobile">
							<mat-error
								*ngIf="formulario.get('mobile')?.hasError(validation.type) && (formulario.get('mobile')?.dirty || formulario.get('mobile')?.touched)">
								<div class="error-message">{{validation.message}}</div>
							</mat-error>
						</div>
					</div>
				</div>
				<!-- ACCEPT AND CANCEL BUTTONS-->
				<div class="mb-2 row" [ngClass] ="{'justify-content-end':disableCancel}" >
					<div class="col-6" align="right">
							<button nbButton status="primary" type="submit" class="mr-1">{{ 'CAMBIARMOVIL.GETCODE' | translate	}}</button>
					</div>
					<div class="col-6" align="left" *ngIf="!disableCancel">
							<button nbButton status="danger" (click)="cancelar()" class="">{{ 'ACEPTARCANCELAR.CANCELAR' | translate }}</button>
					</div>
				</div>
				<!-- INPUT CODE-->
				<div class="row">
					<div class="col-sm-6 form-group" *ngIf="introCode">
						<label for="code" class="label">{{ 'CAMBIARMOVIL.ENTERVERIFICATIONCODE' | translate }}</label>
						<input type="text" formControlName="code" nbInput fullWidth appNumberInput status="basic"	placeholder="{{ 'CAMBIARMOVIL.VERIFICATIONCODE' | translate }}"
							(input)="validacionPin($event)">
						<div class="error-message" style="color: rgba(179, 12, 12, 0.816);">
							{{ 'CAMBIARMOVIL.ALERTLOGOUT' | translate }}
						</div>
					</div>
				</div>
			</form>
	</div>
