.quiz-container {
    border: 3px solid #7ca1fe;
    //background: linear-gradient(345deg, #C8D6DF, #A9C7DE) !important;
    max-height: 800px;
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;

    @media (max-width: 999px)  {
        & {
            max-height: 1200px;
        }
    }
}

.footer {
    height: 100%;
    overflow: auto;
}
