.tittle {
    background-color: #2186AE;
    color: #FFFFFF;
}
button{
    outline:none;
    border:none;
}
.imagenInicial{
    opacity: 0.3;
    width: 100px;
    height: 100px;
    font-size: 100px;
}
