.center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.well {
    overflow-y: scroll;
    max-height: 80vh;
    min-height: 20px;
    padding: 19px;
    //margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

label.col-sm-8 {
    font-weight: bold;
}

label {
    font-size: x-small;
    color: #1a237e;
}

input,
select {
    border: 0;
    font-weight: bold;
}

.data {
    font-weight: bold;
}

.form-control {
    height: 25px !important;
    font-size: x-small;
    color: #1a237e;
}

.input-group-addon {
    height: 25px !important;
    border: 0;
    color: #1a237e;
}
#more {
    background: none;
}

button.close {
    outline: none;
    border-radius: 50%;
    background-color: #1a237e;
    color: #f5f5f5;
    font-weight: normal;
    font-size: small;
    padding: 4px;
    padding-top: 0;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
}

.container-inputs-power {
    display: flex;
}

.power-box {
    border: 1px solid #1a237e;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 5px;
}

.text-bolt {
    font-size: 21px;
    margin-left: -7px;
}

.small-bolt {
    font-family: monospace;
    font-weight: 700;
    font-size: 13px;
    vertical-align: bottom;
    margin-left: -4px;
}

.bolt-btn {
    box-shadow: none;
    z-index: 1;
    cursor: auto;
}

.bolt-up {
    height: 45px;
    margin-bottom: -17px;
    border-radius: 50px 50px 0 0;
    background: rgb(211, 19, 19);

    span {
        color: white;
        position: absolute;
        top: 1px;
        left: 40%;
        font-weight: 700;
    }
}

.bolt-down {
    height: 45px;
    margin-top: -36px;
    border-radius: 0px 0px 50px 50px;
    background: rgb(43, 156, 8);
    span {
        color: white;
        position: absolute;
        bottom: 1px;
        left: 40%;
        font-weight: 700;
        font-size: 24px;
    }
}

.pow {
    color: #1a237e;
    background-color: #f5f5f5;
    margin-top: -11px;
    margin-right: -20px;
    padding: 1px 2px;
}

.img-pow-container {
    position: absolute;
    top: 24%;
    left: 30%;
    writing-mode: vertical-lr;
}
/*
@keyframes spinner {
  to {transform: rotate(360deg);}
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}
*/
