<html>

<head>
    <style type="text/css">
        h1 {
            text-align: center;
            color: #3A3938;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-size: 1.4em;
            margin: 20px 0;
        }
    </style>
</head>

<body style="background-color: #F2F2F2">
    <h1>{{ 'ERROR.CONEXIONERROR' | translate }}</h1>
</body>

</html>