<div class="sticky-top">
    <div class="modal-header" align="center">
        <span class="textoFontSize1 colorTextoActivado font-weight-bold" style="width: 90%;">{{ 'STICKERS.SELECT' | translate }}</span>
        <button type="button" class="close" data-dismiss="modal" (click)="closeModal('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="modal-body fondoEditarCurso">
    <form [formGroup]="stickerForm" novalidate (ngSubmit)="saveSticker()" class="formSticker d-flex flex-column" #thisForm="ngForm">
        <div class="form-group" *ngIf="tempNode">
            <label for="formGroupExampleInput">{{ 'STICKERS.FILE' | translate }}</label>
            <input type="file" formControlName="file" class="form-control" (change)="onFileSelected($event)" accept="image/*" />
            <mat-error *ngFor="let validation of validationMessages.file" class="mt-2">
                <mat-error class="error-message"
                    *ngIf="stickerForm.get('file')?.hasError(validation.type) && (stickerForm.get('file')?.dirty || stickerForm.get('file')?.touched || thisForm.submitted)">
                    {{validation.message}}</mat-error>
            </mat-error>
        </div>

        <div class="form-group">
            <mat-form-field appearance="standard" class="full-width">
                <mat-label>{{ 'STICKERS.SIZE' | translate }}</mat-label>

                <input matInput type="number" formControlName="size" name="size" />
                <mat-error *ngFor="let validation of validationMessages.size" class="mt-2">
                    <mat-error class="error-message"
                        *ngIf="stickerForm.get('size')?.hasError(validation.type) && (stickerForm.get('size')?.dirty || stickerForm.get('size')?.touched || thisForm.submitted)">
                        {{validation.message}}</mat-error>
                </mat-error>
            </mat-form-field>

						<mat-form-field appearance="standard" class="full-width">
							<mat-label>{{ 'STICKERS.LINK' | translate }}</mat-label>

							<input matInput type="text" formControlName="link" name="link" />
							<mat-error *ngFor="let validation of validationMessages.link" class="mt-2">
									<mat-error class="error-message"
											*ngIf="stickerForm.get('link')?.hasError(validation.type) && (stickerForm.get('link')?.dirty || stickerForm.get('link')?.touched || thisForm.submitted)">
											{{validation.message}}</mat-error>
							</mat-error>
					</mat-form-field>

        </div>

        <button mat-raised-button type="submit" [disabled]="saving">{{ node ? ('STICKERS.EDIT' | translate) : ('STICKERS.UPLOAD' | translate)   }}</button>
        <button mat-raised-button class="mt-2 mat-raised-button mat-button-base mat-warn" type="button" *ngIf="node" (click)="deleteSticker()">{{ 'STICKERS.DELETE' | translate }}</button>

        <mat-progress-bar mode="determinate" value="{{progress}}" *ngIf="progress" class="mt-2"></mat-progress-bar>

    </form>
</div>

