<div class="h-100 w-100 file-uploader">
    <mat-button-toggle type="button" class="h-100 w-100" id={{format.name}} [style.background]="format.background" [style.backgroundSize]="'cover'" [style.backgroundRepeat]="'no-repeat'" [style.backgroundPosition]="'center'" (click)="playFile()">
        <div class="w-100 h-100" style="position: absolute;" [innerHtml]="format.background" *ngIf="format.type === TXT_TYPE"></div>
        <div class="w-100 h-100 flex flex-column align-items-center justify-content-center">
            <div class="w-100 h-100" style="position: absolute; top: 0; left: 0; padding-right: -17px; z-index: 0" *ngIf="format.type === PDF_TYPE && format.background">
							<ng-container *ngIf="ext === 'docx'; else embedPdf">
								<ngx-doc-viewer [url]="format.background"
									viewer="office" class="w-100 h-100" ></ngx-doc-viewer>
							</ng-container>
							<ng-template #embedPdf>
								<embed *ngIf="sanitizedUrl" [src]="sanitizedUrl" class="w-100 h-100" />
							</ng-template>

            </div>
            <mat-icon class="medios pointer" ngbTooltip="{{format.name | translate}}" placement="top" style="z-index: 10">
                {{format.icon}}
            </mat-icon>
        </div>
    </mat-button-toggle>
</div>
