app-node-detail-files-player{
    
    .file-uploader {        
        border-radius: 5px;
        position: relative;
        .mat-button-toggle {
            border-radius: 5px;               
            background-color: #fff;
            border: 2px solid #eee;        

            .mat-button-toggle-button {
                height: 100%;
                width: 100%;
    
                .mat-button-toggle-label-content {
                    height: 100%;
                    width: 100%;
                    &>*{    
                        left: 0;
                        overflow: hidden;
                        top: 0;
                        padding-left: 10px;
                    }
                }
            }

            .mat-icon {
                background-color: white;
                border-radius: 50%;
                font-size: 20px;
                line-height: 30px;
                -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2); 
                box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.2);
                position: absolute;
                right: -15px;
                bottom: 0%;
            }
        }
    }
    
    iframe {
        overflow: hidden;
        pointer-events: none;
        border-radius: 5px;
    }



}


