<nb-card class="mb-0 m-auto col-sm-12 col-md-12 justify-content-center no-edge-card">
	<nb-card-header class="flex border-bottom-0">
		<div class="col-12 col-sm-10 col-md-10 text-center text-sm-left text-md-left">
			<h5>{{ "USERDATA.CONTACTTITLE" | translate }}</h5>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle" [options]="{ animation: { type: 'zoom' } }"
			(click)="closeModal('')"></nb-icon>
	</div>
	<nb-card-body>
		<form [formGroup]="sendCommentsForm" (ngSubmit)="sendComments()" #thisForm="ngForm">
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-sm-12 form-group">
					<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="text"
						placeholder="{{ 'USERDATA.NOMBRE' | translate }}" name="name" formControlName="name" />

					<div *ngFor="let validation of validationMessages.name">
						<mat-error *ngIf="
								sendCommentsForm.get('name')?.hasError(validation.type) &&
								(sendCommentsForm.get('name')?.dirty ||
									sendCommentsForm.get('name')?.touched ||
									thisForm.submitted)
							">
							<div class="error-message">{{ validation.message }}</div>
						</mat-error>
					</div>
				</div>

				<div class="col-sm-12 form-group">
					<input type="email" nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
						placeholder="{{ 'USERDATA.EMAIL' | translate }}" name="email" formControlName="email" />
					<div *ngFor="let validation of validationMessages.email">
						<mat-error *ngIf="
								sendCommentsForm.get('email')?.hasError(validation.type) &&
								(sendCommentsForm.get('email')?.dirty ||
									sendCommentsForm.get('email')?.touched ||
									thisForm.submitted)
							">
							<div class="error-message">{{ validation.message }}</div>
						</mat-error>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-sm-6  form-group">
					<select class="Select-form" fieldSize="medium" status="primary" name="extension" formControlName="extension">
						<option disabled selected value="">
							{{ 'LOGIN.PREFIX' | translate }}
						</option>
						<option *ngFor="let prefix of $phonePrefixes | async" value="{{ prefix.dial_code }}">
							{{ prefix.dial_code }}
							{{ prefix.name_es }}
						</option>
					</select>
					<div *ngFor="let validation of validationMessages.prefix" class="mt-2">
						<div class="error-message"
							*ngIf="prefixControl?.hasError(validation.type) && (prefixControl?.dirty || prefixControl?.touched || thisForm.submitted)">
							{{validation.message}}</div>
					</div>
				</div>
				<div class="col-sm-6 form-group">
					<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
						placeholder="{{ 'USERDATA.TELEFONOMOVIL' | translate }}" name="phone" formControlName="phone" />
					<div *ngFor="let validation of validationMessages.phone">
						<mat-error
							*ngIf="sendCommentsForm.get('phone')?.hasError(validation.type) && (sendCommentsForm.get('phone')?.dirty || sendCommentsForm.get('phone')?.touched || thisForm.submitted)">
							<div class="error-message">{{validation.message}}</div>
						</mat-error>
					</div>
				</div>
			</div>
			<div class="row d-flex justify-content-center align-items-center">
				<div class="col-sm-12">
					<div class="form-group">
						<textarea nbInput status="primary" fullWidth fieldSize="medium" class="form-control" fullWidth
							formControlName="comentary" class="form-control" id="comentary" rows="3"></textarea>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center form-group">
				<label for="name" class="label label-contact">
					{{ "USERDATA.ORCONTACTWHITUS" | translate }} <br />
					{{ "USERDATA.PHONE" | translate }}:
					<a href="tel:+34623569819">+34623569819</a></label>
				<div class="col-sm-4 text-right">
					<button nbButton hero status="primary" type="submit">
						<span>{{ "USERDATA.SEND" | translate }}</span>
					</button>
				</div>
			</div>
		</form>
	</nb-card-body>
</nb-card>
