app-modal-send-comments{
	.form-group {
		margin: 0 !important;
		padding: 0 !important;
	}

	.pl-0{
		padding-left: 0 !important;
	}

	.pr-0{
		padding-right: 0 !important;
	}

	.label-contact{
		margin-left: 2rem;
		margin-top: 1.5rem;
	}
}

nb-icon {
	font-size: 2.25rem !important;
}
