@media (max-width: 2000px) and (min-width: 1025px) {
    .icon-size-large {
        font-size: 50px;
    }
    .plantilla {
        height: 500px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .icon-size-large {
        font-size: 30px;
    }
    .plantilla {
        height: 500px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .icon-size-large {
        font-size: 30px;
    }
    .plantilla {
        height: 500px;
    }
}

@media (max-width: 480px) and (min-width: 321px) {
    .icon-size-large {
        font-size: 30px;
    }
    .plantilla {
        height: 400px;
    }
}

@media (max-width: 320px) and (min-width: 100px) {
    .icon-size-large {
        font-size: 20px;
    }
    .plantilla {
        height: 400px;
    }
}

/*INI DIBUJAR ELEMENTOS EN EL DRAFT*/
.element-box {
    cursor: move;
    justify-content: center;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
        0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.element-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.container {
    position: relative;
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
}

.result {
    width: 20px;
    position: absolute;
    top: 25px;
    right: 0px;
    font-size: 13px;
    border-radius: 15px;
}

.result-correct {
    box-shadow: inset 0px 0px 0px 10px rgba(0, 255, 13, 0.678);
}

.result-wrong {
    box-shadow: inset 0px 0px 0px 10px rgba(237, 38, 38, 0.678);
}

//----------------------------------------------
.element-box.VideoQuestions {
    border: solid 3px red !important;
    color: red !important;
}
.element-box.ImageQuestions {
    border: solid 3px red !important;
    color: red !important;
}
.element-box.AudioQuestions {
    border: solid 3px red !important;
    color: red !important;
}
.element-box.PdfQuestions {
    border: solid 3px red !important;
    color: red !important;
}
.element-box.TextQuestions {
    border: solid 3px red !important;
    color: red !important;
}
.element-box.VideoOptions {
    border: solid 3px green !important;
    color: green !important;
}
.element-box.ImageOptions {
    border: solid 3px green !important;
    color: green !important;
}
.element-box.AudioOptions {
    border: solid 3px green !important;
    color: green !important;
}
.element-box.PdfOptions {
    border: solid 3px green !important;
    color: green !important;
}
.element-box.TextOptions {
    border: solid 3px green !important;
    color: green !important;
}
.element-box.VideoCorrect {
    border: solid 3px black !important;
    color: black !important;
}
.element-box.ImageCorrect {
    border: solid 3px black !important;
    color: black !important;
}
.element-box.AudioCorrect {
    border: solid 3px black !important;
    color: black !important;
}
.element-box.PdfCorrect {
    border: solid 3px black !important;
    color: black !important;
}
.element-box.TextCorrect {
    border: solid 3px black !important;
    color: black !important;
}
.rectangle {
    position: relative;
    top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}
/*FIN DIBUJAR ELEMENTOS EN EL DRAFT*/

/*INI CARGAR RECURSO*/
.input-text {
    display: none;
}
.input-text,
label {
    z-index: 1;
}
/*FIN CARGAR RECURSO*/

/*MODAL INI*/
#descModal {
    font-size: x-small;
    font-weight: bold;
    textarea {
        font-size: x-small;
        border: 0;
    }
}

.well {
    background-color: #f5f5f5;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/*MODAL FIN*/
