
<nb-card class="mb-0 no-edge-card pt-4 m-auto max-w-900">
	<nb-card-header class="border-bottom-0">
		<app-quiz-play-body-info [quiz]="quiz" [timer$]="time$" (timeEnded)="onTimeEnded($event)"></app-quiz-play-body-info>
	</nb-card-header>
		<div class="mt-4">
			<app-quiz-play-body-data [questions]="questions"></app-quiz-play-body-data>
		</div>
		<div class="mt-4 p-2">
			<app-quiz-play-body-option *ngIf="quiz" [options]="options" [selectedType]="selectedType"
			(saveOption)="onSaveOption($event)"
			(saveOptionVideoCamera)="saveOptionVideoCamera($event)"
			(onSaveOptionWebCam)="onSaveOptionWebCam($event)"
			(saveOptionMultiple)="saveOptionMultiple($event)"
			(saveOptionChallenge)="onSaveOptionChallenge($event)"
			(emitText)="emitText($event)" (emitAudio)="enviarAudioRecorder($event)"
			(saveOptionText)="saveTxt($event)" [quiz]="quiz" [quizType]="quizType" [answered]="answered" [modeSocket]="modeSocket"
			>
			</app-quiz-play-body-option>

	</div>
	<div class="mt-4" *ngIf="answered && answers.length">
		<app-quiz-play-body-answer [answers]="answers"></app-quiz-play-body-answer>
	</div>

	<nb-card-footer class="border-top-0">

		<div class="row justify-content-center">
			<div *ngIf="!answered && !hideCheckButton; else checkedToggle" class="col-sm-12 col-md-10 d-flex justify-content-center">
				<button nbButton status="primary" nbTooltip="Mostrar Solución" nbTooltipPlacement="bottom" (click)="discoverAnswer()"><nb-icon icon="checkmark-circle-2"></nb-icon>{{'QUIZPLAYBODY.CHECK' | translate}}</button>
			</div>
		</div>
		<ng-template #checkedToggle>
			<div class="col-12 d-flex justify-content-center">

			</div>
		</ng-template>

		<!-- <div *ngIf="mostrarMensajeTimeAcabado && loginService.esEstudiante()" class="alert alert-danger m-4" role="alert">
				{{'QUIZZES.DIALOGS.TIEMPOFUERA' | translate}}
		</div> -->
	</nb-card-footer>
	</nb-card>
