

.sticky-top {
  position: initial !important;
}

.modal-header {
  border-bottom: none !important;
  background: initial;
  padding: 0 !important;
}

.colorTextoActivadoCursoGrafo {
  color: white !important;
  font-size: large;
}

.close {
    font-size: 3rem;
    font-weight: normal;
    line-height: 0;
    color: #224d98 !important;
}

table {
    width: 100%;
  }
  table {
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  th{
    font-size: large;
    color: #6c86b3;
    font-weight: 500;
  }
  td{
    font-size: medium;
    font-weight: 400;
  }
 
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    cursor: pointer;
    transition: 0.3s;
    background: rgb(218, 217, 217);
    font-weight: 600;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #dbdbdb;
    cursor: pointer;
    font-weight: 400;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  

  .img-container{
    position: relative;
    height: 15vh;
    overflow: hidden;
  }

  .card{
    width: 100%;
    height: 180px;
  }
.card-body {
  padding: 0.5rem;
}
.card-img-top{
  position:absolute;
  top:0;
  bottom:0;
  margin:auto;
      align-self: center;
  
  }

