app-node-detail-files-uploader{

    input {
        display: none;
    }


    .operator-icon {
        color: rgba(247, 191, 10);
        width: 20px;
        height: 20px;
        font-size: 20px;
        z-index: 1;
    }

    .file-uploader {
        position: relative;
        border-radius: 5px;
        .mat-button-toggle {
            .mat-button-toggle-button {
                height: 100%;
                width: 100%;

                .mat-button-toggle-label-content {
                    height: 100%;
                    width: 100%;
                    &~div{
                        left: 0;
                        overflow: hidden;
                        top: 0;
                        padding-left: 10px;
                    }
                }
            }
        }
    }

    .test {
        background-color: white;
        border-radius: 50%;
        height: 30px;
        width: 30px;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content{
        line-height: 30px;
    }

    iframe {
        overflow: hidden;
        pointer-events: none;
    }

    .lateral-right-icons{
        position: absolute;
        width: 40px;
        height: 100%;
        top: 0;
        right: 0;
        &>div{
            height: 25px;
        }
    }
    .lateral-left-icons{
        @extend .lateral-right-icons;
        left: 5px;
				top: 5px;
    }

    label{
        margin: 0;
    }
}
