app-node-menu{

    .node-menu{
        position: absolute;
        left: 8px;
        top: 8px;
        display: flex;
        flex-direction: column;
        z-index: 50;

        .header-options {
            background: white;
            -webkit-box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.2);
            width: 250px;
        }

        .circle-button{
            border-radius: 50%;
            background: transparent;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            -webkit-box-shadow: none;
            box-shadow: none;
            align-self: flex-end;
        }

        .mat-icon {
            &.icon-color-blue {
                svg {
									.e{
										fill: #224d98 !important;
									}
                    fill: #224d98 !important;
                }
            }
            &.icon-color-gold{
                svg{
                    fill: #d39502!important;
                }
            }
        }

        .element{
            padding: 8px 8px 8px 32px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background-color: #d1e7f2;
                transition: 0.3s;
            }
        }




    }

    .sidebar2 {
        // height: 600px;
        width: 0;
        position: sticky;
        z-index: 50;
        top: 0;
        left: 0;
        background-color: rgb(255, 255, 255);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }

      .sidebar2 a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #68757C;
        display: block;
        transition: 0.3s;
        font-weight: 600;
      }

      .sidebar2 a:hover {
        color: #1b6080;
      }

      .sidebar2 .closebtn {
        position: absolute;
        top: 25px;
        right: 25px;
        font-size: 30px;
      }

      .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
      }

      .openbtn:hover {
        background-color: #444;
      }

      .items-menu-rigth:hover{
        background:  #d1e7f2;
        color: #1b6080;
      }
      .items-menu-rigth{
        font-size: 18px  !important;
        &.mat-icon{
          margin-left: 40px !important;
        }
				&.disabled{
					color: gray;
					opacity: 0.65;
					cursor: not-allowed;
					pointer-events: none;
				}
      }

      #main {
        transition: margin-left .3s;
        padding: 16px;
      }


      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
        .sidebar2 {padding-top: 15px;}
        .sidebar2 a {font-size: 18px;}
      }


}
