app-quiz-play-multiple-body-data{

    input[disabled] {
        color: black;
    }

    p {
        color: #535353;
        font-weight: 400;
        font-size: 18px;
    }

    .separator{
        margin-top: 20px!important;
        padding-top: 20px;

    }

    .lng2{

        $blue: #3a86ff!important;
        p{
            color: $blue;
            padding: 0;
        }

        audio::-webkit-media-controls-panel{
            background-color: $blue;
        }

    }
    .lng1{
        $red: #e63946!important;
        p{
            color: $red;
            padding: 0;
        }

        audio::-webkit-media-controls-panel{
            background-color: $red;
        }
    }



}



