.image-upload {
 border: 1px solid rgb(77, 114, 245);
 position: relative;
 background-size: 100%;
}

.image-upload:before{
 content: "";
 background-color:rgb(255, 255, 255);
 position: absolute;
 opacity: 0.7;
}

.image-update div input,label{
 z-index: 1;
}

input {
 display: none;
}

.icono-adicionado {
   color: rgba(247, 191, 10);
   width: 20px;
   height: 20px;
   font-size: 20px;
   z-index: 1;
}

video {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}

.medios{
    width: 30px;
    height: 30px;
    font-size: 30px;
    color:rgb(29, 73, 153);
}

.imagenInicial{
    opacity: 0.3;
    width: 100px;
    height: 100px;
    font-size: 100px;
}

.edit{
    opacity: 0.7;
    width: 20px ;
    height: 20px ;
    font-size: 20px;
    color:rgb(29, 73, 153);
}

.container-power{
    position: absolute;
    writing-mode: vertical-lr;
    right: 15px;
    bottom: -5px;
}

/*@media (max-width: 1024px) {
    #node {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
         -o-transform: rotate(90deg);
         -ms-transform: rotate(90deg);
         transform: rotate(90deg);
    }
}*/

/*.example-box {
    width: 200px;
    height: 200px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }*/

  /*.example-box {
    position: absolute;
  }*/


  .flexItemsItem {
    flex: 0 1 auto;
  }

  .icon-abstract {
    vertical-align: middle;
    color: #FFFFFF;
  }
