<div>
    <ng-template class="w-100"  #step7>
        <div  class="copilot-custom copilop-info" style="position: sticky;">
            <div class="row flex justify-content-center align-items-center">

                <div class="col-12 ">
                    <h3 class="title-info">{{'QUIZEDITHEADER.PUBLISHQUIZ' | translate}}</h3>
                </div>
            </div>
            <div  class="footer-btn">
                <div class="row  flex justify-content-center align-items-center">
                    <div class="col-2">
                        <button  class="btn btn-block btn-themecolor btn-sm button-ok" (click)="done()"  type="button">{{'QUIZEDITHEADER.OK' | translate}}</button>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<div class="header-options">
    <div class="col flex justify-content-between align-items-center px-4 py-3">
        <div class="col-4">
            <button mat-icon-button (click)="showInfo()">
                <mat-icon>info_outline</mat-icon>
            </button>
        </div>
        <div class="typeSelected col-3">
            <mat-button-toggle-group  [(ngModel)]="type" (change)="onQuizTypeSelected($event)">
                <mat-button-toggle [value]="quizType.TEXT"  matTooltip="{{'QUIZZES.HEADER.RESPUESTAABIERTA' | translate}}"  matTooltipClass="black-tooltip">
                    <mat-icon>
                        subject
                    </mat-icon>
                </mat-button-toggle>

                <mat-button-toggle [value]="quizType.SINGLE" matTooltip="{{'QUIZZES.HEADER.OPCIONCORRECTA' | translate}}" matTooltipClass="black-tooltip">
                    <mat-icon>
                        radio_button_checked
                    </mat-icon>
                </mat-button-toggle>

                <mat-button-toggle [value]="quizType.MULTIPLE" matTooltip="{{'QUIZZES.HEADER.VARIASOPCIONES' | translate}}" matTooltipClass="black-tooltip">
                    <mat-icon>
                        check_box
                    </mat-icon>
                </mat-button-toggle>
            </mat-button-toggle-group>
        </div>

        <div class="col-4" copilot  [copilot-template]="step7" [copilot-step]="7">

            <div class="col flex justify-content-between align-items-center ">

                <div class="w-100 text-dark  d-flex flex-column align-items-center">
                    <form [formGroup]="form">
                        <select formControlName="pattern" class="form-control" (change)="updateRepetition()" style="width: 270px">
                            <option *ngFor="let item of repetitionList" [value]="item.pattern">{{item.descripcion}}</option>
                        </select>
                    </form>
                </div>

                <div class="w-100 pr-3 text-dark  d-flex flex-column align-items-center">
                    <form [formGroup]="form">
                        <mat-slide-toggle class="buttonPublicar" (click)="certifiedQuiz($event)" formControlName="certificadoQuiz"></mat-slide-toggle>
                    </form>
										<span class="mt-2">{{'SIGMACOMPONENT.CERTIFICAR' | translate}}</span>
                </div>

                <button class="mr-md-3" mat-icon-button ngbTooltip="{{'QUIZZES.DELETE' | translate }}" (click)="deleteQuiz()" *ngIf="loginService.esAutor()">
                    <mat-icon svgIcon="delete" style="color: #e60000;" class="icon-head pointer" data-toggle="tooltip" data-placement="top"></mat-icon>
                </button>

                <div  >
                    <div class="w-100 text-dark pr-2">
                        <form [formGroup]="form">
                            <mat-slide-toggle formControlName="published" (click)="publish($event)" >{{ form.get('published').value ? ('EDITARCURSO.VISIBLE' | translate) : ('EDITARCURSO.NOVISIBLE' | translate) }}</mat-slide-toggle>
                        </form>
                    </div>
                </div>
                <div>
                    <button mat-icon-button (click)="onCloseModal()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>
