@import "src/assets/scss/_common.scss";
@import "src/assets/scss/_alignment.scss";

.header-options {
    .mat-icon-button {
        width: 32px;
        height: 32px;
        line-height: 32px !important;

        .mat-icon {
            width: 32px !important;
            font-size: 32px !important;
        }
    }
    .circle-button{
        height: 100%;
        width: 100%;
    }
}
.copilot-custom{

    position: static !important;
    width: 700px;
    height: auto;
    max-height: min-content;
    padding: 10px;
    border-radius: 10px;
    background-color: #49327a;
    color: #fff;
    img{

        width: 400px;
        height: 300px;
    }
}

.typeSelected{
    margin-left: 130px
}

@include media-breakpoint-down(sm) {
    .typeSelected{
        margin-left: 10px
    }
}
