app-node-detail-transparent-header{


        

    .title-text{
        position: absolute;
        left: 10px;
        top: 5px;
        z-index: 55;
        &>span{
            font-size: 28px;
            color: white;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
        }
    }

    button {
        position: absolute;
        z-index: 55;
        width: 24px !important;
        height: 24px !important;
        position: absolute;
        top: 5px;
        right: 5px;
        background-color: white;
        -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.16); 
        box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.16);
        border: none;
        border-radius: 50%;
    }

}