.account-circle{
	height: 30px!important;
	width: 30px!important;
	svg{
			height: 30px!important;
			width: 30px!important;
	}
	&:hover{
			cursor: pointer;
	}
}
.avatar{
		width: 120px;
		height: 120px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
}

.form-group {
	margin: 0 !important;
	padding: 0 !important;
}

.pl-0{
	padding-left: 0 !important;
}

.pr-0{
	padding-right: 0 !important;
}

.label-contact{
	margin-left: 2rem;
	margin-top: 1.5rem;
}


.card-container {
	background-color: #ffffff;
	border-radius: 5px;
	//box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #2a2b31;
	padding-top: 30px;
	position: relative;
	max-width: 100%;
	text-align: center;
}

.card-container .pro {
	color: #231E39;
	background-color: #FEBB0B;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	padding: 3px 7px;
	position: absolute;
	top: 30px;
	left: 30px;
}

.card-container .round {
	border: 1px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
	width: 100px;
	height: 100px;
}

button.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 3px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

button.primary.ghost {
	background-color: transparent;
	color: #02899C;
}

.skills {
	background-color: #ffffff;
	color: #2a2b31;
	text-align: left;
	padding: 15px;
	margin-top: 30px;
}

.skills ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.info-item{
	border: 1px solid #a7a3b8;
	border-radius: 2px;
	display: flex;
	justify-content: space-evenly;
	gap: 1rem;
	align-items: center;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;
}
