/*INI DIBUJAR ELEMENTOS EN EL DRAFT*/
.element-box {
    //cursor: move;
    justify-content: center;
    background: #fff;
    display: flex;
    align-items: center;
    text-align: center;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .element-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

 .container{
      position: relative;
      height: 60vh;
      width: 100vw;
  }

 //----------------------------------------------
 .element-box.VideoQuestions{
   border: solid 3px red !important;
   color: red !important;
 }
 .element-box.ImageQuestions{
   border: solid 3px red !important;
   color: red !important;
 }
 .element-box.AudioQuestions{
   border: solid 3px red !important;
   color: red !important;
 }
 .element-box.PdfQuestions{
   border: solid 3px red !important;
   color: red !important;
 }
 .element-box.TextQuestions{
   border: solid 3px red !important;
   color: red !important;
 }
 .element-box.VideoOptions{
   border: solid 3px green !important;
   color: green !important;
 }
 .element-box.ImageOptions{
   border: solid 3px green !important;
   color: green !important;
 }
 .element-box.AudioOptions{
   border: solid 3px green !important;
   color: green !important;
 }
 .element-box.PdfOptions{
   border: solid 3px green !important;
   color: green !important;
 }
 .element-box.TextOptions{
   border: solid 3px green !important;
   color: green !important;
 }
 .element-box.VideoCorrect{
    border: solid 3px black !important;
    color: black !important;
 }
 .element-box.ImageCorrect{
    border: solid 3px black !important;
    color: black !important;
 }
 .element-box.AudioCorrect{
    border: solid 3px black !important;
    color: black !important;
 }
 .element-box.PdfCorrect{
    border: solid 3px black !important;
    color: black !important;
 }
 .element-box.TextCorrect{
   border: solid 3px black !important;
   color: black !important;
 }

 .rectangle {
   //position: relative;
   top: 200px;
   display: flex;
   align-items: center;
   justify-content: center;
   min-width: 30px;
   min-height: 30px;
   max-width: 200px;
   max-height: 200px;
   margin: auto;
 }
/*FIN DIBUJAR ELEMENTOS EN EL DRAFT*/

/*INI CARGAR RECURSO*/
/*.input-text {
   display: none;
}
.input-text,label{
   z-index: 1;
}*/
/*FIN CARGAR RECURSO*/


/*INI DRAG AND DROP*/
/*.container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }

  .container-total{
    position: relative;
    height: 100vh;
    width: 100vw;
  }

  .list {
    width: 400px;
    height: 200px;
  }

  .containerCorrect {
    border: dotted 4px;
    min-height: 60px;
    height: 300px;
    max-width: 250px;
    background: #DEDEDE;
    border-radius: 4px;
    overflow: hidden;
    display: block;
  }

  .box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    position: absolute;
    z-index: 10;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .box:last-child {
    border: none;
  }

  .list-container.cdk-drop-list-dragging .box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }*/
  /*FIN DRAG AND DROP*/

  .example-box {
    width: 50px;
    height: 50px;
    border: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    cursor: move;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }

  .example-box:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

//mat-checkbox
/*::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(106, 106, 106);
}*/

/*INI CARGAR RECURSO*/
.input-text {
    display: none;
}
.input-text,label{
    z-index: 1;
}
/*FIN CARGAR RECURSO*/

/*MODAL INI*/
#descModal {
    font-size: x-small;
    font-weight: bold;
    textarea {
        font-size: x-small;
        border: 0;
    }
  }

.well {
    background-color: #f5f5f5;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
/*MODAL FIN*/
