nb-layout > .scrollable-container > .layout {
	min-height: 64vh !important;
	max-height: 64vh !important;
}

.profile-actions-main-card{
	background-color: #EDF1F7;
	 margin-bottom: -1rem;
	overflow: hidden;
}

@media(max-width: 425px){
	nb-card-body{
		gap: 0 !important;
	}
}

.icon-option{

	height: 30px;
	width: 30px;
	background-size: cover;
	background-repeat: no-repeat;

	&.icon-student { background-image: url(../../../../assets/images/icons/student.svg)}
	&.icon-teacher { background-image: url(../../../../assets/images/icons/teacher.svg)}
	&.icon-author { background-image: url(../../../../assets/images/icons/author.svg)}
	&.icon-task { background-image: url(../../../../assets/images/icons/fact_check.svg) }
	&.icon-informes { background-image: url(../../../../assets/images/icons/informes.svg) }
	&.icon-settings { background-image: url(../../../../assets/images/icons/settings.svg) }
	&.icon-instant-act{ background-image: url(../../../../assets/images/icons/ActividadInstantanea.svg)}
	&.icon-edit { background-image: url(../../../../assets/images/icons/edit.svg)}
	&.icon-projects { background-image: url(../../../../assets/images/icons/project-provisional.svg)}
	&.icon-competir { background-image: url(../../../../assets/images/icons/couple.svg)}
	&.icon-sos { background-image: url(../../../../assets/images/icons/sos.svg)}
	&.icon-groups { background-image: url(../../../../assets/images/icons/groups.svg)}
	&.icon-desafios { background-image: url(../../../../assets/images/icons/add_quizz.svg)}
	&.icon-planificar { background-image: url(../../../../assets/images/icons/calendar_today.svg)}
	&.icon-desafios-icon { background-image: url(../../../../assets/images/icons/desafios_icon.svg)}
	&.icon-recordar-baraja { background-image: url(../../../../assets/images/icons/Recordar-Baraja.svg)}
	&.icon-proyecto-muchos-grafos { background-image: url(../../../../assets/images/icons/ProyectoComoMuchosGrafos.svg)}
	&.icon-flecha-derecha { background-image: url(../../../../assets/images/icons/arrow_forward.svg)}
	&.icon-dashboard { background-image: url(../../../../assets/images/icons/book.svg)}
	&.icon-person { background-image: url(../../../../assets/images/icons/person.svg)}
	&.icon-classroom { background-image: url(../../../../assets/images/icons/classroom.svg)}

	&:hover{
		filter: grayscale(100%) contrast(0.1);
	}

}

.small {
  width: 40%;
}

.smallxs {
  width: 30%;
}

.closebtn{
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;
}

.title-blue-menu{
	color: #3366ff;
}

.card-gray-bg{
	background-color: #d5d5d5;
}

//Flex container
.container {
  display: flex;
  -webkit-display: box;
  -moz-display: box;
  -ms-display: flexbox;
  -webkit-display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
	justify-content: center;
	gap: 2rem;
}

.disabled-card{
	pointer-events: none;
	opacity: 0.4;
}

// Cards
.cards {
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 80%;
  @media(min-width: 40rem) {
    width: 40%;
  }
  @media(min-width: 56rem) {
    width: 29.3%;
  }


  .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
		padding: 1rem;
    border-radius: 6px;
		//border: solid 1px #222b45;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);
      .card-image {
        opacity: 1;
      }
    }
  }

  // Content
  .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    line-height: 1.5em;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 10px;
		p{
			color: #3366ff;
			font-size: 12px;
			margin-bottom: -10px;
		}
		h6{
			margin-bottom: 0px;
		}
  }

  // Images
  .card-image{
		display: flex;
		justify-content: center;
    //height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;
  }
}

.actual-group{
    background: #36f;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.actual-group-red{
	background: rgb(140, 0, 0);
	padding: 10px;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.text-white{
	color: #fff !important;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.4);
  }
}

.card-item.pulsating {
  animation: pulse 1s infinite;
}

nb-icon {
	font-size: 2.25rem !important;
}
