<nb-card class="no-edge-card profile-actions-main-card">
	<nb-card-header>
		<div class="row">
			<div class="col-10">
				<h5 class="title-blue-menu">
					{{ "MENUACTIONS.MENU" | translate }} - {{ profileTitle }}
				</h5>
			</div>
		</div>
		<div class="row justify-content-center mt-3">
			<div class="col-md-8 col-12">
				<div class="actual-group" *ngIf="selectedGroupInfo && (profile === 'ESTUDIANTE' || profile === 'PROFESOR')">
					<h6 class="text-white">
						<nb-icon icon="people"></nb-icon>
						{{ "ALERTGROUP.GRUPOACTUAL" | translate }}:
						{{ selectedGroupInfo.title }}
					</h6>
				</div>
				<div class="actual-group-red" *ngIf="!selectedGroupInfo && (profile === 'ESTUDIANTE' || profile === 'PROFESOR')">
					<h6 class="text-white">
						<nb-icon icon="people"></nb-icon>
						{{ "ALERTGROUP.ENTERGROUP" | translate }}
						{{ selectedGroupInfo ? selectedGroupInfo.title : '' }}
					</h6>
				</div>
			</div>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle" [options]="{ animation: { type: 'zoom' } }"
			(click)="closeModal('')"></nb-icon>
	</div>
	<nb-card-body>
		<div class="row d-flex justify-content-center cards-container">
			<div class="col-md-12 col-12">
				<!--               MENU ESTUDIANTE               -->
				<div *ngIf="profile == 'ESTUDIANTE'">
					<nb-card class="card-gray-bg">
						<nb-card-body class="container">
							<div class="cards" [ngClass]="{ 'disabled-card': !isEditor }">
								<div class="card-item" (click)="goModule('edit')">
									<div class="card-image">
										<div class="icon-option icon-author pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE1" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE1" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="goModule('projects')">
									<div class="card-image">
										<div
											class="icon-option icon-proyecto-muchos-grafos pointer"
										></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE2" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE2" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="goModule('actividadesFlash')">
									<div class="card-image">
										<div class="icon-option icon-recordar-baraja pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE3" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE3" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="instantActivityStudent()">
									<div class="card-image">
										<div class="icon-option icon-desafios-icon pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE7" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE7" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="goModule('groups')">
									<div class="card-image">
										<div class="icon-option icon-groups pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE6" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE6" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="informesStudentGrupo()">
									<div class="card-image">
										<div class="icon-option icon-informes pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE8" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE6" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item disabled-card">
									<div class="card-image">
										<div class="icon-option icon-competir pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE4" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE4" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item disabled-card">
									<div class="card-image">
										<div class="icon-option icon-sos pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE5" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE8" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="ajustes()">
									<div class="card-image">
										<div class="icon-option icon-settings pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.STUDENTTITLE9" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.STUDENTSUBTITLE9" | translate }}
										</p>
									</div>
								</div>
							</div>
						</nb-card-body>
					</nb-card>
				</div>
				<!--               MENU PROFESOR               -->
				<div class="" *ngIf="profile == 'PROFESOR'">
					<nb-card class="card-gray-bg">
						<nb-card-header>
							<div class="row">
								<div class="col-12">
									<h2 class="text-center">
										{{ "MENUACTIONS.TEACHERSUBDIVISION1" | translate }}
									</h2>
								</div>
							</div>
						</nb-card-header>
						<nb-card-body class="container">
							<div class="cards">
								<div class="card-item" (click)="goModule('projects')">
									<div class="card-image">
										<div
											class="icon-option icon-proyecto-muchos-grafos pointer"
										></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE1" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE1" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards" [ngClass]="{ 'disabled-card': !isEditor }">
								<div class="card-item" (click)="goModule('edit')">
									<div class="card-image">
										<div class="icon-option icon-author pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE2" | translate }}
										</h6>
										<p>{{ "MENUACTIONS.TEACHERSUBTITLE2" | translate }}</p>
									</div>
								</div>
							</div>
							<div class="cards disabled-card">
								<div class="card-item">
									<div class="card-image">
										<div class="icon-option icon-planificar pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE3" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE3" | translate }}
										</p>
									</div>
								</div>
							</div>
						</nb-card-body>
					</nb-card>
					<nb-card class="card-gray-bg">
						<nb-card-header>
							<div class="row">
								<div class="col-12">
									<h2 class="text-center">
										{{ "MENUACTIONS.TEACHERSUBDIVISION2" | translate }}
									</h2>
								</div>
							</div>
						</nb-card-header>
						<nb-card-body class="container">
							<div class="cards">
								<div class="card-item" (click)="goModule('groups')">
									<div class="card-image">
										<div class="icon-option icon-groups pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE4" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE4" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div
									class="card-item"
									(click)="listadoCursos()"
									[ngClass]="{
										pulsating:
											selectedGroupInfo != null &&
											selectedGroupInfo.assignedProjects === 0
									}"
								>
									<div class="card-image">
										<div
											class="icon-option icon-proyecto-muchos-grafos pointer"
										></div>
										<div class="icon-option icon-flecha-derecha pointer"></div>
										<div class="icon-option icon-groups pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE9" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE9" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div
									class="card-item"
									(click)="listadoAlumnos()"
									[ngClass]="{
										pulsating:
											selectedGroupInfo != null &&
											selectedGroupInfo.assignedStudents === 0
									}"
								>
									<div class="card-image">
										<div class="icon-option icon-student pointer"></div>
										<div class="icon-option icon-flecha-derecha pointer"></div>
										<div class="icon-option icon-groups pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE8" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE8" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="goModule('projects')">
									<div class="card-image">
										<div
											class="icon-option icon-proyecto-muchos-grafos pointer"
										></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE1" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE6" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards" [ngClass]="{'disabled-card':disableInstantActivityButton}">
								<div class="card-item" (click)="instantActivity()">
									<div class="card-image">
										<div class="icon-option icon-desafios-icon pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE7" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE7" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="informesGrupo()">
									<div class="card-image">
										<div class="icon-option icon-informes pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.TEACHERTITLE5" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.TEACHERSUBTITLE5" | translate }}
										</p>
									</div>
								</div>
							</div>
							<div class="cards">
								<div class="card-item" (click)="goModule('settings')">
									<div class="card-image">
										<div class="icon-option icon-settings pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">{{ 'MENUACTIONS.TEACHERTITLE10' | translate }}</h6>
										<p class="paragraph">{{ 'MENUACTIONS.TEACHERSUBTITLE10' | translate }}</p>
									</div>
								</div>
							</div>
						</nb-card-body>
					</nb-card>
					<!-- <nb-card class="card-gray-bg ">
						<nb-card-body class="container">
							<div class="cards disabled-card">
								<div class="card-item" (click)="goModule('settings')">
									<div class="card-image">
										<div class="icon-option icon-settings pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">{{ 'MENUACTIONS.TEACHERTITLE10' | translate }}</h6>
										<p class="paragraph">{{ 'MENUACTIONS.TEACHERSUBTITLE10' | translate }}</p>
									</div>
								</div>
							</div>
						</nb-card-body>
					</nb-card> -->
				</div>
				<!--               MENU EDITOR               -->
				<div class="container" *ngIf="profile == 'AUTOR'">
					<div class="cards">
						<div class="card-item" (click)="goModule('edit')">
							<div class="card-image">
								<div class="icon-option icon-author pointer"></div>
							</div>
							<div class="card-info">
								<h6 class="card-title">
									{{ "MENUACTIONS.AUTHORTITLE1" | translate }}
								</h6>
								<p class="paragraph">
									{{ "MENUACTIONS.AUTHORSUBTITLE1" | translate }}
								</p>
							</div>
						</div>
					</div>
					<div class="cards">
						<div class="card-item" (click)="goModule('new')">
							<div class="card-image">
								<div class="icon-option icon-author pointer"></div>
							</div>
							<div class="card-info">
								<h6 class="card-title">
									{{ "MENUACTIONS.AUTHORTITLE2" | translate }}
								</h6>
								<p class="paragraph">
									{{ "MENUACTIONS.AUTHORSUBTITLE2" | translate }}
								</p>
							</div>
						</div>
					</div>
					<!-- <div class="cards disabled-card">
						<div class="card-item" (click)="goModule('settings')">
							<div class="card-image">
								<div class="icon-option icon-settings pointer"></div>
							</div>
							<div class="card-info">
								<h6 class="card-title">{{ 'MENUACTIONS.AUTHORTITLE3' | translate }}</h6>
								<p class="paragraph">{{ 'MENUACTIONS.AUTHORSUBTITLE3' | translate }}</p>
							</div>
						</div>
					</div> -->
				</div>
				<!--               MENU PADRE               -->
				<div *ngIf="profile == 'PADRE'">
					<nb-card class="card-gray-bg">
						<nb-card-body class="container">
							<div class="cards">
								<div class="card-item" (click)="ajustes()">
									<div class="card-image">
										<div class="icon-option icon-settings pointer"></div>
									</div>
									<div class="card-info">
										<h6 class="card-title">
											{{ "MENUACTIONS.PARENTTITLE1" | translate }}
										</h6>
										<p class="paragraph">
											{{ "MENUACTIONS.PARENTSUBTITLE1" | translate }}
										</p>
									</div>
								</div>
							</div>
						</nb-card-body>
					</nb-card>
				</div>

				<div class="" *ngIf="profile == 'ADMIN'">
					<!-- <div *ngIf="profile == 'ADMINNISTRATIVO'"> -->
						<nb-card class="card-gray-bg">
							<nb-card-header>
								<div class="row">
									<div class="col-12">
										<h2 class="text-center">
											{{ "MENUACTIONS.DASHBOARDTITTLE" | translate }}

										</h2>
									</div>
								</div>
							</nb-card-header>
							<nb-card-body class="container">
								<div class="cards">
									<div class="card-item" (click)="openTable()">
										<div class="card-image">
											<div
												class="icon-option icon-classroom pointer"
											></div>
										</div>
										<div class="card-info">
											<h6 class="card-title">
												<!-- {{ "MENUACTIONS.TEACHERTITLE1" | translate }} -->
												{{ "MENUACTIONS.DASHBOARD1" | translate }}
											</h6>
											<p class="paragraph">
												<!-- {{ "MENUACTIONS.TEACHERSUBTITLE1" | translate }} -->
												({{ "MENUACTIONS.DASHBOARDSUB1" | translate }})
											</p>
										</div>
									</div>
								</div>

								<div class="cards">
									<div class="card-item" (click)="openTableIndividual()">
										<div class="card-image">
											<div
												class="icon-option icon-person pointer"
											></div>
										</div>
										<div class="card-info">
											<h6 class="card-title">
												<!-- {{ "MENUACTIONS.TEACHERTITLE1" | translate }} -->
												{{ "MENUACTIONS.DASHBOARD2" | translate }}
											</h6>
											<p class="paragraph">
												<!-- {{ "MENUACTIONS.TEACHERSUBTITLE1" | translate }} -->
												({{ "MENUACTIONS.DASHBOARDSUB2" | translate }})
											</p>
										</div>
									</div>
								</div>
							</nb-card-body>
						</nb-card>

				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
