<nb-card class="no-edge-card mb-0 m-auto col-sm-8 col-md-8 justify-content-center">
	<nb-card-body>
		<app-loading [isVisible]="loading"></app-loading>
		<div class="container-login">
			<div class="row justify-content-center">
				<div class="col-12 col-md-12">
					<img class="logo" [src]="loginImage | imagen : 'logoLogin'" *ngIf="loginImage" />
				</div>
			</div>
			<form [formGroup]="formulario" (ngSubmit)="login()" #thisForm="ngForm">
				<div class="row" align="left" style="
						padding-bottom: 0rem !important;
						display: flex;
						align-items: center;
						flex-direction: column;
						justify-content: center;
					">
					<div class="col-md-2 mr-2" *ngIf="false">
						<select class="form-control" name="select" formControlName="prefix" name="prefix">
							<option value="">{{ "LOGIN.PREFIX" | translate }}</option>
							<option *ngFor="let prefix of $phonePrefixes | async" [ngValue]="prefix.dial_code">
								{{ prefix.name_en }}
								<span><strong>{{ prefix.dial_code }}</strong>
								</span>
							</option>
						</select>
						<div *ngFor="let validation of validationMessages.prefix" class="mt-2">
							<div class="error-message" *ngIf="
									prefixControl?.hasError(validation.type) &&
									(prefixControl?.dirty ||
										prefixControl?.touched ||
										thisForm.submitted)
								">
								{{ validation.message }}
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-8 py-2 justify-content-center">
						<input nbInput status="primary" fullWidth fieldSize="medium" type="text" class="form-control"
							placeholder="{{ 'LOGIN.EMAILOTELEFONO' | translate }}" name="username" formControlName="nick" />
						<div *ngFor="let validation of validationMessages.nick" class="mt-2">
							<div class="error-message" *ngIf="
									nickControl?.hasError(validation.type) &&
									(nickControl?.dirty ||
										nickControl?.touched ||
										thisForm.submitted)
								">
								{{ validation.message }}
							</div>
						</div>
					</div>
				</div>
				<div class="row" align="left" style="
						padding-bottom: 0rem !important;
						display: flex;
						align-items: center;
						flex-direction: column;
						justify-content: center;
					">
					<div class="col-sm-12 col-md-8 py-2 justify-content-center">
						<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
							[type]="hidePassword ? 'password' : 'text'" formControlName="keyWord" name="password"
							placeholder="{{ 'USERDATA.CONTRASENA' | translate }}" />
						<div *ngFor="let validation of validationMessages.password" class="mt-2">
							<div class="error-message" *ngIf="
									keyWordControl?.hasError(validation.type) &&
									(keyWordControl?.dirty ||
										keyWordControl?.touched ||
										thisForm.submitted)
								">
								{{ validation.message }}
							</div>
						</div>
						<button class="hide-button mt-2" type="button" mat-icon-button matSuffix
							(click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
							<mat-icon>{{
								hidePassword ? "visibility_off" : "visibility"
								}}</mat-icon>
						</button>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-2"></div>

					<div class="col-lg-6 col-sm-12 col-md-8 col-12" align="center">
						<app-alert context="Login"></app-alert>
					</div>
				</div>
				<div class="row" style="
								padding-bottom: 0rem !important;
								display: flex;
								align-items: center;
								flex-direction: column;
								justify-content: center;
							">
					<div class="col-sm-6 col-md-4 py-2 justify-content-center">
						<button
							class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block btnLogin"
							nbButton status="primary" hero type="submit">
							<span>{{ "LOGIN.ENTRAR" | translate }}</span>
						</button>
					</div>
				</div>
				<div class="row my-3" *ngIf="!isDemo">
					<div class="col-12 mb-2">
						<a [routerLink]="signUpRoute" class="textoFontSize09 colorTextoActivado d-inline pointer font-weight-bold">
							<span>{{ "LOGIN.REGISTRARME" | translate }}</span>
						</a>
					</div>
					<div class="col-12 mb-2" align="center">
						<a [routerLink]="forgotPasswordRoute" class="textoFontSize09 colorTextoActivado d-inline pointer font-weight-bold">{{
							"LOGIN.HEOLVIDADOMICONTRASENA" | translate }}</a>
					</div>
					<div (click)="showCommentsModal()" class="col-12" align="center">
						<a class="textoFontSize09 colorTextoActivado d-inline pointer font-weight-bold">{{
							"LOGIN.ACCESSPROBLEMS" | translate
							}}</a>
					</div>
				</div>
				<div>
					<p style="font-size: 12px;">V - {{ version }} / {{ versionAPI }}</p>
				</div>
			</form>
		</div>
	</nb-card-body>
</nb-card>
