app-login {
	@import "src/assets/scss/_common.scss";
	@import "src/assets/scss/_alignment.scss";

	@font-face {
		font-family: "San Francisco";
		font-weight: 400;
		src: url("../../../assets/fonts/sanfranciscodisplay-regular-webfont.woff");
	}

	.login-form-container>* {
		display: block;
		text-align: center;
	}

	.mat-form-field-appearance-outline .mat-form-field-infix {
		font-size: 1.1rem !important;
	}

	.mat-flat-button.mat-primary,
	.mat-raised-button.mat-primary,
	.mat-fab.mat-primary,
	.mat-mini-fab.mat-primary {
		background-color: #0ca6e4;
	}

	.mat-button,
	.mat-raised-button,
	.mat-icon-button,
	.mat-stroked-button,
	.mat-flat-button,
	.mat-fab,
	.mat-mini-fab {
		font-size: 18px;
	}

	.mat-icon {
		font-size: 24px;
		color: rgba(0, 0, 0, 0.54);
	}

	.form-group {
		margin: 0.25rem 0 0 0;
	}

	.error-message {
		color: rgba(179, 12, 12, 0.816) !important;
		text-align: left;
		font-size: 14px;
		margin-top: 5px;
	}

	.textoFontSize1 {
		color: #333;
		font-size: 20px;
	}

	.title {
		color: #204b97;
		font-size: 48px;
		font-weight: 600;
		margin: 15px 0;
		text-shadow: 2px 2px 2px #204b97;
	}

	.image-person {
		position: fixed;
		top: 60px;
		right: 215px;

		img {
			height: 380px;
			width: auto;
		}
	}

	.hide-button {
		position: absolute;
		top: 0;
		right: 20px;
	}

	.font-weight-bold {
		font-weight: bold !important;
	}

	.form-control {
		border: none;
		background-color: transparent;
		border-bottom: 1px solid #24488E;
		border-radius: 0;
		padding-left: 5px;
	}

	.form-control::placeholder {
		color: #24488E;
	}

	.form-control:focus {
		background-color: transparent;
		border-color: #0d224b;
	}

	.cdk-overlay-connected-position-bounding-box,
	.cdk-overlay-pane {
		z-index: 99999 !important;
	}

	.container-login {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
}
