.icono-opciones {
	font-size: 120px;
}

.style-intput [nbInput].status-basic:disabled {
	color: #222b45;
	font-weight: 400;
	text-align: center;
  background-color: #fff;
  border-color: #fff;
}

.style-intput label {
	color: #222b45;
	font-weight: 600;
}

.ajustes {
	border: none;
}

.ajustes:hover {
	animation-duration: 0.4s;
}

.opciones {
	// width: 100%;
	// height: 500px;
	overflow: auto;
	border-top: 1px solid rgba(0, 0, 0, 0.103);
	border-left: 1px solid rgba(0, 0, 0, 0.103);
	border-radius: 5px;

	-webkit-box-shadow: inset 15px 15px 21px -26px rgba(150, 150, 150, 1);
	-moz-box-shadow: inset 15px 15px 21px -26px rgba(150, 150, 150, 1);
	box-shadow: inset 15px 15px 21px -26px rgba(150, 150, 150, 1);

	@media (max-width: 999px) {
		& {
			margin-bottom: 5px;
			height: 250px;
			overflow-y: auto;
		}
	}
}

.icono-opciones {
	font: 50px;
}

.icono-opciones:hover {
	color: grey !important;
}

.mat-icon:hover {
	color: grey;
}


mat-icon.icon-color-blue svg:hover {
	fill: #8d8d8d !important;
}

.icono-opciones:hover {
	color: grey;
}

mat-icon:hover,
.btn-link {
	color: grey;
}

.icon-option {

	height: 30px;
	width: 30px;
	background-size: cover;
	background-repeat: no-repeat;

	&.icon-student {
		background-image: url(../../../../../assets/images/icons/student.svg)
	}

	&.icon-teacher {
		background-image: url(../../../../../assets/images/icons/teacher.svg)
	}

	&.icon-author {
		background-image: url(../../../../../assets/images/icons/author.svg)
	}

	&.icon-task {
		background-image: url(../../../../../assets/images/icons/fact_check.svg)
	}

	&.icon-informes {
		background-image: url(../../../../../assets/images/icons/informes.svg)
	}

	&.icon-settings {
		background-image: url(../../../../../assets/images/icons/settings.svg)
	}

	&.icon-instant-act {
		background-image: url(../../../../../assets/images/icons/ActividadInstantanea.svg)
	}

	&.icon-edit {
		background-image: url(../../../../../assets/images/icons/edit.svg)
	}

	&.icon-projects {
		background-image: url(../../../../../assets/images/icons/project-provisional.svg)
	}

	&.icon-competir {
		background-image: url(../../../../../assets/images/icons/couple.svg)
	}

	&.icon-sos {
		background-image: url(../../../../../assets/images/icons/sos.svg)
	}

	&.icon-groups {
		background-image: url(../../../../../assets/images/icons/groups.svg)
	}

	&.icon-desafios {
		background-image: url(../../../../../assets/images/icons/add_quizz.svg)
	}

	&.icon-planificar {
		background-image: url(../../../../../assets/images/icons/calendar_today.svg)
	}

	&.icon-desafios-icon {
		background-image: url(../../../../../assets/images/icons/desafios_icon.svg)
	}

	&.icon-recordar-baraja {
		background-image: url(../../../../../assets/images/icons/Recordar-Baraja.svg)
	}

	&.icon-proyecto-muchos-grafos {
		background-image: url(../../../../../assets/images/icons/ProyectoComoMuchosGrafos.svg)
	}

	&:hover {
		filter: grayscale(100%) contrast(0.1);
	}

}

.notifi {
	height: 20px;
	width: 20px;
}

////////////////////////////////////////////////////@at-root
///
///
.dropbtn {
	// background-color: #4CAF50;
	// color: white;
	// padding: 16px;
	// font-size: 16px;
	border: none;
	cursor: pointer;
	font-weight: 500;
}

.dropdownActions {
	position: relative;
	display: inline-block;
}

.dropdownActions-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 280px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	right: -23px;
	top: 30px;
}

.dropdownActions-content .listado-intitaciones {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	// cursor: pointer;
}

.dropdownActionsActions-content .listado-intitaciones:hover {
	background-color: #f1f1f1;
	// cursor: pointer;
}

.dropdownActions:hover .dropdownActions-content {
	display: block;
}

.dropdownActions:hover .dropbtn {
	background-color: #343a40;
	color: #f1f1f1;
}

.icon-action {
	cursor: pointer;
}

nb-icon {
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;

	:hover {
		color: #36f !important;
	}
}

.icon-action-blue {
	cursor: pointer;

	&:hover {
		color: #36f !important;
	}
}

.icon-action-red {
	cursor: pointer;

	&:hover {
		color: #ff3d71 !important;
	}
}

.mt-2_5r {
	margin-top: 2.5rem !important;
}

// Cards
.cards {
	display: inline-block;
	padding: 1rem;
	//margin-bottom: 1rem;
	width: 100%;

	@media(min-width: 40rem) {
		//width: 50%;
	}

	@media(min-width: 56rem) {
		//width: 29.3%;
	}

	.card-item {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		width: 100%;
		padding: 1rem;
		border-radius: 6px;
		//border: solid 1px #222b45;
		box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.25);
		overflow: hidden;
		transition: transform 0.5s;
		-webkit-transition: transform 0.5s;

		&:hover {
			cursor: pointer;
			transform: scale(1.1);
			-webkit-transform: scale(1.1);

			.card-image {
				opacity: 1;
			}
		}
	}

	// Content
	.card-info {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		line-height: 1.5em;
		justify-content: center;
		align-items: center;
		text-align: center;
		margin-top: 10px;

		p {
			color: #3366ff;
			font-size: 12px;
			margin-bottom: -10px;
		}

		h6 {
			margin-bottom: 0px;
		}
	}

	.card-title {
		// font-size: 25px;
		// line-height: 1.1em;
		// color: #32325d;
		// margin-bottom: 0.2em;
	}

	// Images
	.card-image {
		display: flex;
		justify-content: center;
		//height: 200px;
		overflow: hidden;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 6px 6px 0px 0px;
		opacity: 0.91;
	}

	.small {
		width: 40%;
	}

	.smallxs {
		width: 30%;
	}
}
