app-register {
	@font-face {
		font-family: "San Francisco";
		font-weight: 400;
		src: url("../../../assets/fonts/sanfranciscodisplay-regular-webfont.woff");
	}

	.container-body {
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		align-items: center;
	}

	.form-items-col>* {
		margin-bottom: 1.5rem;
	}

	.error-message {
		color: rgba(179, 12, 12, 0.816) !important;
		text-align: left;
		font-size: 14px;
		margin-top: 5px;
	}

	.form-control {
		border: none;
		background-color: transparent;
		border-radius: 0;
		padding-left: 5px;
	}

	.form-control::placeholder {
		color: #24488e;
	}

	.form-control:focus {
		background-color: transparent;
		border-color: #0d224b;
	}

	span {
		&.info {
			color: #1e88e5;
			font-size: 12px;
		}
	}

	h3 {
		color: #273b6a;
		font-size: 16px;
		font-weight: 600;
	}

	.blue {
		color: #273b6a;
		font-weight: 600;
	}

	.lightblue {
		font-weight: 600;
		cursor: pointer;
	}

	nb-icon {
		font-size: 2.25rem !important;
	}

	.typeDate {
    color: #8f9bb3 !important;
    font-weight: 400 !important;
	}

	.container-input {
		display: flex;
		justify-content: space-between;
		grid-gap: 20px;
		flex-wrap: wrap;
	}

	.item-input {
		display: flex;
		flex-direction: column;
	}

	@media(max-width: 600px) {
		.item-input {
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}

	.container-phone {
		display: flex;
		grid-gap: 10px;
		flex-wrap: wrap;
	}

	.container-button {
		display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 30px;
    text-align: center;
    padding-bottom: 20px;
	}

	.profile {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 20px;
		justify-content: center;
		margin: 4rem 0;
	}

	.profile-toggle {
		display: flex;
		flex-direction: column;
		gap: 20px;
		min-width: 150px;
	}

	.item-profile {
		display: flex;
		align-items: center;
		grid-gap: 15px;
		min-width: 150px;
	}

	.item-profile .toggle-label {
		margin: 0;
	}

	.hide-button {
		position: absolute;
		top: 0;
		right: 20px;
	}

	.container-second_step {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
}
