<nb-card class="mb-0 m-auto col-sm-12 col-md-12 justify-content-center no-edge-card" *ngIf="!registerAux">
	<nb-card-header class="flex border-bottom-0">
		<div class="col-10 modal-title justify-content-left text-left">
			<h2>{{ "LOGIN.CREATEUNACUENTA" | translate }}</h2>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle"
			[options]="{ animation: { type: 'zoom' } }" (click)="closeModal('')"></nb-icon>
	</div>
	<nb-card-body>
		<div class="container-body">
			<div class="row justify-content-center">
				<div class="col-12 col-md-12">
					<img class="logo" [src]="loginImage | imagen : 'logoLogin'" *ngIf="loginImage" />
				</div>
			</div>
			<!-- FIRTS STEP-->
			<form [formGroup]="step1" (ngSubmit)="nextStep()" #Form1="ngForm" *ngIf="currentStep === '1'">
				<div class="">

					<div class="row">
						<!-- FIRSTNAME AND LASTNAME-->
						<div class="col-sm-12 col-md-6 mt-4">
							<input type="text" nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
								placeholder="{{ 'USERDATA.NOMBRE' | translate }}" formControlName="firstName">
							<div *ngFor="let validation of validationMessages.firstName">
								<div class="error-message" *ngIf="
																					step1.get('firstName')?.hasError(validation.type) &&
																					(step1.get('firstName')?.dirty ||
																						step1.get('firstName')?.touched ||
																						Form1.submitted)
																				">
									{{ validation.message }}
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-6 mt-4">
							<input type="text" nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
								formControlName="surname" placeholder="{{ 'USERDATA.APELLIDOS' | translate }}">
							<div *ngFor="let validation of validationMessages.surname">
								<div class="error-message" *ngIf="
																					step1.get('surname')?.hasError(validation.type) &&
																					(step1.get('surname')?.dirty ||
																						step1.get('surname')?.touched ||
																						Form1.submitted)
																				">
									{{ validation.message }}
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<!-- EMAIL-->
						<div class="col-sm-12 col-md-6 mt-4">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="email" formControlName="email"
								placeholder="{{ 'USERDATA.EMAIL' | translate }}" (keyup)="verificarMail()" />
							<div *ngFor="let validation of validationMessages.email">
								<div class="error-message" *ngIf="
													emailControl?.hasError(validation.type) &&
													(emailControl?.dirty ||
														emailControl?.touched ||
														Form1.submitted)
												">
									{{ validation.message }}
								</div>
							</div>
						</div>
						<!-- BIRTHDATE-->
						<div class="col-sm-12 col-md-6 mt-4">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="typeDate form-control" formControlName="birthdate"
								placeholder="{{ 'USERDATA.FECHANACIMIENTO' | translate }}" type="date" (change)="validateYears()" />

							<div *ngFor="let validation of validationMessages.birthdate">
								<div class="error-message" *ngIf="
																				birthdateControl?.hasError(validation.type) &&
																				(birthdateControl?.dirty ||
																					birthdateControl?.touched ||
																					Form1.submitted)
																			">
									{{ validation.message }}
								</div>
							</div>
						</div>
					</div>

					<!-- PHONE-->
					<div class="row gap-2">
						<div class="col-sm-12 col-md-3 mt-4">
							<select class="Select-form" fieldSize="medium" status="primary" formControlName="prefix">
								<option disabled selected value="">
									{{ 'LOGIN.PREFIX' | translate }}
								</option>
								<option *ngFor="let prefix of $phonePrefixes | async" value="{{ prefix.dial_code }}">
									{{ prefix.dial_code }}
									{{ prefix.name_es }}
								</option>
							</select>
							<div *ngFor="let validation of validationMessages.prefix">
								<div class="error-message" *ngIf="
														step1.get('prefix')?.hasError(validation.type) &&
														(step1.get('prefix')?.dirty ||
															step1.get('prefix')?.touched ||
															Form1.submitted)
													">
									{{ validation.message }}
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-3 mt-4">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="tel" formControlName="mobile"
								appNumberInput placeholder="{{ 'USERDATA.TELEFONOMOVIL' | translate }}" (keyup)="verificarMovil()" />
							<div *ngFor="let validation of validationMessages.mobile">
								<div class="error-message" *ngIf="
														step1.get('mobile')?.hasError(validation.type) &&
														(step1.get('mobile')?.dirty ||
															step1.get('mobile')?.touched ||
															Form1.submitted)
													">
									{{ validation.message }}
								</div>
							</div>
						</div>
						<!-- GENDER-->
						<div class="col-sm-12 col-md-6 mt-4">
							<select class="Select-form" fieldSize="medium" status="primary" formControlName="genre">
								<option disabled selected value="">
									{{ 'LOGIN.GENERO' | translate }}
								</option>
								<option *ngFor="let gender of genders$ | async" [value]="gender.idGenre">
									{{ gender.genre | translate }}
								</option>
							</select>
							<div *ngFor="let validation of validationMessages.gender">
								<div class="error-message" *ngIf="
																					genderControl?.hasError(validation.type) &&
																					(genderControl?.dirty ||
																						genderControl?.touched ||
																						Form1.submitted)
																				">
									{{ validation.message }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--PROFILES-->
				<div class="profile">
					<div class="profile-toggle">
						<div class="item-profile">
							<nb-toggle labelPosition="end" formControlName="profileEditor" disabled></nb-toggle>
							<span nbTooltip="{{ 'LOGIN.TITLEEDITOR' | translate }}" nbTooltipPlacement="bottom"
								nbTooltipStatus="primary" nbButton status="primary">{{ "LOGIN.EDITOR" | translate }}</span>
						</div>

						<div *ngIf="showProfiles" class="item-profile">
							<nb-toggle labelPosition="end" formControlName="profileParent"></nb-toggle>
							<span nbTooltip="{{ 'LOGIN.PARENT' | translate }}" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
								nbButton status="primary">{{ "LOGIN.PARENT" | translate }}</span>
						</div>
					</div>

					<div class="profile-toggle">
						<div class="item-profile">
							<nb-toggle labelPosition="end" formControlName="profileStudent"></nb-toggle>
							<span nbTooltip="{{ 'LOGIN.TITLESTUDENT' | translate }}" nbTooltipPlacement="bottom"
								nbTooltipStatus="primary" nbButton status="primary">{{ "LOGIN.STUDENT" | translate }}</span>
						</div>

						<ng-container *ngIf="showProfiles">
							<div class="item-profile">
								<nb-toggle labelPosition="end" formControlName="profileTeacher"></nb-toggle>
								<span nbTooltip="{{ 'LOGIN.TITLETEACHER' | translate }}" nbTooltipPlacement="bottom"
									nbTooltipStatus="primary" nbButton status="primary">{{ "LOGIN.TEACHER" | translate }}</span>
							</div>
						</ng-container>
					</div>
				</div>

				<!-- ALTERNATIVE LOGIN & SUBMIT BUTTON-->
				<!-- <p class="text-center">{{'REGISTRO.ALTERNATIVELOGIN' | translate}}</p>
				<button type="button" (click)="googleSignin()" mat-icon-button>
					<img src="assets/images/google.svg">
				</button> -->
				<div class="col-md-6 m-auto container-button">
					<button *ngIf="showProfiles" nbButton size="medium" status="primary" hero type="submit"
						[class.disabled]="!mobileOk && !mailOk">
						{{ "REGISTRO.NEXT" | translate }}
					</button>

					<button nbButton size="medium" status="primary" hero type="button"
						[class.disabled]="!mobileOk && !mailOk" (click)="registerNick()">
						{{ "REGISTRO.REGISTERNICK" | translate }}
					</button>

					<!-- <a class="textoFontSize09 colorTextoActivado d-inline pointer" (click)="registerNick()">
						{{ "REGISTRO.REGISTERNICK" | translate }}
					</a> -->
				</div>
			</form>

			<!-- SECOND STEP-->
			<form [formGroup]="step2" (ngSubmit)="sendSms()" #Form2="ngForm" *ngIf="currentStep === '2'">
				<div class="container-second_step">
					<!-- PASSWORD -->
					<div class="row" align="left" style="
												padding-bottom: 0rem !important;
												display: flex;
												align-items: center;
												flex-direction: column;
												justify-content: center;
											">
						<div class="col-sm-8 col-md-8 py-2 justify-content-center">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
								[type]="hidePassword ? 'password' : 'text'" formControlName="keyWord"
								placeholder="{{ 'USERDATA.CREATEPASSWORD' | translate }}" />
							<div *ngFor="let validation of validationMessages.keyword" class="mt-2">
								<div class="error-message" *ngIf="
																	keywordControl?.hasError(validation.type) &&
																	(keywordControl?.dirty ||
																		keywordControl?.touched ||
																		Form2.submitted)
																">
									{{ validation.message }}
								</div>
							</div>

							<button class="hide-button mt-2" type="button" mat-icon-button matSuffix
								(click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
								<mat-icon>{{
									hidePassword ? "visibility_off" : "visibility"
									}}</mat-icon>
							</button>
						</div>
					</div>

					<!-- TERMS AND CONDITIONS -->
					<div id="terminos">
						<div class="row justify-content-center">
							<div class="col-sm-8 col-md-8 text-left">
								<mat-checkbox formControlName="terms">
									{{ "REGISTRO.ACCEPTTERMSANDCONDITIONS" | translate }}
									<a href="javascript:void(0);" (click)="showPrivacyDialog($event)"
										(mousedown)="$event.stopPropagation()">{{
										"REGISTRO.TERMS" | translate }}</a>
									{{ "REGISTRO.ACEPTTERMSAND" | translate }}
									<a href="javascript:void(0);" (click)="showConditionsDialog($event)"
										(mousedown)="$event.stopPropagation()">{{
										"REGISTRO.CONDITIONS" | translate }}</a>
								</mat-checkbox>
								<div *ngFor="let validation of validationMessages.terms">
									<div class="error-message" *ngIf="
														termsControl?.hasError(validation.type) &&
														(termsControl?.dirty || Form2.submitted)
													">
										{{ validation.message }}
									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- CAPTCHA -->
					<div class="row justify-content-center">
						<div class="col-md-4 row justify-content-center">
							<ngx-recaptcha2 [siteKey]="siteKey" [hl]="lang" formControlName="recaptcha"></ngx-recaptcha2>
							<div *ngFor="let validation of validationMessages.recaptcha">
								<div class="error-message break-line" *ngIf="
													recaptchaControl?.hasError(validation.type) &&
													(recaptchaControl?.dirty || Form2.submitted)
												">
									{{ validation.message }}
								</div>
							</div>
						</div>
					</div>

					<!-- SUBMIT BUTTON -->
					<div class="row my-4 justify-content-center">
						<div class="col-md-4 row justify-content-center">
							<button nbButton size="medium" status="primary" hero type="submit">
								{{ "REGISTRO.REGISTRARNUEVOUSUARIO" | translate }}
							</button>
						</div>
					</div>
				</div>
			</form>
			<!-- END SECOND STEP-->

			<!-- THIRD STEP-->
			<form [formGroup]="step3" #Form3="ngForm" *ngIf="currentStep === '3'">
				<div class="row justify-content-center">
					<div class="col-sm-8 col-md-8 text-center">
						<h5 *ngIf="inputSMS">{{ "VALIDATESMSCODE.TEXT1a" | translate }}</h5>
						<h5 *ngIf="!inputSMS">{{ "VALIDATESMSCODE.TEXT1" | translate }}</h5>
					</div>
				</div>
				<div class="row my-4 justify-content-center">
					<div class="col-sm-8 col-md-8" *ngIf="inputSMS">
						<!-- <div class="col-md-8" *ngIf="inputSMS"> -->
						<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="text"
							formControlName="code" appNumberInput placeholder="{{
								'VALIDATESMSCODE.CODEPLACEHOLDERSMS' | translate
							}}" (input)="onKeyUpCode($event)" />
						<div *ngFor="let validation of validationMessages.code">
							<div class="error-message" *ngIf="
									step3.get('code')?.hasError(validation.type) &&
									(step3.get('code')?.dirty || step3.get('code')?.touched)
								">
								{{ validation.message }}
							</div>
						</div>
					</div>

					<div class="col-sm-8 col-md-8" *ngIf="!inputSMS">
						<!-- <div class="col-md-8" *ngIf="!inputSMS"> -->
						<input nbInput status="primary" fullWidth fieldSize="large" class="form-control" type="text"
							formControlName="code" appNumberInput placeholder="{{
								'VALIDATESMSCODE.CODEPLACEHOLDERMAIL' | translate
							}}" (input)="onKeyUpCodeMail($event)" />
						<div *ngFor="let validation of validationMessages.code">
							<div class="error-message" *ngIf="
									step3.get('code')?.hasError(validation.type) &&
									(step3.get('code')?.dirty || step3.get('code')?.touched)
								">
								{{ validation.message }}
							</div>
						</div>
					</div>
				</div>
				<!-- <p class="text-center lightblue mt-4 {{clickNewCode ? 'disable' : ''}}"  (click)="requestNewCode()" title="{{'VALIDATESMSCODE.TEXT3' | translate}}">{{'VALIDATESMSCODE.TEXT3' | translate}}</p> -->
				<p class="text-center lightblue mt-2" (click)="sendMail()" title="{{ 'VALIDATESMSCODE.TEXT4' | translate }}">
					{{ "VALIDATESMSCODE.TEXT4" | translate }}
				</p>
				<div class="text-center my-4">
					<button nbButton size="medium" status="primary" hero type="button" (click)="reset()">
						{{ "VALIDATESMSCODE.RESET" | translate }}
					</button>
				</div>
			</form>
			<!-- END THIRD STEP-->
		</div>

	</nb-card-body>
</nb-card>
<app-register-nick *ngIf="registerAux" (closeAux)="closeModal()"></app-register-nick>
