.icon-head{
    color: rgb(29, 73, 153);
}

.icon-tittle{
    color: white;
}

button, .btn{
    outline:none;
    border:none;
}

.button-redes{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.button-salware{
    width: 40px;
    height: 40px;
}

.tittle {
    background-color: #2186AE;
    color: #FFFFFF;
}

.options {
    padding: 2px 16px;
    vertical-align: middle;
    background: #DEDEDE;
    position: relative;
    height: 30px;
}

.icons{
    margin: 0 5px;
}

@media (max-width: 2000px) and (min-width: 1025px) {
    .icon-size-small{
        font-size: 24px;
    }
    .icon-size-medium {
        font-size: 24px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .icon-size-small{
        font-size: 24px;
    }
    .icon-size-medium {
        font-size: 24px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .icon-size-small{
        font-size: 24px;
    }
    .icon-size-medium {
        font-size: 24px;
    }
}

@media (max-width: 480px) and (min-width: 321px) {
    .icon-size-small{
        font-size: 24px;
    }
    .icon-size-medium {
        font-size: 24px;
    }
}

@media (max-width: 320px) {
    .icon-size-small{
        font-size: 24px;
    }
    .icon-size-medium {
        font-size: 24px;
    }
 }

 .dropdown {
    text-align: right;
    position: static;
  }

  .dropdown-menu{
    min-height: fit-content;
    height: fit-content !important;
    margin: 0 auto;
    overflow-y:auto;
  }

  #descModal {
    font-size: x-small;
    font-weight: bold;
    textarea {
        font-size: x-small;
        border: 0;
    }
  }

  .well {
    //margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }

  .botonCerrar{
      height:40px;
      width:40px;
  }

  .modal-header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    padding: 0;
  }

  // ------------------------------------

   .mat-icon-button, .dropdown {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
   }

   .dropdown {
       float: right;
       display: inline-table;
   }

    .scroll {
      overflow-y:auto;
      max-height:100vh;
    }

    ::-webkit-scrollbar {
      width: 10px;
      border: 5px solid white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #b0b0b0;
        background-clip: padding-box;
        border: 0.05em solid #eeeeee;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #e1e1e1;
    }

    ::-webkit-scrollbar-button {
        background-color: #bbbbbb;
        display: block;
        border-style: solid;
        height: 8px;
        width: 8px;
    }

    ::-webkit-scrollbar-button:vertical:decrement {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #555555 transparent;
    }

    ::-webkit-scrollbar-button:vertical:increment {
        border-width: 5px 5px 0 5px;
        border-color: #555555 transparent transparent transparent;
    }
    ::-webkit-scrollbar-button:vertical:start:increment,
    ::-webkit-scrollbar-button:vertical:end:decrement
    {
      display: none;
    }
