<nb-card class="mb-0">
	<nb-card-header class="flex justify-content-between">
		<div class="col-11">
			<!-- <div> <h5>{{ 'ACEPTARCANCELAR.SELECCIONEOPCION' | translate }}</h5></div> -->
		</div>
		<div class="col-1">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }" (click)="closeModal()"></nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
	<div class="m-2 row d-flex">

			<div class="col-12 d-flex justify-content-center">
				<span class="textoFontSize09 colorTextoActivado font-weight-bold">{{ 'QUIZSOCKETPREVIEW.ENDCHALLENGEMODAL' | translate	}}</span>
			</div>
		</div>

	</nb-card-body>
	<nb-card-footer>
		<div class="mb-2 row">
			<div class="col-12 row" align="center">
				<div class="col-6"><button nbButton status="primary" (click)="cancelar()" class="mr-1">{{ 'ACEPTARCANCELAR.CANCELAR' | translate	}}</button></div>
				<!-- <div class="col-4"><button nbButton status="danger" (click)="anular()" class="mr-1">{{ 'SOCKETQUIZPREVIEW.ANULAR' | translate	}}</button></div> -->
				<div class="col-6"><button nbButton status="danger" (click)="finalizar()" class="mr-1">{{ 'SOCKETQUIZPREVIEW.FINALIZE' | translate	}}</button></div>
			</div>
		</div>
	</nb-card-footer>
</nb-card>
