app-modal-celebration{

    .app-session-modal-window {
        z-index: 1052 !important;
      }
      .app-session-modal-backdrop {
        z-index: 1052 !important;
      }
}

.modal-dialog.modal-dialog-centered > .modal-content > .modal-gif {
	animation: shake 3s linear infinite !important;
}

@keyframes shake {
5% { transform: translateY(-3px) }
10%, 20%, 30%, 40% { transform: translateY(-3px) rotate(3deg) }
15%, 25%, 35%, 45% { transform: translateY(-3px) rotate(-3deg) }
50%, 100% { transform: translateY(0px) }
}


.close-bar{
	background-color: white;
	border-radius: 1rem;
	justify-content: right;
}

.modal-gif{
	background-color: white;
	border-radius: 1rem;
}

.img-fluid{
	width: 100%;
	max-height: 70vh !important;
	object-fit: cover;
}


