.star {
    position: relative;
    display: inline-block;
    font-size: inherit;
    color: #d3d3d3;
}

.full {
    color: #C5B358;
}

.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #D4AF37;
}