<nb-card class="mb-0">
	<nb-card-header class="flex">
		<div class="col-10 modal-title">
			<h2>{{ "SETTINGS.GENERALTITLE" | translate }}</h2>
		</div>
		<div class="col-2">
			<nb-icon
				class="icon-color-blue closebtn pointer text-right m-1 float-right"
				icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }"
				(click)="closeModal('')"
			></nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body *ngIf="userData">
		<div *ngIf="screenView === 1">
			<form
				[formGroup]="formularioDatos"
				(ngSubmit)="grabarDatos()"
				#thisForm="ngForm"
			>
				<nb-card class="project-info pointer">
					<app-loading [isVisible]="loading"></app-loading>
					<nb-card-body>
						<app-alert context="UserData"></app-alert>
						<nb-card class="no-edge-card mb-0" >
							<nb-card-header>
								<p style="background-color: rgba(255, 113, 113, 0.981); border-radius: 20px; text-align: justify; padding: 10px;" *ngIf="!userData.profileEditor">
									{{ "PARENTS.ACCESSLIMITED" | translate }}
									<a (click)="ajustes()"><b>{{ "PARENTS.PUSHTOASSIGN" | translate }}</b></a>
								<h6>{{ "LOGIN.DATAPROFILE" | translate }}</h6>
							</nb-card-header>

							<nb-card-body>
								<div class="row">
									<div class="col-sm-6">
										<app-image-profile [image]="userData.pictureUser"	*ngIf="userData" ></app-image-profile>
									</div>
									<div class="col-sm-6">
										<div class="row mb-4 space-evenly">
											<div class="col-sm-3">
												<nb-toggle
													labelPosition="end"
													formControlName="profileEditor"
													disabled
													>{{ "LOGIN.EDITOR" | translate }}</nb-toggle
												>
											</div>
											<div class="col-sm-3 mr-4 mb-2">
												<nb-icon
													icon="info"
													nbTooltip="{{ 'LOGIN.TITLEEDITOR' | translate }}"
													nbTooltipStatus="primary"
													[options]="{ animation: { type: 'pulse' } }"
												></nb-icon>
											</div>
										</div>

										<div class="row mb-4 space-evenly">
											<div class="col-sm-3">
												<nb-toggle
													labelPosition="end"
													formControlName="profileStudent"
													[disabled]="!userData.profileEditor"
													(change)="guardarPerfil()"
												>
													{{ "LOGIN.STUDENT" | translate }}</nb-toggle
												>
											</div>
											<div class="col-sm-3 mr-4 mb-2">
												<nb-icon
													icon="info"
													nbTooltip="{{ 'LOGIN.TITLESTUDENT' | translate }}"
													nbTooltipStatus="primary"
													[options]="{ animation: { type: 'pulse' } }"
												></nb-icon>
											</div>
										</div>

										<ng-container *ngIf="isAdult">
											<div class="row mb-4 space-evenly">
												<div class="col-sm-3">
													<nb-toggle
														labelPosition="end"
														formControlName="profileTeacher"
														(change)="guardarPerfil()"
														>{{ "LOGIN.TEACHER" | translate }}</nb-toggle
													>
												</div>
												<div class="col-sm-3 mr-4 mb-2">
													<nb-icon
														icon="info"
														nbTooltip="{{ 'LOGIN.TITLETEACHER' | translate }}"
														nbTooltipStatus="primary"
														[options]="{ animation: { type: 'pulse' } }"
				 									></nb-icon>
												</div>
											</div>

											<div class="row mb-4 space-evenly">
												<div class="col-sm-3">
													<nb-toggle
														labelPosition="end"
														formControlName="profileParent"
														(change)="guardarPerfil()"
														>{{ "LOGIN.PARENT" | translate }}</nb-toggle
													>
												</div>
												<div class="col-sm-3 mr-4 mb-2">
													<nb-icon
														icon="info"
														nbTooltip="{{ 'LOGIN.TITLEPARENT' | translate }}"
														nbTooltipStatus="primary"
														[options]="{ animation: { type: 'pulse' } }"
													></nb-icon>
												</div>
											</div>
										</ng-container>


									</div>
								</div>
							</nb-card-body>
						</nb-card>

						<nb-card class="no-edge-card mb-0">
							<nb-card-header>
								<h6>{{ "USERDATA.DATOSGENERALES" | translate }}</h6>
							</nb-card-header>
							<nb-card-body>
								<div class="col-12">
									<div class="row">
										<div class="col-sm-6 form-group">
											<label for="username" class="label">{{
												"USERDATA.NOMBRE" | translate
											}}</label>
											<input
												type="text"
												nbInput
												fullWidth
												status="basic"
												placeholder="{{ 'USERDATA.NOMBRE' | translate }}"
												name="username"
												formControlName="firstName"
												[readonly]="!userData.profileEditor"
												required
											/>
											<div
												*ngFor="let validation of validationMessages.firstName"
											>
												<mat-error
													*ngIf="(userData.profileEditor)&&
														(formularioDatos
															.get('firstName')
															?.hasError(validation.type) &&
														(formularioDatos.get('firstName')?.dirty ||
															formularioDatos.get('firstName')?.touched ||
															thisForm.submitted))
													"

												>
													<div class="error-message" >
														{{ validation.message }}
													</div>
												</mat-error>
											</div>
										</div>

										<div class="col-sm-6 form-group">
											<label for="surname" class="label">{{
												"USERDATA.APELLIDOS" | translate
											}}</label>
											<input
												type="text"
												nbInput
												fullWidth
												status="basic"
												placeholder="{{ 'USERDATA.APELLIDOS' | translate }}"
												name="surname"
												formControlName="surname"
												[readonly]="!userData.profileEditor"
												required
											/>
											<div
												*ngFor="let validation of validationMessages.surname"
											>
												<mat-error
													*ngIf="userData.profileEditor &&
														(formularioDatos
															.get('surname')
															?.hasError(validation.type) &&
														(formularioDatos.get('surname')?.dirty ||
															formularioDatos.get('surname')?.touched ||
															thisForm.submitted))
													"
												>
													<div class="error-message">
														{{ validation.message }}
													</div>
												</mat-error>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6 form-group mb-0" *ngIf="!isDemo">
											<label for="mail" class="label">{{
												"USERDATA.EMAIL" | translate
											}}</label>
											<input
												type="email"
												nbInput
												fullWidth
												status="basic"
												placeholder="{{ 'USERDATA.EMAIL' | translate }}"
												name="mail"
												formControlName="mail"
												[readonly]="!userData.profileEditor"
												required
											/>
											<div *ngFor="let validation of validationMessages.mail">
												<mat-error
													*ngIf="userData.profileEditor &&
														(formularioDatos
															.get('mail')
															?.hasError(validation.type) &&
														(formularioDatos.get('mail')?.dirty ||
															formularioDatos.get('mail')?.touched ||
															thisForm.submitted))
													"
												>
													<div class="error-message">
														{{ validation.message }}
													</div>
												</mat-error>
											</div>
										</div>

										<div class="col-sm-6 form-group mb-0">
											<label for="birthdate" class="label">{{
												"USERDATA.DATE" | translate
											}}</label>
											<input
												type="text"
												disabled
												nbInput
												fullWidth
												status="basic"
												disabled
												name="birthdate"
												formControlName="birthdate"
											/>
											<!-- <mat-form-field
												*ngIf="showBirthdate"
												appearance="fill"
												class="datePickerGeneric"
												style="display: block"
											>
												<input
													matInput
													[matDatepicker]="picker"
													formControlName="birthdate"
													[readonly]="userData.mail === '' && userData.mobile === ''"
													name="birthdate"
													required
													disabled
												/>
												<mat-datepicker-toggle
													matSuffix
													[for]="picker"
												></mat-datepicker-toggle>
												<mat-datepicker #picker></mat-datepicker>
											</mat-form-field> -->
											<div
												*ngFor="let validation of validationMessages.birthdate"
											>
												<mat-error
													*ngIf="userData.profileEditor &&
														(formularioDatos
															.get('birthdate')
															?.hasError(validation.type) &&
														(formularioDatos.get('birthdate')?.dirty ||
															formularioDatos.get('birthdate')?.touched ||
															thisForm.submitted))
													"
												>
													<div class="error-message">
														{{ validation.message }}
													</div>
												</mat-error>
											</div>
										</div>
									</div>

									<div class="row" *ngIf="!isDemo">
										<div class="col-sm-6 form-group">
											<label for="prefix" class="label">{{
												"LOGIN.PREFIX" | translate
											}}</label>
											<nb-select
												fullWidth
												name="prefix"
												placeholder="{{ 'LOGIN.PREFIX' | translate }}"
												formControlName="prefix"
												[disabled]="true"
											>
												<nb-option
													*ngFor="let prefix of $phonePrefixes | async"
													value="{{ prefix.dial_code }}"
													>{{ prefix.name_en }}
													<span
														><strong> {{ prefix.dial_code }}</strong>
													</span></nb-option
												>
											</nb-select>
											<div
												*ngFor="let validation of validationMessages.prefix"
												class="mt-2"
											>
												<div
													class="error-message"
													*ngIf="userData.profileEditor &&
														(prefixControl?.hasError(validation.type) &&
														(prefixControl?.dirty ||
															prefixControl?.touched ||
															thisForm.submitted))
													"
												>
													{{ validation.message }}
												</div>
											</div>
										</div>

										<div class="col-sm-6 form-group">
											<label for="mobile" class="label">{{
												"USERDATA.TELEFONOMOVIL" | translate
											}}</label>
											<input
												type="text"
												nbInput
												fullWidth
												status="basic"
												placeholder="{{ 'USERDATA.TELEFONOMOVIL' | translate }}"
												name="mobile"
												formControlName="mobile"
												required
												disabled
											/>
											<div *ngFor="let validation of validationMessages.mobile">
												<mat-error
													*ngIf="userData.profileEditor &&
														(formularioDatos
															.get('mobile')
															?.hasError(validation.type) &&
														(formularioDatos.get('mobile')?.dirty ||
															formularioDatos.get('mobile')?.touched ||
															thisForm.submitted))
													"
												>
													<div class="error-message">
														{{ validation.message }}
													</div>
												</mat-error>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-sm-6 form-group mb-2">
											<label for="idGenre" class="label">{{
												"USERDATA.GENRE" | translate
											}}</label>
											<nb-select
												fullWidth
												name="idGenre"
												placeholder="{{ 'USERDATA.GENRE' | translate }}"
												formControlName="idGenre"
												[disabled]="!userData.profileEditor"
											>
												<nb-option value="null" disabled>{{
													"USERDATA.GENRE" | translate
												}}</nb-option>
												<nb-option
													*ngFor="let gender of genres"
													[value]="gender.idGenre"
													>{{ gender.genre | translate }}</nb-option
												>
											</nb-select>

											<mat-error
												*ngFor="let validation of validationMessages.gender"
											>
												<mat-error
													class="error-message break-line"
													*ngIf="userData.profileEditor &&
														(formularioDatos
															.get('idGenre')
															?.hasError(validation.type) &&
														(formularioDatos.get('idGenre')?.dirty ||
															formularioDatos.get('idGenre')?.touched ||
															thisForm.submitted))
													"
													>{{ validation.message }}</mat-error
												>
											</mat-error>
										</div>

										<div class="col-sm-6 mb-2">
											<label for="idLanguageIso" class="label">{{
												"IDIOMA.SELECCIONEELIDIOMA" | translate
											}}</label>
											<nb-select
												fullWidth
												name="idLanguageIso"
												placeholder="{{
													'IDIOMA.SELECCIONEELIDIOMA' | translate
												}}"
												formControlName="idLanguageIso"
												[disabled]="!userData.profileEditor"
												(selectionChange)="selectLang($event)"
											>
												<nb-option value="null" disabled>{{
													"IDIOMA.SELECCIONEELIDIOMA" | translate
												}}</nb-option>
												<nb-option
													*ngFor="let lang of langList"
													value="{{ lang.idLanguageIso }}"
													>{{ lang.idLanguageIso | translate }}</nb-option
												>
											</nb-select>

											<mat-error
												*ngFor="let validation of validationMessages.gender"
											>
												<mat-error
													class="error-message break-line"
													*ngIf="userData.profileEditor &&
														(formularioDatos
															.get('idLanguageIso')
															?.hasError(validation.type) &&
														(formularioDatos.get('idLanguageIso')?.dirty ||
															formularioDatos.get('idLanguageIso')?.touched ||
															thisForm.submitted))
													"
													>{{ validation.message }}</mat-error
												>
											</mat-error>
										</div>
									</div>

									<div class="row justify-content-end" *ngIf="userData.profileEditor">
										<div class="col-sm-4 mb-2 mt-4 text-left justify-content-center" (click)="changePass()">
											<a class="textoFontSize09 colorTextoActivado d-inline pointer">
												<span>{{ "CAMBIARPASS.CAMBIARPASS" | translate }}</span>
											</a>
										</div>
										<div class="col-sm-4 mb-2 mt-4 text-right justify-content-center" (click)="changeMobile()">
											<a class="textoFontSize09 colorTextoActivado d-inline pointer">
												<span>{{ "CAMBIARMOVIL.CAMBIARMOVIL" | translate	}}</span>
											</a>
										</div>
										<div class="col-sm-4 mb-2 mt-4 text-right">
											<button nbButton hero status="primary" type="submit">
												<span>{{ "USERDATA.GRABAR" | translate }}</span>
											</button>
										</div>
									</div>
									<div class="row justify-content" *ngIf="userData.profileEditor">
										<div class="col-sm-4 mb-2 mt-4 text-left justify-content-center" (click)="dropOut()">
											<a class="textoFontSize09 d-inline pointer"	style="color: darkred">
												<span>{{ "DARSEBAJA.DARSEBAJA" | translate }}</span>
											</a>
										</div>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
					</nb-card-body>
				</nb-card>
			</form>
		</div>
		<div *ngIf="screenView === 2">
			<nb-card class="no-edge-card mb-0">
				<nb-card-header>
					<h6>{{ "CAMBIARPASS.CAMBIARPASS" | translate }}</h6>
				</nb-card-header>
				<nb-card-body>
					<app-modal-change-pass
						(action)="backToGeneral($event)"
					></app-modal-change-pass>
				</nb-card-body>
			</nb-card>
		</div>
		<div *ngIf="screenView === 3">
			<nb-card class="no-edge-card mb-0">
				<nb-card-header>
					<h6>{{ "CAMBIARMOVIL.CAMBIARMOVIL" | translate }}</h6>
				</nb-card-header>
				<nb-card-body>
					<app-modal-change-mobile
						(action)="backToGeneral($event)"
					></app-modal-change-mobile>
				</nb-card-body>
			</nb-card>
		</div>
		<div *ngIf="screenView === 4">
			<nb-card class="no-edge-card mb-0">
				<nb-card-header>
					<h6>{{ "DARSEBAJA.DARSEBAJA" | translate }}</h6>
				</nb-card-header>
				<nb-card-body>
					<app-modal-drop-out
						(action)="backToGeneral($event)"
					></app-modal-drop-out>
				</nb-card-body>
			</nb-card>
		</div>
	</nb-card-body>

</nb-card>


