<nb-card class="mb-0">
	<nb-card-header class="flex justify-content-between">
		<div class="col-11">
			<div *ngIf="optionalTitle; else defaultTitle"> <h5>{{optionalTitle}}</h5></div>
			<ng-template #defaultTitle><h5>{{ 'ACEPTARCANCELAR.SELECCIONEOPCION' | translate }}</h5></ng-template>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle" [options]="{ animation: { type: 'zoom' } }"
			(click)="closeModal()"></nb-icon>
	</div>
	<nb-card-body>
		<div class="m-3 m-md-5 row d-flex">

			<div class="col-12 d-flex justify-content-center">
				<span class="textoFontSize09 colorTextoActivado font-weight-bold">{{ mensaje }}</span>
			</div>
		</div>
	</nb-card-body>
	<nb-card-footer>
		<div class="mb-2 row" [ngClass] ="{'justify-content-end':disableCancel}" >
			<div class="col-6" align="right">

				<button nbButton status="primary" (click)="aceptar()" class="mr-1">{{ 'ACEPTARCANCELAR.ACEPTAR' | translate
					}}</button>
			</div>

			<div class="col-6" align="left" *ngIf="!disableCancel">

				<button nbButton status="danger" (click)="cancelar()" class="">{{ 'ACEPTARCANCELAR.CANCELAR' | translate
					}}</button>
			</div>
		</div>
	</nb-card-footer>
</nb-card>
