.quiz-container {
    border: 3px solid #7ca1fe;
    position: relative;
}

.body-container {
    height: 85vh;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 540px) and (max-width: 1199px) {
        & {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    @media (min-width: 1200px) {
        & {
            padding-left: 10rem !important;
            padding-right: 10rem !important;
        }
    }
}
