
<div class="quiz-container" id="quiz">
	<app-quiz-edit-header [btnPublicarTutorial]="btnPublicarTutorial" [quiz]="quiz" [idCurso]="courseId" [idMapa]="graphId" (quizTypeChanged)="onQuizTypeChanged($event)" (close)="closeModal($event)" (publishQuiz)="onPublishQuiz($event)">
	</app-quiz-edit-header>

	<div class="body-container py-3 w-100">
			<app-quiz-edit-body [courseId]="courseId" [graphId]="graphId" [quiz]="quiz" [elements]="elements" (quizTypeChanged)="onQuizTypeChanged($event)" (quizEdited)="onQuizEdited($event)"  (answeredChange)="onAnswered()" (questionsChange)="onQuestionsChange($event)"></app-quiz-edit-body>
	</div>
</div>
