app-modal-editar-curso{
    .h-75 {
        height: 75px !important;
    }


    @media (max-width: 435px) {
        .button-table {
            padding: .1rem .2rem;
        }
        .col-xs-12{
            width: 100% !important
        }
    }

    @media (min-width: 436px) and (max-width: 767px) {
        .button-table {
            padding: .15rem .25rem;
        }
    }

    @media (min-width: 768px) {
        .button-table {
            padding: .25rem .5rem;
        }
    }

    .modal-header {
        border-bottom: none !important;
        background: initial;
        padding: 0 !important;
    }

    .sticky-top {
        position: initial !important;
    }

    .close {
        font-size: 3rem;
        font-weight: normal;
        line-height: 0;
        color: #224d98 !important;
    }

    .card-deck{
        height: 100%;
    }

    .img-container{
        position: relative;
        height: 29vh;
        overflow: hidden;
    }

    .card-body {
        padding: 0.5rem;
    }

    .card-img-top{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
        align-self: center;

    }


    .invalid-feedback{
        display: block;
    }

    .colorTextoActivadoCursoGrafo{
        color: white !important;
        font-size: xx-large;
    }
    .error-message {
        color: red;
        font-style: italic;
    }

    .avatar{
		width: 60px;
		height: 60px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
	}

    .inline-list{
        background-color: white;
        border: 1px solid #ddd;
        -webkit-box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.15);
        box-shadow: 1px 1px 6px 1px rgba(0,0,0,0.15);
        cursor: pointer;
        .square-image{
            height: 70px;
            width: 70px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;

        }
        .card-title{
            margin: 0;
        }
        img{
            height: 70px;
            width: auto;
        }

    }


    .circle-button{
        &.active{
            background-color: #A9C7DE;
            svg{
                fill: #fff;
            }
            .material-icons.mat-icon-no-color{
                color: white;
            }
            transition: all 1s;
        }
    }



    @media (min-width: 768px) {
        .text-field{
            padding-bottom: 2em;
        }

        .textarea-field{
            padding-bottom: 6em;
        }
    }

}
