<nb-card class="mb-0 m-auto col-sm-12 col-md-12 justify-content-center no-edge-card">
	<nb-card-body>
		<div class="text-center">
			<div class="row mt-2 mb-5">
				<div class="col-12" align="center">
					<span class="textoFontSize1 colorTextoActivado font-weight-bold">
						{{ 'RECUPERARCONTRASENA.SELECTEMAIL' | translate }}
					</span>
				</div>
			</div>

			<div>
				<button mat-flat-button color="blue" class="w-100 mb-4 py-2 text-white text-left font-weight-bold"
					*ngFor="let email of emails" (click)="onEmailSelected(email)" [loading]="isLoading">
					<mat-icon class="mr-2">person</mat-icon> {{email.mail}}
				</button>
			</div>

			<div class="row justify-content-center">
				<div class="col-sm-6 col-md-8 mb-2">
					<button
						class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block btnLogin"
						nbButton status="primary" hero type="button" (click)="onGoBack()">
						<span>{{ 'REGISTRO.VOLVER' | translate }}</span>
					</button>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
