<div class="text-center">
    <div class="alert alert-info mb-0" *ngIf="loading; else done">
        <div class="d-flex align-items-center justify-content-center">
            <mat-spinner [diameter]="20" class="textoFontSize09 mr-2"></mat-spinner>
            <span class="textoFontSize09 pl-2">{{'VALIDAR.WAITINGVALIDATION' | translate}}</span>
        </div>
    </div>

    <ng-template #done>
        <div class="alert alert-success mb-0" *ngIf="!errorCode; else error">
            <div class="d-flex align-items-center justify-content-center">
                <mat-spinner [diameter]="20" class="textoFontSize09 mr-2"></mat-spinner>
                {{'VALIDAR.REDIRECT' | translate}}
                <a href="" class="textoFontSize09 pl-2" [routerLink]="loginRoute">{{'MISC.REDIRECT' | translate}}</a>
            </div>
        </div>

        <ng-template #error>
            <div class="alert alert-danger mb-0">
                <div class="d-flex align-items-center justify-content-center">
                    <mat-spinner [diameter]="20" class="textoFontSize09 mr-2"></mat-spinner>
                    {{ (errorCode === 1 ? 'VALIDAR.YAVALIDADO' : 'VALIDAR.NOKADMIN') | translate}}
                    <a href="" class="textoFontSize09 pl-2"> {{'MISC.REDIRECT' | translate}} </a>
                </div>
            </div>
        </ng-template>
    </ng-template>

    <div class="row form-group mt-3 mb-2">
        <div class="col-md-4 col-12">
            <a [routerLink]="loginRoute" class="botonLoginRegistrar" type="button">
                <span>{{ 'REGISTRO.VOLVER' | translate }}</span>
            </a>
        </div>
    </div>
</div>
