<nb-card class="mb-0 no-edge-card">
	<nb-card-header class="flex border-bottom-0">
		<div class="col-10">
			<h4 *ngIf="id == 'nuevo'">{{ "GRUPOS.NUEVOGRUPO" | translate }}</h4>
			<h4 *ngIf="id != 'nuevo'">{{ group.title }}</h4>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle"
			[options]="{ animation: { type: 'zoom' } }" (click)="closeModal('')"></nb-icon>
	</div>
	<nb-card-body>
		<app-loading [isVisible]="cargando"></app-loading>

		<nb-card class="no-edge-card mt-2_5r">
			<form [formGroup]="formGroup" #thisForm="ngForm" novalidate class="form-horizontal">
				<div class="row mt-4">
					<div class="col-12">
						<app-alert context="ModalEditarCurso"></app-alert>
					</div>
				</div>
				<div class="sticky-top">
					<div class="container">
						<div class="row">
							<div class="col-md-5 col-sm-12">
								<app-imgupload formControlName="image" [isShowDelete]="true"></app-imgupload>
								<mat-error *ngFor="let validation of validationMessages.image">
									<mat-error class="error-message" *ngIf="
																		formGroup.get('image')?.hasError(validation.type) &&
																		(formGroup.get('image')?.dirty ||
																			formGroup.get('image')?.touched ||
																			thisForm.submitted)
																	">
										{{ validation.message }}</mat-error>
								</mat-error>
								<p class="text-center m-4">
									{{ "EDITARCURSO.AUTORES" | translate }}:
									{{
									id == "nuevo"
									? user?.firstName + " " + user?.surname
									: autor?.firstName + " " + autor?.surname
									}}
								</p>
							</div>
							<div class="col-md-7 col-sm-12">
								<input type="text" nbInput formControlName="title" name="title" fullWidth
									placeholder="{{ 'EDITARCURSO.TITLE' | translate }}" />
								<mat-error *ngFor="let validation of validationMessages.title">
									<mat-error class="error-message" *ngIf="
																		formGroup.get('title')?.hasError(validation.type) &&
																		(formGroup.get('title')?.dirty ||
																			formGroup.get('title')?.touched ||
																			thisForm.submitted)
																	">
										{{ validation.message }}</mat-error>
								</mat-error>

								<!-- <mat-form-field class="full-width">
																<mat-label>{{ 'EDITARCURSO.TITLE' | translate }}</mat-label>
																<input matInput formControlName="title" name="title" placeholder="">

															</mat-form-field> -->

								<textarea class="mt-3" nbInput fullWidth formControlName="description" name="description" rows="3"
									placeholder="{{ 'EDITARCURSO.DESCRIPCION' | translate }}"></textarea>
								<mat-error *ngFor="let validation of validationMessages.description">
									<mat-error class="error-message" *ngIf="
																		formGroup
																			.get('description')
																			?.hasError(validation.type) &&
																		(formGroup.get('description')?.dirty ||
																			formGroup.get('description')?.touched ||
																			thisForm.submitted)
																	">
										{{ validation.message }}</mat-error>
								</mat-error>
								<!-- <mat-form-field class="full-width mt-2">
																<mat-label>{{ 'EDITARCURSO.DESCRIPCION' | translate }}</mat-label>
																<textarea matInput formControlName="description" name="description" rows="3"></textarea>
																<mat-error *ngFor="let validation of validationMessages.description">
																	<mat-error class="error-message"
																		*ngIf="formGroup.get('description')?.hasError(validation.type) && (formGroup.get('description')?.dirty || formGroup.get('description')?.touched || thisForm.submitted)">
																		{{validation.message}}</mat-error>
																</mat-error>
															</mat-form-field> -->

								<div class="row mb-2 mt-2">
									<div id="lang" formGroupName="langGroup" class="col-md-8 col-sm-12">
										<div class="row">
											<div class="col-6" *ngIf="false">
												<!-- PONERMOS EL NGIF EN FALSE PARA OCULTAR EL CAMPO PERO QUEDA PREDETERMINADO EN ESPAÑOL (MAYO 2023)-->
												<nb-select fullWidth placeholder="{{
																					'EDITARCURSO.SELECCIONIDIOMA1' | translate
																				}}" formControlName="lang1">
													<nb-option *ngFor="
																						let idioma of idiomas
																							| sortBy : 'asc' : 'language'
																					" [value]="idioma.idLanguage">{{ idioma.language }}</nb-option>
												</nb-select>
												<mat-error *ngFor="
																					let validation of validationMessages.lang1
																				">
													<mat-error class="error-message" *ngIf="
																						lang1Control?.hasError(validation.type) &&
																						(lang1Control?.dirty ||
																							lang1Control?.touched ||
																							thisForm.submitted)
																					">
														{{ validation.message }}</mat-error>
												</mat-error>

												<!-- <mat-form-field class="full-width">
																				<mat-label>{{ 'EDITARCURSO.SELECCIONIDIOMA1' | translate }}</mat-label>
																				<select matNativeControl formControlName="lang1">
																					<option *ngFor="let idioma of idiomas | sortBy:'asc':'language'"
																						[ngValue]="idioma.idLanguage">{{ idioma.language }}</option>
																				</select>
																				<mat-error *ngFor="let validation of validationMessages.lang1">
																					<mat-error class="error-message"
																						*ngIf="lang1Control?.hasError(validation.type) && (lang1Control?.dirty || lang1Control?.touched || thisForm.submitted)">
																						{{validation.message}}</mat-error>
																				</mat-error>
																			</mat-form-field> -->
											</div>
										</div>
									</div>
								</div>

								<div class="bottom-buttons d-flex flex-row justify-content-between">
									<div>
										<button class="mr-2" *ngIf="id != 'nuevo' && !terminarNuevoGrupo" nbButton hero status="danger"
											(click)="deleteGroup()" [disabled]="saving">
											{{ "EDITARCURSO.ELIMINAR" | translate }}
										</button>

										<button *ngIf="id != 'nuevo'" nbButton hero status="primary" (click)="grabarGrupo()"
											[disabled]="saving">
											{{
											saving
											? ("EDITARCURSO.SAVING" | translate)
											: ("EDITARCURSO.GRABAR" | translate)
											}}
										</button>

										<button *ngIf="id == 'nuevo'" nbButton hero status="primary" (click)="grabarGrupo()"
											[disabled]="saving">
											{{
											saving
											? ("EDITARCURSO.SAVING" | translate)
											: ("EDITARCURSO.CREAR" | translate)
											}}
										</button>

										<!-- <button class="mr-2" *ngIf="id!='nuevo'" mat-raised-button color="warn"
																		(click)="deleteGroup()" [disabled]="saving">{{ 'EDITARCURSO.ELIMINAR' | translate
																		}}</button> -->
										<!-- <button *ngIf="id!='nuevo'" mat-raised-button color="primary" (click)="grabarGrupo()"
																		[disabled]="saving">{{ saving ? ('EDITARCURSO.SAVING' | translate) :
																		('EDITARCURSO.GRABAR' | translate) }}</button>

																	<button *ngIf="id=='nuevo'" mat-raised-button color="primary" (click)="grabarGrupo()"
																		[disabled]="saving">{{ saving ? ('EDITARCURSO.SAVING' | translate) :
																		('EDITARCURSO.GRABAR' | translate) }}</button> -->
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</nb-card>

		<div class="cards col-md-3 col-sm-6 col-12" *ngIf="id != 'nuevo'">
			<div class="card-item" (click)="listadoCursos()">
				<div class="card-image">
					<div class="icon-option icon-proyecto-muchos-grafos pointer"></div>
					<div class="icon-option icon-flecha-derecha pointer"></div>
					<div class="icon-option icon-groups pointer"></div>
				</div>
				<div class="card-info">
					<h6 class="card-title">
						{{ "MENUACTIONS.TEACHERTITLE9" | translate }}
					</h6>
					<p class="paragraph">
						{{ "MENUACTIONS.TEACHERSUBTITLE9" | translate }}
					</p>
				</div>
			</div>
		</div>
		<div class="cards col-md-3 col-sm-6 col-12" *ngIf="id != 'nuevo'">
			<div class="card-item" (click)="listadoAlumnos()">
				<div class="card-image">
					<div class="icon-option icon-student pointer"></div>
					<div class="icon-option icon-flecha-derecha pointer"></div>
					<div class="icon-option icon-groups pointer"></div>
				</div>
				<div class="card-info">
					<h6 class="card-title">
						{{ "MENUACTIONS.TEACHERTITLE8" | translate }}
					</h6>
					<p class="paragraph">
						{{ "MENUACTIONS.TEACHERSUBTITLE8" | translate }}
					</p>
				</div>
			</div>
		</div>
		<div class="cards col-md-3 col-sm-6 col-12" *ngIf="id != 'nuevo'">
			<div class="card-item" (click)="instantActivity()">
				<div class="card-image">
					<div class="icon-option icon-desafios-icon pointer"></div>
				</div>
				<div class="card-info">
					<h6 class="card-title">
						{{ "MENUACTIONS.TEACHERTITLE7" | translate }}
					</h6>
					<p class="paragraph">
						{{ "MENUACTIONS.TEACHERSUBTITLE7" | translate }}
					</p>
				</div>
			</div>
		</div>
		<div class="cards col-md-3 col-sm-6 col-12" *ngIf="id != 'nuevo'">
			<div class="card-item" (click)="informesGrupo()">
				<div class="card-image">
					<div class="icon-option icon-informes pointer"></div>
				</div>
				<div class="card-info">
					<h6 class="card-title">
						{{ "MENUACTIONS.TEACHERTITLE5" | translate }}
					</h6>
					<p class="paragraph">
						{{ "MENUACTIONS.TEACHERSUBTITLE5" | translate }}
					</p>
				</div>
			</div>
		</div>
	</nb-card-body>

</nb-card>
