nb-icon {
  font-size: 2.25rem !important;
  line-height: 1;
  width: 1em;
  height: 1em;

  :hover {
    color: #36f !important;
  }
}

.mt-2_5r {
  margin-top: 2.5rem !important;
}

.icon-option {

  height: 30px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;

  &.icon-student {
    background-image: url(../../../../../assets/images/icons/student.svg)
  }

  &.icon-teacher {
    background-image: url(../../../../../assets/images/icons/teacher.svg)
  }

  &.icon-author {
    background-image: url(../../../../../assets/images/icons/author.svg)
  }

  &.icon-task {
    background-image: url(../../../../../assets/images/icons/fact_check.svg)
  }

  &.icon-informes {
    background-image: url(../../../../../assets/images/icons/informes.svg)
  }

  &.icon-settings {
    background-image: url(../../../../../assets/images/icons/settings.svg)
  }

  &.icon-instant-act {
    background-image: url(../../../../../assets/images/icons/ActividadInstantanea.svg)
  }

  &.icon-edit {
    background-image: url(../../../../../assets/images/icons/edit.svg)
  }

  &.icon-projects {
    background-image: url(../../../../../assets/images/icons/project-provisional.svg)
  }

  &.icon-competir {
    background-image: url(../../../../../assets/images/icons/couple.svg)
  }

  &.icon-sos {
    background-image: url(../../../../../assets/images/icons/sos.svg)
  }

  &.icon-groups {
    background-image: url(../../../../../assets/images/icons/groups.svg)
  }

  //&.icon-desafios {
  //  background-image: url(../../../../../assets/images/icons/add_quizz.svg)
  //}

  &.icon-planificar {
    background-image: url(../../../../../assets/images/icons/calendar_today.svg)
  }
	&.icon-proyecto-muchos-grafos { background-image: url(../../../../../assets/images/icons/ProyectoComoMuchosGrafos.svg)}
	&.icon-desafios-icon { background-image: url(../../../../../assets/images/icons/desafios_icon.svg)}
	&.icon-flecha-derecha { background-image: url(../../../../../assets/images/icons/arrow_forward.svg)}

  &:hover {
    filter: grayscale(100%) contrast(0.1);
  }

}

// Cards
.cards {
  display: inline-block;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;

  .card-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: transform 0.5s;
    -webkit-transition: transform 0.5s;

    &:hover {
      cursor: pointer;
      transform: scale(1.1);
      -webkit-transform: scale(1.1);

      .card-image {
        opacity: 1;
      }
    }
  }

  // Content
  .card-info {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    line-height: 1.5em;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;

    p {
      color: #3366ff;
      font-size: 12px;
      margin-bottom: -10px;
    }

    h6 {
      margin-bottom: 0px;
    }
  }

  .card-title {
    // font-size: 25px;
    // line-height: 1.1em;
    // color: #32325d;
    // margin-bottom: 0.2em;
  }

  // Images
  .card-image {
    display: flex;
    justify-content: center;
    //height: 200px;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 6px 6px 0px 0px;
    opacity: 0.91;
  }

  .small {
    width: 40%;
  }

  .smallxs {
    width: 30%;
  }

}
