.container {
    background-color: #FFFFFF;
    padding: 15px;
}

.modal-cabecera {
    background: #DEDEDE;
    padding: 5px 10px;
    display: inline;
}

.h-75 {
    height: 75px !important;
}

.card-body {
    padding: 0.5rem;
}

.container-icons{
    float: right;
    margin-right: 20px;
    padding-top: 2px;
}

.pagination{
    justify-content: center;
    position:absolute;
    left: 0px;
    bottom:-10px
}

@media (max-width: 435px) {
    .button-table {
        padding: .1rem .2rem;
    }
}

@media (min-width: 436px) and (max-width: 767px) {
    .button-table {
        padding: .15rem .25rem;
    }
}

@media (min-width: 768px) {
    .button-table {
        padding: .25rem .5rem;
    }
}

label {
    font-size: x-small;
    color: #1A237E;
    font-weight: bold;
}

label.bold {
    font-weight: bold;
    font-size: small;
}

.well {
    min-height: 20px;
    padding: 19px;
    //margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }

  .lateral {
    background-color: #eeebeb;
    padding-left: 30px;
    
  }

  .check-forms{
    padding: 3px 0 1px;
      background-color: #F4F4F4;
  }

  input.form-control {
      border: 0;
      //font-size: 6px;
      color: black;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  .icon-orange {
      color: rgb(219, 119, 25);
  }
  .icon-green {
    color: rgb(102, 165, 31);
  }

  #new {
    width: 90%;
    height: 90%;
    align-self: center;
    padding: 20px;
    opacity: 10%;
  }

.tittle {
    background-color: #2186AE;
    color: #FFFFFF;
}

  button, .btn{
    outline:none;
    border:none;
}

.options {
    background: #DEDEDE;
    position: relative;
    height: 30px;
}

.icon-tittle{
    color: white;
}

.icon-head{
    color: rgb(29, 73, 153);
    margin: 0 5px;
    
}
