<div class="header-options">
	<div class="col flex justify-content-between align-items-center">
			<div class="closeModal">
				<nb-icon class="m-1" icon="close-circle"
					[options]="{ animation: { type: 'zoom' } }" (click)="onCloseModal()"></nb-icon>
			</div>
	</div>
</div>
