
.card-img-overlay {
    display: flex;
    align-items: flex-end;
}

.card{
    border: none !important;
    box-shadow: none !important;
}

.center{
    display: flex;
    align-items: center;
    align-content: center;
}

.mat-icon-white:hover{
    color: grey;
}


button{
    background-color: transparent;
}


.resize-action {
    position: absolute;
    left: 100%;
    top: 100%;
    transform: translate3d(-50%, -50%, 0) rotateZ(45deg);
    border-style: solid;
    border-width: 8px;
    border-color: transparent transparent transparent #008000;
    &:hover,
    &:active {
        cursor: nwse-resize;
    }
}

// .mat-icon {
//     font-size: 20px;
//     height: 20px ;
//     width: 20px;
// }
.icon-select{
    transform: scale(2) !important;
    -webkit-transform: scale(2) !important;
    -moz-transform: scale(2) !important;
    -ms-transform: scale(2) !important;
    -o-transform: scale(2) !important;
}
.addElement{
    transform: scale(2) !important;
    -webkit-transform: scale(2) !important;
    -moz-transform: scale(2) !important;
    -ms-transform: scale(2) !important;
    -o-transform: scale(2) !important;
}
.content-border{
    border: 2px solid  #008000 ;
    border-radius: 5px;
    background: #7db17d;
}