.modal-cabecera {
	background: #DEDEDE;
	padding: 5px 10px;
	display: inline;
}

.h-75 {
	height: 75px !important;
}

.not-show-desktop {
	display: none !important;
}

.project-info {
	border: 1px dotted;

	&.size-small {
		height: auto !important;
		min-height: 14rem !important;
	}
}

nb-card-header.border-header {
	border: 1px dotted;
}

nb-card-body.border-body {
	border: 1px dotted;
}

nb-card-footer {
	border: 1px dotted;
	padding: 5px !important;
}

@media (max-width: 435px) {
	.button-table {
		padding: .1rem .2rem;
	}

	.modal-title h2 {
		font-size: 1.5rem;
	}

	.not-show-mobile {
		display: none !important;
	}

	.close-col {
		margin-left: 40% !important;
	}

	.btn-mobile-margin {
		flex: 0 0 100%;
		max-width: 100%;
		margin: 0.7rem 0;
	}

	.col-6 {
		max-width: 100% !important;
    flex: 0 0 100%;
	}
}

@media (min-width: 436px) and (max-width: 767px) {
	.button-table {
		padding: .15rem .25rem;
	}
}

@media (min-width: 768px) {
	.button-table {
		padding: .25rem .5rem;
	}
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fast {
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}

.dropbtn {
	// background-color: #4CAF50;
	// color: white;
	// padding: 16px;
	// font-size: 16px;
	border: none;
	cursor: pointer;
	font-weight: 500;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 280px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	right: -23px;
	top: 30px;
}

.dropdown-content .listado-intitaciones {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	// cursor: pointer;
}

.dropdown-content .listado-intitaciones:hover {
	background-color: #f1f1f1;
	// cursor: pointer;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #343a40;
	color: #f1f1f1;
}

.icon-action-blue {
	cursor: pointer;

	&:hover {
		color: #36f !important;
	}
}

.icon-action-red {
	cursor: pointer;

	&:hover {
		color: #ff3d71 !important;
	}
}

.list-group-item {
	height: 40px;
	font-weight: 600;
}

.badge {
	cursor: pointer;
}

.badge-disabled {
	cursor: not-allowed;
}

.text-red {
	color: red;
}

nb-icon {
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;

	:hover {
		color: #36f !important;
	}
}

.icon-inf nb-icon {
	font-size: 1.25rem !important;
}

.cont-img {
	display: flex;
	gap: 3px;
	align-items: center;
}

.cont-img img {
	width: 18px;
	height: 18px;
	object-fit: cover;
}

.img-container {
	position: relative;
	height: 130px;
	overflow: hidden;
	display: flex;
	justify-content: center;

	.img-fluid {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.group-main-card {
	margin-top: 2.5rem !important;
	background-color: #EDF1F7 !important;
}

.card-img-top {
	max-height: 172px !important;
}

.courseTittle {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 4em;
	line-height: 1.3rem !important;
}

.courseTittle_teacher {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 4em;
	line-height: 1.3rem !important;
}
