<nb-card class="mb-0 no-edge-card">
	<nb-card-header class="border-bottom-0">
		<div class="row">
			<div class="col-sm-12 col-md-6 modal-title">
				<h2>{{ "GRUPOS.MISGRUPOS" | translate }}</h2>
			</div>
			<div class="col-sm-12 col-md-6 pr-md-5 pt-4 pt-md-0 pb-3 pb-md-0">
				<div class="row">
					<div class="col-6 col-sm-6 col-md-6 flex justify-content-md-end justify-content-center btn-mobile-margin">
						<div *ngIf="profile === studentProfile" class="dropdown">
							<button nbButton hero status="primary" (click)="openSearchGroups()">
								{{ "MODALGROUPSEDIT.SEARCHGROUPS" | translate }}
							</button>
						</div>
					</div>
					<div class="col-6 col-sm-6 col-md-6 flex justify-content-md-start justify-content-center btn-mobile-margin">
						<div *ngIf="profile === studentProfile" class="dropdown">
							<div *ngIf="numberOfInvited >= 1; else disabledInviteButton">
								<button nbButton hero status="primary" [nbPopover]="notificationsTemplate" nbPopoverPlacement="bottom">
									<span class="font-weight-bold">{{ "MODALGROUPSEDIT.INVITATIONS" | translate }}
									</span>
									<span class="badge badge-danger ml-2">{{
										numberOfInvited
										}}</span>
								</button>
							</div>
							<ng-template #disabledInviteButton>
								<button nbButton hero status="primary" [nbPopover]="notificationsTemplate" nbPopoverPlacement="bottom"
									disabled>
									<span class="font-weight-bold">{{ "MODALGROUPSEDIT.INVITATIONS" | translate }}
									</span>
									<span class="badge badge-danger ml-2">{{
										numberOfInvited
										}}</span>
								</button>
							</ng-template>

							<ng-template #notificationsTemplate>
								<nb-card class="margin-bottom-0">
									<nb-list *ngIf="numberOfInvited >= 1; else noInvitations">
										<nb-list-item *ngFor="let item of invitacionesList">
											<span class="font-weight-bold mr-1">
												{{ item.groupTitle }}
											</span>
											<div class="ml-1">
												<nb-icon class="mr-1 icon-action-blue" icon="checkmark-circle-2" style="color: green;"
													[options]="{ animation: { type: 'pulse' } }" (click)="aceptar(item)"></nb-icon>
												<nb-icon class="mr-1 icon-action-red" icon="close-circle" style="color: darkred;"
													[options]="{ animation: { type: 'pulse' } }" (click)="rechazar(item)"></nb-icon>
											</div>
										</nb-list-item>
									</nb-list>
									<ng-template #noInvitations>
										<div class="alert alert-info" role="alert">
											{{ "MODALGROUPSEDIT.NOINVITATIONSYET" | translate }}
										</div>
									</ng-template>
								</nb-card>
							</ng-template>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle"
			[options]="{ animation: { type: 'zoom' } }" (click)="closeModal('')"></nb-icon>
	</div>
	<nb-card-body>
		<div class="container">

			<div class="container mt-6 p-2">
				<app-loading [isVisible]="cargando"></app-loading>

				<nb-actions class="mt-3 not-show-desktop" size="medium" fullWidth>
					<nb-action icon="search" (click)="openSearchGroups()">
					</nb-action>
					<nb-action>
						<div *ngIf="profile === studentProfile" class="dropdown">
							<div *ngIf="numberOfInvited >= 1; else disabledInviteButton">
								<button nbButton hero status="primary" [nbPopover]="notificationsTemplate" nbPopoverPlacement="bottom">
									<span class="font-weight-bold">{{ "MODALGROUPSEDIT.INVITATIONS" | translate }}
									</span>
									<span class="badge badge-danger ml-2">{{
										numberOfInvited
										}}</span>
								</button>
							</div>
							<ng-template #disabledInviteButton>
								<button nbButton hero status="primary" [nbPopover]="notificationsTemplate" nbPopoverPlacement="bottom"
									disabled>
									<span class="font-weight-bold">{{ "MODALGROUPSEDIT.INVITATIONS" | translate }}
									</span>
									<span class="badge badge-danger ml-2">{{
										numberOfInvited
										}}</span>
								</button>
							</ng-template>

							<ng-template #notificationsTemplate>
								<nb-card class="margin-bottom-0">
									<nb-card-header>{{
										"MODALGROUPSEDIT.INVITATIONS" | translate
										}}</nb-card-header>
									<nb-list *ngIf="numberOfInvited >= 1; else noInvitations">
										<nb-list-item *ngFor="let item of invitacionesList">
											<span class="font-weight-bold mr-1">
												{{ item.groupTitle }}
											</span>
											<div class="ml-1">
												<nb-icon class="mr-1 icon-action-blue" icon="checkmark-circle-2"
													[options]="{ animation: { type: 'pulse' } }" (click)="aceptar(item)"></nb-icon>
												<nb-icon class="mr-1 icon-action-red" icon="close-circle"
													[options]="{ animation: { type: 'pulse' } }" (click)="rechazar(item)"></nb-icon>
											</div>
										</nb-list-item>
									</nb-list>
									<ng-template #noInvitations>
										<div class="alert alert-info" role="alert">
											{{ "MODALGROUPSEDIT.NOINVITATIONSYET" | translate }}
										</div>
									</ng-template>
								</nb-card>
							</ng-template>
						</div>
					</nb-action>
				</nb-actions>
				<div class="mt-4">
					<div class="row">
						<div *ngIf="gruposList.length === 0 && profile === studentProfile" class="d-flex justify-content-center">
							<div class="alert alert-info" role="alert">
								{{ "MODALGROUPSEDIT.NOTBELONGGROUP" | translate }}
							</div>
						</div>

						<div *ngFor="let grupo of gruposList | sortBy : 'asc' : 'tittle'" class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">
							<nb-card size="small" class="project-info pointer">
								<nb-card-header class="p-2 border-header" (click)="verDetalleGrupo(grupo)">
									<div class="img-container">
										<img [src]="grupo.imagen | imagen : 'group'" class="img-fluid" />
									</div>
								</nb-card-header>
								<nb-card-body class="p-2 border-body" (click)="verDetalleGrupo(grupo)">
									<div>
										<p class="courseTittle" [ngClass]="isStudent ? 'courseTittle' : 'courseTittle_teacher'">
											{{ grupo.title | titlecase | truncate : [50, "..."] }}
										</p>
										<p *ngIf="profile != studentProfile" class="m-0 pt-2">
											Código: {{ grupo.identification | truncate : [50, "..."] }}
										</p>
									</div>
								</nb-card-body>
								<nb-card-footer class="flex flex-column" *ngIf="profile != studentProfile">
									<div class="flex w-100 align-items-center justify-content-around icon-inf">
										<div class="cont-img" nbTooltip="{{ 'MODALGROUPSEDIT.ESTUDIANTESASIGNADOS' | translate }}">
											<span>{{ grupo.assignedStudents }}</span>
											<img src="../../../../assets/images/icons/student.svg">
										</div>
										<div class="cont-img" nbTooltip="{{ 'MODALGROUPSEDIT.PROYECTOSASIGNADOS' | translate }}">
											<span>{{ grupo.assignedProjects }} </span>
											<img src="../../../../assets/images/icons/ProyectoComoMuchosGrafos.svg">
										</div>
										<div class="cont-img" nbTooltip="{{ 'MODALGROUPSEDIT.DESAFIOSREALIZADOS' | translate }}">
											<span>{{ grupo.challengesRealized }}</span>
											<img src="../../../../assets/images/icons/desafios_icon.svg">
										</div>
										<nb-icon class="icon-color-blue pointer" icon="settings" nbTooltip="{{ 'GRUPOS.AJUSTES' | translate }}"
											[options]="{ animation: { type: 'pulse' } }" (click)="modificarGrupo(grupo)">
										</nb-icon>
									</div>

									<div *ngIf="!isStudent" class="dropdownActions mt-3 d-flex justify-content-center align-items-center">
										<div *ngIf="grupo.numberOfInvited >= 1; else disabledInviteButton">
											<button nbButton hero status="primary" [nbPopover]="notificationsActionsTemplate" nbPopoverPlacement="bottom">
												<nb-icon icon="bell"></nb-icon>
												<span class="badge badge-danger ml-2">{{grupo.numberOfInvited}}</span>
											</button>
										</div>
										<ng-template #disabledInviteButton>
											<!-- <button nbButton hero status="primary" [nbPopover]="notificationsActionsTemplate" nbPopoverPlacement="bottom" disabled>
																								<span class="font-weight-bold">{{'MODALGROUPSEDIT.INVITATIONS' | translate}} </span>  <span class="badge badge-danger ml-2">{{grupo.numberOfInvited}}</span>
																							</button> -->
										</ng-template>

										<ng-template #notificationsActionsTemplate>
											<nb-card class="margin-bottom-0">
												<nb-card-header>{{ "MODALGROUPSEDIT.INVITATIONS" | translate }}</nb-card-header>
												<nb-list *ngIf="grupo.numberOfInvited >= 1; else noInvitationsActions">
													<nb-list-item *ngFor="let item of grupo.invitacionesList">
														<span class="font-weight-bold mr-1">
															{{ item.firstName }}
														</span>
														<div class="ml-1">
															<nb-icon class="mr-1 icon-action-blue" icon="checkmark-circle-2" style="color: green;"
																[options]="{ animation: { type: 'pulse' } }" (click)="aceptarTeacher(grupo.idGroup, item)"></nb-icon>
															<nb-icon class="mr-1 icon-action-red" icon="close-circle" [options]="{ animation: { type: 'pulse' } }" style="color: darkred;"
																(click)="rechazarTeacher(grupo.idGroup, item)"></nb-icon>
														</div>
													</nb-list-item>
													<ng-template #noInvitationsActions>
														<div class="alert alert-info" role="alert">
															No tienes ninguna invitación
														</div>
													</ng-template>
												</nb-list>
											</nb-card>
										</ng-template>
									</div>
								</nb-card-footer>
							</nb-card>
						</div>
						<!-- ADD NEW GROUP -->
						<div *ngIf="profile !== studentProfile" class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6 pointer flex align-items-center"
							title="{{ 'GRUPOS.NUEVOGRUPO' | translate }}" (click)="nuevoGrupo()">
							<div class="card form-group">
								<div class="img-container">
									<img src="../../../../../assets/images/new-item.png" class="img-fluid" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>

