app-graph-buttons{

		.cursor-pointer{
			cursor: pointer;
		}

		.full-screen-icon{
			height: 45px;
			width: 45px;
		}

    .buttons-right-graph {
        position: absolute;
        bottom: 10rem;
        right: 1%;
        width: 50px;
        z-index: 50;
        display: flex;
        justify-content: space-between;
        align-items: center;
				//background-color: rgb(255, 255, 255);
				//background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(226,228,231,0.3) 100%);
				//box-shadow: 0px -14px 30px 20px rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(2.1px);
				//border: 1px solid #C0C0C0;
				padding: 1rem;
				gap: 1rem;

				nb-icon{
					font-size: 2.25rem !important;
					line-height: 1;
					width: 1em;
					height: 1em;
					//color: #091A7A;
					fill: white;
					filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
				}
				mat-icon{
					font-size: 2.25rem !important;
					line-height: 1;
					width: 1em;
					height: 1em;
					color: #091A7A;
					filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(218deg) brightness(106%) contrast(101%);
					filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
				}

        .circle-button {
            border-radius: 50%;
            background-color: white;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: linear-gradient(170deg, #D9D9D9, #F1F1F1);;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            mat-icon {
                line-height: 0;
                &.icon-color-blue {
                    svg {
                        fill: #224d98 !important;
                    }
                }
                &.icon-color-gold{
                    svg{
                        fill: #d39502!important;
                    }
                }
            }

        }

    }

		@media (max-width: 435px), (max-height: 500px)  {
			.not-show-mobile{
				display: none !important;
			}

			.buttons-right-graph {
        position: absolute;
        bottom: 8rem;
        right: 1%;
        width: 38px;
        z-index: 50;
        display: flex;
        justify-content: space-between;
        align-items: center;
				background-color: rgb(255, 255, 255);
				//background: linear-gradient(0deg, rgba(128,128,128,1) 0%, rgba(226,228,231,0.3) 100%);
				//box-shadow: 0px -14px 30px 20px rgba(0, 0, 0, 0.1);
				backdrop-filter: blur(2.1px);
				//border: 1px solid #C0C0C0;
				padding: 1rem;
				gap: 1rem;

				nb-icon{
					font-size: 2.25rem !important;
					line-height: 1;
					width: 1em;
					height: 1em;
					color: #3366ff;
					filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
				}
				mat-icon{
					font-size: 2.25rem !important;
					line-height: 1;
					width: 1em;
					height: 1em;
					color: #3366ff;
					filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(218deg) brightness(106%) contrast(101%);
					filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
				}

        .circle-button {
            border-radius: 50%;
            background-color: white;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: linear-gradient(170deg, #D9D9D9, #F1F1F1);;
            -webkit-box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
            mat-icon {
                line-height: 0;
                &.icon-color-blue {
                    svg {
                        fill: #224d98 !important;
                    }
                }
                &.icon-color-gold{
                    svg{
                        fill: #d39502!important;
                    }
                }
            }

        }

    }

		}
}


