<div class='login-image'>

    <div class="login-form-container form-container absolute-centered fondoLogin">

        <div class="row py-2">&nbsp;</div>

        <div class="row py-2">
            <div class="col-12" align="center">
                <span class="textoFontSize11 font-weight-bold colorTextoActivado">{{ mensajeValidacion }}</span>
            </div>
        </div>

        <div class="row py-3">
            <div class="col-12">
                <app-alert context="ValidarPerfil"></app-alert>
            </div>
        </div>

        <form *ngIf="!ocultarAcciones" [formGroup]="formularioClave" (ngSubmit)="validarClave()" #thisFormClave="ngForm" class="py-5">

            <div class="row form-group py-5" align="left">
                <div class="col-md-4"></div>

                <div class="col-md-4 col-12">

                    <mat-form-field class="full-width">
                        <mat-label>{{ 'VALIDAR.INTRODUCECODIGOSMS' | translate }}</mat-label>
                        <input matInput type="text" formControlName="clave" required  autocomplete="off">
                        <mat-error *ngFor="let validation of validationMessages.clave">
                            <mat-error class="error-message" *ngIf="formularioClave.get('clave')?.hasError(validation.type) && (formularioClave.get('clave')?.dirty || formularioClave.get('clave')?.touched || thisFormClave.submitted)">{{validation.message}}</mat-error>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-lg-3 col-md-2"></div>
            </div>

            <div class="row form-group py-5">

                <div class="col-md-4"></div>

                <div class="col-md-4 col-12">

                    <button class="botonLoginEntrar" type="submit">
                        <span>{{ 'VALIDAR.VALIDARACCESO' | translate }}</span>
                    </button>
                </div>

                <div class="col-md-4"></div>
            </div>
        </form>

        <div class="mb-3"></div>
    </div>

    <app-loading [isVisible]="loading"></app-loading>
</div>
