app-hamburger-menu{
    .hamburger-menu{
        position: absolute;
        right: 18%;
        top: 18px; 
        display: flex;
        flex-direction: column; 
        z-index: 50;

        .header-options {
            background: white;
            -webkit-box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.2); 
            box-shadow: 0px 8px 20px -5px rgba(0,0,0,0.2);
            width: 250px;
        }
    
        .circle-button{
            border-radius: 50%;
            background-color: white;
            height: 35px;
            width: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: linear-gradient(170deg, #D9D9D9, #F1F1F1);;
            box-shadow: -1px -1px 1px #08222e, -1px -1px 1px white;
            align-self: flex-end;
        }
    
        .mat-icon {
            &.icon-color-blue {
                svg {
                    fill: #224d98 !important;
                }
            }
            &.icon-color-gold{
                svg{
                    fill: #d39502!important;
                }
            }
        }
    
        .element{
            padding: 8px 8px 8px 32px;
            cursor: pointer;
            transition: 0.3s;
            &:hover{
                background-color: #d1e7f2;
                transition: 0.3s;
            }
        }




    }
}