
<div id="page-top" class="home">
	<!-- Navigation-->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav" [@fadeInOut]>
		<div class="ribbon">Beta</div>
		<div class="container px-5">
			<a class="navbar-brand fw-bold" href="#page-top">Salware</a>
			<div class="navbar-collapse">
				<ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
					<!-- <li class="nav-item"><a class="nav-link me-lg-3" href="#features">Features</a></li>
										<li class="nav-item"><a class="nav-link me-lg-3" href="#download">Download</a></li> -->
				</ul>
				<button nbButton status="primary" class="px-3 mb-2 mb-lg-0" routerLink="/auth/login">
					<span class="d-flex align-items-center">
						<i class="bi-chat-text-fill me-2"></i>
						<span class="small">{{
							'LOGIN.ACCEDER' | translate }}</span>
					</span>
				</button>
				<button nbButton status="default" class="px-3 ml-2 mb-2 mb-lg-0" (click)="redirectRegister()" >
					<span class="d-flex align-items-center">
						<i class="bi-chat-text-fill me-2"></i>
						<span class="small">{{ 'LOGIN.CREATEUNACUENTA' |
							translate }}</span>
					</span>
				</button>
			</div>
		</div>
	</nav>
	<!-- Mashead header-->
	<header class="masthead" [@EnterLeave]="'flyIn'">
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-6">
					<!-- Mashead text-->
					<div class="mb-5 mb-lg-0 text-center text-lg-start">
						<h1 class="display-1 lh-1 mb-3">{{ 'HOMEPAGE.TIT1' | translate }}.</h1>
						<p class="lead fw-normal text-muted mb-5">{{ 'HOMEPAGE.TIT2' | translate }}</p>
					</div>
				</div>
				<div class="col-lg-6">
					<!-- Masthead device mockup feature-->
					<div class="masthead-device-mockup">
						<svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<defs>
								<linearGradient id="circleGradient" gradientTransform="rotate(45)">
									<stop class="gradient-start-color" offset="0%"></stop>
									<stop class="gradient-end-color" offset="100%"></stop>
								</linearGradient>
							</defs>
							<circle cx="50" cy="50" r="50"></circle>
						</svg><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
							xmlns="http://www.w3.org/2000/svg">
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
								transform="translate(120.42 -49.88) rotate(45)"></rect>
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
								transform="translate(-49.88 120.42) rotate(-45)"></rect>
						</svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="50"></circle>
						</svg>
						<div class="device-wrapper">
							<div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
								<div class="screen">

									<img id="logo" width="100%" src="" alt="">

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Quote/testimonial aside-->
	<aside class="text-center bg-gradient-primary-to-secondary" [@fadeInOut]>
		<div class="container px-5">
			<div class="row gx-5 justify-content-center">
				<div class="col-xl-10" *ngIf="domain === 'psycast'">
					<section class="title" style="text-align: center; padding-bottom: 5%;">
						<div>
							<video autoplay="" controls="" src="https://salware.com/images/homepage/FAQs.mp4" width="640"
								height="480"></video>
						</div>
					</section>
				</div>

				<div class="col-xl-10">
					<div class="h2 fs-1 text-white mb-4">{{ 'HOMEPAGE.PA7' | translate }}</div>

				</div>
			</div>
		</div>
	</aside>
	<!-- App features section-->
	<section id="features">
		<div class="container px-5">
			<div class="row gx-5 align-items-center">
				<div class="col-lg-8 order-lg-1 mb-5 mb-lg-0">
					<div class="container-fluid px-5">
						<div class="row gx-5">
							<div class="col-md-6 mb-5">
								<!-- Feature item-->
								<div class="text-center">
									<img class="img-fluid" src="../../../assets/images/icons/auto_stories.svg" alt="book"
										height="128px" width="128px" />
									<h3 class="font-alt">{{ 'HOMEPAGE.FEATURETITLE1' | translate }}</h3>
									<p class="text-muted mb-0">{{ 'HOMEPAGE.FEATURETEXT1' | translate }}</p>
								</div>
							</div>
							<div class="col-md-6 mb-5">
								<!-- Feature item-->
								<div class="text-center">
									<img class="img-fluid" src="../../../assets/images/icons/emoji_emotions.svg" alt="book"
										height="128px" width="128px" />
									<h3 class="font-alt">{{ 'HOMEPAGE.FEATURETITLE2' | translate }}</h3>
									<p class="text-muted mb-0">{{ 'HOMEPAGE.FEATURETEXT2' | translate }}</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6 mb-5 mb-md-0">
								<!-- Feature item-->
								<div class="text-center">
									<img class="img-fluid" src="../../../assets/images/icons/red.svg" alt="book" height="128px"
										width="128px" />
									<h3 class="font-alt">{{ 'HOMEPAGE.FEATURETITLE3' | translate }}</h3>
									<p class="text-muted mb-0">{{ 'HOMEPAGE.FEATURETEXT4' | translate }}</p>
								</div>
							</div>
							<div class="col-md-6">
								<!-- Feature item-->
								<div class="text-center">
									<img class="img-fluid" src="../../../assets/images/icons/schedule_send.svg" alt="book"
										height="128px" width="128px" />
									<h3 class="font-alt">{{ 'HOMEPAGE.FEATURETITLE4' | translate }}</h3>
									<p class="text-muted mb-0">{{ 'HOMEPAGE.FEATURETEXT4' | translate }}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 order-lg-0">
					<!-- Features section device mockup-->
					<div class="features-device-mockup">
						<svg class="circle" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<defs>
								<linearGradient id="circleGradient" gradientTransform="rotate(45)">
									<stop class="gradient-start-color" offset="0%"></stop>
									<stop class="gradient-end-color" offset="100%"></stop>
								</linearGradient>
							</defs>
							<circle cx="50" cy="50" r="50"></circle>
						</svg><svg class="shape-1 d-none d-sm-block" viewBox="0 0 240.83 240.83"
							xmlns="http://www.w3.org/2000/svg">
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
								transform="translate(120.42 -49.88) rotate(45)"></rect>
							<rect x="-32.54" y="78.39" width="305.92" height="84.05" rx="42.03"
								transform="translate(-49.88 120.42) rotate(-45)"></rect>
						</svg><svg class="shape-2 d-none d-sm-block" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
							<circle cx="50" cy="50" r="50"></circle>
						</svg>
						<div class="device-wrapper">
							<div class="device" data-device="iPhoneX" data-orientation="portrait" data-color="black">
								<div class="screen">
									<img class="img-fluid" src="../../../assets/images/icons/student.svg" alt="cerebro" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Basic features section-->
	<section class="bg-light">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
				<div class="col-12 col-lg-5">
					<h2 class="display-4 lh-1 mb-4">{{ 'HOMEPAGE.SEC1TIT' | translate }}</h2>
					<p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ 'HOMEPAGE.PA1' | translate }}.</p>
				</div>
				<div class="col-sm-8 col-md-6">
					<div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
							src="https://salware.com/images/homepage/01.jpg" alt="..." /></div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-light">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
				<div class="col-sm-8 col-md-6">
					<div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
							src="https://salware.com/images/homepage/02.jpg" alt="..." /></div>
				</div>
				<div class="col-12 col-lg-5">
					<h2 class="display-4 lh-1 mb-4">{{ 'HOMEPAGE.SEC2TIT' | translate }}</h2>
					<p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ 'HOMEPAGE.PA2' | translate }}.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-light">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
				<div class="col-12 col-lg-5">
					<h2 class="display-4 lh-1 mb-4">{{ 'HOMEPAGE.SEC3TIT' | translate }}</h2>
					<p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ 'HOMEPAGE.PA3' | translate }}.</p>
				</div>
				<div class="col-sm-8 col-md-6">
					<div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
							src="https://salware.com/images/homepage/03.jpg" alt="..." /></div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-light">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
				<div class="col-sm-8 col-md-6">
					<div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
							src="https://salware.com/images/homepage/04.jpg" alt="..." /></div>
				</div>
				<div class="col-12 col-lg-5">
					<h2 class="display-4 lh-1 mb-4">{{ 'HOMEPAGE.SEC4TIT' | translate }}</h2>
					<p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ 'HOMEPAGE.PA4' | translate }}.</p>
				</div>

			</div>
		</div>
	</section>

	<section class="bg-light">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
				<div class="col-12 col-lg-5">
					<h2 class="display-4 lh-1 mb-4">{{ 'HOMEPAGE.SEC5TIT' | translate }}</h2>
					<p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ 'HOMEPAGE.PA5' | translate }}.</p>
				</div>
				<div class="col-sm-8 col-md-6">
					<div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
							src="https://salware.com/images/homepage/05.jpg" alt="..." /></div>
				</div>
			</div>
		</div>
	</section>

	<section class="bg-light">
		<div class="container px-5">
			<div class="row gx-5 align-items-center justify-content-center justify-content-lg-between">
				<div class="col-sm-8 col-md-6">
					<div class="px-5 px-sm-0"><img class="img-fluid rounded-circle"
							src="https://salware.com/images/homepage/06.jpg" alt="..." /></div>
				</div>
				<div class="col-12 col-lg-5">
					<h2 class="display-4 lh-1 mb-4">{{ 'HOMEPAGE.SEC6TIT' | translate }}</h2>
					<p class="lead fw-normal text-muted mb-5 mb-lg-0">{{ 'HOMEPAGE.PA6' | translate }}.</p>
				</div>

			</div>
		</div>
	</section>
	<!-- Call to action section-->
	<section class="cta">
		<div class="cta-content">
			<div class="container px-5">
				<h2 class="text-white display-1 lh-1 mb-4">
					{{ 'HOMEPAGE.WEOFFERTOOLS' | translate }}.
				</h2>
				<a class="btn btn-outline-light py-3 px-4 rounded-pill" href="#" target="_blank">{{ 'HOMEPAGE.WANTKNOWMORE'
					| translate }}</a>
			</div>
		</div>
	</section>
	<!-- App badge section-->
	<section class="bg-gradient-primary-to-secondary" id="download">
		<div class="container px-5">
			<h2 class="text-center text-white font-alt mb-4">{{ 'HOMEPAGE.KEEPINFORMED' | translate }}</h2>
			<div class="form-floating mb-3">
				<input class="form-control" id="email" type="email" placeholder="name@example.com" />
				<label for="email">{{ 'HOMEPAGE.EMAIL' | translate }}</label>

			</div>
			<h1 class="text-center text-white font-alt mb-4">
				<button class="text-center" nbButton status="primary">{{ 'HOMEPAGE.SUBSCRIBE' | translate }} <nb-icon
						icon="email-outline"></nb-icon></button>
			</h1>

		</div>
	</section>
	<!-- Footer-->
	<footer class="bg-black text-center py-5">
		<div class="container px-5">
			<div class="text-white-50 small">
				<div class="mb-2">&copy; Salware 2023. All Rights Reserved.</div>
				<a href="javascript:void(0);" (click)="showDialogPolicy($event)" (mousedown)="$event.stopPropagation()">{{
					'FOOTER.PRIVACY' | translate }}</a>
				<span class="mx-1">&middot;</span>
				<a href="#!">{{ 'FOOTER.LEGAL' | translate }}</a>
				<span class="mx-1">&middot;</span>
				<a href="javascript:void(0);" (click)="showDialogCookie($event)" (mousedown)="$event.stopPropagation()">{{
					'FOOTER.COOKIES' | translate }}</a>
				<span class="mx-1">&middot;</span>
				<a href="javascript:void(0);" (click)="showDialogWe($event)" (mousedown)="$event.stopPropagation()">{{
					'FOOTER.WE' | translate }}</a>
				<span class="mx-1">&middot;</span>
				<a href="javascript:void(0);" (click)="showDialogConcatc($event)" (mousedown)="$event.stopPropagation()">{{
					'FOOTER.CONTACT' | translate }}</a>

			</div>
		</div>
	</footer>

</div>

