.titulo-claro {
    text-align: center;
    font-weight: bold;
    color: white;
}

.titulo-oscuro {
    text-align: center;
    font-weight: bold;
    color: rgb(0, 8, 50, 0.5);
}

.iconos-contenedor {
    justify-content: center;
    display: flex;
    margin-top: 2%;
    width: 100% !important;
    height: auto !important;
    cursor: pointer;
}

// .senmotemo {
//     border: 1px solid rgb(26, 76, 126);
//     border-radius: 5px;
//     height: 75px;
//     width: 100%;
//     align-content: center;
//     margin: 4px;
//     background-color: rgb(26, 76, 126);
// }

// .senmotemo:hover {
//     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
// }

// .assostatic {
//     border: 1px solid rgb(37, 112, 188);
//     border-radius: 5px;
//     height: 75px;
//     width: 100%;
//     align-content: center;
//     margin: 4px;
//     background-color: rgb(37, 112, 188);
// }

// .assostatic:hover {
//     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
// }

// .temporary {
//     border: 1px solid rgb(135, 181, 223);
//     border-radius: 5px;
//     height: 75px;
//     width: 100%;
//     align-content: center;
//     margin: 4px;
//     background-color: rgb(135, 181, 223);
// }

// .temporary:hover {
//     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
// }

// .abstract {
//     border: 1px solid rgb(186, 213, 241);
//     border-radius: 5px;
//     height: 180px;
//     width: 100%;
//     align-content: center;
//     margin: 4px;
//     background-color: rgb(186, 213, 241);
// }

// .abstract:hover {
//     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
// }

.mat-icon-close {
    color: #ffffff;
}

.flexItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/* Column Gap */
.flexItems > * {
    box-sizing: border-box;
}
.flexItems > *:not(:last-child) {
    margin-right: 20px;
}
/* Item sizing */
.flexItemsItem {
    flex: 0 1 auto;
}

.abstractItems > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mat-mini-fab {
    background-color: rgb(162, 160, 160);
}

#add-button {
    left: 360px;
    position: relative;
}
.mat-button-toggle {
    font-weight: 500;
}

.mat-button-toggle-label-content {
    width: 100%;
    text-align: left;

    p {
        text-align: left !important;
        margin-bottom: 0 !important;
    }
}

.mat-button-toggle-checked .mat-button-toggle-focus-overlay {
    border-bottom: 0 !important;
}

.mat-button-toggle.abstract {
    background-color: rgb(186, 213, 241);
    color: #000;
}

.mat-button-toggle.senmotemo {
    background-color: rgb(26, 76, 126);
    color: #ffffff;
}

.mat-button-toggle.temporary {
    background-color: rgb(135, 181, 223);
    color: #000;
}

.mat-button-toggle.assostatic {
    background-color: rgb(37, 112, 188);
    color: #ffffff;
}

// .mat-button-toggle.abstract:hover {
//     background-color: transparent;
//     color: #1100ff !important;
// }

// .mat-button-toggle-checked.abstract {
//     background-color: rgb(186, 213, 241, 0.8);
//     color: #000;
// }
// .mat-button-toggle-checked.senmotemo {
//     background-color: rgba(26, 76, 126, 0.8);
//     color: #ffffff;
// }
// .mat-button-toggle-checked.temporary {
//     background-color: rgb(135, 181, 223, 0.8);
//     color: #000;
// }
// .mat-button-toggle-checked.assostatic {
//     border: 1px solid rgb(37, 112, 188, 0.8);
//     color: #ffffff;
// }
