.header-options {
    .mat-icon-button {
        width: 24px;
        height: 24px;
        line-height: 24px !important;
        .mat-icon {
            width: 24px !important;
            font-size: 24px !important;
            margin: 0 auto !important;
        }
    }
}
