th {
    color: #000;
}

td {
    white-space: pre-line;
    text-align: center;
    color: #000;
    font-weight: 500;
    vertical-align: middle;

    .mat-icon {
        color: #000;
    }
}

tr.activated td {
    color: rgba(247, 191, 10);

    .mat-icon {
        color: rgba(247, 191, 10);
    }
}

.abstract {
    background-color: rgb(186, 213, 241);
}

.senmotemo {
    background-color: rgb(26, 76, 126);
}

.temporary {
    background-color: rgb(135, 181, 223);
}

.assostatic {
    background-color: rgb(37, 112, 188);
}
