.header-options {
	.mat-icon-button {
		width: 24px;
		height: 24px;
		line-height: 24px !important;

		.mat-icon {
			width: 24px !important;
			font-size: 24px !important;
			margin: 0 auto !important;
		}
	}

	.top-layer {
		z-index: 9999 !important;
	}

	nb-icon {
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;

		:hover {
			color: #36f !important;
		}
	}
}
