<div class="header-options">
    <div class="px-4 py-3" style="float: right;">
        <div>
            <button mat-icon-button  (click)="showInfo()" hidden>
                <mat-icon>info_outline</mat-icon>
            </button>
        </div>

        <!-- <mat-button-toggle-group [disabled]="type > 0" [(ngModel)]="type" (change)="onQuizTypeSelected($event)"> -->

        <div class="col flex justify-content-between align-items-center ">
            <div class="w-100 text-dark  d-flex flex-column align-items-center">
                <form [formGroup]="form">
                    <select formControlName="pattern" class="form-control" (change)="updateRepetition()" style="width: 270px">
                        <option *ngFor="let item of repetitionList" [value]="item.pattern">{{item.descripcion}}</option>
                    </select>
                </form>
            </div>
            <div>
                <div class="w-100 text-dark  d-flex flex-column align-items-center">
                    <button mat-raised-button mat-icon-button [ngbTooltip]="'SIGMACOMPONENT.CERTIFICAR' | translate" placement="top"  (click)="certifiedQuiz($event)">
                        <mat-icon class="circle-button" svgIcon="quiz_certificado"></mat-icon>
                    </button>
                    <span class="mt-2">{{'SIGMACOMPONENT.CERTIFICAR' | translate}}</span>
                </div>
            </div>
            <div class="w-100 pr-3">
                <form [formGroup]="form">
                    <mat-slide-toggle class="buttonPublicar" (click)="certifiedQuiz($event)" formControlName="certificadoQuiz"></mat-slide-toggle>
                </form>
            </div>



            <button class="mr-md-3" mat-icon-button ngbTooltip="{{'QUIZZES.DELETE' | translate }}" (click)="deleteMultipleQuiz()" *ngIf="loginService.esAutor()">
                <mat-icon svgIcon="delete" class="icon-head pointer" data-toggle="tooltip" data-placement="top"></mat-icon>
            </button>
            <div>
                <div class="w-100 text-dark pr-2">
                    <form [formGroup]="form">
                        <mat-slide-toggle formControlName="published" (click)="publish($event)" >{{'EDITARCURSO.PUBLISH' | translate}}</mat-slide-toggle>
                    </form>
                </div>
            </div>
            <button mat-icon-button (click)="onCloseModal()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
