<div class="sticky-top">
    <div class="modal-header" align="center">
        <span class="textoFontSize1 colorTextoActivado font-weight-bold">{{ 'CENTROS.LISTCENTERS' | translate }}</span>

        <button type="button" class="close" data-dismiss="modal" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class='teacher-settings p-2'>

    <div class="col-12">
        <app-alert context="UserData"></app-alert>
    </div>

    <div class="row">
        <div class="col-12 px-4 py-2">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{'TEACHERSETTINGS.FILTERCENTER' | translate}}">
            </mat-form-field>

            <div class="mat-elevation-z8">

                <table mat-table [dataSource]="listCenters">

                    <!-- Center Name -->
                    <ng-container matColumnDef="centerName">
                        <th mat-header-cell *matHeaderCellDef>{{'TEACHERSETTINGS.CENTERNAME' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.centerName}} </td>
                    </ng-container>

                    <!-- Province -->
                    <ng-container matColumnDef="province">
                        <th mat-header-cell *matHeaderCellDef>{{'TEACHERSETTINGS.PROVINCENAME' | translate}}</th>
                        <td mat-cell *matCellDef="let element"> {{element.province}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="setCenterToUser(row)" ngbTooltip="{{'TEACHERSETTINGS.BUTTONASSIGNMENT' | translate}}" placement="left"></tr>
                </table>
                <mat-paginator [pageSize]="[10]"></mat-paginator>
            </div>

            <div class="col-12 py-4 px-0">
                <button class="btnClearBlue" (click)="newCenterModal()">
                    <span>{{'TEACHERSETTINGS.CENTERNOTEXISTS' | translate}}</span>
                </button>
            </div>

        </div>
    </div>
</div>
