app-modal-list-centers{
    table{
        width: 100%!important;

        th {
            font-size: 16px!important;
            color: #6c86b3!important;
            font-weight: 500!important;
        }
        tbody{
            tr{
                &:hover{
                    cursor: pointer;
                }
            }
        }

    }

    .mat-form-field:not(.mat-form-field-appearance-standard){
        width: 100%;
    }


}
