<mat-dialog-content class="mat-typography">
    <div class="sqs-block-content">
        <p>info@salware.com</p>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>