app-socket-quiz-preview {
	height: 100%;

	nb-icon {
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
	}

	.mt-3_5r {
		margin-top: 3.5rem !important;
	}

	.mb-4r {
		margin-bottom: 4rem !important;
	}

	.title-time-remaining {
		font-size: 1.125rem;
		font-family: Open Sans, sans-serif;
		font-weight: 700;
		line-height: 1.5rem;
	}

	.remaining-time {
		justify-content: center;
		align-items: center;
		display: flex;
		background: #ff3d71;
		color: #fff;
		font-weight: 600;
		padding: 0.5rem 1.5rem;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}

	.dot {
		height: 10px;
		width: 10px;
		background-color: #02D566;
		border-radius: 50%;
		margin-bottom: 10px;
	}

	.timer-canvas {
		position: absolute !important;
		left: auto !important;
		top: 0 !important;
		right: 0 !important;
		margin: 0 auto !important;
		width: 300px !important;
		height: 150px !important;
		overflow: hidden !important;
	}
}

.quiz-socket-preview {
	background: linear-gradient(134deg, #Dfdfdf, #cdcdcd);
	height: 100%;

	.modal-header {
		border-bottom: none !important;
		background: transparent !important;

		.colorTextoActivadoCursoGrafo {
			color: #333 !important;
		}
	}

	.online-users {
		background: transparent;
	}

	.time {
		justify-content: center;
		align-items: center;
		display: flex;
		background: #ddd;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
		color: #333;
		font-weight: 600;
		height: 45px;

		label {
			margin: 0;
			margin-right: 5px;
		}

		span {
			font-size: 24px;
		}
	}

	.body-container {
		background-color: white;
		box-shadow: 7px 40px 13px 4px #414d5a61;
		height: 85vh;
		overflow-y: auto;
		width: 55%;
		margin: 0 auto;

		&.hide-scrollbars {
			-ms-overflow-style: none;
			scrollbar-width: none;
		}
	}

	.body-container::-webkit-scrollbar {
		display: none;
	}
}
