.icon-head{
    color: rgb(29, 73, 153);
    margin: 0 5px;
}

.icon-tittle{
    color: white;
}

button{
    outline:none;
    border:none;
}

.button-redes{
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.button-salware{
    width: 40px;
    height: 40px;
}

.tittle {
    background-color: #2186AE;
    color: #FFFFFF;
}

.options {
    background: #DEDEDE;
    padding-top: 5px;
}

.container-Header-group2{
width: 100%;
position: absolute;
text-align: right;

}

.help{
    margin-left: 30px;
    z-index: 1;
}

@media (max-width: 2000px) and (min-width: 1025px) {
    .icon-size-small{
        font-size: 15px;
    }
    .icon-size-medium {
        font-size: 30px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .icon-size-small{
        font-size: 15px;
    }
    .icon-size-medium {
        font-size: 20px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .icon-size-small{
        font-size: 15px;
    }
    .icon-size-medium {
        font-size: 20px;
    }
}

@media (max-width: 480px) and (min-width: 321px) {
    .icon-size-small{
        font-size: 10px;
    }
    .icon-size-medium {
        font-size: 15px;
    }
}

@media (max-width: 320px) {
    .icon-size-small{
        font-size: 5px;
    }
    .icon-size-medium {
        font-size: 10px;
    }
 }

 .dropdown {
    text-align: left;
  }

  .dropdown-menu{
    min-height: fit-content;
    height: fit-content !important;
    margin: 0 auto;
    overflow-y:auto;
    /*max-height:80vh*/
  }

  #descModal {
    font-size: x-small;
    font-weight: bold;
    textarea {
        font-size: x-small;
        border: 0;
    }
  }

  .well {
    //margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }

  .botonCerrar{
      height:40px;
      width:40px;
  }

  // ------------------------------------

   .mat-icon-button {
    width: 24px !important;
    height: 24px !important;
    line-height: 24px !important;
   }

    .scroll {
      overflow-y:auto;
      max-height:100vh;
    }

    ::-webkit-scrollbar {
      width: 10px;
      border: 5px solid white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #b0b0b0;
        background-clip: padding-box;
        border: 0.05em solid #eeeeee;
        border-radius: 4px;
    }

    ::-webkit-scrollbar-track {
        background: #e1e1e1;
    }

    ::-webkit-scrollbar-button {
        background-color: #bbbbbb;
        display: block;
        border-style: solid;
        height: 8px;
        width: 8px;
    }

    ::-webkit-scrollbar-button:vertical:decrement {
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #555555 transparent;
    }

    ::-webkit-scrollbar-button:vertical:increment {
        border-width: 5px 5px 0 5px;
        border-color: #555555 transparent transparent transparent;
    }
    ::-webkit-scrollbar-button:vertical:start:increment,
    ::-webkit-scrollbar-button:vertical:end:decrement
    {
      display: none;
    }
