.estado {
    height: 50px;
}
//mat-checkbox
/*::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(63, 81, 181);
}*/
