<form class="w-100 h-100" [formGroup]="infoForm">
    <div class="row mt-2">
        <div class="col timer-canvas">
					<countdown #cd [config]="config" (event)="handleCountDownEvent($event)" class="counter-down"></countdown>
        </div>
    </div>
    <div class="row mt-3">
        <div class="cont-small col-sm-12 col-md-12">
            <h2>{{infoForm.get('instructions').value}}</h2>
        </div>
    </div>
</form>
