input[disabled] {
    color: black;
}

p {
	p {
		font-size: 1.9375rem !important;
		line-height: 2.25rem !important;
		font-weight: 400;
		color: #222b45;
}
}

.timer-canvas {
	position: absolute;
	left: auto;
	top: 4rem;
	right: 0;
	margin: 0 auto;
	width: 300px;
	height: 250px;

	@media (max-width: 1032px) {
		& {
			top: 25px;
		}
	}

	@media (max-width: 870px) {
		& {
			top: 60px;
		}
	}

	@media (max-width: 768px) {
		& {
			top: 25px;
		}
	}

	@media (max-width: 578px) {
		& {
			top: 30px;
		}
	}

	@media (max-width: 508px) {
		& {
			top: 60px;
		}
	}

	canvas {
		width: 300px;
		height: 150px;
		margin-left: 200px;
	}
}

@media (max-width: 578px) {
	.cont-small {
		width: 100%;

		h2 {
			font-size: 1.5rem;
			line-height: 2rem;
		}
	}
}

.counter-down{
	background: rgb(235 99 99);
	border: 2px black solid;
	padding: 8px;
	font-size: xx-large;
}
