.container {
	background-color: #FFFFFF;
	padding: 15px;
	height: 100%;
}

.modal-cabecera {
	background: #DEDEDE;
	padding: 5px 10px;
	display: inline;
}

.h-75 {
	height: 75px !important;
}



@media (max-width: 435px) {
	.button-table {
			padding: .1rem .2rem;
	}
}

@media (min-width: 436px) and (max-width: 767px) {
	.button-table {
			padding: .15rem .25rem;
	}
}

@media (min-width: 768px) {
	.button-table {
			padding: .25rem .5rem;
	}
}



.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.fast {
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}











////////////////////////////////////////////////////@at-root
///
///
.dropbtn {
// background-color: #4CAF50;
// color: white;
// padding: 16px;
// font-size: 16px;
	border: none;
	cursor: pointer;
	font-weight: 500;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 280px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	right: -23px;
	top: 30px;
}

.dropdown-content .listado-intitaciones {
	color: black;
	padding: 12px 12px;
	text-decoration: none;
	display: block;
	// cursor: pointer;
}

.dropdown-content .listado-intitaciones:hover {
	background-color: #f1f1f1;
	// cursor: pointer;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbtn {
	background-color: #343a40;
	color: #f1f1f1;
}
.icon-action-blue{
	cursor: pointer;
	&:hover{
		color: #36f !important;
	}
}

.icon-action-red{
	cursor: pointer;
	&:hover{
		color: #ff3d71 !important;
	}
}


.list-group-item{
	height: 40px;
	font-weight: 600;
}

.badge{
	cursor: pointer;
}
.badge-disabled{
		cursor: not-allowed;
}


nb-icon{
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;
	:hover{
		color: #36f !important;
	}
}



nb-card-footer{
	padding: 5px !important;
}

.img-container{
	height: 10rem;
}


