app-actividad-quiz-play-body{
    .circle-button{
        border-radius: 50%;
        background-color: white;
        height: 35px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: linear-gradient(170deg, #D9D9D9, #F1F1F1);;
        box-shadow: -1px -1px 1px #08222e, -1px -1px 1px white;
        align-self: flex-end;
    
            .mat-icon {
                &.icon-color-blue {
                    svg {
                        fill: #224d98 !important;
                    }
                }
                &.icon-color-gold{
                    svg{
                        fill: #d39502!important;
                    }
                }
            }
    
        }
}

.hidden{
    display: none;
}

.solution-button {
.mat-icon-button {
    width: 32px;
    height: 32px;
    line-height: 32px !important;

    .mat-icon {
        width: 32px !important;
        font-size: 32px !important;
    }
}


}

.span-icon{
display: flex;
justify-content: center;
align-items: center;
}

p {
color: black;
font-weight: 400;
font-size: 27px;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}


.comprobar {
font-weight: 700;
color: #224d98;
}


   