<nb-card class="mb-0">
	<nb-card-body>
		<div class="container" *ngIf="curso">
			<div class="container">
				<app-loading [isVisible]="cargando"></app-loading>

				<nb-card fullWidth  class="detail-top-card">
					<nb-card-body class="hide-overflow">
						<div class="row d-flex justify-content-end icons-positions">
							<nb-icon class="icon-color-blue pointer text-right m-1 float-right z-index-999" icon="info-outline"
							 [options]="{ animation: { type: 'pulse' } }"
								(click)="openInformationCourse()"></nb-icon>
							<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
								[options]="{ animation: { type: 'pulse' } }" (click)="closeModal('')"></nb-icon>
						</div>
						<div class="">
							<form [formGroup]="formulario" #thisForm="ngForm" class="row d-flex justify-content-center align-items-center p-2">
							<div class="col-3">
								<nb-card class="project-info pointer no-edge-card mb-0">
									<div class="imagecontainer">
										<app-imgupload [isShowDelete]="true" formControlName="image"></app-imgupload>
									</div>
								</nb-card>
							</div>
							<div class="col-5 course-data">
								<nb-card size="small" class="project-info pointer no-edge-card ">
									<nb-card-header style="padding: 0;">
										<div class="form-group">
											<label for="exampleFormControlInput1">{{ 'EDITARCURSO.TITLE' | translate }}</label>
											<input nbInput fullWidth formControlName="title"  type="text" class="form-control" id="exampleFormControlInput1" placeholder="Titulo">
										</div>
									</nb-card-header>

									<nb-card-body style="padding: 0;">
										<div class="form-group">
											<label for="exampleFormControlTextarea1">{{ 'EDITARCURSO.DESCRIPCION' | translate }}</label>
											<textarea nbInput fullWidth formControlName="description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
									</div>
									</nb-card-body>

									<nb-card-footer>
										<div class="flex" style="justify-content: start; gap: 10px;">
											<nb-toggle labelPosition="start" *ngIf="id!='nuevo' && loginService.esAutor()" formControlName="isVisible"
												(click)="makeVisibleCourse()">{{ formulario.get('isVisible').value ? ('EDITARCURSO.VISIBLE' |
												translate) : ('EDITARCURSO.NOVISIBLE' | translate) }}</nb-toggle>

											<nb-toggle labelPosition="start" *ngIf="id!='nuevo' && loginService.esAutor()" formControlName="courseType"
												(click)="changeCourseType()">{{ formulario.get('courseType').value ? ('EDITARCURSO.PUBLIC' |
												translate) : ('EDITARCURSO.PRIVATE' | translate) }}</nb-toggle>

											<nb-select name="idCountry" placeholder="pais" formControlName="idCountry" (selectedChange)="searchLevels($event)">
												<nb-option *ngFor="let country of countriesList" value="{{ country.idCountry }}">{{ country.country_es }}
												</nb-option>
											</nb-select>

											<nb-select name="idCountryLevel" placeholder="Nivel" formControlName="idCountryLevel">
												<nb-option *ngFor="let level of levelsOfCountry" [value]="level.idCountryLevel">{{ level.countryLevel }}
												</nb-option>
												<nb-option *ngIf="notCountryLevelsForThisCountry">{{'MODALINFORMATIONCOURSE.NOTLEVELSFORCOUNTRY' |
													translate}}</nb-option>
											</nb-select>

										</div>
									</nb-card-footer>
								</nb-card>
							</div>
							<div class="col-3">
								<nb-card size="small" class="project-info pointer no-edge-card">


										<h6 class="text-center">{{'MODALINFORMATIONCOURSE.AUTHOR' | translate}}:</h6>
										<div class="w-100 d-flex justify-content-center">
											<div class="text-center avatar-detail-course mb-2 d-flex align-content-center"
												[ngStyle]="{'background-image': getUserAvatar()}"></div>
										</div>
										<h6 class="text-center">{{cursoDatos.user.name}} {{cursoDatos.user.surname}}</h6>
										<div class="w-100 d-flex justify-content-center mb-1">
											<button nbButton status="primary"
											(click)="listadoEditores()"
											>{{'EDITORS.EDITORS' | translate}}</button>
									</div>

									<nb-card-footer class="flex justify-content-center">
										<nb-select
												name="lang1"
												placeholder="pais"
												formControlName="lang1"
											>
												<nb-option
													*ngFor="let lang of langList"
													[value]="lang.idLang"
													>{{ lang.nombre }}
													</nb-option
												>
											</nb-select>
									</nb-card-footer>
								</nb-card>
							</div>
						</form>
						</div>
					</nb-card-body>
				</nb-card>



				<!-- TARJETA IDEOGRAFOS -->

						<nb-card fullWidth size="giant" class="no-edge-card">
							<nb-card-header class="flex" >
								<div class="col-2 modal-title">
									<h2>{{ 'EDITARCURSO.GRAFOS' |
										translate }}</h2>
								</div>
								<div class="col-4 d-flex justify-content-left  align-content-left">
									<nb-actions size="medium">
										<nb-action *ngIf="graphView == 'inlineList'" icon="grid-outline"
											(click)="graphView = 'gridList'"></nb-action>
										<nb-action *ngIf="graphView == 'gridList'" icon="list-outline" (click)="graphView = 'inlineList'"></nb-action>
										<nb-action *ngIf="loginService.esAutor() && id!='nuevo'"
											icon="plus-circle-outline" (click)="nuevoMapa()"></nb-action>
									</nb-actions>
								</div>
							</nb-card-header>
							<nb-card-body >
								<div class="row d-flex justify-content-center align-items-center">
									<div class="col-11 ">
										<div class="col-sm-6 col-md-12 col-12 ">


											<!-- GRID VIEW -->
											<div [sortablejs]="courseTargets" [sortablejsOptions]="options" [ngClass]="graphView == 'gridList' ? 'row' : ''">
												<div
														title="{{mapa.target.description}}"
														(click)="verDetalleMapa(mapa.target.idTarget)"
														*ngFor="let mapa of courseTargets;let i=index"
														[ngClass]="graphView == 'gridList' ? 'col-6 col-md-2 pointer mb-2' : ''"
														[class.draggable]="loginService.esAutor() && user.idUser === curso?.user?.idUser ? true : false"
														[class.disabled]="loginService.esAutor() && user.idUser === curso?.user?.idUser ? false : true"
												>

												<nb-card class="project-info pointer" *ngIf="graphView == 'gridList'">
													<nb-card-header>
														<div class="img-container" ngbTooltip="{{mapa.target.description}}" placement="right">
															<img [src]="mapa.target.backgroundImage | imagen:'mapas'"
																	(error)="updateUrl($event)" class="card-img-top"
																	alt="{{ mapa.target.tittle | titlecase}}">
													</div>
													</nb-card-header>
													<nb-card-body>
														<p class="paragraph">{{ mapa.target.tittle | truncate:[50, '...'] }}</p>
													</nb-card-body>
												</nb-card>


													<!-- LIST VIEW -->
													<div *ngIf="graphView !== 'gridList'">
														<div class="inline-list d-flex flex-row align-items-center mr-3 p-2 mb-2" ngbTooltip="{{mapa.target.description}}" placement="top">
																<div class="square-image" [style.background-image]="getImageBackground(mapa.target.backgroundImage)"></div>
																<h6 class="card-title ml-2">{{ mapa.target.tittle | titlecase | truncate:[50,'...'] }}</h6>
														</div>
													</div>
													<!-- END LIST VIEW -->
												</div>
											</div>

											<!-- CHALLENGE GRAPHS CONTAINER -->
											<div class="col-12 container-detail-grafos p-2" *ngIf="showModalFormat">
												<div class="col-6 flex align-items-center">
													<h2 class="ml-4-5n">{{ 'EDITARCURSO.EXCLUSIVEGRAPHS2' |
														translate }}</h2> <p class="paragraph ml-2 mt-06">({{ 'EDITARCURSO.ONLYTEACHERIDEA' |
															translate }})</p>
												</div>
												<div class="col-sm-6 col-md-12 col-12 px-4">
													<div [sortablejs]="exclusiveCourseTargets" [sortablejsOptions]="exclusiveOptions" [ngClass]="graphView == 'gridList' ? 'row' : ''">
														<div
																title="{{mapa.target.description}}"
																(click)="verDetalleMapa(mapa.target.idTarget)"
																*ngFor="let mapa of exclusiveCourseTargets;let i=index"
																[ngClass]="graphView == 'gridList' ? 'col-6 col-md-2 pointer mb-2' : ''"
																[class.draggable]="loginService.esAutor() && user.idUser === curso?.user?.idUser ? true : false"
																[class.disabled]="loginService.esAutor() && user.idUser === curso?.user?.idUser ? false : true"
														>

															<div class="card form-group divCardGrafos"  *ngIf="graphView == 'gridList'">
																	<div class="img-container" ngbTooltip="{{mapa.target.description}}" placement="top">
																			<img [src]="mapa.target.backgroundImage | imagen:'mapas'"
																					(error)="updateUrl($event)" class="card-img-top"
																					alt="{{ mapa.target.tittle | titlecase}}">
																	</div>
																	<div class="card-body">
																			<h6 class="card-title">{{ mapa.target.tittle | truncate:[50, '...'] }}
																			</h6>
																	</div>
															</div>
															<!-- LIST VIEW -->
															<div *ngIf="graphView !== 'gridList'">
																<div class="inline-list d-flex flex-row align-items-center mr-3 p-2 mb-2" ngbTooltip="{{mapa.target.description}}" placement="top">
																		<div class="square-image" [style.background-image]="getImageBackground(mapa.target.backgroundImage)"></div>
																		<h6 class="card-title ml-2">{{ mapa.target.tittle | titlecase | truncate:[50,'...'] }}</h6>
																</div>
															</div>
															<!-- END LIST VIEW -->
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</nb-card-body>
						</nb-card>
			</div>
		</div>
	</nb-card-body>
</nb-card>


