app-modal-curso-edit-detail {
	height: 100% !important;
	background: linear-gradient(134deg, #FAFAFA, #D8D8D8) !important;

	// height: auto;
	@media (max-width: 435px) {
		.button-table {
			padding: .1rem .2rem;
		}

		.col-xs-12 {
			width: 100% !important
		}
	}

	@media (min-width: 436px) and (max-width: 767px) {
		.button-table {
			padding: .15rem .25rem;
		}
	}

	@media (min-width: 768px) {
		.button-table {
			padding: .25rem .5rem;
		}
	}

	h1 {
		font-weight: 900;
		color: #224d98;
	}

	.form-group{
		margin-bottom: 0 !important;
		margin-top: 10px;
	}


}

//.modal-header {
//border-bottom: none !important;
//background: initial;
//padding: 0 !important;
//}

.sticky-top {
	position: initial !important;
}

.close {
	font-size: 3rem;
	font-weight: normal;
	line-height: 0;
	color: #224d98 !important;
}

.card-deck {
	height: 100%;
}

h5 {
	font-weight: 600;
	color: #224d98;
	font-size: large;
}

p {
	font-weight: 500;
	color: #224d98;
	font-size: medium;
}
mat-icon {
	color: #224d98;
}

.container-detail {
	min-height: 250px;
	background: linear-gradient(134deg, #fafafa, #d8d8d8);
	// border: 1px solid white;
	border-top: none;
	border-radius: 2px;
	box-shadow: 7px 4px 7px 0px #494949;
}

.imagecontainer {
	/*border: 2px solid #444;*/
	height: 300px;
	width: 300px;
	margin-top: -2rem;


	.noImage {
		height: 100%;
		div {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			position: relative;
			z-index: 0;
		}

		img {
			&.no-image {
				max-width: 100%;
				width: 256px;
				height: auto;
			}
			height: 64px;
			width: 64px;
		}
		input[type="file"] {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			z-index: 9999;
		}
	}
	.image {
		width: 100%;
		height: 100%;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain; /*cover;*/
		position: relative;
		.delete {
			border-radius: 50%;
			background-color: white;
			height: 32px;
			width: 32px;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 10px;
			top: 10px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.52);
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.52);
			img {
				height: 16px;
				width: 16px;
			}
		}
	}
}

.avatar-detail-course {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.hide-overflow{
	height: 100%;
	overflow: hidden !important;
}

.container-detail-grafos {
	min-height: 250px;
	border-top: none;
	border-radius: 2px;
}

.img-container {
	position: relative;
	height: 130px;
	overflow: hidden;
	display: flex;
	justify-content: center;

	.img-fluid {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.card-body {
	padding: 0.5rem;
}

.card-img-top {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	align-self: center;
}

.inline-list {
	background-color: white;
	border: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;
	.square-image {
		height: 70px;
		width: 70px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}
	.card-title {
		margin: 0;
	}
	img {
		height: 70px;
		width: auto;
	}
}

.circle-button {
	&.active {
		background-color: #a9c7de;
		svg {
			fill: #fff;
		}
		.material-icons.mat-icon-no-color {
			color: white;
		}
		transition: all 1s;
	}
}

.averageKnowledge {
	font-weight: 700;
	color: #224d98;
	font-size: 10px;
}
.progress {
	height: 12px;
}

@media (min-width: 768px) {
	.text-field {
		padding-bottom: 2em;
	}

	.textarea-field {
		padding-bottom: 6em;
	}
}

nb-icon {
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;
	:hover {
		color: #36f !important;
	}
}

.container-detail-curso {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text-paragraph {
	font-size: 1.2rem !important;
	line-height: 1.25rem;
	font-weight: 400;
	color: #222b45;
}

.profile-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2rem;
	nb-icon {
		font-size: 1.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
		:hover {
			color: #36f !important;
		}
	}
}

.project-info {
	&:hover {
		transition: all 0.2s ease-out;
		box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
		top: -4px;
		border: 1px solid #cccccc;
		background-color: white;
	}
	&.size-small {
		min-height: 21rem;
	}
}

.project-list-view {
	height: auto !important;
}

.nb-theme-default nb-card.size-large {
	height: auto !important;
}

nb-card-footer {
	padding: 5px !important;
}

nb-card .no-edge-card {
	border: none !important;
	box-shadow: none !important;
}

.detail-top-card {
	height: 25rem !important;
	margin-top: 0rem !important;
	margin-left: -4rem !important;
	margin-right: -4rem !important;
}

.z-index-999{
	z-index: 999 !important;
}

.icons-positions{
	height: 0rem !important;
	gap: 25% !important;
}

.mb-0{
	margin-bottom: 0 !important;
}

.half-width{
	width: 50% !important;
}

.no-border{
	border: none !important;
}

.course-data{
	height: 20rem !important;
}

.border-right{
	border-right: 1px solid #edf1f7 !important;
}

.user-info-card{
	margin-bottom: 0 !important;
	margin-left: 5rem !important;
}

.mt-3r{
	margin-top: 3rem !important;
}

.detail-card-bg{
	background-color: #edf1f7 !important;
}

.detail-card-body{
	margin-left: -5rem !important;
	margin-right: -5rem !important;
}

.card-body-title{
	max-height: 6rem !important;
}

.w-70{
	width: 70% !important;
}

.img-middle{
	display: flex !important;
	justify-content: center !important;
}

.mb-8r{
	margin-bottom: 8rem !important;
}

.disabled-icon {
	pointer-events: none;
	/* Deshabilita los eventos de puntero */
	opacity: 0.5;
	/* Reduce la opacidad del ícono para indicar que está deshabilitado */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
