<!-- <p>register-new-user works!</p> -->
<!-- <app-loading [isVisible]="loading"></app-loading> -->

<div class="text-center" style="position: relative;">

    <div class="row mt-2">
        <div class="col-12" align="center">
            <span class="textoFontSize1 font-weight-bold">
                {{ 'LOGIN.CREATEUNACUENTA' | translate }}
            </span>
        </div>
        <div class="col-12 my-4" align="center">
            <img class="logo" src="../../../assets/images/LetrasLOGO.png" />
        </div>
    </div>

    <form [formGroup]="formulario" (ngSubmit)="register()" #thisForm="ngForm">
        <div class="row form-group py-3" align="left">
            <div class="col-12">


                <div id="email" formGroupName="emailGroup"  class="row py-2 justify-content-center">

                    <div class="col-md-8">

                        <div class="col space-form">
                            <input class="form-control inputGeneric" type="text" formControlName="email"
                                name="email" required placeholder="{{ 'REGISTRO.EMAILEJEMPLO' | translate }}">
                            <div *ngFor="let validation of validationMessages.email">
                                <div class="error-message"
                                    *ngIf="emailControl?.hasError(validation.type) && (emailControl?.dirty || emailControl?.touched || thisForm.submitted)">
                                    {{validation.message}}</div>
                            </div>
                        </div>
                    </div>
                </div>




                <div id="password" formGroupName="passwordGroup" class="row py-2 justify-content-center">
                    <div  class="col-md-8 position-relative">

                        <div class="col space-form">
                            <input class="form-control inputGeneric" [type]="hidePassword ? 'password' : 'text'"
                                formControlName="keyWord" name="password"
                                placeholder="{{ 'USERDATA.CONTRASENA' | translate }}">
                                <button class="hide-button" type="button" mat-icon-button matSuffix
                                (click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
                                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            <div *ngFor="let validation of validationMessages.keyword">
                                <div class="error-message"
                                    *ngIf="keywordControl?.hasError(validation.type) && (keywordControl?.dirty || keywordControl?.touched || thisForm.submitted)">
                                    {{validation.message}}</div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="row py-1">
            <div class="col-lg-3 col-md-2"></div>

            <div class="col-lg-6 col-md-8 col-12" align="center">
                <app-alert context="Login"></app-alert>
            </div>
        </div>



        <div id="terminos">
            <div class="row form-group mt-2" align="left">
                <div class="col-12">
                    <div class="full-width">
                        <mat-checkbox formControlName="terms">
                            {{'REGISTRO.ACCEPTTERMSANDCONDITIONS' | translate}}
                            <a href="javascript:void(0);" (click)="showPrivacyDialog($event)"
                                (mousedown)="$event.stopPropagation()">{{'REGISTRO.TERMS' | translate}}</a>
                            {{'REGISTRO.ACEPTTERMSAND' | translate}}
                            <a href="javascript:void(0);" (click)="showConditionsDialog($event)"
                                (mousedown)="$event.stopPropagation()">{{'REGISTRO.CONDITIONS' | translate}}</a>
                        </mat-checkbox>
                        <mat-error *ngFor="let validation of validationMessages.terms">
                            <mat-error class="error-message break-line"
                                *ngIf="termsControl?.hasError(validation.type)  && (termsControl?.dirty || thisForm.submitted)">
                                {{validation.message}}</mat-error>
                        </mat-error>
                    </div>

                </div>
            </div>
        </div>




        <div class="row form-group my-2">
            <div class="col-md-2"></div>
            <div class="col-md-8 col-12">
                <button class="btnGeneric" type="submit">
                    <span>{{ 'REGISTRO.REGISTRARNUEVOUSUARIO' | translate }}</span>
                </button>
            </div>
            <div class="col-md-2"></div>
        </div>

        <p class="text-center">{{'REGISTRO.ALTERNATIVEREGISTER' | translate}}</p>

        <button type="button" (click)="googleSignin()" mat-icon-button>
            <img src="assets/images/google.svg">
        </button>

        <div class="col-12 mb-2">
            <a [routerLink]="registerNewUserRoute" class="textoFontSize09 colorTextoActivado d-inline pointer">
                <span>{{ 'LOGIN.TIENESCUENTA' | translate }}</span>
            </a>
        </div>

        <app-loading [isVisible]="loading"></app-loading>
    </form>
    <div class="image-person">
        <img src="../../../assets/images/logoLoginSW.png" />
    </div>
</div>
