@import "src/assets/scss/_common.scss";
@import "src/assets/scss/_alignment.scss";
.login-form-container {
    margin-top: -30px;
    width: 80%;
    // background-color: white;
    border: 2px solid #67757c;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
    padding: 20px 40px;
    @include media-breakpoint-down(xs) {
        margin-top: 0;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: none;
        border-radius: 0;
        box-shadow: none;
        padding: 20px 30px;
        .title {
            margin: 20px auto;
            h1 {
                font-size: 30px;
            }
        }
    }
}

@media(max-width: 1024px){
    .image-person{
        display: none;
    }
}

@media (min-width: 1024px) {
    .login-form-container {
        width: 70%;
    }
}

.login-form-container > * {
    display: block;
    text-align: center;
}

// .register-image {
//     background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('../../../assets/images/fondo_registro.jpg') no-repeat 0;
//     height: 100vh;
// }
.login-image {
    background: linear-gradient(
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.4)
        ),
        url("../../../assets/images/fondo.jpg") no-repeat 0;
    height: 100vh;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
    font-size: 1.1rem !important;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
    background-color: #0ca6e4;
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
    font-size: 18px;
}

.mat-icon {
    font-size: 32px;
    color: rgba(0, 0, 0, 0.54);
}

.form-group {
    margin: 0.25rem 0 0 0;
}


.error-message{
    color: rgba(179, 12, 12, 0.816) !important;
}

.textoFontSize1{
    color: white;
    font-size: 20px;
}
.image-person{
    position: absolute;
    top: 10px;
    right: -212px;
    img{
        height: 380px;
        width: auto;
    }
}
.title{
    color: #204b97;
    font-size: 48px;
    font-weight: 600;
    margin: 15px 0;
    text-shadow: 2px 2px 2px #204b97;
}
.logo{
    width: auto;
    height: 100px;
}
.hide-button{
    position: absolute;
    top: -2px;
    right: 25px;
}

