
mat-accordion > mat-expansion-panel {
    margin-top: 10px !important;
    border: none !important;
    border-radius: none !important;
    display: contents;
    padding: 0;
    .mat-expansion-panel-body {
        padding: 0 !important;
    }
}


.mat-expansion-panel-body {
    padding: 0px;
}

.card{
    border: none !important;
    -webkit-box-shadow: 0;
    box-shadow: none;
    background-color: transparent;
    // border-radius:;
}
.card-body {
    padding-top: 0px !important;
}

mat-expansion-panel:not(mat-expanded) mat-expansion-panel-header:hover{
    background: none !important;
    flex-direction: row-reverse;
    background-color: #737476;
}
mat-expansion-panel-header{
    display: flex;
    align-items: center;
    align-content: center;
}
mat-expansion-panel-header:hover{
    background-color: #737476;
    
}
.mat-expansion-panel-header:not([aria-disabled=true]):hover {
    cursor: pointer;
    background: #737476;
}
mat-expansion-panel:not(mat-expanded) mat-expansion-panel-header{
    flex-direction: row-reverse;
}

.ocultar{
    visibility: hidden;
}
.mostrar{
    visibility: visible;
}

.idioma{
    // width: 100%;
    // height: 500px;
    overflow: auto;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
    border-left: 1px solid rgba(0, 0, 0, 0.103);
    border-radius: 5px;

    -webkit-box-shadow: inset 15px 15px 21px -26px rgba(150,150,150,1);
    -moz-box-shadow: inset 15px 15px 21px -26px rgba(150,150,150,1);
    box-shadow: inset 15px 15px 21px -26px rgba(150,150,150,1);

    @media (max-width: 999px)  {
        & {
            margin-bottom: 5px;
            height: 250px;
            overflow-y: auto;
        }
    }
}   

.media-box{
    width: 150px;
    height: 170px;
    border: 1px;
}

// .media-box:hover{
//     border: 1px solid teal;
// }


.align-items{
    display: flex !important;
    justify-content: center!important;
    align-items: center!important;
}

.icono-hypermedia{
    width: 100%;
    height: 100%;
}

.icon-hypermedia{
    font-size: 50px;
    width: 50px;
    height: 50px;
}
.icon-hypermedia:hover{
    color: grey;
}
mat-icon:hover, .btn-link{
    color: grey;
}

.expant{
    font-size: 50px;
    width: 50px;
    height: 50px;
    line-height: normal;
}


.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }