@media (max-width: 2000px) and (min-width: 1025px) {
    .icon-size-large {
        font-size: 50px;
    }
     .plantilla{
        height: 500px;
    }
    canvas{
        width: 300px;
        height: 150px;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .icon-size-large {
        font-size: 30px;
    }
    .plantilla{
        height: 500px;
    }
    canvas{
        width: 300px;
        height: 150px;
    }
}

@media (max-width: 768px) and (min-width: 481px) {
    .icon-size-large {
        font-size: 30px;
    }
    .plantilla{
        height: 500px;
    }
    canvas{
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 480px) and (min-width: 321px) {
    .icon-size-large {
        font-size: 30px;
    }
    .plantilla{
        height: 400px;
    }
    canvas{
        width: 200px;
        height: 100px;
    }
}

@media (max-width: 320px) and (min-width: 100px) {
    .icon-size-large {
        font-size: 20px;
    }
    .plantilla{
        height: 400px;
    }
    canvas{
        width: 200px;
        height: 100px;
    }
}

.disable{
    pointer-events:none;
}
