.container{
    padding: 40px;
}

.modal-header {
    color: #FFFFFF;
    background: #1e88e5;
}

h5.modal-title {
    margin: auto;
    text-transform: uppercase;
}

label{
    display: inline-block;
    width: 80px;
}

div.izquierda
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    align-content: center;
    margin: 4px;
    width:150px;
    height:150px;
}

div.izquierda:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

mat-icon.izquierda
{
    height:150px;
    width:150px;
    font-size:150px;
    cursor: pointer
}

.image-upload > input
  {
      display: none;
  }

div.centro
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 750px;
    margin: 4px;
}

div.centro:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.senmotemo
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color: rgb(95, 97, 168);
}

div.senmotemo:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.assostatic
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color: rgb(118, 144, 173);
}

div.assostatic:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.temporary
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 150px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color:#1e88e5;
}

div.temporary:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.abstract
{
    border-style: double;
    border-width: 1px;
    border-color: #1e88e5;
    height: 300px;
    width: 520px;
    align-content: center;
    margin: 4px;
    background-color: rgb(164, 199, 238);
}

div.abstract:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

img.icono{
    height: 25px;
    width: 25px;
    margin-top: 10%;
    margin-left: 5%;
    margin-right: 5%;
    cursor: pointer;
}

img.icono:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

div.titulo-claro
{
    border-style: double;
    border-width: 1px;
    border-color:white;
    text-align: center;
    font-weight: bold;
    color:white;
}

div.titulo-oscuro
{
    border-style: double;
    border-width: 1px;
    border-color:rgb(87, 88, 87);
    text-align: center;
    font-weight: bold;
    color:rgb(87, 88, 87);
}

div.menu-derecha
{
    height: 150px;
    width: 150px;
    margin: 10px;
    margin-left: 120px;
}

img.menu-derecha
{
    height:150px;
    width:150px;
    background-color: #FFFFFF;
    cursor: pointer
}

div.menu-derecha:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/*@media (max-width: 700px) {
    img.menu-derecha
    {
      height:40px;
      width:40px;
   }
}*/
