app-modal-cursos-grupo {
	.project-info {
		border: 3px solid rgb(34, 77, 152);
		position: relative;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;

		&::before {
			content: "";
			position: absolute;
			top: 2px;
			left: 2px;
			right: -8px;
			bottom: -8px;
			border-right: 3px solid rgb(34, 77, 152);
			border-bottom: 3px solid rgb(34, 77, 152);
			border-radius: 4px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 6px;
			left: 6px;
			right: -13px;
			bottom: -13px;
			border-right: 3px solid rgb(34, 77, 152);
			border-bottom: 3px solid rgb(34, 77, 152);
			border-radius: 4px;
		}

		&.size-small {
			height: auto !important;
			min-height: 16rem !important;
		}
	}
}

.element {
	background-color: #efeeee;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	cursor: pointer;
	border-radius: 5px;
	color: rgb(34, 77, 152);
	box-shadow: 4px 4px 5px 0px rgb(0 0 0 / 30%);
}

.quiz-container {
	overflow: auto;
}

@media (max-width: 435px) {
	.col-6 {
		max-width: 100% !important;
    flex: 0 0 100%;
	}
}

.search-icon {
	position: absolute;
	top: 43%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
}

.search-form {
	width: 100%;
	position: relative;
}

.item-profile {
	justify-content: end;
}

.item-profile .toggle-label {
	margin: 0;
}

@media (max-width: 768px) {
	.item-profile {
		justify-content: space-between;
	}
}

.modal-title {
	font-size: 1.5rem;
	font-weight: 700;
}

nb-card-footer {
	padding: 5px !important;
}

.cards-container {
	margin-top: 1.5rem;
}

.container-detail {
	min-height: 250px;
	background: linear-gradient(134deg, #fafafa, #d8d8d8);
	border-top: none;
	border-radius: 2px;
	box-shadow: 7px 4px 7px 0px #494949;
}

.container-detail-grafos {
	min-height: 250px;
	border-top: none;
	border-radius: 2px;
}

.inline-list {
	background-color: white;
	border: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	.square-image {
		height: 70px;
		width: 70px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}

	.card-title {
		margin: 0;
	}

	img {
		height: 70px;
		width: auto;
	}
}

.crearCursoClass {
	font-weight: 700;
	color: rgb(34, 77, 152);
	transition: 0.2s;
}

.crearCursoClass:hover {
	cursor: pointer;
	font-weight: 800;
	transition: 0.2s;
}

.hide-button {
	position: absolute;
	top: -2px;
	right: 25px;
}

.searchBar {
	position: relative;
}

.lupa-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	height: 70%;
	transform: translateY(-50%);
}

.img-container {
	position: relative;
	height: 130px;
	overflow: hidden;
	display: flex;
	justify-content: center;

	.img-fluid {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.courseTittle {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 4em;
	line-height: 1.3rem !important;
}

.card {
	box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
	border: none;
	overflow: hidden;
	height: 200px;
}

.card-body {
	padding: 0.5rem;
}

.card-img-top {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 100%;
	margin: auto;
	align-self: center;

}

.tree-progress-bar {
	margin-left: 30px;
}

.tree {
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: -2px;
}

.iconos_izq {
	margin-right: 20px;
}

mat-tree {
	width: 100%;
	background-color: #FFFFFF;
	padding: 2px;
}

mat-tree-node {
	margin-top: 0px !important;
	margin-bottom: -15px !important;
}

.half-width {
	width: 70% !important;
}

.mt-3r {
	margin-top: 3rem !important;
}

@media (max-width: 435px) {
	.button-table {
		padding: .1rem .2rem;
	}
}

@media (min-width: 436px) and (max-width: 767px) {
	.button-table {
		padding: .15rem .25rem;
	}
}

@media (min-width: 768px) {
	.button-table {
		padding: .25rem .5rem;
	}
}

.ngx-wrapper-overview[_ngcontent-ng-cli-universal-c7],
.copilot-view[_ngcontent-ng-cli-universal-c7] {

	background-color: #ffffff !important;
	color: rgb(0, 0, 0) !important;
}

.bg-white {
	background: linear-gradient(136deg, #F3F3F3, #FFFFFF);
	padding: 20px;
}

.active {
	background-color: #A9C7DE;

	svg {
		fill: #fff !important;
	}

	.material-icons.mat-icon-no-color,
	.mat-icon {
		color: white !important;
	}

	transition: all 1s;
}

.mat-form-field:not(.mat-form-field-appearance-standard) .mat-form-field-flex {
	border-top: none;
	border-right: none;
	border-left: none;
}

.mat-icon {
	svg {
		fill: #224d98;
	}

	&.icon-color {
		svg {
			fill: #4b4d50 !important;
		}
	}
}

.averageKnowledge {
	font-weight: 700;
	color: #000000;
	font-size: 10px;
}

.container-detail-curso {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.profile-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2rem;

	nb-icon {
		font-size: 1.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;

		:hover {
			color: #36f !important;
		}
	}
}

.progress {
	height: 8px;
}

nb-icon {
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;

	:hover {
		color: #36f !important;
	}
}

.nb-theme-default nb-card.size-large {
	height: auto !important;
}

nb-card .no-edge-card {
	border: none !important;
	box-shadow: none !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}
