<div class="sticky-top">
    <div class="modal-header" align="center">
        <span class="textoFontSize1 colorTextoActivado font-weight-bold">{{ 'CENTROS.DARDEALTACENTRO' | translate }}</span>

        <button type="button" class="close" data-dismiss="modal" (click)="closeModal('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<div class="modal-body fondoEditarCurso">

    <div class="row mt-2">
        <div class="col-12">
            <app-alert context="ModalCentro"></app-alert>
        </div>
    </div>

    <form [formGroup]="formularioDatos" (ngSubmit)="crearCentro()" #thisForm="ngForm" class="p-3 card">

        <div class="row">
            <!-- IMAGE -->
            <div class="col-sm-6 d-flex justify-content-center align-items-center">
                <app-imgupload [isShowDelete]="true" formControlName="image"></app-imgupload>
            </div>
            <!-- END IMAGE -->
            <!-- DATA -->
            <div class="col-sm-6">

                <div class="row my-3">
                    <div class="col-12" align="center">
                        <span class="textoFontSize1 colorTextoActivado"> {{ 'ESTUDIANTECENTRO.DATOSDELCENTRO' | translate }} </span>
                    </div>
                </div>

                <div class="row">

                    <div class="col-2" align="center">
                        <i class="material-icons ti-size-2">location_city</i>
                    </div>

                    <div class="col-10">
                        <mat-form-field class="full-width">
                            <mat-label>{{ 'USERDATA.NOMBRE' | translate }}</mat-label>
                            <input matInput formControlName="centerName">
                            <mat-error *ngFor="let validation of validationMessages.centerName">
                                <mat-error class="error-message" *ngIf="formularioDatos.get('centerName')?.hasError(validation.type) && (formularioDatos.get('centerName')?.dirty || formularioDatos.get('centerName')?.touched || thisForm.submitted)">{{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2" align="center">
                        <i class="material-icons ti-size-2">map</i>
                    </div>

                    <div clasS="col-10">
                        <mat-form-field class="full-width">
                            <mat-label>{{ 'USERDATA.DIRECCION' | translate }}</mat-label>
                            <input matInput formControlName="centerAddress">

                            <mat-error *ngFor="let validation of validationMessages.centerAddress">
                                <mat-error class="error-message" *ngIf="formularioDatos.get('centerAddress')?.hasError(validation.type) && (formularioDatos.get('centerAddress')?.dirty || formularioDatos.get('centerAddress')?.touched || thisForm.submitted)">{{validation.message}}</mat-error>
                            </mat-error>

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2" align="center">
                        <i class="material-icons ti-size-2">location_on</i>
                    </div>

                    <div clasS="col-10">
                        <mat-form-field class="full-width">
                            <mat-label>{{'MODALNEWCENTER.PROVINCE' | translate}}</mat-label>
                            <mat-select formControlName="province" placeholder="{{'MODALNEWCENTER.PROVINCE' | translate}}">
                                <mat-option *ngFor="let province of provinces" [value]="province.idCountryRegion">{{province.regionName}}</mat-option>
                            </mat-select>

                            <mat-error *ngFor="let validation of validationMessages.province">
                                <mat-error class="error-message" *ngIf="formularioDatos.get('province')?.hasError(validation.type) && (formularioDatos.get('province')?.dirty || formularioDatos.get('province')?.touched || thisForm.submitted)">{{validation.message}}</mat-error>
                            </mat-error>

                        </mat-form-field>
                    </div>
                </div>

                <div class="row">

                    <div class="col-2" align="center">
                        <i class="material-icons ti-size-2">mail_outline</i>
                    </div>

                    <div class="col-10">
                        <mat-form-field class="full-width">
                            <mat-label>{{ 'USERDATA.EMAIL' | translate }}</mat-label>
                            <input matInput formControlName="centerMail">
                            <mat-error *ngFor="let validation of validationMessages.centerMail">
                                <mat-error class="error-message" *ngIf="formularioDatos.get('centerMail')?.hasError(validation.type) && (formularioDatos.get('centerMail')?.dirty || formularioDatos.get('centerMail')?.touched || thisForm.submitted)">{{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2" align="center">
                        <i class="material-icons ti-size-2">phone</i>
                    </div>
                    <div class="col-md-4">
                        <select class="form-control" formControlName="extension">
                            <option value="">{{ 'LOGIN.PREFIX' | translate }}</option>
                            <option *ngFor="let prefix of $phonePrefixes | async" value="{{prefix.dial_code}}">{{prefix.name_en}} <span><strong>{{prefix.dial_code}}</strong> </span></option>
                        </select>
                        <div *ngFor="let validation of validationMessages.extension">
                            <div class="error-message"
                                *ngIf="formularioDatos.get('extension')?.hasError(validation.type) && (formularioDatos.get('extension')?.dirty || formularioDatos.get('extension')?.touched || thisForm.submitted)">
                                {{validation.message}}</div>
                        </div>
                    </div>
                    <div clasS="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>{{'MODALNEWCENTER.PHONE' | translate}}</mat-label>
                            <input matInput formControlName="centerPhone" appNumberInput>
                            <mat-error *ngFor="let validation of validationMessages.centerPhone">
                                <mat-error class="error-message" *ngIf="formularioDatos.get('centerPhone')?.hasError(validation.type) && (formularioDatos.get('centerPhone')?.dirty || formularioDatos.get('centerPhone')?.touched || thisForm.submitted)">{{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2" align="center">
                        <i class="material-icons ti-size-2">web</i>
                    </div>

                    <div clasS="col-10">
                        <mat-form-field class="full-width">
                            <mat-label>{{ 'USERDATA.URL' | translate }}</mat-label>
                            <input matInput formControlName="centerUrl">
                            <mat-error *ngFor="let validation of validationMessages.centerUrl">
                                <mat-error class="error-message" *ngIf="formularioDatos.get('centerUrl')?.hasError(validation.type) && (formularioDatos.get('centerUrl')?.dirty || formularioDatos.get('centerUrl')?.touched || thisForm.submitted)">{{validation.message}}</mat-error>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-2" align="center">
                        <i class="material-icons ti-size-2">description</i>
                    </div>

                    <div clasS="col-10">
                        <mat-form-field class="full-width">
                            <mat-label>{{'MODALNEWCENTER.DESC' | translate}}</mat-label>
                            <textarea matInput formControlName="remarks"></textarea>
                        </mat-form-field>
                    </div>
                </div>


                <!-- SEND BUTTON -->
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7" align="right">
                        <button class="btnClearBlue">{{ 'CENTROS.CREARCENTRO' | translate }}</button>
                    </div>
                </div>
                <!-- END SEND BUTTON -->

            </div>
            <!-- END DATA -->
        </div>
    </form>
    <app-loading [isVisible]="loading"></app-loading>
</div>
