
		<div
			class="files-container"
			[style.height]="'calc(100vh - 6.5rem)'"
			[style.overflow-x]="showInContainer ? 'hidden' : ''"
		>
			<form class="h-100 flex justify-content-center align-items-center" >
				<!-- YOUTUBE -->
				<app-youtube-player
					class="h-100 w-83-y p-0"
					[height]="'100%'"
					[videoId]="videoId"
					[startSeconds]="startSeconds"
					[endSeconds]="endSeconds"
					*ngIf="
						format === VIDEO_TYPE && !cargando && !inicial && youtubeSource
					"
				></app-youtube-player>
				<!-- END YOUTUBE -->

				<!-- INSTAGRAM VIDEO -->
				<ng-container
					*ngIf="
						format === VIDEO_TYPE && !cargando && !inicial && instagramSource
					"
				>
					<iframe [src]="instagramSource" class="iframeVideo"></iframe>
				</ng-container>
				<!--END  INSTAGRAM VIDEO -->

				<!-- TIKTOK VIDEO -->
				<ng-container
					*ngIf="format === VIDEO_TYPE && !cargando && !inicial && tiktokSource"
				>
					<iframe [src]="tiktokSource" class="iframeVideo"></iframe>
				</ng-container>
				<!-- END TIKTOK VIDEO -->

				<!-- VIDEO -->
				<div
					class="h-100 w-83 p-0"
					*ngIf="format === VIDEO_TYPE && videoSource && !cargando && !inicial"
				>
					<video
						#videoElement
						controls
						autoplay
						[src]="videoSource | safe"
					></video>
				</div>
				<!-- END VIDEO -->

				<!-- IMAGE -->
				<div
					class="full-image"
					[style.width.px]="windowWidth"
					[style.height.px]="windowHeight"
					*ngIf="format === IMAGE_TYPE && imageSource && !cargando && !inicial"
					[style.background-image]="'url(' + imageSource + ')'"
				></div>
				<!-- END IMAGE -->

				<!-- AUDIO -->
				<div
					class="flex" style="width: 40%;"
					[ngClass]="{ 'align-items-end': !showInContainer }"
					*ngIf="format === AUDIO_TYPE && audioSource && !cargando && !inicial"
				>
					<audio #audioPlayer
						class="w-83 d-block"
						[src]="audioSource | safe"
						controls
					></audio>
					<button nbButton status="primary" nbTooltip="Bajar velocidad de reproducción" nbTooltipStatus="primary" (click)="changeSpeed()">
						<nb-icon [icon]="speedIndex == 0 ? 'arrow-ios-downward-outline' : 'play-circle-outline' " ></nb-icon>
					</button>
				</div>
				<!-- END AUDIO -->

				<!-- PDF -->
				<div
					*ngIf="format === PDF_TYPE && pdfSource && !cargando && !inicial"
					class="flex" style="width: 100%; height: 100%;"
				>
					<!-- <div class="position-absolute" *ngIf="isLoadFile">
						<mat-spinner [diameter]="50"></mat-spinner>
					</div> -->
					<ng-container *ngIf="ext === 'docx'; else embedPdf">
						<ngx-doc-viewer
						[url]="pdfSource"
						viewer="office"
						style="width: 92%; height: auto;"
					></ngx-doc-viewer>
					</ng-container>
					<ng-template #embedPdf>
						<embed *ngIf="sanitizedUrl" [src]="sanitizedUrl" style="width: 92%; height: auto;" />
					</ng-template>

				</div>
				<!-- END PDF -->

				<!-- TXT -->
				<div
					*ngIf="format === TXT_TYPE && !cargando && !inicial"
					class="h-100 w-83 p-0"
				>
					<div
						class="h-100 ql-editor bg-white rounded text-node"
						style="overflow-y: auto"
						[innerHTML]="textSource"
					></div>
				</div>
				<!-- END TXT -->

				<!-- LATERAL COLUMN FILES -->
				<div
					class="right-files"
					[style.backgroundColor]="showInContainer ? 'transparent' : ''"
					[ngClass]="showFilesContainer ? 'show-container' : 'hide-container'"
					(mouseenter)="onEnterElements(true)"
					(mouseleave)="onEnterElements(false)"
				>
					<mat-button-toggle-group class="h-100 flex flex-column border-0">
						<ng-container
							*ngFor="let format of formats; let last = last; let i = index"
						>
							<div class="row h-100 file-button">
								<div
									[ngClass]="{ 'mb-2': !last }"
									class="col-10 pr-0"
									style="flex: 1"
									[style.visibility]="format.visible ? 'visible' : 'hidden'"
								>
									<app-node-detail-files-player
										[format]="format"
										(filesUploaderPlayFile)="reproducirArchivo($event)"
									>
									</app-node-detail-files-player>
								</div>
							</div>
						</ng-container>
					</mat-button-toggle-group>
				</div>
				<!-- END LATERAL COLUMN FILES -->
			</form>
		</div>
