app-node-detail-files{

    .full-image{
        height: 100%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center center;
    }
    .full-video{
        height: 100%;
        width: 100%;
        position: relative;

        video {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }

    .image-upload {
        border: 1px solid rgb(77, 114, 245);
        position: relative;
        background-size: 100%;
    }

    .image-upload:before {
        content: "";
        background-color: rgb(255, 255, 255);
        position: absolute;
        opacity: 0.7;
    }

    .image-update div input,
    label {
        z-index: 1;
    }

    .icon-upload{
        height: calc(100% - 40px);
    }


    .medios {
        width: 30px;
        height: 30px;
        font-size: 30px;
        color: rgb(29, 73, 153);
    }

    .imagenInicial {
        opacity: 0.3;
        width: 100px;
        height: 100px;
        font-size: 100px;
    }

    .edit {
        opacity: 0.7;
        width: 20px;
        height: 20px;
        font-size: 20px;
        color: rgb(29, 73, 153);
        svg{
            fill: rgb(29, 73, 153);
        }
    }

    .container-power {
        position: absolute;
        writing-mode: vertical-lr;
        right: 15px;
        bottom: -5px;
    }

    .flexItemsItem {
        flex: 0 1 auto;
    }

    .icon-abstract {
        vertical-align: middle;
        color: #ffffff;
    }

    .operator-icon {
        color: rgba(247, 191, 10);
        width: 20px;
        height: 20px;
        font-size: 20px;
        z-index: 1;
    }

    .file-uploader {
        background-color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
        .mat-button-toggle {
            .mat-button-toggle-button {
                height: 100%;
                width: 100%;

                .mat-button-toggle-label-content {
                    height: 100%;
                    width: 100%;
                }
            }
        }
    }

    .file-button {
        margin-left: 0px;
        .mat-radio-label-content {
            display: none;
        }
    }

    .files-container {
        height: calc(100vh - 1px);
        position: relative;

        input {
            display: none;
        }
    }

    .right-files{
        position: absolute;
        width: 8rem;
        height: 100%;
        z-index: 50;
        top: 0;
        right: -50%;
        background-color: rgba(0, 0, 0, 0.6);
        background-size: auto;
    }

		.w-83{
			width: 83%;
		}
		.w-83-y {
			width: 83%;
			margin-right: 21rem;
		}

    .hide-container{
        right: -30%;
        transition: all .7s;
    }
    .show-container{
        right: 1%;
        transition: all .7s;
    }

    .position-relative{
        position: relative;
    }
    .position-absolute{
        position: absolute;
    }

		.iframeVideo{
			border: none;
			height: 100%;
			width: 100%;
		}

		.text-node{
			padding-left: 20px;
			padding-top: 10%;
			p{
				font-size: 18px;
				font-weight: 600;
				color: #161616;
			}
		}


}


