 
  .modal-view-details {
    background: #FFF;
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    /* padding: 25px 25px 50px 25px; */
    width: 65%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
  }
  
  .modal-view-details h1 {
    margin: 0.2em 0 0.4em 0;
    padding: 0;
    line-height: 1;
    font-size: 24px;
    color: #111;
  }
  .modal-view-details button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: none;
    color: #3C78D8;;
    border-radius: 2px;
    border: none;
    font-size: 16px;
    padding: 6px 10px;
    text-transform: uppercase;
  }
      