
      <div class="modal-view-details">
        <p style="text-align: center;margin-top: 0; margin-bottom: 0">
          <object id="archivoPDF" data="" type="application/pdf" width="100%" height="592px"></object>
        </p>
        <!-- <button (click)="closeModal()">Close</button> -->
      </div>
