.power-selector {
    position: absolute;
    bottom: 8%;
    left: 93px;
    z-index: 50;
    display: flex;
    flex-direction: column;

    writing-mode: horizontal-tb;
    padding: 12px 2px 5px 9px;
    // right: 50px;
    // top: -43px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
        0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    width: 70px;
    transition: width linear 1s;
}

.power-selector:after,
.power-selector:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.power-selector:after {
    transform: rotate(-270deg);
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    bottom: 22%;
    right: -25px;
}

.chkP2 {
    color: #003ce2;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}
::ng-deep .mat-checkbox-checked.chkP2 .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #003ce2 !important;
}

::ng-deep .mat-checkbox-checked.chkP2 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #003ce2;
}

.chkP1 {
    color: #edf101;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep .mat-checkbox-checked.chkP1 .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #edf101 !important;
}

::ng-deep .mat-checkbox-checked.chkP1 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #edf101;
}

.chkP0 {
    color: #2b9c08;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep .mat-checkbox-checked.chkP0 .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #2b9c08 !important;
}

::ng-deep .mat-checkbox-checked.chkP0 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #2b9c08;
}

.chkPNegative1 {
    color: #1c91ff;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep
    .mat-checkbox-checked.chkPNegative1
    .mat-checkbox-ripple
    .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #1c91ff !important;
}

::ng-deep .mat-checkbox-checked.chkPNegative1 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #1c91ff;
}

.chkPNegative2 {
    color: #f022bc;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep
    .mat-checkbox-checked.chkPNegative2
    .mat-checkbox-ripple
    .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #f022bc !important;
}

::ng-deep .mat-checkbox-checked.chkPNegative2 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #f022bc;
}
