<nb-card class="mb-0 m-auto col-sm-12 col-md-12 justify-content-center no-edge-card">
	<nb-card-body>
		<div class="text-center">
			<div class="row mt-2 mb-5">
				<div class="col-12" align="center">
					<span class="textoFontSize1 colorTextoActivado font-weight-bold">
						{{ "RECUPERARCONTRASENA.SELECTUSER" | translate }}
					</span>
				</div>
			</div>

			<div>
				<form [formGroup]="validarSms" #Form3="ngForm">
					<h3>{{ "VALIDATESMSCODE.TEXT1" | translate }}</h3>
					<div class="row mt-4 justify-content-center">
						<div class="col-md-8">
							<input nbInput status="primary" fullWidth fieldSize="large" type="text" class="form-control mt-3"
								formcontrolname="code" ng-reflect-name="code"
								placeholder="Introduce el código de verificación recibido por email" />
							<input nbInput status="primary" fullWidth fieldSize="large" type="text" class="form-control mt-3"
								formControlName="code" maxlength="6" appNumberInput
								placeholder="{{ 'VALIDATESMSCODE.CODEPLACEHOLDERSMS' | translate }}" (keyup)="onKeyUpCode($event)" />
							<div *ngFor="let validation of validationMessages.code">
								<div class="error-message" *ngIf="
										validarSms.get('code')?.hasError(validation.type) &&
										(validarSms.get('code')?.dirty ||
											validarSms.get('code')?.touched)
									">
									{{ validation.message }}
								</div>
							</div>
						</div>
					</div>
					<p [hidden]="validoPin" class="text-center blue mt-4">
						{{ "VALIDATESMSCODE.TEXT2" | translate }}
					</p>
					<p [hidden]="validoPin" class="text-center lightblue mt-2 mb-2 pointer enviarNuevo" (click)="requestNewCode()"
						title="{{ 'VALIDATESMSCODE.TEXT3' | translate }}">
						{{ "VALIDATESMSCODE.TEXT3" | translate }}
					</p>
				</form>
			</div>

			<div class="row mt-4 justify-content-center">
				<div class="col-md-8">
					<div class="mt-2">
						<button [disabled]="!validoPin" mat-flat-button color="blue"
							class="w-100 mb-4 py-2 text-white text-left font-weight-bold" *ngFor="let user of userList"
							(click)="onUserSelected(user)" [loading]="isLoading">
							<mat-icon class="mr-2">person</mat-icon> {{ user.firstName }}
							{{ user.surname }}
						</button>
					</div>
				</div>
			</div>

			<div class="row mt-4 justify-content-center">
				<div class="col-sm-6 col-md-4">
					<button
						class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block btnLogin"
						nbButton status="primary" hero type="button" (click)="onGoBack()">
						<span>{{ "REGISTRO.VOLVER" | translate }}</span>
					</button>
				</div>
			</div>
		</div>
	</nb-card-body>
</nb-card>
