.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
    font-size: 18px;
}
.enviarNuevo {
    font-size: medium;
}
.enviarNuevo:hover {
    color: #224d98 ;
}
app-select-user{background-color: #FFF !important;}
