$gray-color:  #242424;
$orange-color: #faa31a;
$left-bar-gray: #2f2f2f;
$regular-gray: #3A3938;
$blue-link: #0075E2;
$inactive-grey:#9A9A9A;
$seventy-gray: #707070;

$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;


