<nb-card class="mb-0 m-auto col-sm-10 col-md-8 justify-content-center no-edge-card" accent="primary">
	<nb-card-header class="flex border-bottom-0">
		<div class="col-10 modal-title justify-content-left text-left">
			<h2>{{ "LOGIN.CREATEUNACUENTA" | translate }}</h2>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle"
			[options]="{ animation: { type: 'zoom' } }" (click)="closeModal()"></nb-icon>
	</div>
	<nb-card-body>
		<app-loading [isVisible]="loading"></app-loading>
		<div class="container_body">
			<div class="row justify-content-center">
				<div class="col-12 col-md-12">
					<img class="logo" [src]="loginImage | imagen : 'logoLogin'" *ngIf="loginImage" />
				</div>
			</div>
			<!-- FIRST STEP-->
			<form [formGroup]="step1" (ngSubmit)="nextStep()" #Form1="ngForm" *ngIf="currentStep === '1'" class="form1">
				<div class="form-items-col mt-3">
					<div class="row" align="left" style="
												padding-bottom: 0rem !important;
												display: flex;
												align-items: center;
												flex-direction: column;
												justify-content: center;
											">
						<div class="col-sm-8 col-md-8 py-2 justify-content-center">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="nick"
								formControlName="nick" placeholder="{{ 'REGISTRO.NICKEJEMPLO' | translate }}"
								(input)="validacionNick()" />
							<div *ngFor="let validation of validationMessages.nick">
								<div class="error-message" 
									*ngIf="nickControl?.hasError(validation.type) &&
									(nickControl?.dirty ||
										nickControl?.touched ||
										Form1.submitted)">
									{{ validation.message }}
								</div>
							</div>
						</div>

						<div class="col-sm-8 col-md-8 py-2 justify-content-center">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="nick"
								formControlName="fatherEmail" placeholder="{{ 'REGISTRO.EMAILEJEMPLO' | translate }}" />
						</div>
					</div>
					<div class="row" align="left" style="
												padding-bottom: 0rem !important;
												display: flex;
												align-items: center;
												flex-direction: column;
												justify-content: center;
											">
						<div class="col-sm-8 col-md-8 py-2 justify-content-center">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
								[type]="hidePassword ? 'password' : 'text'" formControlName="keyWord"
								placeholder="{{ 'USERDATA.CREATEPASSWORD' | translate }}" />
							<div *ngFor="let validation of validationMessages.keyword" class="mt-2">
								<div class="error-message" 
									*ngIf="keywordControl?.hasError(validation.type) &&
									(keywordControl?.dirty ||
										keywordControl?.touched ||
										Form1.submitted)
								">
									{{ validation.message }}
								</div>
							</div>
							<button class="hide_button_nick mt-2" type="button" mat-icon-button matSuffix
								(click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
								<mat-icon>{{
									hidePassword ? "visibility_off" : "visibility"
									}}</mat-icon>
							</button>
						</div>

						<div class="col-sm-8 col-md-8 py-2 justify-content-center">
							<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control"
								[type]="hidePassword ? 'password' : 'text'" formControlName="repeatKeyWord"
								placeholder="{{ 'CAMBIARPASS.REPEATNEWPASS' | translate }}" (input)="validateRepeatPassword()" />
							<div *ngFor="let validation of validationMessages.repeatKeyWord" class="mt-2">
								<div class="error-message" *ngIf="
												repeatKeywordControl?.hasError(validation.type) &&
													(repeatKeywordControl?.dirty ||
													repeatKeywordControl?.touched)
												">
									{{ validation.message }}
								</div>
							</div>
							<button class="hide_button_nick mt-2" type="button" mat-icon-button matSuffix
								(click)="hidePassword = !hidePassword" [attr.aria-pressed]="hidePassword">
								<mat-icon>{{
									hidePassword ? "visibility_off" : "visibility"
									}}</mat-icon>
							</button>
						</div>
					</div>
				</div>

				<!--PROFILES-->
				<div class="profile">
					<div class="item-profile">
						<nb-toggle labelPosition="end" formControlName="profileStudent" (change)="validacionRole()"></nb-toggle>
						<span nbTooltip="{{ 'LOGIN.STUDENT' | translate }}" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
							nbButton status="primary">{{ "LOGIN.STUDENT" | translate }}</span>
					</div>
					<!--<div class="item-profile">
						<nb-toggle labelPosition="end" formControlName="profileTeacher" (change)="validacionRole()"></nb-toggle>
						<span nbTooltip="{{ 'LOGIN.TITLETEACHER' | translate }}" nbTooltipPlacement="bottom"
							nbTooltipStatus="primary" nbButton status="primary">{{ "LOGIN.TEACHER" | translate }}</span>
					</div>
					<div class="item-profile">
						<nb-toggle labelPosition="end" formControlName="profileParent" (change)="validacionRole()"></nb-toggle>
						<span nbTooltip="{{ 'LOGIN.PARENT' | translate }}" nbTooltipPlacement="bottom" nbTooltipStatus="primary"
							nbButton status="primary">{{ "LOGIN.PARENT" | translate }}</span>
					</div>-->
				</div>

				<!-- TERMS AND CONDITIONS -->
				<div id="terminos">
					<div class="row justify-content-center">
						<div class="col-sm-8 col-md-8 text-left">
							<mat-checkbox formControlName="terms">
								{{ "REGISTRO.ACCEPTNICKCONDITIONS" | translate }}
							</mat-checkbox>
							<div *ngFor="let validation of validationMessages.terms">
								<div class="error-message" *ngIf="
																	termsControl?.hasError(validation.type) &&
																	(termsControl?.dirty || Form1.submitted)
																">
									{{ validation.message }}
								</div>
							</div>
						</div>
						<div id="papel" class="col-sm-8 col-md-8 text-left">
							<mat-checkbox formControlName="paper">
								{{ "REGISTRO.ESCRIBEENPAPEL" | translate }}
							</mat-checkbox>
							<div *ngFor="let validation of validationMessages.paper">
								<div class="error-message" *ngIf="
																	termsControl?.hasError(validation.type) &&
																	(termsControl?.dirty || Form1.submitted)
																">
									{{ validation.message }}
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- NEXT BUTTON-->
				<div class="row justify-content-left mt-4">
					<div class="col-md-6 m-auto container-button">
						<button nbButton size="medium" status="primary" hero type="submit" [class.disabled]="!roleAsignado">
							<span>{{ "REGISTRO.NEXT" | translate }}</span>
						</button>
					</div>
				</div>
			</form>

			<!-- SECOND STEP-->
			<form [formGroup]="step2" (ngSubmit)="registerUser()" #Form2="ngForm" *ngIf="currentStep === '2'">
				<!-- SECURITY QUESTIONS -->
				<div class="row">
					<div class="col-md-12 mt-4">
						<select class="Select-form" fieldSize="medium" status="primary" formControlName="idSecurityQuestions" id="idSecurityQuestions">
							<option disabled selected value="">
								{{ 'REGISTRO.QUESTION1' | translate }}
							</option>

							<option *ngFor="let question of securityQuestions" [value]="question.id">
								{{ question.question }}
							</option>
						</select>
						<div *ngFor="let validation of validationMessages.idSecurityQuestions">
							<div class="error-message" *ngIf="
									question1Control?.hasError(validation.type) &&
									(question1Control?.dirty ||
										question1Control?.touched ||
										Form2.submitted)
								">
								{{ validation.message }}
							</div>
						</div>
					</div>

					<div class="col-md-12 mt-4">
						<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="text"
							formControlName="securityAnswer" placeholder="{{ 'REGISTRO.MYANSWER1' | translate }}" />
						<div *ngFor="let validation of validationMessages.securityAnswer">
							<div class="error-message" *ngIf="
									answer1Control?.hasError(validation.type) &&
									(answer1Control?.dirty ||
										answer1Control?.touched ||
										Form2.submitted)
								">
								{{ validation.message }}
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12 mt-4">
						<select class="Select-form" fieldSize="medium" status="primary" formControlName="idSecurityQuestions2" id="idSecurityQuestions2">
							<option disabled selected value="">
								{{ 'REGISTRO.QUESTION2' | translate }}
							</option>
							<option *ngFor="let question of securityQuestions" [value]="question.id">
								{{ question.question }}
							</option>
						</select>
						<div *ngFor="let validation of validationMessages.idSecurityQuestions">
							<div class="error-message" *ngIf="
									question2Control?.hasError(validation.type) &&
									(question2Control?.dirty ||
										question2Control?.touched ||
										Form2.submitted)
								">
								{{ validation.message }}
							</div>
						</div>
					</div>

					<div class="col-md-12 mt-4">
						<input nbInput status="primary" fullWidth fieldSize="medium" class="form-control" type="text" type="text"
							formControlName="securityAnswer2" placeholder="{{ 'REGISTRO.MYANSWER2' | translate }}" />
						<div *ngFor="let validation of validationMessages.securityAnswer2">
							<div class="error-message" *ngIf="
														answer2Control?.hasError(validation.type) &&
														(answer2Control?.dirty ||
															answer2Control?.touched ||
															Form2.submitted)
													">
								{{ validation.message }}
							</div>
						</div>
					</div>
				</div>
				<!-- SUBMIT BUTTON -->
				<div class="mt-4 d-flex flex-column justify-content-center align-items-center">
					<button
						class="action-button appearance-hero size-medium status-primary shape-rectangle transitions btn-block btnLogin"
						nbButton status="primary" hero type="submit">
						{{ "REGISTRO.REGISTRARNUEVOUSUARIO" | translate }}
					</button>
				</div>
			</form>

			<!-- END SECOND STEP-->
		</div>
	</nb-card-body>
</nb-card>
