app-register-nick {
	.hide_button_nick {
		position: absolute;
		top: -2px;
		right: 20px;
	}
}

.container-body {
	display: flex;
	flex-direction: column;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.container-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	grid-gap: 20px;
	text-align: center;
}
