<nb-card class="p-3 mb-0 no-edge-card">
	<nb-card-header class="flex flex-column border-bottom-0">
		<div class="row">
			<div class="col-md-6 modal-title">
				<h2>{{'CURSOS.TITLE' | translate}}</h2>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 p-0">
				<div class="row">
					<!-- <div class="col-1">
							<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="search-outline"
								[options]="{ animation: { type: 'pulse' } }"></nb-icon>
							<mat-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" ngbTooltip="{{ 'GLOBALS.CLOSE' | translate }}" (click)="closeModal('')">close</mat-icon>
						</div> -->
					<div class="col-12 col-sm-8 col-md-5 mt-4">
						<form [formGroup]="formulario" class="search-form">
							<input type="search" nbInput fullWidth fieldSize="medium"
								placeholder="{{ 'CURSOS.SEARCH' | translate }}" formControlName="filtrado">
							<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right search-icon" icon="search"
								[options]="{ animation: { type: 'pulse' } }"></nb-icon>
						</form>
					</div>

					<!-- FILTRADO DE CURSOS -->
					<div class="col-12 col-sm-4 col-md-7 mt-4 d-flex justify-content-end">
						<div *ngIf="isMobile;" class="justify-content-end">
							<div class="d-flex">
								<nb-action *ngIf="viewList" icon="grid-outline" nbTooltip="{{ 'CURSOS.VERMOSAICO' | translate }}"
									nbTooltipPlacement="top" (click)="changeView(false)"></nb-action>
								<nb-action *ngIf="!viewList" icon="list-outline" nbTooltip="{{ 'CURSOS.VERARBOL' | translate }}"
									nbTooltipPlacement="top" (click)="changeView(true)"></nb-action>
								<nb-action icon="file-add-outline" *ngIf="loginService.esAutor()" (click)="nuevoCurso()"></nb-action>
								<button class="ml-4" nbButton status="primary" size="medium" (click)="toggleFilters()">{{ buttonText }}</button>
							</div>
							<div class="filtros" [ngClass]="{ 'show-filters': showElement }">
								<div class="item-filtros">
									<div>
										<nb-select name="lang1" [(selected)]="selectedOrder" (selectedChange)="changeOrder($event)">
											<nb-option *ngFor="let order of orderList" [value]="order.idOrder">{{ order.nombre }}
											</nb-option>
										</nb-select>
									</div>
									<div>
										<nb-actions size="medium">
											<nb-action icon="funnel-outline" [nbPopover]="filtersTemplate" nbPopoverPlacement="bottom" nbPopoverTrigger="noop"
												(click)="openFiltersPanel()"></nb-action>
											<ng-template #filtersTemplate>
												<nb-card class="m-0">
													<nb-card-header>
														<p>Filtros</p>
														<button nbButton status="primary" hero type="button" (click)="clearFilters()">
															<span>limpiar filtros</span>
														</button>
													</nb-card-header>
													<nb-card-body class="container-filters">

														<div class="column-filters">
															<nb-select name="lang1" placeholder="Idioma" size="small" [(selected)]="selectedLang"
																(selectedChange)="applyFilters($event,1)">
																<nb-option *ngFor="let lang of langList" [value]="lang.idLang">{{ lang.nombre }}
																</nb-option>
															</nb-select>

															<nb-select name="subject" placeholder="Asignatura" size="small" [(selected)]="selectedSubject"
																(selectedChange)="applyFilters($event,2)">
																<nb-option *ngFor="let subject of subjectsList" [value]="subject.idSubject">{{ subject.subject }}
																</nb-option>
															</nb-select>

															<nb-select name="idCountry" size="small" [(selected)]="selectedCountry" placeholder="pais"
																(selectedChange)="searchLevels($event);applyFilters($event,3);">
																<nb-option *ngFor="let country of countriesList" value="{{ country.idCountry }}">{{ country.country_es }}
																</nb-option>
															</nb-select>

															<nb-select name="idCountryLevel" size="small" [(selected)]="selectedLevelCountry"
																[placeholder]="!filterCountrySelected ? 'Selecciona un país': 'Nivel Escolar'"
																[disabled]="!filterCountrySelected" (selectedChange)="applyFilters($event,4)">
																<nb-option *ngFor="let level of levelsOfCountry" [value]="level.idCountryLevel">{{ level.countryLevel }}
																</nb-option>

																<nb-option *ngIf="notCountryLevelsForThisCountry">{{'MODALINFORMATIONCOURSE.NOTLEVELSFORCOUNTRY' |
																	translate}}</nb-option>
															</nb-select>

														</div>
														<div class="column-filters">
															<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(1)"
																[disabled]="selectedLang == null"><nb-icon icon="close"></nb-icon></button>
															<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(2)"
																[disabled]="selectedSubject == null"><nb-icon icon="close"></nb-icon></button>
															<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(3)"
																[disabled]="selectedCountry == null"><nb-icon icon="close"></nb-icon></button>
															<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(4)"
																[disabled]="selectedLevelCountry == null"><nb-icon icon="close"></nb-icon></button>
														</div>


													</nb-card-body>
												</nb-card>
											</ng-template>
										</nb-actions>
									</div>
									<div *ngIf="loginService.esEstudiante()">
										<nb-toggle labelPosition="right" id="mycourses" [formControl]="isMyCourses"
											(change)="checkValue()">{{ 'CURSOS.MYCOURSES' | translate}}</nb-toggle>
									</div>
								</div>
							</div>
						</div>
						<div *ngIf="!isMobile;" class="row">
							<div class="d-flex justify-content-center align-items-center" [ngClass]="loginService.esEstudiante() ? 'col-md-5' : 'col-md-8'">
								<nb-select name="lang1" [(selected)]="selectedOrder" (selectedChange)="changeOrder($event)">
									<nb-option *ngFor="let order of orderList" [value]="order.idOrder">{{ order.nombre }}
									</nb-option>
								</nb-select>
							</div>
							<div class="col-md-3 d-flex justify-content-center align-items-center">
								<nb-actions size="medium">
									<nb-action icon="funnel-outline" [nbPopover]="filtersTemplate" nbPopoverPlacement="bottom" nbPopoverTrigger="noop"
										(click)="openFiltersPanel()"></nb-action>
									<ng-template #filtersTemplate>
										<nb-card class="m-0">
											<nb-card-header>
												<p>Filtros</p>
												<button nbButton status="primary" hero type="button" (click)="clearFilters()">
													<span>limpiar filtros</span>
												</button>
											</nb-card-header>
											<nb-card-body class="container-filters">

												<div class="column-filters">
													<nb-select name="lang1" placeholder="Idioma" size="small" [(selected)]="selectedLang"
														(selectedChange)="applyFilters($event,1)">
														<nb-option *ngFor="let lang of langList" [value]="lang.idLang">{{ lang.nombre }}
														</nb-option>
													</nb-select>

													<nb-select name="subject" placeholder="Asignatura" size="small" [(selected)]="selectedSubject"
														(selectedChange)="applyFilters($event,2)">
														<nb-option *ngFor="let subject of subjectsList" [value]="subject.idSubject">{{ subject.subject }}
														</nb-option>
													</nb-select>

													<nb-select name="idCountry" size="small" [(selected)]="selectedCountry" placeholder="pais"
														(selectedChange)="searchLevels($event);applyFilters($event,3);">
														<nb-option *ngFor="let country of countriesList" value="{{ country.idCountry }}">{{ country.country_es }}
														</nb-option>
													</nb-select>

													<nb-select name="idCountryLevel" size="small" [(selected)]="selectedLevelCountry"
														[placeholder]="!filterCountrySelected ? 'Selecciona un país': 'Nivel Escolar'"
														[disabled]="!filterCountrySelected" (selectedChange)="applyFilters($event,4)">
														<nb-option *ngFor="let level of levelsOfCountry" [value]="level.idCountryLevel">{{ level.countryLevel }}
														</nb-option>

														<nb-option *ngIf="notCountryLevelsForThisCountry">{{'MODALINFORMATIONCOURSE.NOTLEVELSFORCOUNTRY' |
															translate}}</nb-option>
													</nb-select>

												</div>
												<div class="column-filters">
													<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(1)"
														[disabled]="selectedLang == null"><nb-icon icon="close"></nb-icon></button>
													<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(2)"
														[disabled]="selectedSubject == null"><nb-icon icon="close"></nb-icon></button>
													<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(3)"
														[disabled]="selectedCountry == null"><nb-icon icon="close"></nb-icon></button>
													<button nbButton shape="round" size="small" status="primary" type="button" (click)="clearFiltersList(4)"
														[disabled]="selectedLevelCountry == null"><nb-icon icon="close"></nb-icon></button>
												</div>


											</nb-card-body>
										</nb-card>
									</ng-template>
									<nb-action *ngIf="viewList" icon="grid-outline" nbTooltip="{{ 'CURSOS.VERMOSAICO' | translate }}"
										nbTooltipPlacement="top" (click)="changeView(false)"></nb-action>
									<nb-action *ngIf="!viewList" icon="list-outline" nbTooltip="{{ 'CURSOS.VERARBOL' | translate }}"
										nbTooltipPlacement="top" (click)="changeView(true)"></nb-action>
									<nb-action icon="file-add-outline" *ngIf="loginService.esAutor()" (click)="nuevoCurso()"></nb-action>

								</nb-actions>
							</div>
							<div *ngIf="loginService.esEstudiante()" class="col-md-4 d-flex justify-content-center align-items-center item-profile">
								<nb-toggle labelPosition="right" id="mycourses" [formControl]="isMyCourses"
								(change)="checkValue()">{{ 'CURSOS.MYCOURSES' | translate}}</nb-toggle>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</nb-card-header>

	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle"
			[options]="{ animation: { type: 'zoom' } }" (click)="closeModal('')"></nb-icon>
	</div>

	<nb-card-body>
		<div class="row d-flex justify-content-center cards-container">
			<div class="col-sm-12 col-md-12 col-12">

				<app-loading [isVisible]="cargando"></app-loading>

				<div *ngIf="cursos.length !== 0">
					<div class="row" *ngIf="!viewList">

						<div *ngFor="let curso of cursos" (click)="verDetalleCurso(curso.idCourse)"
							class="col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6">

							<nb-card size="small" class="project-info pointer">
								<nb-card-header class="p-2">
									<div class="img-container" ngbTooltip="{{curso.description}}" placement="top">
										<img [src]="curso.cpicture | imagen:'cursos'" class="img-fluid" [alt]="curso.courseTittle"
											(error)="updateUrl($event)">
									</div>
								</nb-card-header>
								<nb-card-body class="p-2">
									<p *ngIf="isStudent == true" class="courseTittle">{{
										curso.courseTittle | titlecase | truncate:[60, '...'] | uppercase}}</p>

										<p *ngIf="isStudent == false" class="courseTittle-teacher">{{
											curso.courseTittle | titlecase | truncate:[60, '...'] | uppercase}}</p>
								</nb-card-body>
								<nb-card-footer *ngIf="isStudent == true && !actividadesFlash">
									<div class="footer d-flex justify-content-center align-items-center mr-1 ml-1">
										<div class="averageKnowledge mr-1">{{curso.averageKnowledge }}</div>
										<div class="progress half-width">
											<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
												aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
												[style.backgroundColor]="curso.barColor" [style.width]="curso.progress+'%'"></div>
										</div>
										<div class="averageKnowledge ml-1">{{curso.progress+'%'}}</div>
									</div>
								</nb-card-footer>
							</nb-card>

						</div>
					</div>
				</div>

			</div>

		</div>

		<!-- VISTA MODO ARBOL -->
		<div class="row tree" *ngIf="viewList">

			<div class="col-sm-12 col-md-4">
				<h5 class="text-title font-weight-bold">
					{{ 'INFORMES.EXPANDIRVISTA' | translate }}
				</h5>
				<app-mat-tree-cursos [idCourse]="idCourse" [treeCourses]="treeCourses" (clickElement)="clickElement($event)"
					(createNewElement)="createNewElement($event)"></app-mat-tree-cursos>
			</div>

			<div class="col-sm-12 col-md-8 p-0" style="overflow: hidden;">
				<div class="row justify-content-center">
					<div class="w-100 col-sm-12 col-md-10">
						<h5 class="text-title text-center font-weight-bold">
							{{ 'INFORMES.TABLA_DATOS_QUIZES' | translate }}
						</h5>
					</div>
				</div>
				<div class="w-100">
					<!-- CONTAINER CON LAS OPCIONES SELECCIONADAS EN LA COLUMNA DE LA IZQUIERDA-->

					<div class="d-flex align-items-center justify-content-center pt-5" *ngIf="isLoading && !idCourse">
						<!--   <mat-spinner [diameter]="50" ></mat-spinner>           -->
					</div>

					<!-- VISUALIZAR NODO -->
					<div (mousemove)="showFiles(true)" (click)="showFiles(true)" *ngIf="node && !isLoading">
						<app-node-detail-files [showInContainer]="true" [showFilesContainer]="isShowFiles" [node]="node"
							[onSaveClicked$]="saveClicked$" [canEdit]="false" (fileSelected)="onFileSelected($event)"
							(onHoverElements)="showFiles($event)"></app-node-detail-files>
					</div>
					<!--FIN VISUALIZAR NODO -->

					<!-- VISUALIZAR QUIZ -->

					<div *ngIf="quiz && !isLoading">
						<!-- SIMPLE QUIZ -->
						<div *ngIf="quiz && quiz.idMultiplexQuiz === 0" class="quiz-container" id="quiz"
							(mousemove)="showFiles(true)" (click)="showFiles(true)">
							<div class="body-container p-3 hide-scrollbars" id="container">
								<app-quiz-play-body [disabledButton]="disabledButton" [courseId]="idSelectedCourse" [graphId]="idGraph"
									[quiz]="quiz" [elements]="elements" [answered]="answered" [modeAuto]="true" [modeSocket]="false"
									(result)="onViewGif($event)" (notResponseGif)="hidenGif($event)" (answeredChange)="onAnswered()">
								</app-quiz-play-body>
							</div>
						</div>
						<!-- END SIMPLE QUIZ -->

						<!-- MULTIPLE QUIZ -->
						<div *ngIf="quiz && quiz.idMultiplexQuiz === 1" class="quiz-container" id="quiz"
							(mousemove)="showFiles(true)" (click)="showFiles(true)">
							<div class="body-container p-3 hide-scrollbars">
								<app-quiz-play-multiple-body [disabledButton]="disabledButton" [courseId]="idSelectedCourse"
									[graphId]="idGraph" [quiz]="quiz" [elements]="elements" [answered]="answered" [modeAuto]="true"
									(result)="onViewGif($event)" (notResponseGif)="hidenGif($event)" (answeredChange)="onAnswered()">
								</app-quiz-play-multiple-body>
							</div>
						</div>
						<!-- END MULTIPLE QUIZ -->
					</div>

					<!-- FIN VISUALIZAR QUIZ -->

				</div>
			</div>
		</div>
		<!-- FIN VISTA MODO ARBOL -->
	</nb-card-body>

</nb-card>
