app-modal-cursos-listado {
	.project-info {
		border: 3px solid rgb(34, 77, 152);
		position: relative;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		-ms-border-radius: 4px;
		-o-border-radius: 4px;

		&::before {
			content: "";
			position: absolute;
			top: 2px;
			left: 2px;
			right: -8px;
			bottom: -8px;
			border-right: 3px solid rgb(34, 77, 152);
			border-bottom: 3px solid rgb(34, 77, 152);
			border-radius: 4px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 6px;
			left: 6px;
			right: -13px;
			bottom: -13px;
			border-right: 3px solid rgb(34, 77, 152);
			border-bottom: 3px solid rgb(34, 77, 152);
			border-radius: 4px;
		}

		&.size-small {
			height: auto !important;
			min-height: 16rem !important;
		}
	}
}

.margin-top-mobile {
	margin-top: 3rem;
}

.quiz-container {
	overflow: auto;
}

.courseTittle {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 4em;
	line-height: 1.3rem !important;
}

.courseTittle-teacher {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 6em;
	line-height: 1.4rem !important;
}

.element {
	background-color: #efeeee;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	cursor: pointer;
	border-radius: 5px;
	color: rgb(34, 77, 152);
	box-shadow: 4px 4px 5px 0px rgb(0 0 0 / 30%);
}

.crearCursoClass {
	font-weight: 700;
	color: rgb(34, 77, 152);
	transition: 0.2s;
}

.crearCursoClass:hover {
	cursor: pointer;
	font-weight: 800;
	transition: 0.2s;
}

.hide-button {
	position: absolute;
	top: -2px;
	right: 25px;
}

.searchBar {
	position: relative;
}

.lupa-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	height: 70%;
	transform: translateY(-50%);
}

@media (max-width: 435px) {
	.col-6 {
		max-width: 100% !important;
    flex: 0 0 100%;
	}
}

.img-container {
	position: relative;
	height: 130px;
	overflow: hidden;
	display: flex;
	justify-content: center;

	.img-fluid {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.tree-progress-bar {
	margin-left: 30px;
}

.iconos_izq {
	margin-right: 20px;
}

@media (max-width: 435px) {
	.button-table {
		padding: .1rem .2rem;
	}
}

@media (min-width: 436px) and (max-width: 767px) {
	.button-table {
		padding: .15rem .25rem;
	}
}

@media (min-width: 768px) {
	.button-table {
		padding: .25rem .5rem;
	}
}

.ngx-wrapper-overview[_ngcontent-ng-cli-universal-c7],
.copilot-view[_ngcontent-ng-cli-universal-c7] {

	background-color: #ffffff !important;
	color: rgb(0, 0, 0) !important;
}

.bg-white {
	background: linear-gradient(136deg, #F3F3F3, #FFFFFF);
	padding: 20px;
}

.active {
	background-color: #A9C7DE;

	svg {
		fill: #fff !important;
	}

	.material-icons.mat-icon-no-color,
	.mat-icon {
		color: white !important;
	}

	transition: all 1s;
}

.mat-form-field:not(.mat-form-field-appearance-standard) .mat-form-field-flex {
	border-top: none;
	border-right: none;
	border-left: none;
}

.mat-icon {
	&.icon-green {
		svg {
			fill: #1eaa3e;
		}
	}

	svg {
		fill: #224d98;
	}

	&.icon-color {
		svg {
			fill: #224d9850 !important;
		}
	}
}

.mat-icon-button {
	margin-right: 10px !important;
}

.progress {
	height: 8px;
}

.search-icon {
	position: absolute;
	top: 43%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
}

.search-form {
	width: 100%;
	position: relative;
}

.item-profile .toggle-label {
	margin: 0;
}

.cards-container {
	margin-top: 1.5rem;
}

.modal-title {
	font-size: 1.5rem;
	font-weight: 700;
}

nb-card-footer {
	padding: 5px !important;
}

.sticky-top {
	position: initial !important;
}

.close {
	font-size: 3rem;
	font-weight: normal;
	line-height: 0;
	color: #224d98 !important;
}

.card-deck {
	height: 100%;
}

h5 {
	font-weight: 600;
	color: #224d98;
	font-size: large;
}

p {
	font-weight: 500;
	color: #224d98;
	font-size: medium;
}

mat-icon {
	color: #224d98;
}

.container-detail {
	min-height: 250px;
	background: linear-gradient(134deg, #fafafa, #d8d8d8);
	border-top: none;
	border-radius: 2px;
	box-shadow: 7px 4px 7px 0px #494949;
}

.avatar-detail-course {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.container-detail-grafos {
	min-height: 250px;
	border-top: none;
	border-radius: 2px;
}

.card-body {
	padding: 0.5rem;
}

.card-img-top {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	align-self: center;
}

.inline-list {
	background-color: white;
	border: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	.square-image {
		height: 70px;
		width: 70px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}

	.card-title {
		margin: 0;
	}

	img {
		height: 70px;
		width: auto;
	}
}

.circle-button {
	&.active {
		background-color: #a9c7de;

		svg {
			fill: #fff;
		}

		.material-icons.mat-icon-no-color {
			color: white;
		}

		transition: all 1s;
	}
}

.averageKnowledge {
	font-weight: 700;
	color: #224d98;
	font-size: 11px;
}

@media (min-width: 768px) {
	.text-field {
		padding-bottom: 2em;
	}

	.textarea-field {
		padding-bottom: 6em;
	}
}

nb-icon {
	font-size: 2.25rem !important;
	line-height: 1;
	width: 1em;
	height: 1em;

	:hover {
		color: #36f !important;
	}
}

.container-detail-curso {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.profile-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2rem;

	nb-icon {
		font-size: 1.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;

		:hover {
			color: #36f !important;
		}
	}
}

.project-list-view {
	height: auto !important;
}

.nb-theme-default nb-card.size-large {
	height: auto !important;
}

nb-card-footer {
	padding: 5px !important;
}

nb-card .no-edge-card {
	border: none !important;
	box-shadow: none !important;
}

.detail-top-card {
	height: 20rem !important;
	margin-top: 0rem !important;
	margin-left: -4rem !important;
	margin-right: -4rem !important;
}

.z-index-999 {
	z-index: 999 !important;
}

.icons-positions {
	height: 0rem !important;
	gap: 25% !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.half-width {
	width: 70% !important;
}

.no-border {
	border: none !important;
}

.course-data {
	height: 16rem !important;
}

.border-right {
	border-right: 1px solid #edf1f7 !important;
}

.user-info-card {
	margin-bottom: 0 !important;
	margin-left: 5rem !important;
}

.mt-3r {
	margin-top: 3rem !important;
}

.detail-card-bg {
	background-color: #edf1f7 !important;
}

.detail-card-body {
	margin-left: -5rem !important;
	margin-right: -5rem !important;
}

.card-body-title {
	max-height: 6rem !important;
}

.w-70 {
	width: 70% !important;
}

.img-middle {
	display: flex !important;
	justify-content: center !important;
}

.mb-8r {
	margin-bottom: 8rem !important;
}

.disabled-icon {
	pointer-events: none;
	opacity: 0.5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.input-container {
	position: relative;
}

.container-filters {
  display: flex;
}

.column-filters {
	display: flex;
	flex-direction: column;
  flex: 1;
  padding: 10px;
	gap: 0.7rem;
}

.filtros {
  position: absolute;
  top: 50px;
  right: -200%;
	width: auto;
	height: auto;
  background-color: #fff;
  padding: 2rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
	z-index: 999999999;
	box-shadow: 0px 0px 5px 0px #494949;
}

@media (max-width: 576px) {
	.filtros {
		width: 100%;
	}
}

.item-filtros {
	display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.show-filters {
  right: 0;
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
