app-user-account {
	nb-list-item {
		&:hover {
			background-color: #e9efff;
		}
	}
	margin-bottom: 10px;
	.account-circle {
		height: 32px !important;
		width: 32px !important;
		svg {
			height: 32px !important;
			width: 32px !important;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.avatar {
		width: 68px;
		height: 68px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
		position: relative;
	}
	.status-icon-student {
		width: 24px;
		height: 24px;
		position: absolute;
		right: -12px;
		top: -4px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../../../../../assets/images/icons/student.svg)
	}

	.status-icon-teacher {
		width: 24px;
		height: 24px;
		position: absolute;
		right: -12px;
		top: -4px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../../../../../assets/images/icons/teacher.svg)
	}

	.status-icon-editor {
		width: 24px;
		height: 24px;
		position: absolute;
		right: -12px;
		top: -4px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../../../../../assets/images/icons/author.svg)
	}

	.status-icon-parent {
		width: 24px;
		height: 24px;
		position: absolute;
		right: -12px;
		top: -4px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../../../../../assets/images/icons/father.svg)
	}

	.status-icon-admin {
		width: 24px;
		height: 24px;
		position: absolute;
		right: -12px;
		top: -4px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../../../../../assets/images/icons/police.svg);
	}
}

.menu-card {
	position: absolute !important;
	left: 70px;
	top: 15px;
	min-width: 12vw;
}

.active-menu-item {
	background-color: #598bff;
	color: #32325d;
	font-weight: 600;
	&:hover {
		background-color: #f5f5f5;
	}
	.userId{font-size: 13px;}
}
