<div class="pt-2 pointer" ngbTooltip="{{ 'SIDEBAR.TUSDATOS' | translate }}">
	<div
		class="avatar mb-2"
		[ngStyle]="{ 'background-image': getUserAvatar() }"
		(click)="showMenuPanel()">
		<div *ngIf="actualProfile == 'ESTUDIANTE'" class="status-icon-student"></div>
		<div *ngIf="actualProfile == 'PROFESOR'" class="status-icon-teacher"></div>
		<div *ngIf="actualProfile == 'PADRE'" class="status-icon-parent"></div>
		<div *ngIf="actualProfile == 'AUTOR'" class="status-icon-editor"></div>
		<div *ngIf="actualProfile == 'ADMIN'" class="status-icon-admin"></div>
	</div>
	<div *ngIf="showUserAccount">
		<nb-card class="menu-card">
			<nb-card-body>
				<div>
					<h6>{{ user.firstName }}</h6>
				</div>
				<div>
					<p class="userId">ID: {{ user.identification }}</p>
				</div>
				<nb-list *ngIf="profilesOfUser">
					<!-- <nb-list-item (click)="showModalProfileActions()" >
							<nb-icon icon="keypad-outline" class="mr-2"></nb-icon>
							Menu
						</nb-list-item> -->
					<nb-list-item
						(click)="setProfile(profiles.Student)"
						*ngIf="profilesOfUser.profileStudent == true"
						[ngClass]="{ 'active-menu-item': actualProfile == 'ESTUDIANTE' }"
						style="padding-left: 0px"
					>
						<div class="col-5">
							<mat-icon svgIcon="student" class="mr-2"></mat-icon>
						</div>
						<div>{{ "LOGIN.STUDENT" | translate }}</div>
					</nb-list-item>
					<nb-list-item
						(click)="setProfile(profiles.Teacher)"
						*ngIf="profilesOfUser.profileTeacher == true"
						[ngClass]="{ 'active-menu-item': actualProfile == 'PROFESOR' }"
						style="padding-left: 0px"
					>
						<div class="col-5">
							<mat-icon svgIcon="teacher" class="mr-2"></mat-icon>
						</div>
						<div>{{ "LOGIN.TEACHER" | translate }}</div>
					</nb-list-item>
					<nb-list-item
						(click)="setProfile(profiles.Father)"
						*ngIf="profilesOfUser.profileParent == true"
						[ngClass]="{ 'active-menu-item': actualProfile == 'PADRE' }"
						style="padding-left: 0px"
					>
						<div class="col-5">
							<mat-icon svgIcon="father" class="mr-2"></mat-icon>
						</div>
						<div>{{ "LOGIN.PARENT" | translate }}</div>
					</nb-list-item>
					<nb-list-item
						(click)="setProfile(profiles.Author)"
						*ngIf="profilesOfUser.profileEditor == true"
						[ngClass]="{ 'active-menu-item': actualProfile == 'AUTOR' }"
						style="padding-left: 0px"
					>
						<div class="col-5">
							<mat-icon svgIcon="author" class="mr-2"></mat-icon>
						</div>
						<div>{{ "LOGIN.EDITOR" | translate }}</div>
					</nb-list-item>
					<nb-list-item
						(click)="setProfile(profiles.Admin)"
						*ngIf="profilesOfUser.profileAdmin == true"
						[ngClass]="{ 'active-menu-item': actualProfile == 'ADMIN' }"
						style="padding-left: 0px"
					>
						<div class="col-5">
							<mat-icon svgIcon="police" class="mr-2"></mat-icon>
						</div>
						<div>{{ "Admin" }}</div>
					</nb-list-item>
					<nb-list-item
						(click)="showGeneralSettings()"
						ngbTooltip="{{ 'SIDEBAR.SETTINGS' | translate }}"
						style="padding-left: 0px"
					>
						<div class="col-5">
							<nb-icon icon="settings-outline" class="mr-2"></nb-icon>
						</div>
						<div>{{ "SETTINGS.GENERALTITLE" | translate }}</div>
					</nb-list-item>
					<nb-list-item
						(click)="logout()"
						ngbTooltip="{{ 'SIDEBAR.LOGOUT' | translate }}"
						style="padding-left: 0px"
					>
						<div class="col-5">
							<nb-icon icon="power-outline" class="mr-2"></nb-icon>
						</div>
						<div>{{ "SIDEBAR.LOGOUT" | translate }}</div>
					</nb-list-item>
				</nb-list>
			</nb-card-body>
		</nb-card>
	</div>
</div>
