app-pad-center {

	.mat-icon svg {
		fill: #fff !important;
	}

	.arrow {
		color: #fff;
		font-family: Open Sans, sans-serif;
		font-size: 4.9375rem;
		font-weight: 400;
		margin: 0 0.4rem;
	}

	.divider {
		color: #fff;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);

		display: flex;
		justify-content: center;
		align-items: center;

		&::before,
		&::after {
			content: '';
			display: block;
			height: 0.09em;
			min-width: 2vw;
		}

		&::before {
			background: linear-gradient(to right, rgba(240, 240, 240, 0), #fff);
			margin-right: 1px;
		}

		&::after {
			background: linear-gradient(to left, rgba(240, 240, 240, 0), #fff);
			margin-left: 1px;
		}
	}


	.pad-center-container {
		display: flex;
		align-items: center;

		mat-icon {
			font-size: 3.25rem !important;
			line-height: 0;
			width: 40px;
			height: 40px;
			color: white !important;
			filter: drop-shadow(3px 5px 2px rgba(0, 0, 0, 0.4));
		}

		@media (max-width: 1075px) {
			mat-icon {
				margin-left: 0 !important;
			}
		}

		@media (max-width: 700px) {
			mat-icon {
				width: 30px;
				height: 30px;
			}
		}

		@media (max-width: 500px) {
			mat-icon {
				width: 25px;
				height: 25px;
			}
		}

		@media (max-width: 350px) {
			mat-icon {
				width: 20px;
				height: 20px;
			}
		}
	}

	.cont-pad-center {
		display: flex;
	}

	.hide-pad {
		bottom: -200%;
		transition: all 1s;
	}

	.show-pad {
		transition: all 1s;
	}

	.pad-buttons-left {
		// height: 120px;
		// width: 120px;
	}

	.pad-button {
		//background-color: white;
		display: flex;
		align-items: center;
		justify-content: center;
		// height: 40px;
		// width: 40px;
		cursor: pointer;
	}

	.row-white {
		background-color: white;
	}

	mat-icon {
		line-height: 0;
		width: 1em;
		height: 1em;

		&.icon-color-blue {
			svg {
				//fill: #224d98 !important;
			}
		}
	}

	.label {
		background-color: black;
		padding: 5px 10px;
		color: white;
		font-size: 14px;
		border-radius: 5px;
		font-weight: 600;
		margin: 0;
		max-width: 90px;
		position: absolute;

		&.left {
			right: 40px;
		}

		&.right {
			left: 40px
		}

		&.top {

			max-width: 120px;
			bottom: 40px;
			display: flex;
			align-items: center;
		}

		&.bottom {
			top: 40px;
		}

	}

	.idea {
		fill: #1faa3f;
	}

	.position-relative {
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.info-course {
		color: white;
		font-weight: 500;
		margin: 0;
		display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
		text-align: center;
	}

	.mt-2r {
		margin-top: 2rem !important;
	}

	.mt-8p {
		margin-top: 8px !important;
	}

	.width-flechas {
		width: 5rem;
	}

	.bg-white {
		background-color: white !important;
		padding: 0 !important;
	}

	.round-icon {
		border-radius: 50%;
		background-color: white !important;
	}

	@media (max-width: 1075px) {
		.not-show-mobile {
			display: none !important;
		}

		.cont-pad-center {
			gap: 40px;
		}

		.position-relative {
			margin-left: 0 !important;
    	margin-right: 0 !important;
		}
	}

	@media (max-width: 500px) {
		.cont-pad-center {
			gap: 30px;
		}
	}

	@media (max-width: 400px) {
		.cont-pad-center {
			gap: 20px;
		}
	}

	.icon-actividad-barra {
		svg {
			.e {
				fill: #ce2121 !important;
			}
		}
	}

}
