

<div>
    <ng-template class="w-100"  #step10>
       <div  class="copilot-custom copilop-info edit-sidebar-cop" style="position: sticky;">
           <div class="row">
               <div class="col-12 flex justify-content-center align-items-center">
                   <h3 class="title-info">
                        {{'TUTORIALINICIO.TUTORIAL_TEXTO_00'| translate}}

                   </h3>
               </div>
               <div class="col-12 ">
                    <p class="text-info-help">
                        <!-- {{'TUTORIALINICIO.TUTORIAL_TEXTO_01'| translate}}
                    </p> -->
                </div>
           </div>
           <div  class="footer-btn">
               <div class="row  flex justify-content-center align-items-center">
                   <div class="col-2">
                       <button  class="btn btn-block btn-themecolor btn-sm button-ok" (click)="done()"  type="button">
                         {{'TUTORIALINICIO.BOTONES.ACEPTAR'| translate}}
                       </button>
                   </div>
               </div>
           </div>
       </div>
    </ng-template>
</div>



<div class="gif_container" hidden>
    <div class="dedo">
        <div class="row">
            <div class="col-6">
                <img  class="img_dedo_nodo" [src]="urlTutorial + 'dedodellado.gif'" alt="">
            </div>
            <div class="col-6">
                <img  class="img_dedo_quiz" [src]="urlTutorial + 'dedodellado.gif'" alt="">
            </div>
            <div class="col-12">
                <img [src]="urlTutorial + 'dedodesdeabajo.gif'" alt="">
            </div>

        </div>


    </div>
</div>

<aside class="left-sidebar">

    <!-- <app-center-icon></app-center-icon> -->
    <app-user-account></app-user-account>
		<!-- <nb-icon ngbTooltip="{{ 'SIDEBAR.LOGOUT' | translate }}" (click)="logout()" icon="power-outline" class="mr-2 icon-sign-out"></nb-icon> -->

    <!-- <app-sidebarmenu></app-sidebarmenu> -->

</aside>
