app-side-bar{

    .left-sidebar {
        position: absolute;
        width: 70px;
        top: 0px;
        z-index: 60;
        background: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;

				.icon-sign-out{
					font-size: 3.25rem !important;
					line-height: 1;
					width: 1em;
					height: 1em;
					:hover {
						cursor: pointer !important;
						color: #36f !important;
					}
				}

        .element{
            position: relative;
            border-radius: 5px;
            box-shadow: 1px 1px 1px #08222e, -1px -1px 1px white;
            border: none;
            background: linear-gradient(170deg, #D9D9D9, #F1F1F1);
            padding: 5px;
            margin: 12px 0;
            width: 30px;
            height: 30px;
            .menu-items{
                display: none;
                position: absolute;
                left: 60px;
                top: 0;
                background-color: white;
                padding: 15px;
                -webkit-box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.1);
                box-shadow: 5px 5px 13px 1px rgba(0,0,0,0.1);
                min-width: 190px;

                &:before{
                    content: '';
                    width: 0;
                    height: 0;
                    border-top: 15px solid transparent;
                    border-bottom: 15px solid transparent;
                    border-right:15px solid white;
                    position: absolute;
                    left: -15px;
                    top: 5px;
                }
                &>div{
                    &:hover{
                        &>.submenu-items{
                            display: block;
                            padding-left: 15px;
                        }
                    }
                }

            }
            .sep{
                margin: 0;
                padding: 0;
            }
            .disabled{
                color: gray;
                opacity: .65;
                cursor: not-allowed;
                &:hover{
                    color: gray;
                    opacity: .65;
                }
            }
            .mat-icon{
                svg{
                    fill: #08222e;
                }
            }
            &:hover, &.activeMenu{
                background: linear-gradient(137deg, #CBE9F8, #F9FDFE);
                box-shadow: 1px 1px 1px white, -1px -1px 1px black;
                outline: none;
                &>.mat-icon{
                    svg{
                        fill: #224d98;
                    }
                }
                cursor: pointer;
            }
            .active{
                display: block;
            }

            &>.mat-icon{
                height: auto;
                width: 20px;
                svg{
                    height: auto;
                    width: 20px;
                }
            }

            .submenu-item{
                color: #15A7E9;
                .mat-icon{
                    svg{
                        fill: #15A7E9;
                        .b{fill:#00ff01;stroke: none;}.c{fill:#fe0000;stroke: none;}.d{fill:#ffff01;stroke: none;}
                        .st0-link {
                            fill: #15A7E9;
                        }
                        .ccc-0 {
                            fill: #15A7E9;
                        }
                        .dddd {
                            fill: #15A7E9;
                        }
                        .bbbb, .cccc {
                            stroke: #15A7E9;
                        }
                    }
                }
            }
        }

        .disabled-button{
            color: rgb(0, 0, 0);
            opacity: .25;
            cursor: default !important;
            &:hover{
                cursor: default !important;
                color: gray;
                opacity: .65;
                &>.mat-icon{
                    svg{
                        fill: #000000;
                        opacity: .35;
                    }
                }
            }
        }



    }
    .a{
        fill: #dc3545 !important;
    }

    .helpUpdate{
        background: #08222e;
    }

    .edit-sidebar-cop {
        width: 520px !important;
        margin: 30px !important;
    }


    .gif_container{
        /*display: none;*/
        background-color: #0f111193;
        position: absolute;
        min-width: 160px;
        /*box-shadow: -20px 1px 16px 0px rgba(0,0,0,0.2);*/
        z-index: 999; /*Subiendo el z-index del contenedor resuelves ese problema*/

        width: 100%;
        height: 100%;
        opacity: 0.96;

        &>.dedo{
            left: 20%;
            top: -100px;

            &>.row>.col-6>.img_dedo_nodo{
                transform: rotate(175deg);
            }
            &>.row>.col-6>.img_dedo_quiz{
                transform: rotate(222deg);
                height: 200px;
            }
            &>.row>.col-12{
                display: flex;
                justify-content: right;
                align-items: center;
                 /* height: 100vh; */
                transform: rotate(45deg);

                img{
                    margin-right: 200px;
                }
            }

        }
    }



}

