
.center {
    width:100%;
    display: flex;
    justify-content: center;
  }
  
  .well {
    min-height: 20px;  
    padding: 19px;
    //margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
  }
  
  label.col-sm-8 {  
    font-weight: bold;
  }
  
  label {
    font-size: x-small;
    color: #1A237E;
  }
  
  input, select{
    border: 0;
    font-weight: bold;
  }
  
  .form-control {
    height: 25px !important;
    font-size: x-small;
    color: #1A237E;
  }
  
  .input-group-addon{
    height: 25px !important;
    border: 0;
    color: #1A237E;
  }
  #more {
    background: none;
  }
  
  button.close {
    outline: none;  
    border-radius: 50%;
    background-color: #1A237E;
    color: #f5f5f5;
    font-weight: normal;
    font-size: small;
    padding: 4px;
    padding-top: 0;
    text-align: center;
    margin-top: 5px;
    margin-right: 5px;
  }
  
  /*
  @keyframes spinner {
    to {transform: rotate(360deg);}
  }
   
  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    border-top-color: #000000;
    animation: spinner .8s linear infinite;
  }
  */