

.bg-autor {
    background: linear-gradient(310deg, #d2bc9a, #efdfbf);
    height: 100vh;
    overflow: hidden;
}
.title{
    color: #b34c03;
    font-weight: 900;
}


.divListInfo {
    box-shadow: inset 2px 2px 5px black, inset -2px -2px 5px #ffffff;
    background: linear-gradient(136deg, #F3F3F3, #FFFFFF);
    padding-left: 2em;
    padding-right: 2em;
    min-height: 300px;
    max-height: 550px;
    overflow-y: scroll;


}

.table td, .table th {
    border: none;
}


table{

    thead{
        height: 50px;
        tr{

            th{
                span{
                    color: #b34c03;
                    font-weight: 900;
                    border: none;
                    display: flex;
                    justify-content: center;
                }
            }
            td{
                border: none;
            }
        }
    }

    tbody{

        tr{
            height: 100px;
            max-height: 150px;
            th, td {
                height: 100px !important;
            }
            .avatar{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-position: center;
                background-size: cover;
            }

            .dataTable{
                .img-fluid{
                    height: auto;
                }

                .card-title {
                    color: #b34c03;
                    font-weight: 500;
                }
                .card-text {
                    font-size: small;
                }

            }
            .dataTable:hover{
                transition: transform .5s;

                .card-title {
                    font-weight: 900;
                }
                .card-text {
                    font-weight: 900;
                }

                .img-fluid{
                    transition: transform .2s;
                    opacity: 0.5;

                    // transform: scale(0.8);
                }
            }

            th{
                span{
                    color: #b34c03;
                    font-weight: 900;
                    border: none;
                    display: flex;
                    justify-content: center;
                }

                .card-img-top {
                    // max-width: 75px;
                    height: 75px !important;
                    max-height: 75px !important;
                }
                .container > .row > div > .img-fluid{
                    height: auto;
                }
            }
            td{
                .card {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: #fff;
                    background-clip: border-box;
                    border: 1px solid rgba(0,0,0,.125);
                    border-radius: 0.25rem;
                    height: 200px;
                }
                .card-delete {
                    position: relative;
                    display: -ms-flexbox;
                    display: flex;
                    -ms-flex-direction: column;
                    flex-direction: column;
                    min-width: 0;
                    word-wrap: break-word;
                    background-color: rgba(255, 255, 255, 0);
                    background-clip: border-box;
                    border: none
                }
                border: none;
                div > span > mat-icon {
                    fill: rgb(29, 73, 153);
                }
                div > span > mat-icon:hover {
                    fill: rgb(99, 99, 99);
                }

                @media screen and (max-width: 800px) {
                    img{
                        display: none;
                    }

                }

            }
        }
    }
}
.img-fluid {
    max-width: 100%;
    /* height: auto; */
    /* width: 135px; */
    height: 105px;
}

.row {

    div{

        button{

            mat-icon{
                svg{
                    style{
                        .st0 {
                            fill: #ffffff;
                            stroke: #ffffff;
                            stroke-width: 4;
                            stroke-miterlimit: 10;
                        }
                    }
                }
            }
        }
    }
 }
