<form class="container mb-4" [formGroup]="answerForm" style="height: 100%;">
	<h4>{{'QUIZPLAY.EXPLANIATION' | translate}}</h4>

    <ng-container formArrayName="answers">
        <div class="row" *ngFor="let answer of answersArray.controls; let i = index;">

            <div class="col d-flex align-items-center" [formGroupName]="i">
                <ng-container [ngSwitch]="answersArrayType[i].value">

                    <div *ngSwitchCase="elementTypes.A_TEXTS">
                        <p class="paragraph" [innerHTML]="answersArrayData[i].value" class="card-img-top"  >{{answersArrayData[i].value}}</p>
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_PICTURES">
                        <img class="mx-auto img-fluid" [style.width]="answersArrayWidth[i].value ? answersArrayWidth[i].value + 'px' : 'fit-content'" [style.height]="answersArrayHeight[i].value ? answersArrayHeight[i].value + 'px' : '100%'" [src]="answersArrayData[i].value| quizElements:'image' |safe" *ngIf="answersArrayData[i].value" />
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_VIDEOS">
                        <video class="w-100 mw-100" [style.width]="answersArrayWidth[i].value ? answersArrayWidth[i].value + 'px' : 'fit-content'" [style.height]="answersArrayHeight[i].value ? answersArrayHeight[i].value + 'px' : '100%'" controls [src]="answersArrayData[i].value | quizElements:'video' | safe" *ngIf="answersArrayData[i].value">
                        </video>
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_AUDIOS">
											<mat-icon class="ml-3 pointer">volume_up</mat-icon>
                        <audio class="w-100 d-block" controls [src]="answersArrayData[i].value | quizElements:'audio' | safe" *ngIf="answersArrayData[i].value">
                        </audio>
                    </div>

                    <div class="w-100 h-100 flex justify-content-between align-items-end" *ngSwitchCase="elementTypes.A_PDFS">
                        <iframe #pdfElement class="w-100 h-100" [style.width]="answersArrayWidth[i].value ? answersArrayWidth[i].value + 'px' : 'fit-content'" [style.height]="answersArrayHeight[i].value ? answersArrayHeight[i].value + 'px' : '100%'" [src]="answersArrayData[i].value | quizElements:'pdf' | safe" allowfullscreen *ngIf="answersArrayData[i].value" style="min-height: 920px;"></iframe>
                    </div>
                </ng-container>
            </div>
        </div>
    </ng-container>
        <!-- <div class="row m-4 d-flex justify-content-between" *ngIf="mostrarBotones">
            <div class="col-4 col-sm-12 col-md-4 col-lg-4  flex align-items-center justify-content-center">
                <button type="button" class="btnDelete  flex align-items-center justify-content-center"  (click)="successOrNotSuccessful(false)">
                    <mat-icon class="icon-color-blue">close</mat-icon><span class="span-icon">&nbsp;{{'QUIZPLAY.ERROR' | translate}}</span>
                </button>
            </div>
            <div class="col-4 col-sm-12 col-md-4 col-lg-4  flex align-items-center justify-content-center">
                <button type="button" class="btnPlayGreen-cardTarget  flex align-items-center justify-content-center"  (click)="successOrNotSuccessful(true)">
                    <mat-icon class="icon-color-blue">done</mat-icon><span class="span-icon">&nbsp;{{'QUIZPLAY.DONE' | translate}}</span>
                </button>
            </div>
        </div>

    <div class="row  mt-5 flex justify-content-end"  *ngIf="!mostrarBotones">
        <div class="col-4 col-sm-12 col-md-4 col-lg-4  flex align-items-center justify-content-center">
            <button type="button" class="btnDelete  flex align-items-center justify-content-center" (click)="activeModal.close(undefined)">
                <mat-icon class="icon-color-blue">close</mat-icon><span class="span-icon">&nbsp;{{'QUIZPLAY.CLOSE' | translate}}</span>
            </button>
        </div>
    </div> -->

</form>
