.text-bolt {
    font-size: 32px;
}

.small-bolt {
    font-family: monospace;
    font-weight: 700;
    font-size: 13px;
    vertical-align: bottom;
    margin-left: -4px;
}

.bolt-up {
    height: 45px;
    margin-bottom: -17px;
    border-radius: 50px 50px 0 0;
    background: rgb(211, 19, 19);

    span {
        color: white;
        position: absolute;
        top: 1px;
        left: 40%;
        font-weight: 700;
    }
}

.bolt-down {
    height: 45px;
    margin-top: -36px;
    border-radius: 0px 0px 50px 50px;
    background: rgb(43, 156, 8);
    span {
        color: white;
        position: absolute;
        bottom: 1px;
        left: 40%;
        font-weight: 700;
        font-size: 24px;
    }
}

.text-darkBlue {
    color: rgb(0, 60, 226);
}

.text-yellow {
    color: rgb(237, 241, 1);
}
.text-green {
    color: rgb(43, 156, 8);
}

.text-lightBlue {
    color: rgb(28, 145, 255);
}

.text-purple {
    color: rgb(240, 34, 188);
}

.text-default {
    color: #224d98;
}

.active {
    color: rgb(247, 195, 24);
}

button {
    margin-bottom: 17px;
}

.containerPowerChks {
    writing-mode: horizontal-tb;
    position: absolute;
    background-color: white;
    padding: 15px 2px 5px 38px;
    right: 48px;
    top: -41px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
        0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
}

.powerChkBox {
    writing-mode: horizontal-tb;
    padding: 12px 2px 5px 9px;
    right: 50px;
    top: -43px;
    position: absolute;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%),
        0px 6px 10px 0px rgb(0 0 0 / 14%), 0px 1px 18px 0px rgb(0 0 0 / 12%);
    width: 70px;
    transition: width linear 1s;
}

.powerChkBox:after,
.powerChkBox:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.powerChkBox:after {
    transform: rotate(-270deg);
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 19px;
    top: 39%;
    right: -25px;
}

.containerTittlePowers {
    h2 {
        color: #224d98;
        position: absolute;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        left: -54px;
        top: 16px;
    }
}

.chkP2 {
    color: #003ce2;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}
::ng-deep .mat-checkbox-checked.chkP2 .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #003ce2 !important;
}

::ng-deep .mat-checkbox-checked.chkP2 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #003ce2;
}

.chkP1 {
    color: #edf101;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep .mat-checkbox-checked.chkP1 .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #edf101 !important;
}

::ng-deep .mat-checkbox-checked.chkP1 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #edf101;
}

.chkP0 {
    color: #2b9c08;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep .mat-checkbox-checked.chkP0 .mat-checkbox-ripple .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #2b9c08 !important;
}

::ng-deep .mat-checkbox-checked.chkP0 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #2b9c08;
}

.chkPNegative1 {
    color: #1c91ff;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep
    .mat-checkbox-checked.chkPNegative1
    .mat-checkbox-ripple
    .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #1c91ff !important;
}

::ng-deep .mat-checkbox-checked.chkPNegative1 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #1c91ff;
}

.chkPNegative2 {
    color: #f022bc;
    font-weight: 500;
    small {
        font-size: 69%;
        font-weight: 600;
    }
}

::ng-deep
    .mat-checkbox-checked.chkPNegative2
    .mat-checkbox-ripple
    .mat-ripple-element {
    opacity: 0.03 !important;
    background-color: #f022bc !important;
}

::ng-deep .mat-checkbox-checked.chkPNegative2 .mat-checkbox-background,
.mat-checkbox-indeterminate.chkP2 .mat-checkbox-background {
    background-color: #f022bc;
}
