input[disabled] {
    color: black;
}

p {
    color: black;
    font-weight: 400;
    font-size: 27px;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.timer-canvas{
    
        position: absolute;
        
        left: auto;
        right: 0;
        margin: 0 auto;
        width: 300px;
        height: 150px;

        canvas{
            width: 300px;
            height: 150px;
            margin-left: 200px;

            @media (max-width: 540px) {
                & {
                    width: 150px;
                    height: 75px;
                    margin-left: 220px;
                 }
            }
        }
}


