.buttonIn {
	// width: 300px;
	// position: relative;
}

//button style only on hover
.dw-excel:hover {
	background-color: #1e90ff;
	color: white;
	cursor: pointer;
	//border to make it look like a button raised
	border: 1px solid #1e90ff;

}

.search-input {
	margin: 0px;
	padding: 0px;
	width: 100%;
	outline: none;
	height: 30px;
	border-radius: 5px;
}

.clear {
	position: absolute;
	border-radius: 5px;
	right: 18px;
	z-index: 2;
	border: none;
	top: 28px;
	height: 30px;
	cursor: pointer;
	color: white;
	background-color: #1e90ff;
	transform: translateX(2px);
}
.total-data-table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 3em;
}

.no-data-message {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}

.total-data-table th {
	background-color: #ffffff;
	color: #1b1a1a;
	text-align: center;
	/* Centrar el texto */
	font-weight: bold;
	/* Fuente en negrita */
	font-family: Arial, sans-serif;
	/* Fuente que resalte */
}

.total-data-table td {
	background-color: #f2f2f2;
	text-align: center;
	/* Centrar el texto */
	font-family: Arial, sans-serif;
	/* Fuente que resalte */
}

.total-data-table tr:nth-child(even) td {
	background-color: #e6e6e6;
}

.total-data-table th,
.total-data-table td {
	padding: 8px;
	border: 1px solid #ccc;
}

.mat-column-fecha {
	border-right: 1px solid currentColor;
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}

.mat-column-accesos_diarios {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-actividades {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-actividades_resp {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-desafios {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-us_estudiantes {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-us_padres {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-us_profesores {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-us_totals {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-proyectos {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-ideografos {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-ideografos_abiertos {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-ideas {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-ideas_abiertas {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-videos_subidos {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-imagenes_subidas {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-audios_subidos {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;
}


.mat-column-documentos_subidos {
	padding-right: 5px !important;
	padding-left: 5px !important;
	text-align: center !important;


	.mat-column-textos_subidos {
		padding-right: 5px !important;
		padding-left: 5px !important;
		text-align: center !important;
	}


	.mat-column-bajas_us_estudiantes {
		padding-right: 5px !important;
		padding-left: 5px !important;
		text-align: center !important;
	}

	.mat-column-bajas_us_profesores {
		padding-right: 5px !important;
		padding-left: 5px !important;
		text-align: center !important;
	}

	.mat-column-bajas_us_padres {
		padding-right: 5px !important;
		padding-left: 5px !important;
		text-align: center !important;
	}

	.mat-column-bajas_us_total {
		padding-right: 5px !important;
		padding-left: 5px !important;
		text-align: center !important;
	}

}
