.element-box {
  position: absolute;
   justify-content: center;
   background: #fff;
   display: flex;
   align-items: center;
   text-align: center;
   box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
               0 2px 2px 0 rgba(0, 0, 0, 0.14),
               0 1px 5px 0 rgba(0, 0, 0, 0.12);
 }

 .element-box:active {
   box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
               0 8px 10px 1px rgba(0, 0, 0, 0.14),
               0 3px 14px 2px rgba(0, 0, 0, 0.12);
 }

 #container2{
   position: relative;
   height: 80vh;
   width: 100vw;
 }

//----------------------------------------------
.element-box.VideoQuestions{
  border: solid 3px red !important;
  color: red !important;
}
.element-box.ImageQuestions{
  border: solid 3px red !important;
  color: red !important;
}
.element-box.AudioQuestions{
  border: solid 3px red !important;
  color: red !important;
}
.element-box.PdfQuestions{
  border: solid 3px red !important;
  color: red !important;
}
.element-box.TextQuestions{
  border: solid 3px red !important;
  color: red !important;
}
.element-box.VideoOptions{
  border: solid 3px green !important;
  color: green !important;
}
.element-box.ImageOptions{
  border: solid 3px green !important;
  color: green !important;
}
.element-box.AudioOptions{
  border: solid 3px green !important;
  color: green !important;
}
.element-box.PdfOptions{
  border: solid 3px green !important;
  color: green !important;
}
.element-box.TextOptions{
  border: solid 3px green !important;
  color: green !important;
}
.element-box.VideoCorrect{
  border: solid 3px black !important;
  color: black !important;
}
.element-box.ImageCorrect{
  border: solid 3px black !important;
  color: black !important;
}
.element-box.AudioCorrect{
  border: solid 3px black !important;
  color: black !important;
}
.element-box.PdfCorrect{
  border: solid 3px black !important;
  color: black !important;
}
.element-box.TextCorrect{
  border: solid 3px black !important;
  color: black !important;
}
//----------------------------------------------


// ------------------------------

.icon-head{
    color: rgb(29, 73, 153);
}

.icon-tittle{
    color: white;
}

button, .btn{
    outline:none;
    border:none;
}

.tittle {
    background-color: #2186AE;
    color: #FFFFFF;
}

.options {
    background: #DEDEDE;
    position: relative;
    height: 30px;
}

.ng-draggable {
  cursor: grab;
}

.ng-dragging {
  cursor: grabbing;
}
