<form  [formGroup]="infoForm">
    <div class="row">
        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-10">
            <mat-form-field appearance="standard" class="full-width">
                <mat-label>{{ 'QUIZZES.TITULO' | translate }}</mat-label>
                <input matInput type="text" formControlName="title" (blur)="onTextBlur($event)" />
            </mat-form-field>
        </div>

        <!-- <div class="col-4"></div> -->

        <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-2">
            <mat-form-field appearance="standard" class="full-width">
                <!-- <mat-label>Título</mat-label> -->
                <input matInput type="time" formControlName="duration" (blur)="onTextBlur($event)" />
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-form-field appearance="standard" class="full-width">
                <mat-label>{{ 'QUIZZES.INSTRUCCIONES' | translate }}</mat-label>
                <input matInput type="text" formControlName="instructions" (blur)="onTextBlur($event)" />
            </mat-form-field>
        </div>
    </div>
</form>


