.actividades-container {
    border: 3px solid #7ca1fe;
    max-height: 800px;
    height:100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    // background: linear-gradient(345deg, #C8D6DF, #A9C7DE);

    @media (max-width: 999px)  {
        & {
            max-height: 1200px;
        }
    }

}
.modal-header {
    background: #dedede00;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: none;
}

.body-container {
    background: linear-gradient(345deg, #C8D6DF, #A9C7DE);

    height: 85vh;
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;

    @media (min-width: 540px) and (max-width: 1199px) {
        & {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    @media (min-width: 1200px) {
        & {
            padding-left: 10rem !important;
            padding-right: 10rem !important;
        }
    }


    .inputBuscar {
        width: 100% !important;
        height: 41px !important;
    }

}
.mat-card {
    top: 0 !important;
}
.text-black{
    font-weight: 700;
    color: black;
}
