<nb-card class="p-3 mb-0 no-edge-card">
	<nb-card-header class="flex flex-column border-bottom-0">
		<div class="row justify-content-center">
			<!-- imagen del proyecto -->
			<div class="col-sm-8 col-md-3">
				<div class="w-100 d-flex justify-content-center mt-4">
					<div *ngIf="cursoDatos.image" class="text-center image-detail-course d-flex align-content-center"
						[style.background-image]="'url(' + cursoDatos.image + ')'">
					</div>
					<div *ngIf="!cursoDatos.image" class="text-center image-detail-course d-flex align-content-center"
						[style.background-image]="'url(../../../../assets/images/no-image.png)'">
					</div>
				</div>
				<div class="footer d-flex justify-content-center align-items-center mt-2" *ngIf="!loginService.esProfesor()">
					<div class="averageKnowledge mr-1">{{cursoDatos.averageKnowledge }}</div>
					<div class="progress half-width">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75"
							aria-valuemin="0" aria-valuemax="100" [style.backgroundColor]="cursoDatos.barColor"
							[style.width]="cursoDatos.progress+'%'"></div>
					</div>
					<div class="averageKnowledge ml-1">{{cursoDatos.progress+'%'}}</div>
				</div>
			</div>
			<!-- descripcion del proyecto -->
			<div class="col-sm-10 col-md-6 container-description">
				<div class="cont-icon-info">
					<nb-icon class="m-1" icon="info-outline" [options]="{ animation: { type: 'pulse' } }"
						(click)="openInformationCourse()">
					</nb-icon>
				</div>

				<h4 class="text-center">{{cursoDatos.title}} </h4>

				<div class="my-4" style="min-height: 100px;">
					<p class="m-0 text-paragraph">{{cursoDatos.description}}</p>
				</div>

				<div class="cont-tag-curso">
					<button class="m-2 tag-style">{{'MODALINFORMATIONCOURSE.LANG' |
						translate}}: {{cursoDatos.languageData}}</button>
					<button class="m-2 tag-style">{{'MODALINFORMATIONCOURSE.COUNTRY' |
						translate}}: {{cursoDatos.countryData}}</button>
					<button class="m-2 tag-style">{{'MODALINFORMATIONCOURSE.LEVEL' |
						translate}}: {{countryLevelName}}</button>
				</div>
			</div>
			<!-- autor del proyecto -->
			<div class="col-sm-8 col-md-3">
				<h6 class="text-center">{{'MODALINFORMATIONCOURSE.AUTHOR' | translate}}</h6>
				<div class="w-100 d-flex justify-content-center my-2">
					<div class="text-center avatar-detail-course mb-2 d-flex align-content-center"
						[ngStyle]="{'background-image': getUserAvatar()}">
					</div>
				</div>
				<h6 class="text-center">{{cursoDatos.user.name}} {{cursoDatos.user.surname}}</h6>
				<!-- <div class="disabled-icon">
					<nb-icon icon="image-2" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
					<nb-icon icon="play-circle" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
					<nb-icon icon="linkedin" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
					<nb-icon icon="twitter" [options]="{ animation: { type: 'pulse' } }"></nb-icon>
				</div> -->
			</div>
		</div>
	</nb-card-header>
	<div class="closeModal">
		<nb-icon class="m-1" icon="close-circle" [options]="{ animation: { type: 'zoom' } }"
			(click)="closeModal('')"></nb-icon>
	</div>
	<nb-card-body>
		<!-- TARJETA IDEOGRAFOS -->
		<div class="flex flex-row justify-content-between mt-3">
			<div class="modal-title">
				<h2>{{ 'EDITARCURSO.GRAFOS' | translate }}</h2>
			</div>
			<nb-actions size="medium">
				<nb-action class="p-0" *ngIf="graphView == 'inlineList' && !actividadesFlash" nbTooltip="{{ 'CURSOS.VERMOSAICO' | translate }}" nbTooltipPlacement="left"
					icon="grid-outline" (click)="graphView = 'gridList'"></nb-action>
				<nb-action class="p-0" *ngIf="graphView == 'gridList' && !actividadesFlash" icon="list-outline" (click)="getTreeData()"
					nbTooltip="{{ 'CURSOS.VERARBOL' | translate }}" nbTooltipPlacement="left"></nb-action>
				<nb-action class="p-0" *ngIf="loginService.esAutor() && user.idUser === curso?.user?.idUser && id!='nuevo'"
					icon="plus-circle-outline" (click)="nuevoMapa()"></nb-action>
			</nb-actions>
			<div *ngIf="actividadesFlash" class="d-flex justify-content-center align-items-center">
				<button nbButton hero [status]="markedItems.length > 0 ? 'primary' : 'basic'" (click)="iniciarFlash()">
					{{ "GLOBALS.START" | translate }}
				</button>
			</div>
		</div>

		<div class="row d-flex justify-content-center cards-container">
			<div class="col-sm-12 col-md-12 col-12">
				<app-loading [isVisible]="cargando"></app-loading>
				<!-- GRID VIEW -->
				<div *ngIf="graphView == 'gridList'" class="row">
					<div *ngFor="let mapa of courseTargets | sortBy:'asc':'ordinal'" (click)="verDetalleMapa(mapa)"
						[ngClass]="graphView == 'gridList' ? 'col-xl-2 col-lg-3 col-md-3 col-sm-4 col-6' : ''"
						title="{{mapa.target.description}}">
						<nb-card size="small" class="project-info pointer ">
							<nb-card-header class="p-2">
								<div class="img-container" ngbTooltip="{{curso.description}}" placement="top">
									<img [src]="mapa.target.backgroundImage | imagen:'mapas'" (error)="updateUrl($event)"
										class="img-fluid" alt="{{ mapa.target.tittle | titlecase}}">
								</div>
							</nb-card-header>
							<nb-card-body class="p-2">
								<p *ngIf="!loginService.esProfesor()" class="courseTittle">{{ mapa.target.tittle | titlecase | truncate:[60, '...' | uppercase] }}</p>
								<p *ngIf="loginService.esProfesor()" class="courseTittle-teacher">{{ mapa.target.tittle | titlecase | truncate:[60, '...' | uppercase] }}</p>
							</nb-card-body>
							<nb-card-footer *ngIf="!loginService.esProfesor()">
								<div class="footer d-flex justify-content-between align-items-center mr-1 ml-1" *ngIf="!actividadesFlash">
									<div class="averageKnowledge mr-1">{{mapa.averageKnowledge }}</div>
									<div class="progress half-width">
										<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
											aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.backgroundColor]="mapa.barColor"
											[style.width]="mapa.progress+'%'"></div>
									</div>
									<div class="averageKnowledge ml-1">{{mapa.progress+'%'}}</div>
								</div>
								<div *ngIf="actividadesFlash" class="d-flex justify-content-center align-items-center">
									<button *ngIf="!mapa.isMarked" nbButton hero status="success">
										{{ "GLOBALS.CHECK" | translate }}
									</button>
									<button *ngIf="mapa.isMarked" nbButton hero status="danger">
										{{ "GLOBALS.UNCHECK" | translate }}
									</button>
								</div>
							</nb-card-footer>
						</nb-card>
					</div>
				</div>
			</div>
		</div>
		<!-- LIST VIEW -->
		<div class="row tree" *ngIf="graphView !== 'gridList'">

			<div class="col-sm-12 col-md-4">
				<h5 class="text-title font-weight-bold">
					{{ 'INFORMES.EXPANDIRVISTA' | translate }}
				</h5>
				<app-mat-tree-cursos [treeGraphs]="treeGraphs" (clickElement)="clickElement($event)"></app-mat-tree-cursos>
			</div>

			<div class="col-sm-12 col-md-8 p-0" style="overflow: hidden;">
				<div class="row justify-content-center">
					<div class="w-100 col-sm-12 col-md-10">
						<h5 class="text-title text-center font-weight-bold">
							{{ 'INFORMES.TABLA_DATOS_QUIZES' | translate }}
						</h5>
					</div>
				</div>
				<div class="w-100">

					<div class="d-flex align-items-center justify-content-center pt-5" *ngIf="isLoading">
						<!-- <mat-spinner [diameter]="50"></mat-spinner> -->
					</div>

					<!-- VISUALIZAR NODO -->
					<div (mousemove)="showFiles(true)" (click)="showFiles(true)" *ngIf="node && !isLoading">
						<app-node-detail-files [showInContainer]="true" [showFilesContainer]="isShowFiles" [node]="node"
							[onSaveClicked$]="saveClicked$" [canEdit]="false"
							(onHoverElements)="showFiles($event)"></app-node-detail-files>
					</div>
					<!--FIN VISUALIZAR NODO -->

					<div *ngIf="quiz && !isLoading">
						<div *ngIf="quiz && quiz.idMultiplexQuiz === 0" class="quiz-container" id="quiz">
							<div class="body-container p-3 hide-scrollbars" id="container">
								<app-quiz-play-body [courseId]="idSelectedCourse" [graphId]="idGraph" [quiz]="quiz"
									[elements]="elements" [answered]="answered" [modeSocket]="false" [answeredBySocket]="false"
									(answeredChange)="onAnswered()">
								</app-quiz-play-body>
							</div>
						</div>

						<div class="col-11 container-detail-grafos mt-2 p-2" *ngIf="graphView == 'gridList' && loginService.esProfesor()">
							<div class="col-sm-6 col-md-12 col-12 p-4">
								<div class="row fondoMapas">
									<div class="col-12 my-2" align="center">
										<span class="textoFontSize1 colorTextoDesactivado font-weight-bold">{{
											'EDITARCURSO.EXCLUSIVEGRAPHS' |
											translate }}</span>
									</div>
								</div>
								<div [ngClass]="graphView == 'gridList' ? 'row' : ''">
									<app-loading [isVisible]="cargando"></app-loading>
									<div *ngFor="let mapa of exclusiveCourseTargets | sortBy:'asc':'tittle'"
										(click)="verDetalleMapa(mapa.target.idTarget)"
										[ngClass]="graphView == 'gridList' ? 'col-lg-2 col-md-3 col-sm-6 col-xs-12 pointer mb-2' : ''"
										title="{{mapa.target.description}}">
										<div class="card form-group divCardGrafos" *ngIf="graphView == 'gridList'">
											<div class="img-container" ngbTooltip="{{mapa.target.description}}" placement="top">
												<img [src]="mapa.target.backgroundImage | imagen:'mapas'" (error)="updateUrl($event)"
													class="card-img-top" alt="{{ mapa.target.tittle | titlecase}}">
											</div>
											<div class="card-body">
												<h6 class="card-title">{{ mapa.target.tittle | titlecase | truncate:[50, '...'] }}
												</h6>
											</div>
											<div class="footer d-flex justify-content-between mr-1 ml-1" *ngIf="!loginService.esProfesor()">
												<div class="averageKnowledge float-left">{{mapa.averageKnowledge }}</div>
												<div class="progress w-70">
													<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
														aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" [style.backgroundColor]="mapa.barColor"
														[style.width]="mapa.progress+'%'"></div>
												</div>
												<div class="averageKnowledge float-right">{{mapa.progress+'%'}}</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- END LIST VIEW -->
	</nb-card-body>
</nb-card>
