app-modal-curso-detail {
	.project-info {
		border: 3px solid rgb(34, 77, 152);

		&.size-small {
			height: auto !important;
			min-height: 16rem !important;
		}
	}
}

@media (max-width: 435px) {
	.col-xs-12 {
		width: 100% !important;
	}
}

.quiz-container {
	overflow: auto;
}

.margin-top-mobile {
	margin-top: 3rem;
}

@media (max-width: 435px) {
	.col-6 {
		max-width: 100% !important;
		flex: 0 0 100%;
	}
}

.courseTittle {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 4em;
	line-height: 1.3rem !important;
}

.courseTittle-teacher {
	margin: 0;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	max-height: 6em;
	line-height: 1.4rem !important;
}

.element {
	background-color: #efeeee;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	cursor: pointer;
	border-radius: 5px;
	color: rgb(34, 77, 152);
	box-shadow: 4px 4px 5px 0px rgb(0 0 0 / 30%);
}


.sticky-top {
	position: initial !important;
}

.close {
	font-size: 3rem;
	font-weight: normal;
	line-height: 0;
	color: #224d98 !important;
}

.card-deck {
	height: 100%;
}

h5 {
	font-weight: 600;
	color: #224d98;
	font-size: large;
}

p {
	font-weight: 500;
	color: #224d98;
	font-size: medium;
}

mat-icon {
	color: #224d98;
}

.mat-icon {
	&.icon-green {
		svg {
			fill: #1eaa3e;
		}
	}

	svg {
		fill: #224d98;
	}

	&.icon-color {
		svg {
			fill: #224d9850 !important;
		}
	}
}

.mat-icon-button {
	margin-right: 10px !important;
}

.container-detail {
	min-height: 250px;
	background: linear-gradient(134deg, #fafafa, #d8d8d8);
	border-top: none;
	border-radius: 2px;
	box-shadow: 7px 4px 7px 0px #494949;
}

.container-detail-grafos {
	min-height: 250px;
	border-top: none;
	border-radius: 2px;
}

.avatar-detail-course {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
}

.image-detail-course {
	width: 160px;
	height: 160px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.container-description {
	padding: 0 3rem;
	position: relative;
}

.cont-icon-info {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

@media (max-width: 768px) {
	.container-description {
		padding: 3rem 0rem;
	}
}

.img-container {
	position: relative;
	height: 130px;
	overflow: hidden;
	display: flex;
	justify-content: center;

	.img-fluid {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.tree-progress-bar {
	margin-left: 30px;
}

.cont-tag-curso {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.iconos_izq {
	margin-right: 20px;
}

.ngx-wrapper-overview[_ngcontent-ng-cli-universal-c7],
.copilot-view[_ngcontent-ng-cli-universal-c7] {

	background-color: #ffffff !important;
	color: rgb(0, 0, 0) !important;
}

@media (max-width: 435px) {
	.button-table {
		padding: .1rem .2rem;
	}
}

@media (min-width: 436px) and (max-width: 767px) {
	.button-table {
		padding: .15rem .25rem;
	}
}

@media (min-width: 768px) {
	.button-table {
		padding: .25rem .5rem;
	}
}

.tag-style {
	background-color: #edf1f7;
	border-color: #edf1f7;
	color: #222b45;
	padding: 0.6875rem 1.125rem;
	border-style: solid;
	border-width: 0.0625rem;
	text-transform: uppercase;
	border-radius: 2rem;
	font-size: .875rem;
	line-height: 1rem;
	font-family: Open Sans, sans-serif;
	font-weight: 700;
	cursor: default;
	transition-duration: 0.15s;
	transition-property: background-color, border-color, box-shadow, color;
	transition-timing-function: ease-in;
	appearance: none;
	text-align: center;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}

.bg-white {
	background: linear-gradient(136deg, #F3F3F3, #FFFFFF);
	padding: 20px;
}

.progress {
	height: 8px;
}

.card-body {
	padding: 0.5rem;
}

.card-img-top {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	align-self: center;
}

.inline-list {
	background-color: white;
	border: 1px solid #ddd;
	-webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
	cursor: pointer;

	.square-image {
		height: 70px;
		width: 70px;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		border-radius: 10px;
	}

	.card-title {
		margin: 0;
	}

	img {
		height: 70px;
		width: auto;
	}
}

.circle-button {
	&.active {
		background-color: #a9c7de;

		svg {
			fill: #fff;
		}

		.material-icons.mat-icon-no-color {
			color: white;
		}

		transition: all 1s;
	}
}

.averageKnowledge {
	font-weight: 700;
	color: #224d98;
	font-size: 11px;
}

.active {
	background-color: #A9C7DE;

	svg {
		fill: #fff !important;
	}

	.material-icons.mat-icon-no-color,
	.mat-icon {
		color: white !important;
	}

	transition: all 1s;
}

.mat-form-field:not(.mat-form-field-appearance-standard) .mat-form-field-flex {
	border-top: none;
	border-right: none;
	border-left: none;
}

@media (min-width: 768px) {
	.text-field {
		padding-bottom: 2em;
	}

	.textarea-field {
		padding-bottom: 6em;
	}
}

nb-icon {
	font-size: 2.25rem !important;
	:hover {
		color: #36f !important;
	}
}

.container-detail-curso {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text-paragraph {
	font-size: 1.2rem !important;
	line-height: 1.25rem;
	font-weight: 400;
	color: #222b45;
}

.profile-socials {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 2rem;

	nb-icon {
		font-size: 1.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;

		:hover {
			color: #36f !important;
		}
	}
}

.item-profile {
	justify-content: end;
}

.item-profile .toggle-label {
	margin: 0;
}

@media (max-width: 768px) {
	.item-profile {
		justify-content: space-between;
	}
}

.cards-container {
	margin-top: 1.5rem;
}

.project-list-view {
	height: auto !important;
}

.nb-theme-default nb-card.size-large {
	height: auto !important;
}

nb-card-footer {
	padding: 5px !important;
}

nb-card .no-edge-card {
	border: none !important;
	box-shadow: none !important;
}

.modal-title {
	font-size: 1.5rem;
	font-weight: 700;
}

.search-icon {
	position: absolute;
	top: 43%;
	right: 10px;
	transform: translateY(-50%);
	pointer-events: none;
}

.search-form {
	width: 100%;
	position: relative;
}

.detail-top-card {
	height: 20rem !important;
	margin-top: 0rem !important;
	margin-left: -4rem !important;
	margin-right: -4rem !important;
}

.z-index-999 {
	z-index: 999 !important;
}

.icons-positions {
	height: 0rem !important;
	gap: 25% !important;
}

.mb-0 {
	margin-bottom: 0 !important;
}

.no-border {
	border: none !important;
}

.course-data {
	height: 16rem !important;
}

.user-info-card {
	margin-bottom: 0 !important;
	margin-left: 5rem !important;
}

.mt-3r {
	margin-top: 3rem !important;
}

.detail-card-body {
	margin-left: -5rem !important;
	margin-right: -5rem !important;
}

.card-body-title {
	max-height: 6rem !important;
}

.w-70 {
	width: 70% !important;
}

.img-middle {
	display: flex !important;
	justify-content: center !important;
}

.mb-8r {
	margin-bottom: 8rem !important;
}

.disabled-icon {
	pointer-events: none;
	opacity: 0.5;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.crearCursoClass {
	font-weight: 700;
	color: rgb(34, 77, 152);
	transition: 0.2s;
}

.crearCursoClass:hover {
	cursor: pointer;
	font-weight: 800;
	transition: 0.2s;
}

.hide-button {
	position: absolute;
	top: -2px;
	right: 25px;
}

.searchBar {
	position: relative;
}

.lupa-icon {
	position: absolute;
	top: 50%;
	right: 10px;
	height: 70%;
	transform: translateY(-50%);
}

.half-width {
	width: 70% !important;
}
