<div class="quiz-container" id="quiz" *ngIf="quiz">
    <app-actividad-quiz-play-header [quiz]="quiz" [idCurso]="courseId" [idMapa]="graphId" (close)="onClose()">
    </app-actividad-quiz-play-header>

    <div class="body-container py-3 w-100 mt-4">
        <app-actividad-quiz-play-body [courseId]="courseId" [graphId]="graphId" [quiz]="quiz" [elements]="elements" [answered]="answered" (dataTableResponse)="dataTableResponse($event)" (answeredChange)="onAnswered()" (colorChange)="onColorChanged($event)"></app-actividad-quiz-play-body>
    </div>
</div>
