
 .footer-container{
   //  max-height: 100vh; 
    margin: 0px; 
    padding: 20px;
    border: 2px;
 }
 li {
  min-width: 150px;
}
 .icon-select{
  transform: scale(2) !important;
  -webkit-transform: scale(2) !important;
  -moz-transform: scale(2) !important;
  -ms-transform: scale(2) !important;
  -o-transform: scale(2) !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #ffffff;
  background-color: #343a40;
  border-color: #ddd #ddd #fff;
}




.add-icon:hover{
  transition-duration: 0.2s;
  color: #000000;
}


.tabs{
   display: flex;
   justify-content: center;
   align-items: center;
}

.button-close{
   border: none;
   background: none;
   
}


.tab-quiz:hover{
  transition-duration: 0.2s;
  // color: rgb(0, 0, 0);
  // background: #ffffff;
}
// .button-close-span{
//   color: #ffffff;
// }
// .button-close-span:hover{
//   color: #000000;
// }



// 3px solid #7ca1fe

.body-elements{
  padding-left: 1rem;
  padding-right: 1rem;

  @media (min-width: 540px) and (max-width: 1199px) {
      & {
          padding-left: 5rem;
          padding-right: 5rem;
      }
  }

  @media (min-width: 1200px) {
      & {
          padding-left: 8rem !important;
          padding-right: 8rem !important;
      }
  }
}

a{
  cursor: default !important;
}

.mat-icon {
  line-height: normal !important;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}