<!-- <h2 mat-dialog-title *ngIf="data.title">{{data.title}}</h2>
<mat-dialog-content class="mat-typography">
    {{data.message}}
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>{{data.okButton ? data.okButton : ('ACEPTARCANCELAR.ACEPTAR' | translate)}}</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>{{data.koButton ? data.koButton : ('ACEPTARCANCELAR.CANCELAR' | translate)}}</button>
</mat-dialog-actions> -->


<nb-card>
		<nb-card-header>
			<h6 *ngIf="data.title">{{data.title}}</h6>
		</nb-card-header>
		<nb-card-body>
				<div class="row">
						<div class="col-12">
								<p class="paragraph">
									{{data.message}}
								</p>
						</div>
				</div>
		</nb-card-body>
		<nb-card-footer>
				<div class="row">
						<div class="col-12 flex justify-content-center">
							<button class="mr-2"  nbButton hero status="danger" (click)="closeModalFalse()">{{('ACEPTARCANCELAR.CANCELAR' | translate)}}</button>
							<button class="ml-2" nbButton hero status="success" (click)="closeModalTrue()">{{data.okButton ? data.okButton : ('ACEPTARCANCELAR.ACEPTAR' | translate)}}</button>
						</div>
				</div>
		</nb-card-footer>
</nb-card>

