<nb-card class="mb-0">
	<nb-card-header class="flex">
		<div class="col-8 ">
			<h4>{{'EDITORS.ASSIGNEDITORSTO' | translate}} {{curso.courseTittle}}</h4>
		</div>
		<div class="col-2">
		</div>
		<div class="col-2">
			<nb-icon class="icon-color-blue closebtn pointer text-right m-1 float-right" icon="close-circle-outline"
				[options]="{ animation: { type: 'pulse' } }" (click)="closeModal('')">
			</nb-icon>
		</div>
	</nb-card-header>
	<nb-card-body>
		<div class="container m-2 p-2">
			<app-loading [isVisible]="cargando"></app-loading>

			<nb-card class="no-edge-card mt-2_5r" >
				<div class="row mt-4 ml-4 mr-4 opciones">
						<div class="col-6 w-100 position-relative d-flex justify-content-center">
							<form [formGroup]="formulario" class="searchBar w-100 form-group" #thisForm="ngForm">
								<div class="input-container">
									<input type="search" nbInput fullWidth status="basic"
										placeholder="{{ 'MODALLISTSTUDENTS.SEARCHSTUDENTSTOASSIGN' | translate }}" name="fiilter"
										formControlName="filtrado" autocomplete="off" (keyup)="filtrarNoEditores($event.target.value)">
								</div>

							</form>
						</div>
					<div class="col-6 w-100 position-relative d-flex justify-content-center">
							<h3>{{ 'EDITORS.EDITORSASSIGNED' | translate }}</h3>
					</div>
				</div>
				<div class="m-4 flex justify-content-center">

					<div class="column1 bordered-column">

						<ul class="list-group" *ngIf="users.length > 0">

							<li *ngFor="let noEditor of users | sortBy:'asc':'surname'"  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center mt-2">
								<div class="text-center avatar d-flex align-content-center" ngbTooltip="{{noEditor.idUser}}" placement="right">
										<img [src]="noEditor.picture | imagen:'userAvatar'" class="text-center avatar d-flex align-content-center" [alt]="noEditor.firstName" (error)="updateUrl($event)">
								</div>
								{{noEditor.firstName}}&nbsp;{{noEditor.surname}}
								<span (click)="agregarEditor(noEditor)"  ngbTooltip="{{'EDITORS.ADDEDITOR' | translate}}" placement="left" class="badge badge-pill"><mat-icon>add</mat-icon></span>

						</li>
						</ul>
						<!--<div *ngIf="users.length === 0" class="alert alert-info" role="alert">{{'EDITORS.TYPEUSERREGISTER' |
							translate}}</div>-->
					</div>

					<div class="flex justify-content-center align-items-center">
						<nb-icon class="arrow" icon="arrow-circle-right"> </nb-icon>
					</div>

					<div class="column2 bordered-column">
						<ul class="list-group" *ngIf="editores.length > 0">
							<li *ngFor="let editor of editores| sortBy:'asc':'surname'"  class="list-group-item list-group-item-action d-flex justify-content-between align-items-center mt-2">
								<div class="text-center avatar d-flex align-content-center" ngbTooltip="{{editor.idUser}}" placement="right">
										<img [src]="editor.picture | imagen:'userAvatar'" class="text-center avatar d-flex align-content-center" [alt]="editor.firstName" (error)="updateUrl($event)">
								</div>
								{{editor.firstName}}&nbsp;{{editor.surname}}
								<span *ngIf="editores.length > 1" (click)="eliminarEditor(editor)"  ngbTooltip="{{'EDITORS.DELETEEDITOR' | translate}}" placement="left"  class="badge badge-pill"><mat-icon>delete</mat-icon></span>
								<span *ngIf="editores.length === 1" (click)="eliminarUltimo(editor)"  ngbTooltip="{{'EDITORS.DELETEEDITOR' | translate}}" placement="left"  class="badge badge-pill"><mat-icon style="color: gray">delete</mat-icon></span>
						</li>
						</ul>
					<!--<div *ngIf="editores.length === 0" class="alert alert-info" role="alert">
							{{'MODALLISTSTUDENTS.EMPTYLIST' | translate}}</div>-->
					</div>
				</div>
			</nb-card>

		</div>
	</nb-card-body>

</nb-card>
