app-modal-listado-editores{

    .badge{
        cursor: pointer;
    }

    .badge-disabled{
        cursor: not-allowed;
    }

    .img-container{
        position: relative;
        height: 55px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        .img-fluid{
            height: 55px;
        }
    }

    .card{
        box-shadow: 2px 2px 5px black, -2px -2px 5px #ffffff;
        border: none;
        overflow: hidden;
        height: 200px;
    }

    .card-body {
        padding: 0.5rem;
    }

    .card-img-top{
        position:absolute;
        top:0;
        bottom:0;
        height: 100%;
        margin:auto;
        align-self: center;

    }

    .avatar{
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background-position: center;
		background-size: cover;
	}

	.list-group{
		max-height: 85vh;
		min-height: 70vh;
		overflow-y: auto;
		overflow-x: none;
		margin-bottom: 5px;
	}

	.list-group-item{
			height: 40px;
			font-weight: 600;
	}

	nb-icon.closebtn{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
		&:hover{
			color: 	#3366ff
		}
	}

	.mt-2_5r{
		margin-top: 2.5rem !important;
	}

	.input-container {
		position: relative;
	}

	.search-icon {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		pointer-events: none;
	}

	nb-icon.arrow{
		font-size: 2.25rem !important;
		line-height: 1;
		width: 1em;
		height: 1em;
		color: 	#3366ff
	}

	.column1{
		width: 50%;
	}

	.column2{
		width: 50%;
	}

	.bordered-column{
		border: 1px solid #edf1f7 !important;
	}

}

